<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">فرم قرارداد</h5>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  @if (loading) {
    <div class="d-flex my-5 p-5 align-items-center justify-content-center">
      <mat-spinner diameter="50" color="default"></mat-spinner>
    </div>
  }
  <app-uploader
    (attachmentId)="getContract($event)"
    [autoUpload]="true"
    [data]="uploadData"
    [btnTitle]="'انتخاب تصویر قرارداد'"
    [url]="contractUrl"
  ></app-uploader>

  @if (imageContractUrl) {
    <img [src]="baseUrl + imageContractUrl" class="img-thumbnail thumb-128" />
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
</mat-dialog-actions>
