<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">ثبت بازخورد</h5>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="col-sm-12">
        <mat-label>موضوع بازخورد</mat-label>
        <mat-select formControlName="feedbackId" [compareWith]="compareFn">
          @for (item of groupList; track item) {
            <mat-option [value]="item.key">{{ item.text }}</mat-option>
          }
        </mat-select>
        @if (form.get('feedbackId').errors?.required) {
          <mat-error>موضوع بازخورد را انتخاب کنید.</mat-error>
        }
      </mat-form-field>

      <mat-form-field  class="col-sm-12">
        <mat-label>بازخورد</mat-label>
        <textarea
          matInput
          formControlName="feedbackDescription"
          rows="5"
          autocomplete="doNotAutoComplete"
        ></textarea>
        @if (form.get('feedbackDescription').errors?.required) {
          <mat-error> بازخورد خود را وارد کنید. </mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>ذخیره </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
