<form class="custom-form" [formGroup]="loginForm">
  <!-- Input Field Starts -->

  <mat-form-field class="white-form-field">
    <mat-label> نام کاربری(کد ملی) </mat-label>
    <input matInput formControlName="username" autocomplete="username" required />
    @if (loginForm.controls['username'].hasError('required')) {
      <mat-error> نام کاربری خود را وارد کنید </mat-error>
    }
  </mat-form-field>

  <mat-form-field class="white-form-field">
    <mat-label> کلمه عبور</mat-label>
    <input
      matInput
      formControlName="password"
      type="password"
      autocomplete="current-password"
      required
    />
    @if (loginForm.controls['password'].hasError('required')) {
      <mat-error> کلمه عبور خود را وارد کنید </mat-error>
    }
  </mat-form-field>

  <!-- Input Field Ends -->
  <!-- Submit Form Button Starts -->
  <div class="d-flex mt-3 justify-content-end align-items-end">
    <button class="custom-button login" type="submit" (click)="login()" [disabled]="loading">
      <span>ورود</span>
      <mat-spinner diameter="20" [hidden]="!loading" color="default"></mat-spinner>
    </button>
  </div>
  <!-- Submit Form Button Ends -->
  <div style="text-align: justify">
    <ul>
      <li>
        در صورتیکه برای بار اول وارد سامانه می شوید با تکمیل این فرم نسبت به تکمیل اطلاعات و دریافت
        نام کاربری و رمز عبور اقدام کنید.
        <span>
          <a class="btn-register" routerLink="/userregister/preregister?serviceId={{ serviceId }}">
            ثبت نام در سامانه
          </a>
        </span>
        <hr />
      </li>

      <li>
        در صورت فراموش کردن رمز عبور با انتخاب گزینه « فراموشی رمز عبور» برای بازیابی آن اقدام کنید.
        <span>
          <a class="btn-register" routerLink="/account/forgot-password?serviceId={{ serviceId }}">
            فراموشی رمز عبور
          </a>
        </span>
        <hr />
      </li>

      <li>
        <span>
          <a class="btn-register" routerLink="/home/page/تماس_با_کارشناسان"> تماس با کارشناسان </a>
        </span>
      </li>
    </ul>
  </div>
</form>
