<div
  class="tm-breadcrumb-area tm-padding-section text-center"
  data-overlay="1"
  data-bgimage="assets/theme/images/bg/bg-breadcrumb.jpg"
>
  <div class="container">
    <div class="tm-breadcrumb">
      <h2 class="tm-breadcrumb-title">ارسال درخواست / سوال</h2>
    </div>
  </div>
</div>
<main class="main-content">
  <div class="container p-md-5 box p-4 mt-4">
    <div class="tm-contact-formwrapper">
      <h2>شماره های ارتباط با کارشناسان سامانه کلاس های آموزشی</h2>
      <div
        class="alert alert-info"
        style="color: #000 !important; overflow: auto; margin-top: 20px; margin-bottom: 20px"
      >
        <table border="1" cellpadding="1" cellspacing="1" id="colortable">
          <tbody>
            <tr>
              <td>آدرس</td>
              <td colspan="4">
                نشانی:اصفهان-خیابان 22 بهمن-مجتمع اداری امیر کبیر-سازمان فرهنگی اجتماعی ورزشی
                شهرداری
              </td>
            </tr>
            <tr>
              <td>تلفن پشتیبانی</td>
              <td>
                <a
                  href="tel:03132658559"
                  onclick="
                    ga('send', 'event', {
                      eventCategory: 'Contact',
                      eventAction: 'Call',
                      eventLabel: 'Mobile Button',
                    })
                  "
                >
                  <p class="call-button">03132658559</p>
                </a>
              </td>
              <td>داخلی 451</td>
            </tr>
            <tr>
              <td>آدرس ایمیل و وب سایت</td>
              <td>
                <a target="_blank" href="mailto:it@esfahanfarhang.ir"> it@esfahanfarhang.ir </a>
              </td>
              <td>
                <a href="https://shahrvandedu.ir/" target="_blank"> www.shahrvandedu.ir </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>شماره های ارتباط با کارشناسان سامانه کارت شهروندی</h2>
      <div
        class="alert alert-info"
        style="color: #000 !important; overflow: auto; margin-top: 20px; margin-bottom: 20px"
      >
        <table border="1" cellpadding="1" cellspacing="1" id="colortable">
          <tbody>
            <tr>
              <td>آدرس</td>
              <td colspan="4">
                اصفهان - خیابان حکیم - بازار بزرگ حکیم - ورودی دو - طبقه اول - واحد ۲۰۰
              </td>
            </tr>
            <tr>
              <td>تلفن پشتیبانی</td>
              <td>
                <a
                  href="tel:03132120241"
                  onclick="
                    ga('send', 'event', {
                      eventCategory: 'Contact',
                      eventAction: 'Call',
                      eventLabel: 'Mobile Button',
                    })
                  "
                >
                  <p class="call-button">03132120241</p>
                </a>
              </td>
              <td>
                <a
                  href="tel:03132120214"
                  onclick="
                    ga('send', 'event', {
                      eventCategory: 'Contact',
                      eventAction: 'Call',
                      eventLabel: 'Mobile Button',
                    })
                  "
                >
                  <p class="call-button">03132120240</p>
                </a>
              </td>
            </tr>
            <tr>
              <td>آدرس ایمیل و وب سایت</td>
              <td>
                <a target="_blank" href="mailto:info@escard.ir"> info@escard.ir </a>
              </td>
              <td>
                <a href="https://escard.ir/" target="_blank"> www.escard.ir </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2>شماره های ارتباط با کارشناسان سامانه طرح منزلت</h2>
      <div
        class="alert alert-info"
        style="color: #000 !important; overflow: auto; margin-top: 20px; margin-bottom: 20px"
      >
        <table border="1" cellpadding="1" cellspacing="1" id="colortable">
          <tbody>
            <tr>
              <td>آدرس</td>
              <td colspan="4">اصفهان،چرخاب،بلوار آینه خانه،پل فردوسی،خیابان کمال اسماعیل</td>
            </tr>
            <tr>
              <td>تلفن پشتیبانی</td>
              <td>
                <a
                  href="tel:03132213553"
                  onclick="
                    ga('send', 'event', {
                      eventCategory: 'Contact',
                      eventAction: 'Call',
                      eventLabel: 'Mobile Button',
                    })
                  "
                >
                  <p class="call-button">03132213553</p>
                </a>
              </td>
              <td>داخلی 113</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>شماره های ارتباط با کارشناسان سامانه رزرواسیون</h2>
      <div
        class="alert alert-info"
        style="color: #000 !important; overflow: auto; margin-top: 20px; margin-bottom: 20px"
      >
        <table border="1" cellpadding="1" cellspacing="1" id="colortable">
          <tbody>
            <tr>
              <td>آدرس</td>
              <td colspan="4">
                نشانی:اصفهان-خیابان 22 بهمن-مجتمع اداری امیر کبیر-سازمان فرهنگی اجتماعی ورزشی
                شهرداری
              </td>
            </tr>
            <tr>
              <td>تلفن پشتیبانی</td>
              <td>
                <a
                  href="tel:03134487753"
                  onclick="
                    ga('send', 'event', {
                      eventCategory: 'Contact',
                      eventAction: 'Call',
                      eventLabel: 'Mobile Button',
                    })
                  "
                >
                  <p class="call-button">03134487753</p>
                </a>
              </td>
              <td>داخلی 315</td>
            </tr>
            <tr>
              <td>آدرس ایمیل و وب سایت</td>
              <td>
                <a target="_blank" href="mailto:info@esfahanfarhang.ir"> info@esfahanfarhang.ir </a>
              </td>
              <td>
                <a href="https://shahrvandticket.ir/" target="_blank"> www.shahrvandticket.ir </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div style="display: none" class="tm-section blogs-area bg-white">
    <div class="container p-md-5 box p-4 mt-4">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="content">
            <div class="alert alert-info">
              در صورتیکه لازم است درخواست شما پاسخ داده شود لطفا کد ملی و شماره موبایل خود را وارد
              نمایید .
            </div>

            @if (loadingData) {
              <div class="d-flex align-items-center justify-content-center">
                <mat-spinner diameter="50" color="default"></mat-spinner>
              </div>
            }
            @if (!loadingData) {
              <div class="p-5">
                <form [formGroup]="ticketForm">
                  <div class="row">
                    <mat-form-field  class="col-sm-6 col-md-4">
                      <mat-label>نام و نام خانوادگی</mat-label>
                      <input matInput type="text" formControlName="name" />
                      @if (ticketForm.get('name')?.hasError('required')) {
                        <mat-error> نام خود را وارد کنید </mat-error>
                      }
                    </mat-form-field>
                    <mat-form-field  class="col-sm-6 col-md-4">
                      <mat-label> شماره موبایل (اختیاری) </mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="mobileNumber"
                        maxlength="11"
                        numbersOnly
                      />
                      @if (ticketForm.get('mobileNumber')?.hasError('invalid')) {
                        <mat-error> شماره موبایل صحیح نیست! </mat-error>
                      }
                    </mat-form-field>
                    <mat-form-field  class="col-sm-6 col-md-4">
                      <mat-label> کد ملی (اختیاری) </mat-label>
                      <input
                        matInput
                        type="text"
                        maxlength="10"
                        numbersOnly
                        formControlName="nationCode"
                      />
                      @if (ticketForm.get('nationCode').errors?.nationCode) {
                        <mat-error> کدملی صحیح نیست! </mat-error>
                      }
                    </mat-form-field>
                    <mat-form-field  class="col-sm-6 col-md-4">
                      <mat-label>سازمان</mat-label>
                      <mat-select
                        formControlName="organizationId"
                        (selectionChange)="getUnitsOfOrganization()"
                      >
                        @for (item of organizationList; track item) {
                          <mat-option [value]="item.key">{{ item.text }}</mat-option>
                        }
                      </mat-select>
                      @if (ticketForm.get('organizationId')?.hasError('required')) {
                        <mat-error> سازمان را مشخص کنید. </mat-error>
                      }
                    </mat-form-field>
                    <mat-form-field  class="col-sm-6 col-md-4">
                      <mat-label>واحد</mat-label>
                      <mat-select formControlName="organizationalUnitId">
                        @for (item of unitList; track item) {
                          <mat-option [value]="item.key">{{ item.text }}</mat-option>
                        }
                      </mat-select>
                      @if (ticketForm.get('organizationalUnitId')?.hasError('required')) {
                        <mat-error> واحد را مشخص کنید. </mat-error>
                      }
                      <mat-spinner matSuffix diameter="20" [hidden]="!loadingUnit"></mat-spinner>
                    </mat-form-field>
                    <mat-form-field  class="col-sm-6 col-md-4">
                      <mat-label>اولویت پیام</mat-label>
                      <mat-select formControlName="priority">
                        @for (item of periorityList; track item) {
                          <mat-option [value]="item.key">{{ item.text }}</mat-option>
                        }
                      </mat-select>
                      @if (ticketForm.get('priority')?.hasError('required')) {
                        <mat-error> اولویت پیام را مشخص کنید. </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-form-field  class="col-sm-12">
                      <mat-label>عنوان پیام</mat-label>
                      <input matInput formControlName="subject" />
                      @if (ticketForm.get('subject')?.hasError('required')) {
                        <mat-error> عنوان پیام را وارد کنید </mat-error>
                      }
                      @if (ticketForm.get('subject').errors?.maxlength) {
                        <mat-error> حداکثر 1000 کاراکتر </mat-error>
                      }
                    </mat-form-field>
                    <mat-form-field  class="col-sm-12">
                      <mat-label>
                        متن پیام (شرح درخواست خود را به صورت کامل وارد نمایید)
                      </mat-label>
                      <textarea matInput formControlName="ticketMessage" rows="5"></textarea>
                      @if (ticketForm.get('ticketMessage')?.hasError('required')) {
                        <mat-error> متن پیام را وارد کنید </mat-error>
                      }
                      @if (ticketForm.get('ticketMessage').errors?.maxlength) {
                        <mat-error> حداکثر 10،000 کاراکتر </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div class="d-flex align-items-center justify-content-end">
                    <button
                      class="btn btn btn-teal mb-3 text-white"
                      [disabled]="isSaving"
                      (click)="saveInfo()"
                    >
                      @if (isSaving) {
                        <mat-spinner color="default" diameter="20"></mat-spinner>
                      }
                      <span>ارسال</span>
                    </button>
                  </div>
                </form>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
