.job-details
{
    line-height:2;

}

.box-header {
  color: #00c0ef;
  border-bottom: 1px #00c0ef solid;
  margin-bottom: 30px;
  padding: 40px 20px 6px;
}
pre {
  background: #eee;
  font-family: monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.5;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
