<div *ngIf="loadingData" class="d-flex align-items-center justify-content-center">
  <mat-spinner diameter="50" color="default"></mat-spinner>
</div>

<div class="event-details" *ngIf="!loadingData">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <strong>شماره رویداد: </strong><span> {{ event.id }}</span>
    </div>
    <div>
      <i class="fa fa-calendar-day mr-2"></i><span> {{ event.createDate | jalali }}</span>
    </div>
  </div>

  <mat-list>
    <mat-list-item>
      <strong> ساعت : </strong>
      {{ event.createDate | jalali: 'HH:mm:ss' }}
    </mat-list-item>
    <mat-list-item>
      <strong> رویداد : </strong>
      {{ event.eventSection }}
    </mat-list-item>
    <mat-list-item>
      <strong> کاربر : </strong>
      {{ event.user }}
    </mat-list-item>
    <mat-list-item>
      <strong> آدرس IP : </strong>
      {{ event.userIp }}
    </mat-list-item>
    <mat-list-item>
      <strong> توضیحات : </strong>
      {{ event.description }}
    </mat-list-item>
    <mat-list-item>
      <strong> اپراتور : </strong>
      {{ event.operation }}
    </mat-list-item>
    <mat-list-item>
      {{ event.strCode }}
    </mat-list-item>

    <mat-list-item>
      <pre
        class="EnlighterJSRAW"
        data-enlighter-language="js"
        data-enlighter-theme=""
        data-enlighter-highlight=""
        data-enlighter-linenumbers=""
        data-enlighter-lineoffset=""
        data-enlighter-title=""
        data-enlighter-group=""
      >

  {{ event.jsonValue }}
</pre>
    </mat-list-item>
  </mat-list>
</div>
