@if (managerList.length > 0) {
  <section class="container mt-4 text-center">
    <h5 class="IRANSansWeb_Medium bt-color">اعضای هیات مدیره</h5>
    @if (loadingManagers) {
      <div class="d-flex align-items-center justify-content-center py-3">
        @if (loadingManagers) {
          <mat-spinner color="default"></mat-spinner>
        }
      </div>
    }
    <owl-carousel-o [options]="owlOptions">
      @for (item of managerList; track $index) {
        <ng-template carouselSlide>
          <div class="card mx-1">
            <div
              class="card-body flex-column d-flex align-items-center text-center justify-content-center"
            >
              <span>
                <img class="rounded-circle" [src]="baseUrl + item.imageUrl" alt="" />
                <i class="fa fa-building fa-3x mb-3"></i>
              </span>
              <h6>
                {{
                  (item.namePrefix | enumString: 'namePrefix') +
                    ' ' +
                    item.firstName +
                    ' ' +
                    item.lastName
                }}
              </h6>
              <p>{{ item.userCompany }}</p>
              <p>{{ item.organizationalPosition }}</p>
              <a
                class="btn btn-grad px-5 text-white mt-3 rad25"
                routerLink="/home/personal/{{ item.id }}"
                >مشاهده بیوگرافی...</a
              >
            </div>
          </div>
        </ng-template>
      }
    </owl-carousel-o>
  </section>
}
