<div class="content-header">
  <span>ویرایش فرم</span>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="d-flex my-5 p-5 align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>

    } @else {
      <form [formGroup]="form">
        <div class="row">
          <mat-form-field class="col-sm-12">
            <mat-label>عنوان طرح</mat-label>
            <input matInput formControlName="title" type="text" maxlength="500" />
            @if (form.get('title')?.hasError('required')) {
              <mat-error>عنوان طرح را وارد کنید.</mat-error>
            }
            @if (form.get('title')?.hasError('maxlength')) {
              <mat-error>حداکثر 500 کاراکتر</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label>ویژه افراد</mat-label>
            <mat-select formControlName="gender">
              <mat-option [value]=""> همه افراد </mat-option>
              <mat-option [value]="true"> فقط آقایان </mat-option>
              <mat-option [value]="false">فقط خانم ها </mat-option>
            </mat-select>
            @if (form.get('gender')?.hasError('required')) {
              <mat-error> ویژه افراد را مشخص کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label>حداقل سن</mat-label>
            <input matInput formControlName="minAge" numbersOnly maxlength="2" />
            @if (form.get('minAge')?.hasError('required')) {
              <mat-error> حداقل سن را وارد کنید. </mat-error>
            }
            @if (form.get('minAge')?.hasError('pattern')) {
              <mat-error> فقط عدد وارد کنید </mat-error>
            }
            @if (form.get('minAge')?.hasError('min') || form.get('minAge')?.hasError('max')) {
              <mat-error> سن باید بین 0 تا 99 سال باشد </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label>حداکثر سن</mat-label>
            <input matInput formControlName="maxAge" numbersOnly maxlength="2" />
            @if (form.get('maxAge')?.hasError('required')) {
              <mat-error> حداکثر سن را وارد کنید. </mat-error>
            }
            @if (form.get('maxAge')?.hasError('pattern')) {
              <mat-error> فقط عدد وارد کنید </mat-error>
            }
            @if (form.get('maxAge')?.hasError('min') || form.get('maxAge')?.hasError('max')) {
              <mat-error> سن باید بین 0 تا 99 سال باشد </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label> ترتیب نمایش</mat-label>
            <input matInput formControlName="orderIndex" numbersOnly maxlength="2" />
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label>توضیحات بارگذاری فایل</mat-label>
            <textarea
              matInput
              formControlName="uploadDescription"
              rows="3"
              maxlength="2000"
            ></textarea>
          </mat-form-field>
          <p>
            <mat-checkbox color="default" formControlName="isActive"> طرح فعال است ؟ </mat-checkbox>
          </p>
        </div>
        <html-editor formControlName="description"></html-editor>
      </form>
    }
  </mat-card-content>
  <mat-card-footer>
    <div class="d-flex align-items-center justify-content-end p-3">
      @if (!loading) {
        <button mat-raised-button color="default" (click)="save()" [disabled]="isSaving">
          @if (isSaving) {
            <span>منتظر بمانید...</span>
          } @else {
            <span>ذخیره</span>
          }
          <mat-spinner [hidden]="!isSaving" diameter="20" color="default"></mat-spinner>
        </button>
      }
    </div>
  </mat-card-footer>
</mat-card>
