<div>
  <mat-form-field class="day-form-field">
    <mat-label>روز {{ label }}</mat-label>
    <mat-select
      [required]="required"
      [(ngModel)]="day"
      name="day-picker"
      (selectionChange)="onChange()"
    >
      @for (item of dayList; track $index) {
        <mat-option [value]="item">
          {{ item }}
        </mat-option>
      }
      @if (isLeapYear || month < 12) {
        <mat-option [value]="30"> 30 </mat-option>
      }
      @if (month <= 6) {
        <mat-option [value]="31"> 31 </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="month-form-field">
    <mat-label>ماه {{ label }}</mat-label>
    <mat-select
      [required]="required"
      [(ngModel)]="month"
      name="month-picker"
      (selectionChange)="onChange()"
    >
      @for (item of monthList; track $index) {
        <mat-option [value]="item.id">
          {{ item.title }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="year-form-field">
    <mat-label>سال {{ label }}</mat-label>
    <mat-select
      [required]="required"
      [(ngModel)]="year"
      name="year-picker"
      (selectionChange)="onChange()"
    >
      @for (item of yearList; track $index) {
        <mat-option [value]="item">
          {{ item }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
@if (myControl?.hasError('required')) {
  <small>تاریخ {{ label }} را وارد کنید</small>
}
@if (myControl?.hasError('invalid')) {
  <small>فرمت تاریخ صحیح نیست</small>
}
