<div class="card m-3">
  <div class="p-3">
    <form [formGroup]="reportForm">
      <div class="row">
        <mat-form-field class="col-sm-12 col-md-4">
          <mat-label>تاریخ شروع </mat-label>
          <input
            matInput
            [matDatepicker]="dpS"
            formControlName="startDate"
            [max]="reportForm.get('endDate').value"
          />
          <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
          <mat-datepicker #dpS></mat-datepicker>
          @if (reportForm.get('startDate')?.hasError('required')) {
            <mat-error> تاریخ شروع را مشخص کنید. </mat-error>
          }
          @if (
            reportForm.get('startDate')?.hasError('matDatepickerMin') ||
            reportForm.get('startDate')?.hasError('matDatepickerMax')
          ) {
            <mat-error> تاریخ شروع نباید از تاریخ پایان بزرگتر باشد! </mat-error>
          }
          @if (reportForm.get('startDate')?.hasError('matDatepickerParse')) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-sm-12 col-md-4">
          <mat-label>تاریخ پایان </mat-label>
          <input
            matInput
            [matDatepicker]="dpE"
            formControlName="endDate"
            [min]="reportForm.get('startDate').value"
          />
          <mat-datepicker-toggle matSuffix [for]="dpE"></mat-datepicker-toggle>
          <mat-datepicker #dpE></mat-datepicker>
          @if (reportForm.get('endDate')?.hasError('required')) {
            <mat-error> تاریخ پایان قرار داد را مشخص کنید. </mat-error>
          }
          @if (
            reportForm.get('endDate')?.hasError('matDatepickerMin') ||
            reportForm.get('endDate')?.hasError('matDatepickerMax')
          ) {
            <mat-error> تاریخ شروع نباید از تاریخ پایان بزرگتر باشد! </mat-error>
          }
          @if (reportForm.get('endDate')?.hasError('matDatepickerParse')) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>

        <div class="col-sm-12 col-md-4">
          <button mat-raised-button color="default" (click)="getReport()">مشاهده گزارش</button>
        </div>
      </div>
    </form>
  </div>

  @if (!loading) {
    <div class="chart" [chart]="chart"></div>
  }
  @if (loading) {
    <div class="d-flex align-items-center justify-content-center">
      <mat-spinner color="default" diameter="25"></mat-spinner>
    </div>
  }
</div>
