<div class="content-header">
  @if (!isUpdate) {
    <span>ثبت خدمت شهروندی جدید</span>
  }
  @if (isUpdate) {
    <span>ویرایش خدمت شهروندی</span>
  }
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="d-flex my-5 p-5 align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    }

    @if (!loading) {
      <form [formGroup]="storeForm">
        <div class="row">
          <mat-form-field class="col-sm-12">
            <mat-label>عنوان خدمت</mat-label>
            <input matInput formControlName="serviceName" type="text" maxlength="500" />
            @if (storeForm.get('serviceName')?.hasError('required')) {
              <mat-error>عنوان خدمات را وارد کنید.</mat-error>
            }
            @if (storeForm.get('serviceName')?.hasError('maxlength')) {
              <mat-error>حداکثر 500 کاراکتر</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label>توضیحات</mat-label>
            <textarea matInput formControlName="description" rows="3" maxlength="2000"></textarea>
            @if (storeForm.get('description')?.hasError('required')) {
              <mat-error>توضیحات را وارد کنید.</mat-error>
            }
            @if (storeForm.get('description')?.hasError('maxlength')) {
              <mat-error>حداکثر 2000 کاراکتر</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-2">
            <mat-label>اولویت</mat-label>
            <input matInput formControlName="priority" type="text" numbersOnly />
            @if (storeForm.get('priority')?.hasError('required')) {
              <mat-error>اولویت را وارد کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-10">
            <mat-label> لینک </mat-label>
            <input matInput formControlName="link" type="text" maxlength="5000" />
            @if (storeForm.get('link')?.hasError('required')) {
              <mat-error>لینک خدمات را وارد کنید.</mat-error>
            }
            @if (storeForm.get('link')?.hasError('maxlength')) {
              <mat-error>حداکثر 5000 کاراکتر</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-3">
            <mat-label> پارامتر اول </mat-label>
            <input matInput formControlName="paramName1" type="text" maxlength="5000" />
            @if (storeForm.get('paramName1')?.hasError('required')) {
              <mat-error>پارامتر اول.</mat-error>
            }
            @if (storeForm.get('paramName1')?.hasError('maxlength')) {
              <mat-error>حداکثر 5000 کاراکتر</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-3">
            <mat-label> مقدار پارامتر اول </mat-label>
            <input matInput formControlName="paramValue1" type="text" maxlength="5000" />
            @if (storeForm.get('paramValue1')?.hasError('required')) {
              <mat-error>پارامتر اول.</mat-error>
            }
            @if (storeForm.get('paramValue1')?.hasError('maxlength')) {
              <mat-error>حداکثر 5000 کاراکتر</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-3">
            <mat-label> پارامتر دوم </mat-label>
            <input matInput formControlName="paramName2" type="text" maxlength="5000" />
            @if (storeForm.get('paramName2')?.hasError('required')) {
              <mat-error>پارامتر اول.</mat-error>
            }
            @if (storeForm.get('paramName2')?.hasError('maxlength')) {
              <mat-error>حداکثر 5000 کاراکتر</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-3">
            <mat-label> مقدار پارامتر دوم </mat-label>
            <input matInput formControlName="paramValue2" type="text" maxlength="5000" />
            @if (storeForm.get('paramValue2')?.hasError('required')) {
              <mat-error>پارامتر اول.</mat-error>
            }
            @if (storeForm.get('paramValue2')?.hasError('maxlength')) {
              <mat-error>حداکثر 5000 کاراکتر</mat-error>
            }
          </mat-form-field>
        </div>
        <p>
          <mat-checkbox color="default" formControlName="isNeedAuthenticate">
            نمایش برای کاربران عضو
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="default" formControlName="isShowInDashbordCitizen">
            نمایش در داشبورد شهروندی
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="default" formControlName="openInNewWindow">
            بازشدن در پنجره جدید
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="default" formControlName="isLinkService"> لینک سرویس </mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="default" formControlName="isMain">
            نمایش برای ثبت نام شهروند
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="default" formControlName="isActive">فعال/غیرفعال</mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="default" formControlName="haveTerms">
            دارای قوانین و مقررات
          </mat-checkbox>
        </p>
        <p>در صورت داشتن قوانین و مقررات در قسمت زیر آن را شرح دهید</p>

        <html-editor formControlName="terms"></html-editor>
        <app-uploader
          (attachmentId)="getAttachmentId($event)"
          [autoUpload]="true"
          [btnTitle]="'انتخاب تصویر'"
        ></app-uploader>
        @if (imageUrl) {
          <img [src]="baseUrl + imageUrl" class="img-thumbnail thumb-128" />
        }
      </form>
    }
  </mat-card-content>
  <mat-card-footer>
    <div class="d-flex align-items-center justify-content-end p-3">
      @if (!loading) {
        <button mat-raised-button color="default" (click)="save()" [disabled]="isSaving">
          @if (isSaving) {
            <span>منتظر بمانید...</span>
          }
          @else {
            <span>ذخیره</span>
          }
          <mat-spinner [hidden]="!isSaving" diameter="20" color="default"></mat-spinner>
        </button>
      }
    </div>
  </mat-card-footer>
</mat-card>
