<main class="main-content">
  <div class="container p-md-5 box p-4 mt-4" id="blog">
    <div class="row">
      <div class="col-lg-8 col-12 order-1 order-lg-2">
        <div class="tm-blog-list sticky-sidebar">
          <div class="d-flex align-items-center justify-content-center py-5" *ngIf="loadingManagers">
            <mat-spinner *ngIf="loadingManagers" color="default"></mat-spinner>
          </div>
          <div class="d-flex align-items-center justify-content-center py-5"
            *ngIf="loadingManagers==false && managerList.length==0">
            <strong>اطلاعاتی وجود ندارد!</strong>
          </div>

          <div class="row mt-30-reverse blog-masonry-active">



            <div class="card p-2 col-sm-6 col-md-4" *ngFor="let item of managerList">
              <a routerLink="/home/personal/{{item.id}}" class="relative">
                <img class="mb-3 img-fluid rad12" [src]="baseUrl + item.imageUrl" alt="">


              </a>

              <h6>
                {{(item.namePrefix|enumString:'namePrefix') + ' ' + item.firstName + ' ' + item.lastName}}

              </h6>

              <p>{{item.userCompany}}</p>
              <p> {{item.organizationalPosition}}</p>

              <a routerLink="/home/personal/{{item.id}}" class="text-danger text-center pb-3">
                مشاهده بیوگرافی...
              </a>
            </div>




          </div>

        </div>

      </div>

    </div>
  </div>
</main>