<div class="content-header">
  <span>ثبت درخواست جدید</span>
  <span>ویرایش درخواست</span>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="d-flex my-5 p-5 align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    } @else {
      <form [formGroup]="storeForm">
        <div class="row">
          <mat-form-field class="col-md-3">
            <mat-label> عنوان درخواست</mat-label>
            <input matInput formControlName="discountTitle" type="text" />
            @if (storeForm.get('discountTitle')?.hasError('required')) {
              <mat-error> عنوان درخواست را وارد کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label> سازمان درخواست کننده</mat-label>
            <input matInput formControlName="freeCardApplicantOrganization" type="text" />
            @if (storeForm.get('freeCardApplicantOrganization')?.hasError('required')) {
              <mat-error> سازمان درخواست کننده را وارد کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label> شماره نامه </mat-label>
            <input matInput formControlName="letterNumber" type="text" />
            @if (storeForm.get('letterNumber')?.hasError('required')) {
              <mat-error> شماره نامه را وارد کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label> نوع کارت</mat-label>
            <mat-select formControlName="cardTypeId">
              @for (item of baseEnums.cardTypeList; track $index) {
                <mat-option [value]="item.key">
                  {{ item.text }}
                </mat-option>
              }
            </mat-select>
            @if (storeForm.get('cardTypeId')?.hasError('required')) {
              <mat-error> نوع کارت را مشخص کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label>نوع تحویل</mat-label>
            <mat-select formControlName="deliverType">
              @for (item of baseEnums.cardDeliverType; track $index) {
                <mat-option [value]="item.key">
                  {{ item.text }}
                </mat-option>
              }
            </mat-select>
            @if (storeForm.get('deliverType')?.hasError('required')) {
              <mat-error> نوع تحویل را وارد کنید.</mat-error>
            }
          </mat-form-field>
          @if (storeForm.get('deliverType')?.value == 2) {
            <mat-form-field class="col-md-3">
              <mat-label>مرکز تحویل</mat-label>
              <mat-select formControlName="centerID">
                @for (item of baseEnums.centerList; track $index) {
                  <mat-option [value]="item.key">
                    {{ item.text }}
                  </mat-option>
                }
              </mat-select>
              @if (storeForm.get('centerID')?.hasError('required')) {
                <mat-error> مرکز تحویل را وارد کنید.</mat-error>
              }
            </mat-form-field>
          }
          <mat-form-field class="col-md-3">
            <mat-label>وضعیت تصویر پرسنلی </mat-label>
            <mat-select formControlName="imagerReviewStatusFormFreeCard">
              @for (item of baseEnums.imagerReviewStatusFormFreeCard; track $index) {
                <mat-option [value]="item.key">
                  {{ item.text }}
                </mat-option>
              }
            </mat-select>
            @if (storeForm.get('imagerReviewStatusFormFreeCard')?.hasError('required')) {
              <mat-error> وضعیت تصویر پرسنلی را وارد کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label> گروه شهروندی</mat-label>
            <mat-select formControlName="groupId">
              @for (item of baseEnums.citizenGroups; track $index) {
                <mat-option [value]="item.key">
                  {{ item.text }}
                </mat-option>
              }
            </mat-select>
            @if (storeForm.get('groupId')?.hasError('required')) {
              <mat-error> گروه شهروندی را وارد کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label> توضیحات </mat-label>
            <textarea matInput formControlName="description" rows="3"></textarea>
            @if (storeForm.get('description')?.hasError('required')) {
              <mat-error> توضیحات را وارد کنید. </mat-error>
            }
          </mat-form-field>
        </div>
      </form>
    }
  </mat-card-content>
  <mat-card-footer>
    <div class="d-flex align-items-center justify-content-end p-3">
      @if (!loading) {
        <button mat-raised-button color="default" (click)="save()" [disabled]="isSaving">
          @if (isSaving) {
            <span>منتظر بمانید...</span>
          } @else {
            <span>ثبت درخواست</span>
          }
          <mat-spinner [hidden]="!isSaving" diameter="20" color="default"></mat-spinner>
        </button>
      }
    </div>
  </mat-card-footer>
</mat-card>
