<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- منبع آنلاین اصلی -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

    <!-- منبع آفلاین شما که در D:\nuget قرار دارد -->
    <add key="LocalPackages" value="D:\nuget" />
  </packageSources>

  <disabledPackageSources>
    <!-- هیچ منبعی را غیرفعال نکنید -->
  </disabledPackageSources>
</configuration>