<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">مدیریت پیوست ها</h5>
  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <div class="table-responsive">
    <table class="table table-active table-bordered table-primary table-hover table-striped">
      <thead>
        <tr>
          <th>فایل</th>
          <th>نام فایل</th>
          <th>پسوند</th>
          <th>توضیحات</th>
          <th>نوع محتوا</th>
          <th>حجم فایل</th>
          <th>نام کاربر</th>
          <th>تعداد دانلود</th>
          <th>تاریخ ثبت</th>
          <th>حذف</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of attachments">
          <td class="lightGallery" *ngIf="item.isImage">
            <a href="{{ baseUrl + item.filePath }}" target="_blank">
              <img [src]="baseUrl + item.filePath" class="img-thumbnail thumb-64" />
            </a>
          </td>
          <td class="" *ngIf="!item.isImage">
            <a href="{{ baseUrl + item.filePath }}" target="_blank">
              <strong>{{ item.extension }}</strong>
            </a>
          </td>

          <td>{{ item.fileName }}</td>
          <td>{{ item.extension }}</td>
          <td>{{ item.caption }}</td>
          <td>{{ item.contentType }}</td>
          <td>{{ item.size / 1024 | number }}Kb</td>
          <td>{{ item.userName }}</td>
          <td>{{ item.downloadsCount | number }}</td>
          <td>{{ item.attachedOn | jalali }}</td>
          <td>
            <button mat-icon-button (click)="deleteAttachment(item)" matTooltip="حذف فایل پیوست">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>

        <tr *ngIf="loadingData">
          <td colspan="10">
            <div class="d-flex align-items-center justify-content-center p-3">
              <mat-spinner diamter="25" color="default"></mat-spinner>
            </div>
          </td>
        </tr>

        <tr *ngIf="attachments.length == 0 && !loadingData">
          <td colspan="10">
            <div class="d-flex align-items-center justify-content-center p-3">
              فایلی برای مشاهده وجود ندارد!
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="field-set">
    <label class="field-set-title">افزودن فایل پیوست</label>

    <div class="form-group">
      <input
        class="form-control"
        [(ngModel)]="data.caption"
        name="caption"
        placeholder="توضیحات فایل پیوست"
      />
    </div>

    <app-uploader
      (attachmentId)="completeUpload($event)"
      [removeAfterUpload]="true"
      [data]="data"
      [btnTitle]="'افزودن فایل پیوست'"
      [url]="uploadUrl"
      [autoUpload]="true"
      [accept]="[
        'image/png',
        'image/jpg',
        'image/gif',
        'image/jpeg',
        'image/bmp',
        'application/pdf',
      ]"
    ></app-uploader>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>بستن</button>
</mat-dialog-actions>
