@if (userStatus === 1) {
  <div>
    <app-my-Identity-Info></app-my-Identity-Info>
  </div>
}
@if (userStatus != 1) {
  <div>
    <app-update-Identity-Info></app-update-Identity-Info>
  </div>
}

<mat-card class="m-3">
  <mat-card-header class="card-header mt-n3 mx-n3">سایر اطلاعات</mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="p-5 d-flex align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    }

    @if (!loading) {
      <form [formGroup]="personalForm" class="p-4">
        <div class="row">
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>وضعیت تاهل </mat-label>
            <mat-select formControlName="marital">
              @for (item of baseEnums.maritalStatus; track $index) {
                <mat-option [value]="item.key">
                  {{ item.text }}
                </mat-option>
              }
            </mat-select>
            @if (personalForm.get('marital')?.hasError('required')) {
              <mat-error> وضعیت تاهل را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label> تلفن ثابت</mat-label>
            <input formControlName="phoneNumber" maxlength="8" numbersOnly matInput />
            @if (personalForm.get('phoneNumber')?.hasError('required')) {
              <mat-error> شماره تلفن را وارد کنید. </mat-error>
            }
            @if (personalForm.get('phoneNumber')?.hasError('pattern')) {
              <mat-error> شماره تلفن صحیح نیست. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>شهر محل سکونت</mat-label>
            <mat-select formControlName="cityId">
              @for (item of isfahanCities; track $index) {
                <mat-option [value]="item.key">
                  {{ item.text }}
                </mat-option>
              }
            </mat-select>
            @if (personalForm.controls['cityId'].errors) {
              <mat-hint class="text-danger">
                @if (personalForm.controls['cityId'].errors['required']) {
                  <span> شهر محل سکونت خود را انتخاب کنید </span>
                }
              </mat-hint>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>منطقه</mat-label>
            <input numbersOnly maxlength="2" formControlName="region" matInput />
            @if (personalForm.controls['region'].errors) {
              <mat-hint class="text-danger">
                @if (personalForm.controls['region'].errors['required']) {
                  <span> منطقه محل سکونت خود را انتخاب کنید </span>
                }
              </mat-hint>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>خیابان</mat-label>
            <input maxlength="20" formControlName="street" matInput />
            @if (personalForm.controls['street'].errors) {
              <mat-hint class="text-danger">
                @if (personalForm.controls['street'].errors['required']) {
                  <span> خیابان محل سکونت خود را انتخاب کنید </span>
                }
              </mat-hint>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>کوچه</mat-label>
            <input maxlength="20" formControlName="alley" matInput />
            @if (personalForm.controls['alley'].errors) {
              <mat-hint class="text-danger">
                @if (personalForm.controls['alley'].errors['required']) {
                  <span> کوچه محل سکونت خود را انتخاب کنید </span>
                }
              </mat-hint>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>پلاک</mat-label>
            <input maxlength="20" formControlName="plaque" matInput />
            @if (personalForm.controls['plaque'].errors) {
              <mat-hint class="text-danger">
                @if (personalForm.controls['plaque'].errors['required']) {
                  <span> پلاک محل سکونت خود را انتخاب کنید </span>
                }
              </mat-hint>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>کد پستی </mat-label>
            <input
              formControlName="postalCode"
              matInput
              maxlength="12"
              numbersOnly
              placeholder="کد پستی  خود را وارد کنید"
            />
            @if (personalForm.controls['postalCode'].errors) {
              <mat-hint class="text-danger">
                @if (personalForm.controls['postalCode'].errors['required']) {
                  <span> کد پستی خود را وارد کنید </span>
                }
              </mat-hint>
            }
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-4">
            <mat-form-field class="w-100 mt-3">
              <mat-label>وضعیت تحصیل</mat-label>
              <mat-select formControlName="educationStatues">
                @for (item of baseEnums.educationStatues; track $index) {
                  <mat-option [value]="item.key">
                    {{ item.text }}
                  </mat-option>
                }
              </mat-select>
              @if (personalForm.controls['educationStatues'].errors) {
                <mat-hint class="text-danger">
                  @if (personalForm.controls['educationStatues'].errors['required']) {
                    <span> وضعیت تحصیل خود را انتخاب کنید </span>
                  }
                </mat-hint>
              }
            </mat-form-field>
          </div>
          @if (+personalForm.controls['educationStatues'].value !== 3) {
            <div class="col-12 col-md-12 col-lg-4">
              <mat-form-field class="w-100 mt-3">
                <mat-label>گروه تحصیلی</mat-label>
                <mat-select formControlName="educationGroup">
                  <mat-option [value]="null"> ------- </mat-option>
                  @for (item of baseEnums.educationGroups; track $index) {
                    <mat-option [value]="item.key">
                      {{ item.text }}
                    </mat-option>
                  }
                </mat-select>
                @if (personalForm.controls['educationStatues'].errors) {
                  <mat-hint class="text-danger">
                    @if (personalForm.controls['educationStatues'].errors['required']) {
                      <span> گروه تحصیلی خود را انتخاب کنید </span>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          }
          @if (+personalForm.controls['educationStatues'].value !== 3) {
            <div class="col-12 col-md-12 col-lg-4">
              <mat-form-field class="w-100 mt-3">
                <mat-label>سطح تحصیلات</mat-label>
                <mat-select formControlName="educationLevel">
                  @for (item of baseEnums.educationLevel; track $index) {
                    <mat-option [value]="item.key">
                      {{ item.text }}
                    </mat-option>
                  }
                </mat-select>
                @if (personalForm.controls['educationLevel'].errors) {
                  <mat-hint class="text-danger">
                    @if (personalForm.controls['educationLevel'].errors['required']) {
                      <span> سطح تحصیلات خود را انتخاب کنید </span>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          }
          @if (+personalForm.controls['educationStatues'].value !== 3) {
            <div class="col-12 col-md-12 col-lg-4">
              <mat-form-field class="w-100 mt-3">
                <mat-label>رشته تحصیلی</mat-label>
                <input
                  formControlName="educationTitle"
                  matInput
                  placeholder="رشته تحصیلی (اختیاری)"
                />
                @if (personalForm.controls['educationTitle'].errors) {
                  <mat-hint class="text-danger">
                    @if (personalForm.controls['educationTitle'].errors['required']) {
                      <span> رشته تحصیلی خود را وارد کنید </span>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          }
          <div class="col-12 col-md-12 col-lg-4">
            <mat-form-field class="w-100 mt-3">
              <mat-label>وضعیت شغل</mat-label>
              <mat-select formControlName="jobGroup">
                @for (item of baseEnums.jobGroup; track $index) {
                  <mat-option [value]="item.key">
                    {{ item.text }}
                  </mat-option>
                }
              </mat-select>
              @if (personalForm.controls['jobGroup'].errors) {
                <mat-hint class="text-danger">
                  @if (personalForm.controls['jobGroup'].errors['required']) {
                    <span> وضعیت شغل خود را انتخاب کنید </span>
                  }
                </mat-hint>
              }
            </mat-form-field>
          </div>
          <div class="col-12 col-md-12 col-lg-4">
            <mat-form-field class="w-100 mt-3">
              <mat-label>عنوان شغل</mat-label>
              <input formControlName="jobTitle" matInput placeholder="عنوان شغل (اختیاری)" />
              @if (personalForm.controls['jobTitle'].errors) {
                <mat-hint class="text-danger">
                  @if (personalForm.controls['jobTitle'].errors['required']) {
                    <span> عنوان شغل خود را وارد کنید </span>
                  }
                </mat-hint>
              }
            </mat-form-field>
          </div>
        </div>
      </form>
    }
  </mat-card-content>
  @if (userStatus !== 2) {
    <mat-card-footer class="p-3 d-flex justify-content-end">
      @if (!loading) {
        <button
          mat-raised-button
          color="primary"
          [disabled]="isSaving"
          (click)="savePersonalInfo()"
        >
          <span>ثبت اطلاعات </span>
          <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
        </button>
      }
    </mat-card-footer>
  }
</mat-card>
