<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    <div class="field-set">
      <label class="field-set-title">شهروند در فرم های زیر ثبت نام نموده است</label>
    </div>
    <div class="col-12">
      @for (item of data; track item) {
        <div class="row my-2 justify-content-center">
          @if (item.citizenIsRegisterThisForm) {
            <div class="col-12 col-md-10 col-lg-10">
              <mat-card>
                <mat-card-content>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12 col-md-4 col-lg-4">
                        <b>{{ item.title }} </b>
                      </div>
                      <div class="col-12 col-md-3 col-lg-4">
                        وضعیت :
                        @if (item.formResult == null) {
                          <strong class="text-info"> در حال بررسی </strong>
                        }
                        @if (item.formResult == true) {
                          <strong class="text-success"> تایید شده </strong>
                        }
                        @if (item.formResult == false) {
                          <strong class="text-danger"> عدم تایید </strong>
                        }
                      </div>
                      <div class="col-12 col-md-3 col-lg-4">
                        مدارک:
                        <img class="pointer img-thumb" [src]="baseUrl + item.fileUrl" />
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          }
        </div>
      }
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
