<div class="sidebar">
  <div class="sidebar-background"></div>
  <div class="user-info">
    <div class="d-flex align-items-center">
      <div
        class="avatar-container pointer"
        matTooltip="برای تغییر تصویر پروفایل خود کلیک کنید."
        (click)="openUploadDialog()"
      >
        @if (!userImage) {
          <img class="object-fit-cover" src="images/avatar.png" />
        }
        @if (userImage) {
          <img class="object-fit-cover" [src]="baseUrl + userImage" />
        }
      </div>
      <div>
        <div class="username">{{ user?.userName }}</div>
        <div class="displayName">{{ user?.displayName }}</div>
      </div>
    </div>
  </div>
  <menu-dynamic [menu]="menuItems" class="daynamic-menu"></menu-dynamic>

  <!--<a (click)="logout()" class="exit">
  <i class="fa fa-power-off"></i>
  <span>خروج از حساب کاربری</span>
</a>-->
</div>
