<!-- Main Content -->
<main class="main-content">
  <!-- About Us Area -->
  <div class="tm-section about-us-area bg-white tm-padding-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-5">
          <div class="tm-about-image">
            <img
              class="wow fadeInLeft"
              src="/images/others/about-image.png"
              alt="deconsult image"
            />
          </div>
        </div>
        <div class="col-xl-6 col-lg-7">
          <div class="tm-about-content">
            <h2>WE ARE DECONSULT</h2>
            <span class="divider"><i class="fa fa-superpowers"></i></span>
            <p>
              Repudiandae dicta aut ullam. Est dolor in. Sint a libero sint dolores a libero sint
              dolores a libero sint dolores natus quibusdam.
            </p>
            <ul class="stylish-list">
              <li>
                <i class="fa fa-check-square-o"></i> Corrupti nihil nesciunt saepe quos ut quasi.
              </li>
              <li>
                <i class="fa fa-check-square-o"></i> Itaque non soluta dolor magnam vel dolorem.
              </li>
              <li>
                <i class="fa fa-check-square-o"></i> Nam dolores rerum eos adipisci. Nisi voluptatem
                enim et et non.
              </li>
              <li>
                <i class="fa fa-check-square-o"></i> Quasi sapiente dicta beatae est maxime
                veritatis minima quasi.
              </li>
              <li><i class="fa fa-check-square-o"></i> Sapiente beatae vitae eius quo odit.</li>
              <li><i class="fa fa-check-square-o"></i> Minima quo voluptate et rerum velit.</li>
              <li>
                <i class="fa fa-check-square-o"></i> Doloremque praesentium iste. At odio eum sed
                reiciendis.
              </li>
              <li>
                <i class="fa fa-check-square-o"></i> Quo qui alias aut molestias dolore. Ea ipsa
                culpa rerum voluptatem ea ipsa magnam repudiandae iure.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// About Us Area -->
  <!-- Video Callback -->
  <div
    class="tm-section video-area tm-padding-section"
    data-bgimage="/images/bg/bg-image-1.jpg"
    data-overlay="9"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-9 col-md-11 col-12">
          <div class="tm-video text-center">
            <div class="tm-videobutton tm-videobutton-lg">
              <a href="https://www.youtube.com/embed/XWcjIahn7xI">
                <span><i class="fa fa-play"></i></span>
              </a>
            </div>
            <div class="tm-video-content">
              <h2>Play the video to know more about us</h2>
              <p>
                Tempora maiores amet quasi temporibus impedit. Asperiores earum maiores at. Sed
                autem non reiciendis qui. Sapiente necessitatibus saepe ad corporis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// Video Callback -->
  <!-- Request Callback Area -->
  <div class="tm-section callback-area bg-grey tm-padding-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="tm-callback">
            <h2>Request a callback</h2>
            <p>
              Molestiae voluptatem dolorem commodi ipsum. Odit et rerum praesentium. Dolorem animi
              ullam.
            </p>
            <form action="#" class="tm-form">
              <div class="tm-form-inner">
                <div class="tm-form-field">
                  <input type="text" placeholder="Enter Email*" />
                </div>
                <div class="tm-form-field">
                  <select>
                    <option value="a">Select Categories</option>
                    <option value="b">Financial Analysis</option>
                    <option value="c">Business Consulting</option>
                    <option value="d">Corporate Finance</option>
                    <option value="e">Financial Planning</option>
                    <option value="f">Business Growth</option>
                    <option value="g">Wealth Management</option>
                  </select>
                </div>
                <div class="tm-form-field tm-form-fieldhalf">
                  <input type="text" placeholder="Phone Number*" />
                </div>
                <div class="tm-form-field tm-form-fieldhalf">
                  <input type="text" data-toggle="datepicker" placeholder="Select Date*" />
                </div>
                <div class="tm-form-field">
                  <button type="submit" class="tm-button">Submit Now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tm-successreport">
            <h2>OUR PROGRESS REPORTS</h2>
            <canvas id="business-growth" height="190"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// Request Callback Area -->
  <!-- Funfact Area -->
  <div
    class="tm-section funfact-area tm-padding-section tm-parallax"
    data-bgimage="/images/bg/bg-image-1.jpg"
    data-overlay="9"
  >
    <div class="container">
      <div class="row tm-funfact-wrapper">
        <!-- Single Funfact -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="tm-funfact wow fadeInUp">
            <span class="tm-funfact-icon">
              <i class="flaticon-group"></i>
            </span>
            <div class="tm-funfact-content">
              <span class="odometer" data-count-to="500"></span>
              <h5>Projects Complete</h5>
            </div>
          </div>
        </div>
        <!--// Single Funfact -->
        <!-- Single Funfact -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="tm-funfact wow fadeInUp">
            <span class="tm-funfact-icon">
              <i class="flaticon-success"></i>
            </span>
            <div class="tm-funfact-content">
              <span class="odometer" data-count-to="500"></span>
              <h5>Happy Clients</h5>
            </div>
          </div>
        </div>
        <!--// Single Funfact -->
        <!-- Single Funfact -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="tm-funfact wow fadeInUp">
            <span class="tm-funfact-icon">
              <i class="flaticon-trophy"></i>
            </span>
            <div class="tm-funfact-content">
              <span class="odometer" data-count-to="500"></span>
              <h5>Total Users</h5>
            </div>
          </div>
        </div>
        <!--// Single Funfact -->
        <!-- Single Funfact -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="tm-funfact wow fadeInUp">
            <span class="tm-funfact-icon">
              <i class="flaticon-like"></i>
            </span>
            <div class="tm-funfact-content">
              <span class="odometer" data-count-to="500"></span>
              <h5>Likes</h5>
            </div>
          </div>
        </div>
        <!--// Single Funfact -->
      </div>
    </div>
  </div>
  <!--// Funfact Area -->
  <!-- Team Area -->
  <div class="tm-section team-members-area bg-grey tm-padding-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-7 col-md-10 col-12">
          <div class="tm-section-title text-center">
            <h2>OUR ADVISORS</h2>
            <span class="divider"><i class="fa fa-superpowers"></i></span>
            <p>
              Molestiae voluptatem dolorem commodi ipsum. Odit et rerum praesentium. Dolorem animi
              ullam.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-30-reverse">
        <!-- Team Member -->
        <div class="col-lg-3 col-md-6 col-12 mt-30">
          <div class="tm-member wow fadeInUp">
            <div class="tm-member-top">
              <img src="/images/team/team-member-1.jpg" alt="team member" />
              <div class="tm-member-social">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tm-member-bottom">
              <h5>Astley Fletcher</h5>
              <p>S. Advisor</p>
            </div>
          </div>
        </div>
        <!--// Team Member -->
        <!-- Team Member -->
        <div class="col-lg-3 col-md-6 col-12 mt-30">
          <div class="tm-member wow fadeInUp">
            <div class="tm-member-top">
              <img src="/images/team/team-member-2.jpg" alt="team member" />
              <div class="tm-member-social">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tm-member-bottom">
              <h5>Bernard Rutherford</h5>
              <p>S. Advisor</p>
            </div>
          </div>
        </div>
        <!--// Team Member -->
        <!-- Team Member -->
        <div class="col-lg-3 col-md-6 col-12 mt-30">
          <div class="tm-member wow fadeInUp">
            <div class="tm-member-top">
              <img src="/images/team/team-member-3.jpg" alt="team member" />
              <div class="tm-member-social">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tm-member-bottom">
              <h5>Amelie Bernhard</h5>
              <p>J. Advisor</p>
            </div>
          </div>
        </div>
        <!--// Team Member -->
        <!-- Team Member -->
        <div class="col-lg-3 col-md-6 col-12 mt-30">
          <div class="tm-member wow fadeInUp">
            <div class="tm-member-top">
              <img src="/images/team/team-member-4.jpg" alt="team member" />
              <div class="tm-member-social">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-skype"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tm-member-bottom">
              <h5>Demond Towne</h5>
              <p>Marketer</p>
            </div>
          </div>
        </div>
        <!--// Team Member -->
      </div>
    </div>
  </div>
  <!--// Team Area -->
</main>
<!--// Main Content -->
