<form [formGroup]="forgotForm" class="custom-form">
  <input type="text" class="no-view" name="username" id="username" />
  <input type="password" class="no-view" name="password" id="password" />

  <div class="forgot-card">
    @if (showConfirmCode == false && showChangePassword == false) {
      <div>
        <p>برای دریافت کد تغییر کلمه عبور ، کد ملی و شماره موبایل خود را وارد نمایید</p>
        <div class="form-group">
          <input class="form-control" formControlName="userName" placeholder="گد ملی" required />
        </div>
        @if (
          forgotForm.get('userName')?.hasError('required') && forgotForm.get('userName')?.touched
        ) {
          <span class="text-danger"> کد ملی خود را وارد کنید. </span>
        }
        @if (
          forgotForm.get('userName')?.hasError('userName') && forgotForm.get('userName')?.touched
        ) {
          <span class="text-danger"> کد ملی وارد شده صحیح نیست! </span>
        }
        <div class="form-group">
          <input
            class="form-control"
            formControlName="mobile"
            placeholder="شماره موبایل"
            required
          />
        </div>
        @if (forgotForm.get('mobile')?.hasError('required') && forgotForm.get('mobile')?.touched) {
          <span class="text-danger"> شماره موبایل خود را وارد کنید. </span>
        }
        @if (forgotForm.get('mobile')?.hasError('invalid') && forgotForm.get('mobile')?.touched) {
          <span class="text-danger"> شماره موبایل صحیح نیست. </span>
        }
        <div class="d-flex align-items-center justify-content-end mt-5">
          <button class="custom-button login" (click)="sendConfirmCode()" [disabled]="sendingSMS">
            <mat-spinner diameter="25" [hidden]="!sendingSMS"></mat-spinner>
            <span> ارسال کد تائید</span>
          </button>
        </div>
      </div>
    }
    <!-- ------------------------------------------------------------------------------------- -->
    @if (showConfirmCode == true && showChangePassword == false) {
      <div>
        <p>
          <i class="fa fa-info-circle fa-2x mr-2"></i>
          <strong>کدی که برای شما پیامک شده است را وارد کنید.</strong>
        </p>
        <p class="text-info d-flex align-items-center justify-content-center mb-5">
          <strong>شماره موبایل: </strong>
          <span>{{ forgotForm.get('mobile')?.value }}</span>
        </p>
        <div class="text-center">
          <div class="form-group">
            <input
              class="form-control"
              formControlName="verificationCode"
              maxlength="5"
              placeholder="کد تائید شماره موبایل"
              required
            />
          </div>
          @if (
            forgotForm.get('verificationCode')?.hasError('required') &&
            forgotForm.get('verificationCode')?.touched
          ) {
            <span class="text-danger"> کدی که برای شما پیامک شده است را وارد کنید. </span>
          }
        </div>
        <div class="p-3 d-flex align-items-center justify-content-between mt-5">
          <div>
            @if (timerCounter > 0) {
              <span>{{ timerCounterString }}</span>
            }
            @if (timerCounter <= 0) {
              <a mat-button (click)="sendConfirmCode()" [disabled]="sendingSMS">ارسال مجدد</a>
            }
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end mt-5">
          <button
            class="custom-button login"
            (click)="checkVerificationCode()"
            [disabled]="checkingCode"
          >
            <mat-spinner diameter="25" [hidden]="!checkingCode"></mat-spinner>
            <span> بررسی کد تائید</span>
          </button>
        </div>
      </div>
    }
    <!-- ------------------------------------------------------------------------------------- -->
    @if (showChangePassword == true) {
      <div>
        <p>
          <i class="fa fa-info-circle fa-2x mr-2"></i>
          <strong> کلمه عبور جدید را وارد نمایید </strong>
        </p>
        <div class="form-group">
          <input
            class="form-control"
            minlength="6"
            formControlName="password"
            type="password"
            placeholder="کلمه عبور"
            required
          />
        </div>
        @if (
          forgotForm.get('password')?.hasError('required') && forgotForm.get('password')?.touched
        ) {
          <span class="text-danger"> کلمه عبور را وارد کنید. </span>
        }
        @if (forgotForm.get('password')?.hasError('minlength')) {
          <mat-error> کلمه عبور حداقل باید 6 کارکتر باشد </mat-error>
        }
        <div class="form-group">
          <input
            class="form-control"
            minlength="6"
            formControlName="confirmPassword"
            type="password"
            placeholder="تکرار کلمه عبور"
            required
          />
        </div>
        @if (
          forgotForm.get('confirmPassword')?.hasError('required') &&
          forgotForm.get('confirmPassword')?.touched
        ) {
          <span class="text-danger"> تکرار کلمه عبور را وارد کنید. </span>
        }
        <p>
          <i class="fa fa-info-circle fa-2x mr-2"></i>
          <strong> کلمه عبور جدید باید حداقل 6 کاراکتر باشد . </strong>
        </p>
        <div class="d-flex align-items-center justify-content-end mt-5">
          <button class="custom-button login" (click)="saveNewPassword()" [disabled]="isSaving">
            <mat-spinner diameter="25" [hidden]="!isSaving"></mat-spinner>
            <span> تغییر کلمه عبور</span>
          </button>
        </div>
      </div>
    }
  </div>
  <div style="text-align: justify">
    <ul>
      <li>
        <span>
          <a class="btn-register" routerLink="/home/contact-us"> تماس با کارشناسان </a>
        </span>
      </li>
    </ul>
  </div>
</form>
