<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  @if (!isUpdate) {
    <h5 cdkDragHandle class="title">ثبت گروه محصول جدید</h5>
  }
  @if (isUpdate) {
    <h5 cdkDragHandle class="title">ویرایش گروه محصول</h5>
  }

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="col-sm-6 col-md-6">
        <mat-label>گروه محصول </mat-label>
        <mat-select formControlName="parentId">
          @for (item of parentProductList; track item) {
            <mat-option [value]="item.key">{{ item.text }}</mat-option>
          }
        </mat-select>
        @if (form.get('parentId')?.hasError('required')) {
          <mat-error> گروه محصول را مشخص کنید. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-6">
        <mat-label>عنوان گوه محصول</mat-label>
        <input matInput formControlName="name" autocomplete="doNotAutoComplete" />
        @if (form.get('name')?.hasError('required')) {
          <mat-error> عنوان گروه محصول را وارد کنید. </mat-error>
        }
      </mat-form-field>
    </div>

    <p>
      <mat-checkbox color="default" formControlName="isActive"> فعال/غیرفعال </mat-checkbox>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>ذخیره </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
