.custom-form {
  max-width: 450px;
  margin: 0 auto;
  color: #fff;
}

.no-view {
  width: 0;
  height: 0;
  border: none;
  padding: 0;
}

.form-control {
  border-radius: 0.25rem;
}

.custom-button.login {
  margin: 5px auto;
  display: block;
}

.custom-button {
  border: none;
  color: #fff;
  text-decoration: none;
  background: #00bbda;
  cursor: pointer;
  display: inline-block;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  position: relative;
  letter-spacing: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 10px;
  text-transform: uppercase;
  padding: 12px 33px;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 600;
}

.custom-button,
.custom-button:hover,
.custom-button:focus {
  color: #fff;
  text-decoration: none;
}


.btn-register {
  color: #dea929;
  padding: 2px 12px;
  border: 1px solid #dea929;
  border-radius: 32px;
  display: block;
  float: left;
  margin: 0 5px;
}
