<mat-card class="custom-card m-3">
  <mat-card-header> خرید کارت {{ cardDetails?.cardType }} </mat-card-header>

  <mat-card-content>
    @if (loading) {
      <mat-spinner diameter="30" color="default"></mat-spinner>
    }

    @if (!loading) {
      <mat-horizontal-stepper
        #stepper
        linear="true"
        class="container bg-transparent align-items-start"
      >
        <mat-step label=" اطلاعات کارت ">
          <div class="box-header">
            <h3 class="box-title">اطلاعات کارت</h3>
          </div>
          <div><b>عنوان کارت</b>: {{ cardDetails?.cardType }}</div>
          <hr />
          <div>
            <b>توضیحات کارت</b>:
            <div [innerHtml]="cardDetails?.buyCardDescription | safeHtml"></div>
          </div>
          <hr />
          <div Class="d-flex justify-content-end">
            <button matStepperNext mat-raised-button color="default">ادامه خرید</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="addressForm" label="ادرس تحویل کارت">
          <form #ngForm="ngForm" class="col-12 colmd-10 col-lg-8" [formGroup]="addressForm">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <div class="alert alert-info">
                  <strong> شهروند گرامی </strong>
                  <span> ارسال کارت فقط برای شهر اصفهان امکان پذیر می باشد. . </span>
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-12">
                <mat-form-field class="col-md-4">
                  <mat-label>نوع آدرس</mat-label>
                  <mat-select value="2" formControlName="addressType">
                    <mat-option [value]="2"> آدرس منزل </mat-option>
                    <mat-option [value]="1"> آدرس محل کار </mat-option>
                  </mat-select>
                  @if (addressForm.controls['addressType'].errors && ngForm.submitted) {
                    <mat-hint class="text-danger">
                      @if (addressForm.controls['addressType'].errors['required']) {
                        <span> </span>
                      }
                    </mat-hint>
                  }
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label> شماره تلفن ثابت</mat-label>
                  <input type="text" matInput maxlength="8" numbersOnly formControlName="phone" />
                  @if (addressForm.get('phone')?.hasError('required')) {
                    <mat-error> شماره تلفن ثابت را وارد کنید. </mat-error>
                  }
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label> استان </mat-label>
                  <mat-select  [disabled]="true" value="400" formControlName="stateId">
                    <mat-option value="400"> اصفهان </mat-option>
                  </mat-select>
                  @if (addressForm.get('stateId')?.hasError('required')) {
                    <mat-error> استان را انتخاب نمایید </mat-error>
                  }
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label> شهر </mat-label>
                  <mat-select  [disabled]="true" value="403" formControlName="stateId">
                    <mat-option value="400"> اصفهان </mat-option>
                  </mat-select>
                  @if (addressForm.get('stateId')?.hasError('required')) {
                    <mat-error> شهر را انتخاب نمایید </mat-error>
                  }
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label> منطقه</mat-label>
                  <input type="text" matInput numbersOnly maxlength="2" formControlName="region" />
                  @if (addressForm.get('region')?.hasError('required')) {
                    <mat-error> منطقه را وارد کنید. </mat-error>
                  }
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label> خیابان</mat-label>
                  <input type="text" maxlength="30" matInput formControlName="street" />
                  @if (addressForm.get('street')?.hasError('required')) {
                    <mat-error> خیابان محل سکونت خود را وارد کنید. </mat-error>
                  }
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label> کوچه</mat-label>
                  <input type="text" maxlength="30" matInput formControlName="alley" />
                  @if (addressForm.get('alley')?.hasError('required')) {
                    <mat-error> کوچه محل سکونت خود را وارد کنید. </mat-error>
                  }
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label> پلاک</mat-label>
                  <input type="text" maxlength="4" numbersOnly matInput formControlName="plaque" />
                  @if (addressForm.get('plaque')?.hasError('required')) {
                    <mat-error> پلاک محل سکونت خود را وارد کنید. </mat-error>
                  }
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label> کد پستی</mat-label>
                  <input
                    type="text"
                    maxlength="12"
                    numbersOnly
                    matInput
                    formControlName="postalCode"
                  />
                  @if (addressForm.get('postalCode')?.hasError('required')) {
                    <mat-error> کد پستی خود را وارد کنید. </mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
          </form>
          <div class="row justify-content-end">
            <button mat-raised-button (click)="submitAddress(stepper)" color="default">
              تایید و ادامه خرید
            </button>
          </div>
        </mat-step>
        <mat-step label="تایید نهایی">
          <div class="m-3">
            <p class="text-primary">
              شهروند گرامی: کارت شما از طریق پست به آدرس
              {{ addressForm.controls['addressType'].value === 2 ? 'منزل' : 'محل کار' }}
              شما به نشانی اصفهان خیابان
              {{ addressForm.controls['street'].value }}
              {{
                addressForm.controls['alley'].value
                  ? 'کوچه ' + addressForm.controls['alley'].value + '،'
                  : ''
              }}
              {{
                addressForm.controls['plaque'].value
                  ? 'پلاک ' + addressForm.controls['plaque'].value + '،'
                  : ''
              }}
              {{
                addressForm.controls['postalCode'].value
                  ? 'کد پستی ' + addressForm.controls['postalCode'].value
                  : ''
              }}
              ارسال خواهد شد.
            </p>
            <div>
              <table class="table table-striped table-hover table-bordered">
                <tbody>
                  <tr>
                    <th>قیمت کارت</th>
                    <th>درصد مالیات (+)</th>
                    <th>جمع کل (ریال)</th>
                  </tr>
                  <tr>
                    <td>{{ cardDetails?.cardCost }}</td>
                    <td>{{ cardDetails?.vatForCardCost }} %</td>
                    <td>{{ cardDetails?.cardTotalAmount }}</td>
                  </tr>
                  <tr>
                    <th>هزینه ارسال پستی</th>
                    <th>درصد مالیات (+)</th>
                    <th>جمع کل</th>
                  </tr>
                  <tr>
                    <td>{{ cardDetails?.postalCostInCity }}</td>
                    <td>{{ cardDetails?.vatForPost }} %</td>
                    <td>{{ cardDetails?.postTotalAmount }}</td>
                  </tr>
                  <tr>
                    <th>تخفیف کارت (-)</th>
                    <th>تخفیف ارسال پستی (-)</th>
                    <th>کل تخفیفات</th>
                  </tr>
                  <tr>
                    <td>{{ cardDetails?.cardDiscountAmount }}</td>
                    <td>{{ cardDetails?.postageDiscountAmount }}</td>
                    <td>{{ cardDetails?.totalDiscountAmount }}</td>
                  </tr>
                  <tr>
                    <th colspan="2">
                      <span class="pull-right"> کل مبلغ قابل پرداخت : </span>
                    </th>
                    <th class="text-info">
                      {{ cardDetails?.totalStr }}
                    </th>
                  </tr>
                  <tr></tr>
                  <tr>
                    <th colspan="1"></th>
                    <td colspan="2">
                      <button
                        (click)="ordercard()"
                        class="pull-right btn btn-success btn-block"
                        mat-raised-button
                        color="default"
                      >
                        تایید نهایی و پرداخت از طریق درگاه بانکی
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row justify-content-end"></div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    }

    <form
      [hidden]="true"
      id="payformmellatbank"
      method="post"
      action="https://bpm.shaparak.ir/pgwchannel/startpay.mellat"
    >
      <input type="text" name="RefId" id="RefId" [(ngModel)]="RefId" />
    </form>

    @if (waitForRedirectToBank) {
      <div class="alert alert-info p-5">در حال اتصال به درگاه پرداخت...</div>
    }
  </mat-card-content>
</mat-card>
