<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">تحویل کارت به شهروند</h5>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <div class="box-info-dash">
    <div class="row">
      <div class="col-sm-6">
        <span> کارت : </span><strong>{{ info.cardTitle }}</strong>
      </div>
      <div class="col-sm-6">
        <span>شهروند: </span><strong>{{ info.citizen }}</strong>
      </div>
      <div class="col-sm-6">
        <span>شماره کارت: </span><strong>{{ info.cardNumber }}</strong>
      </div>
      <div class="col-sm-6">
        <span> تاریخ درخواست کارت : </span><strong>{{ info.requestDate | luxonFormat }}</strong>
      </div>
    </div>
  </div>

  <form [formGroup]="frm">
    <div class="row">
      <mat-form-field class="col-md-12">
        <mat-label>تاریخ تحویل کارت</mat-label>
        <input
          matInput
          [matDatepicker]="dpS"
          formControlName="deliveredOnDate"
          [max]="frm.get('deliveredOnDate')?.value"
        />
        <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
        <mat-datepicker #dpS></mat-datepicker>
        @if (frm.get('deliveredOnDate')?.hasError('required')) {
          <mat-error> تاریخ تحویل کارت را انتخاب کنید. </mat-error>
        }

        @if (frm.get('deliveredOnDate')?.hasError('matDatepickerParse')) {
          <mat-error> فرمت تاریخ صحیح نیست </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <mat-label>توضیحات تحویل کارت</mat-label>
        <input matInput formControlName="deliveredDescription" maxlength="200" />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>تایید تحویل کارت </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
