<div class="content-header">
  <span> جزئیات صدور کارت </span>
</div>

<mat-card class="custom-card">
  <mat-card-content>
    <form [formGroup]="searchForm">
      <div class="row my-4">
        <mat-form-field class="col-md-3">
          <mat-label>نام شهروند</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>کد ملی</mat-label>
          <input matInput formControlName="nationCode" />
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>شماره کارت</mat-label>
          <input matInput formControlName="cardNumber" />
        </mat-form-field>

        <div class="col d-flex align-items-center justify-content-end">
          <button mat-raised-button color="default" (click)="applyFilter()">
            <i class="fa fa-search mr-2"></i>
            <span>جستجو</span>
          </button>
        </div>
      </div>
    </form>

    <div class="d-flex align-items-center justify-content-end mb-3">
      <button
        mat-raised-button
        color="default"
        (click)="exporter.exportTable('xlsx', { fileName: 'excel' })"
      >
        <i class="fa fa-file-excel mr-2"></i>
        خروجی اکسل
      </button>
    </div>
    <div class="datatable-container mat-elevation-z8">
      @if (isLoadingResults) {
        <div class="datatable-loading-shade">
          @if (isLoadingResults) {
            <mat-spinner color="default"></mat-spinner>
          }
        </div>
      }
      @if (isLoadingResults == false && listCount == 0) {
        <div class="datatable-loading-shade">
          <strong>اطلاعاتی وجود ندارد!</strong>
        </div>
      }

      <div class="datatable-table-container">
        <table
          mat-table
          [dataSource]="data"
          class="datatable-table"
          #exporter="matTableExporter"
          matTableExporter
          [hiddenColumns]="[displayedColumns.length - 1]"
        >
          <ng-container matColumnDef="row">
            <th mat-header-cell *matHeaderCellDef width="40">#</th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="nationCode">
            <th mat-header-cell *matHeaderCellDef>کد ملی</th>
            <td mat-cell *matCellDef="let row">
              <a (click)="openCitizenProfile(row)">
                {{ row.nationCode }}
                <i class="fa fa-eye mr-2"></i>
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="citizen">
            <th mat-header-cell *matHeaderCellDef>نام</th>
            <td mat-cell *matCellDef="let row">
              {{ row.citizen }}
            </td>
          </ng-container>

          <ng-container matColumnDef="cardTitle">
            <th mat-header-cell *matHeaderCellDef>نوع کارت</th>
            <td mat-cell *matCellDef="let row">
              <a (click)="openCardProfile(row)">
                {{ row.cardTitle }}
                <i class="fa fa-eye mr-2"></i>
              </a>
            </td>
          </ng-container>
          <ng-container matColumnDef="cardNumber">
            <th mat-header-cell *matHeaderCellDef>شماره کارت</th>
            <td mat-cell *matCellDef="let row">
              {{ row.cardNumber }}
            </td>
          </ng-container>

          <ng-container matColumnDef="requestDate">
            <th mat-header-cell *matHeaderCellDef>تاریخ درخواست</th>
            <td mat-cell *matCellDef="let row">
              {{ row.requestDate | luxonFormat}}
            </td>
          </ng-container>
          <ng-container matColumnDef="deliverType">
            <th mat-header-cell *matHeaderCellDef>نوع تحویل</th>
            <td mat-cell *matCellDef="let row">
              {{ row.deliverType | enumString: 'cardDeliverType' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="requestStatuse">
            <th mat-header-cell *matHeaderCellDef>وضعیت کارت</th>
            <td mat-cell *matCellDef="let row">
              {{ row.requestStatuse | enumString: 'cardRequestStatus' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef width="40">عملیات</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openCardProfile(row)">
                  <i class="fa fa-podcast mr-2"></i>
                  مشاهده جزئیات کارت
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator
        [length]="listCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 50, 100, 250, 500, 1000, 2000]"
        showFirstLastButtons
        (page)="pageEvent($event)"
      ></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
