<div class="error-page">
  <!-- <div class="logo">سامانه شهروندی استان اصفهان</div> -->

  <div class="card">
    <div class="error">404</div>

    <h1>صفحه مورد نظر پیدا نشد</h1>

    <div class="divider"></div>

    <p>
      متأسفانه صفحه‌ای که به دنبال آن هستید وجود ندارد، حذف شده است یا آدرس آن به درستی وارد نشده
      است.
      <br />
      لطفاً از طریق صفحه اصلی سامانه، مجدداً مسیر مورد نظر را انتخاب نمایید.
    </p>

    <div class="btns">
      <a routerLink="/" class="btn primary"> بازگشت به صفحه اصلی </a>

      <a href="javascript:history.back()" class="btn secondary"> بازگشت به صفحه قبل </a>

      <a routerLink="/account/login" class="btn secondary"> ورود به سامانه </a>

      <a routerLink="/userregister/preregister?serviceId=0" class="btn secondary">
        ثبت نام در سامانه
      </a>
    </div>

    <div class="footer">© سامانه شهروندی استان اصفهان</div>
  </div>
</div>
