<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">ویرایش اطلاعات کاربری</h5>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <div class="d-flex align-items-center justify-content-center p-5" *ngIf="loading">
    <mat-spinner diameter="50" color="default"></mat-spinner>
  </div>
  <form [formGroup]="userForm" *ngIf="!loading">
    <div class="row">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>نام کاربری</mat-label>
        <input matInput formControlName="username" disabled readonly />
        <mat-error *ngIf="userForm.get('username').errors?.required">
          نام کاربری را وارد کنید.
        </mat-error>
        <mat-error *ngIf="userForm.get('username').errors?.pattern">
          فقط از حروف لاتین استفاده کنید.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>نام و نام خانوادگی</mat-label>
        <input matInput formControlName="displayName" autocomplete="doNotAutoComplete" />
        <mat-error *ngIf="userForm.get('displayName').errors?.required">
          نام و نام خانوادگی را وارد کنید.
        </mat-error>
        <mat-error *ngIf="userForm.get('displayName').errors?.pattern">
          فقط از حروف فارسی استفاده کنید.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>شماره موبایل</mat-label>
        <input matInput formControlName="mobile" maxlength="11" numbersOnly />
        <mat-error *ngIf="userForm.get('mobile').errors?.required">
          شماره موبایل را وارد کنید.
        </mat-error>
        <mat-error *ngIf="userForm.get('mobile').errors?.invalid">
          شماره موبایل صحیح نیست.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>آدرس ایمیل</mat-label>
        <input matInput formControlName="email" />

        <mat-error *ngIf="userForm.get('email').errors?.email">
          ایمیل وارد شده صحیح نیست!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>سازمان</mat-label>
        <mat-select
          formControlName="organization"
          (selectionChange)="getUnitsOfOrganization()"
          [compareWith]="compareFn"
        >
          <mat-option [value]="item" *ngFor="let item of organizationList">{{
            item.text
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('organization').errors?.required">
          سازمان را مشخص کنید.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>واحد</mat-label>
        <mat-select formControlName="organizationalUnit" [compareWith]="compareFn">
          <mat-option [value]="item" *ngFor="let item of unitList">{{ item.text }}</mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('organizationalUnit').errors?.required">
          واحد را مشخص کنید.
        </mat-error>
        <mat-spinner matSuffix diameter="20" [hidden]="!loadingUnit"></mat-spinner>
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>وضعیت کاربر</mat-label>
        <mat-select formControlName="userState" (selectionChange)="changeUserState()">
          <mat-option *ngFor="let item of userAccountState" [value]="item.key">{{
            item.text
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('userState').errors?.required">
          وضعیت کاربر را مشخص کنید.
        </mat-error>
      </mat-form-field>
    </div>
    <div
      class="row"
      *ngIf="userForm.get('userState').value == 0 || userForm.get('userState').value == 3"
    >
      <div class="col-sm-12 alert alert-info">
        در صورتی که می خواهید دلیل
        <strong *ngIf="userForm.get('userState').value == 1"> تعلیق </strong>
        <strong *ngIf="userForm.get('userState').value == 3"> غیرفعال کردن </strong> را به کاربر
        نشان دهید فیلد زیر را تکمیل کنید
      </div>
      <mat-form-field class="col-sm-12">
        <mat-label>توضیحات کاربر</mat-label>
        <textarea
          matInput
          formControlName="userStateDescriptionForUser"
          rows="3"
          maxlength="1000"
        ></textarea>
        <mat-error *ngIf="userForm.get('userStateDescriptionForUser').errors?.required">
          توضحیات را وارد کنید.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-sm-12">
        <mat-label>توضیحات محرمانه</mat-label>
        <textarea
          matInput
          formControlName="userStateDescriptionForAdmin"
          rows="3"
          maxlength="1000"
        ></textarea>
        <mat-error *ngIf="userForm.get('userStateDescriptionForAdmin').errors?.required">
          توضحیات را وارد کنید.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-3">
        <mat-label> تا تاریخ</mat-label>
        <input matInput [matDatepicker]="dpS" formControlName="deactivationDate" />
        <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
        <mat-datepicker #dpS></mat-datepicker>
        <mat-error *ngIf="userForm.get('deactivationDate').errors?.required">
          تاریخ غیرفعال را مشخص کنید.
        </mat-error>
        <mat-error *ngIf="userForm.get('deactivationDate').errors?.matDatepickerParse">
          فرمت تاریخ صحیح نیست
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <button mat-raised-button color="default" [disabled]="isSaving || loading" (click)="saveInfo()">
    <span>ذخیره </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
