<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
    <h5 cdkDragHandle class="title">تغییر کلمه عبور</h5>


    <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
    <form [formGroup]="changePasswordForm">


        <div class="row">

            <mat-form-field class="col-sm-6 col-md-4">
                <mat-label>نام و نام خانوادگی</mat-label>
                <input matInput formControlName="displayName" readonly disabled autocomplete="doNotAutoComplete">
                <mat-error *ngIf="changePasswordForm.get('displayName').errors?.required">
                    نام و نام خانوادگی را وارد کنید.
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('displayName').errors?.pattern">
                    فقط از حروف فارسی استفاده کنید.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-6 col-md-4">
                <mat-label>نام کاربری</mat-label>
                <input matInput formControlName="username" readonly disabled>
                <mat-error *ngIf="changePasswordForm.get('username').errors?.required">
                    نام کاربری را وارد کنید.
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('username').errors?.pattern">
                    فقط از حروف لاتین استفاده کنید.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-6 col-md-4">
                <mat-label>کلمه عبور</mat-label>
                <input matInput type="password" formControlName="password" autocomplete="new-password">
                <mat-error *ngIf="changePasswordForm.get('password').errors?.required">
                    کلمه عبور را وارد کنید.
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('password').errors?.weakPassword">
                    کلمه عبور باید حداقل 6 کاراکتر و شامل حروف لاتین بزرگ، کوچک و علائم خاص باشد.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-6 col-md-4">
                <mat-label>تکرار کلمه عبور</mat-label>
                <input matInput type="password" formControlName="confirmPassword">
                <mat-error *ngIf="changePasswordForm.get('confirmPassword').errors?.required">
                    تکرار کلمه عبور را وارد کنید.
                </mat-error>
                <mat-error *ngIf="changePasswordForm.get('confirmPassword').errors?.weakPassword">
                    کلمه عبور باید حداقل 6 کاراکتر و شامل حروف لاتین بزرگ، کوچک و علائم خاص باشد.
                </mat-error>
            </mat-form-field>
        </div>

        <div *ngIf="changePasswordForm.hasError('notSame') && changePasswordForm.get('confirmPassword').value">
            <span class="text-danger">
    تکرار کلمه عبور صحیح نیست!
  </span>
        </div>




    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button  mat-dialog-close>انصراف</button>
    <button mat-raised-button  color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>ذخیره </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
