<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">تغییر کلمه عبور</h5>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <div class="row">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>نام و نام خانوادگی</mat-label>
        <input
          matInput
          formControlName="displayName"
          readonly
          [disabled]="true"
          autocomplete="doNotAutoComplete"
        />
        @if (changePasswordForm.get('displayName')?.hasError('required')) {
          <mat-error> نام و نام خانوادگی را وارد کنید. </mat-error>
        }
        @if (changePasswordForm.get('displayName')?.hasError('pattern')) {
          <mat-error> فقط از حروف فارسی استفاده کنید. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>نام کاربری</mat-label>
        <input matInput formControlName="username" readonly [disabled]="true" />
        @if (changePasswordForm.get('username')?.hasError('required')) {
          <mat-error> نام کاربری را وارد کنید. </mat-error>
        }
        @if (changePasswordForm.get('username')?.hasError('pattern')) {
          <mat-error> فقط از حروف لاتین استفاده کنید. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>کلمه عبور</mat-label>
        <input matInput type="password" formControlName="password" autocomplete="new-password" />
        @if (changePasswordForm.get('password')?.hasError('required')) {
          <mat-error> کلمه عبور را وارد کنید. </mat-error>
        }
        @if (changePasswordForm.get('password')?.hasError('weakPassword')) {
          <mat-error>
            کلمه عبور باید حداقل 6 کاراکتر و شامل حروف لاتین بزرگ، کوچک و علائم خاص باشد.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>تکرار کلمه عبور</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        @if (changePasswordForm.get('confirmPassword')?.hasError('required')) {
          <mat-error> تکرار کلمه عبور را وارد کنید. </mat-error>
        }
        @if (changePasswordForm.get('confirmPassword')?.hasError('weakPassword')) {
          <mat-error>
            کلمه عبور باید حداقل 6 کاراکتر و شامل حروف لاتین بزرگ، کوچک و علائم خاص باشد.
          </mat-error>
        }
      </mat-form-field>
    </div>

    @if (
      changePasswordForm.hasError('notSame') && changePasswordForm.get('confirmPassword')?.value
    ) {
      <div>
        <span class="text-danger"> تکرار کلمه عبور صحیح نیست! </span>
      </div>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>ذخیره </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
