<div class="content-header">
  <span>تغییر کلمه عبور</span>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    <form [formGroup]="changePasswordForm" class="change-pass-form">
      <div class="row">
        <mat-form-field class="col-sm-12">
          <mat-label>نام کاربری</mat-label>
          <input matInput formControlName="username" readonly disabled />
          @if (changePasswordForm.get('username').errors?.required) {
            <mat-error> نام کاربری را وارد کنید. </mat-error>
          }
          @if (changePasswordForm.get('username').errors?.pattern) {
            <mat-error> فقط از حروف لاتین استفاده کنید. </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="col-sm-12">
          <mat-label>کلمه عبور قبلی</mat-label>
          <input
            matInput
            type="password"
            formControlName="oldPassword"
            autocomplete="old-password"
          />
          @if (changePasswordForm.get('oldPassword').errors?.required) {
            <mat-error> کلمه عبور را وارد کنید. </mat-error>
          }
          @if (changePasswordForm.get('oldPassword').errors?.weakPassword) {
            <mat-error>
              کلمه عبور باید حداقل 6 کاراکتر و شامل حروف لاتین بزرگ، کوچک و علائم خاص باشد.
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="col-sm-12">
          <mat-label>کلمه عبور جدید</mat-label>
          <input matInput type="password" formControlName="password" autocomplete="new-password" />
          @if (changePasswordForm.get('password').errors?.required) {
            <mat-error> کلمه عبور را وارد کنید. </mat-error>
          }
          @if (changePasswordForm.get('password').errors?.weakPassword) {
            <mat-error>
              کلمه عبور باید حداقل 6 کاراکتر و شامل حروف لاتین بزرگ، کوچک و علائم خاص باشد.
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="col-sm-12">
          <mat-label>تکرار کلمه عبور</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
          @if (changePasswordForm.get('confirmPassword').errors?.required) {
            <mat-error> تکرار کلمه عبور را وارد کنید. </mat-error>
          }
          @if (changePasswordForm.get('confirmPassword').errors?.weakPassword) {
            <mat-error>
              کلمه عبور باید حداقل 6 کاراکتر و شامل حروف لاتین بزرگ، کوچک و علائم خاص باشد.
            </mat-error>
          }
        </mat-form-field>
      </div>

      @if (
        changePasswordForm.hasError('notSame') && changePasswordForm.get('confirmPassword').value
      ) {
        <div>
          <span class="text-danger"> تکرار کلمه عبور صحیح نیست! </span>
        </div>
      }

      <div class="d-flex align-items-center justify-content-end">
        <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
          <span>ذخیره </span>
          <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
        </button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer> </mat-card-footer>
</mat-card>
