<div class="content-header">
  @if (!isUpdate) {
    <span>ثبت صفحه جدید</span>
  }
  @if (isUpdate) {
    <span>ویرایش صفحه</span>
  }
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="d-flex my-5 p-5 align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    }

    @if (!loading) {
      <form [formGroup]="form">
        <div class="row">
          <mat-form-field class="col-sm-12">
            <mat-label>عنوان صفحه</mat-label>
            <input matInput formControlName="title" type="text" maxlength="500" />
            @if (form.get('title')?.hasError('required')) {
              <mat-error>عنوان صفحه را وارد کنید.</mat-error>
            }
            @if (form.get('title').errors?.maxlength) {
              <mat-error>حداکثر 500 کاراکتر</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label>توضیحات</mat-label>
            <textarea matInput formControlName="description" rows="3" maxlength="2000"></textarea>
            @if (form.get('description')?.hasError('required')) {
              <mat-error>عنوان صفحه را وارد کنید.</mat-error>
            }
            @if (form.get('description').errors?.maxlength) {
              <mat-error>حداکثر 2000 کاراکتر</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label>توضیحات سئو</mat-label>
            <textarea
              matInput
              formControlName="seoDescription"
              rows="3"
              maxlength="2000"
            ></textarea>
            @if (form.get('seoDescription')?.hasError('required')) {
              <mat-error>عنوان صفحه را وارد کنید.</mat-error>
            }
            @if (form.get('seoDescription').errors?.maxlength) {
              <mat-error>حداکثر 2000 کاراکتر</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-chip-list #chipList aria-label="seoTags" formControlName="seoTags">
              @for (item of seoTags; track item) {
                <mat-chip [selectable]="true" [removable]="true" (removed)="remove(item)">
                  {{ item }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              }
              <input
                placeholder="تگ های سئو"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
          </mat-form-field>
          <p class="col-sm-12 text-info">
            شما می توانید آدرسی دلخواه را برای این صفحه وارد نمائید.
          </p>
          <div dir="ltr" class="col-sm-12">
            <mat-form-field class="col-sm-12 text-right" dir="ltr">
              <mat-label>آدرس صفحه</mat-label>
              <input matInput formControlName="slug" maxlength="30" dir="ltr" />
              <strong matPrefix class="pr-3">{{ siteName }}/home/page/</strong>
              @if (form.get('slug')?.hasError('required')) {
                <mat-error>آدرس صفحه را وارد کنید.</mat-error>
              }
              @if (form.get('slug')?.hasError('pattern')) {
                <mat-error>فقط کاراکتر های لاتین بدون فاصله.</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <html-editor formControlName="body"></html-editor>
      </form>
    }
  </mat-card-content>
  <mat-card-footer>
    <div class="d-flex align-items-center justify-content-end p-3">
      @if (!loading) {
        <button mat-raised-button color="default" (click)="save()" [disabled]="isSaving">
          @if (isSaving) {
            <span>منتظر بمانید...</span>
          }
          @if (!isSaving) {
            <span>ذخیره</span>
          }
          <mat-spinner [hidden]="!isSaving" diameter="20" color="default"></mat-spinner>
        </button>
      }
    </div>
  </mat-card-footer>
</mat-card>
