<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
    <h5 cdkDragHandle class="title">ثبت دسترسی جدید</h5>


    <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
    <form [formGroup]="userForm">
       

       
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info">
            کد ملی کاربری که در سامانه شهروندی ثبت نام کرده است را وارد نمایید
          </div>
        </div>
        <mat-form-field class="col-md-12">
          <mat-label>کد ملی</mat-label>
          <input matInput numbersOnly formControlName="nationCode" />
          <mat-error *ngIf="userForm.get('nationCode').errors?.required">
            کد ملی را وارد کنید.
          </mat-error>
        </mat-form-field>

       
      </div>
       


    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button  mat-dialog-close>انصراف</button>
    <button mat-raised-button  color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>ایجاد دسترسی </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
