/*

  green  => #03c270;
  pink   => #d00060;
  blue   => #0023d0;
    blue2 =>#039ac2;
*/

$default-color: #039ac2;

.mat-datepicker-toggle-default-icon {
  font-size: 20px;
}

/*header of wizard*/

.mat-stepper-horizontal {
  padding-top: 2px;
}

.mat-horizontal-stepper-header-container {
  background: #ebebeb;
  border: 1px #a19f9f solid;
  position: relative;
  border-radius: 5px;
  padding: 2px;
  overflow: hidden;
  margin: 3px 3px 30px 3px;
}

.mat-stepper-horizontal-line {
  border-color: transparent;
  flex: unset !important;
}

.mat-step-header[aria-selected="true"] {
  background-color: #16518d;
  overflow: visible;
}

.mat-step-header .mat-step-icon-selected {
  background-color: #ffffff;
  color: #16518d;
  font-weight: bold;
}

.mat-step-header[aria-selected="true"] .mat-step-label.mat-step-label-active {
  color: #fff;
}

.mat-step-header:after {
  content: " ";
  position: absolute;
  left: 10px;
  z-index: 0;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  border: 2px #ffffff solid;
  border-right: none;
  border-top: none;
}

.mat-step-header[aria-selected="true"]:after {
  content: " ";
  position: absolute;
  left: -36px;
  z-index: 0;
  border: 36px #ebebeb solid;
  border-left-color: transparent;
  border-right-color: transparent;
  transform: none;
}

.mat-step-header[aria-selected="true"]:before {
  content: " ";
  border: 36px #16518d solid;
  position: absolute;
  border-right-color: transparent;
  right: -36px;
}

/* end of header of wizard*/
.mat-tooltip {
  background: #2b2e35;
  color: #fff !important;
  padding: 0px 5px !important;
  border: 1px #fff solid;
  margin: 2px !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

.swal2-popup {
  font-size: 12px !important;
}
.swal2-actions {
  flex-direction: row-reverse;
}
/*
  colors
*/
.mat-raised-button.mat-green {
  background-color: #03c270;
  color: #fff;
}

.mat-raised-button.mat-default,
.mat-fab.mat-default,
.mat-mini-fab.mat-default,
.mat-icon-button.mat-default {
  background-color: $default-color;
  color: #fff;
}

.mat-stroked-button.mat-default {
  color: $default-color;
  border-color: $default-color;
}

.mat-progress-spinner.mat-default circle,
.mat-spinner.mat-default circle {
  stroke: $default-color;
}

.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
  background: $default-color;
}

/**radio button***/

.mat-radio-button .mat-radio-inner-circle {
  background-color: $default-color !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $default-color !important;
}

.mat-checkbox.mat-default {
  .mat-checkbox-frame {
    border-color: $default-color;
  }

  .mat-checkbox-checkmark {
    fill: $default-color;
  }

  .mat-checkbox-checkmark-path {
    stroke: $default-color !important;
  }
}

.mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
  border-color: #b0b0b0;
}

.mat-checkbox-label {
  white-space: initial;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $default-color;
}

/*چک باکس سفید*/
.mat-checkbox.mat-white {
  .mat-checkbox-frame {
    border-color: #fff;
  }
}

.mat-form-field.mat-white {
  .mat-input-element {
    color: #fff;
  }

  .mat-form-field-label {
    color: rgba(255, 255, 255, 0.54);
  }

  .mat-form-field-underline {
    background-color: rgba(255, 255, 255, 0.42);
  }

  .mat-hint {
    color: rgba(255, 255, 255, 0.54);
  }

  .mat-select-value,
  .mat-select-arrow {
    color: #fff;
  }
}

/*اسلایدر سفید*/

.mat-slider.white {
  .mat-slider-track-background {
    background-color: rgb(255, 255, 255);
  }

  .mat-slider-thumb {
    background-color: rgba(255, 255, 255, 0.87);
  }

  .mat-slider-thumb,
  .mat-slider-track-fill {
    background-color: #00ffd0;
  }

  .mat-slider-thumb-label {
    background-color: #fff;
  }

  .mat-slider-thumb-label-text {
    color: #000;
  }
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: green !important;
}

/**طلایی **/

.mat-button.mat-gold,
.mat-icon-button.mat-gold,
.mat-stroked-button.mat-gold {
  color: #ffa500;
}

.mat-stroked-button.mat-white {
  color: #fff;
  border-color: #fff;
}

/*
  end of colors
*/

/*.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
    width: 100%;
    max-width: 1110px;
}*/

.auto-complete-two-level {
  min-height: 68px;
  line-height: 1.5 !important;
}

.mat-button,
.mat-raised-button,
.mat-stroked-button {
  display: flex;

  mat-spinner {
    float: right;
    margin: 6px 0px 0px 15px;
  }
}

/*****time picker ****/

.timepicker-backdrop-overlay,
.timepicker-overlay {
  z-index: 2000 !important;
}

.timepicker {
  direction: ltr;
}

/******************************/

.panel {
  border: 2px #c3c3c3 solid;
  padding: 36px 15px 15px;
  position: relative;
  border-radius: 10px;
  margin-top: 25px;

  .panel-title {
    font-size: 18px;
    position: absolute;
    top: -12px;
    background: #fff;
    padding: 0 15px;
  }
}

/*----------------------------------------------------------------------------------------------*/

.print-table {
  width: 100%;
  border: 1px #000 solid;
  border-spacing: 0;
}

.print-table td {
  border: 1px #000 solid;
  padding: 5px 5px;
}

@media (max-width: 480px) {
  .mat-step-label {
    display: none !important;
  }
}

/*-----------------------------*/

app-side-nav-menu {
  background: #222d32;
}

.custom-alert {
  padding: 8px 15px;
  border: 1px #039ac2 solid;
  margin: 0 0 29px;
  border-radius: 5px;
  background: #aaedff;
  font-weight: bold;
}

.preview-img {
  max-width: 100px;
  max-height: 100px;
}

/**********************************/

.field-set {
  border: 2px solid #c0c0c0;
  border-radius: 5px;
  position: relative;
  padding: 20px;
  margin: 20px 0 !important;

  .field-set-title {
    background: #fff;
    position: absolute;
    top: -15px;
    right: 15px;
    padding: 1px 10px;
    border: 2px #c0c0c0 solid;
    border-radius: 11px;
  }
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px !important;
  line-height: 1.42857143;
  color: #333 !important;
  word-break: break-all !important;
  word-wrap: break-word;
  background-color: #f5f5f5 !important;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  direction: ltr;
  text-align: left;
}

.box-info-dash {
  margin: 10px 5px;
  padding: 20px;
  border: 1px dashed #2b2e35;
  border-radius: 10px;
}

.line-height-2 {
  line-height: 2;
}
.line-height-3 {
  line-height: 3;
}
.thumb-128 {
  max-width: 128px;
  max-height: 128px;
}
.thumb-64 {
  max-width: 64px;
  max-height: 64px;
}
.thumb-32 {
  max-width: 32px;
  max-height: 32px;
}

/*+++++++++++++++++++++++theme++++++++++++++++++++++++++++*/
body.sunset {
  .mat-raised-button.mat-default,
  .mat-fab.mat-default,
  .mat-mini-fab.mat-default,
  .mat-icon-button.mat-default {
    background-color: var(--sunset);
    color: #fff;
  }

  .mat-stroked-button.mat-default {
    color: var(--sunset);
    border-color: var(--sunset);
  }

  .mat-progress-spinner.mat-default circle,
  .mat-spinner.mat-default circle {
    stroke: var(--sunset);
  }

  .mat-accent .mat-pseudo-checkbox-checked,
  .mat-accent .mat-pseudo-checkbox-indeterminate,
  .mat-pseudo-checkbox-checked,
  .mat-pseudo-checkbox-indeterminate {
    background: var(--sunset);
  }
  /**radio button***/
  .mat-radio-button .mat-radio-inner-circle {
    background-color: var(--sunset) !important;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: var(--sunset) !important;
  }

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--sunset) !important;
  }

  .mat-checkbox.mat-default {
    .mat-checkbox-frame {
      border-color: var(--sunset);
    }

    .mat-checkbox-checkmark {
      fill: var(--sunset);
    }

    .mat-checkbox-checkmark-path {
      stroke: var(--sunset) !important;
    }
  }
}

body.purple-love {
  .mat-raised-button.mat-default,
  .mat-fab.mat-default,
  .mat-mini-fab.mat-default,
  .mat-icon-button.mat-default {
    background-color: var(--purple-love);
    color: #fff;
  }

  .mat-stroked-button.mat-default {
    color: var(--purple-love);
    border-color: var(--purple-love);
  }

  .mat-progress-spinner.mat-default circle,
  .mat-spinner.mat-default circle {
    stroke: var(--purple-love);
  }

  .mat-accent .mat-pseudo-checkbox-checked,
  .mat-accent .mat-pseudo-checkbox-indeterminate,
  .mat-pseudo-checkbox-checked,
  .mat-pseudo-checkbox-indeterminate {
    background: var(--purple-love);
  }
  /**radio button***/
  .mat-radio-button .mat-radio-inner-circle {
    background-color: var(--purple-love) !important;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: var(--purple-love) !important;
  }

  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--purple-love) !important;
  }

  .mat-checkbox.mat-default {
    .mat-checkbox-frame {
      border-color: var(--purple-love);
    }

    .mat-checkbox-checkmark {
      fill: var(--purple-love);
    }

    .mat-checkbox-checkmark-path {
      stroke: var(--purple-love) !important;
    }
  }
}

.ck.ck-editor {
  width: 95% !important;
}

.font-05 {
  font-size: 0.5rem;
}
.font-06 {
  font-size: 0.6rem;
}
.font-07 {
  font-size: 0.7rem;
}
.font-08 {
  font-size: 0.8rem;
}
.font-09 {
  font-size: 0.9rem;
}

.font-1 {
  font-size: 1.1rem;
}
.font-2 {
  font-size: 1.2rem;
}
.font-3 {
  font-size: 1.3rem;
}
.font-4 {
  font-size: 1.4rem;
}
.font-5 {
  font-size: 1.5rem;
}
.font-6 {
  font-size: 1.6rem;
}
.font-7 {
  font-size: 1.7rem;
}


.text-overflow-ellipsis {
  text-overflow: ellipsis;
}
.white-space-nowrap {
  white-space: nowrap;
}
