<mat-card class="m-3">
  <mat-card-header class="card-header mx-n3 mt-n3">ویرایش ایمیل</mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="p-5 d-flex align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    }

    @if (!formIsShowing) {
      <div>
        @if (!formIsShowing) {
          <button mat-raised-button color="default" (click)="showForm()">
            اضافه کردن ایمیل
            <i class="fa fa-plus"></i>
          </button>
        }
      </div>
    }
    @if (formIsShowing && !loading) {
      <form [formGroup]="cardForm" class="mx-4 mt-4">
        <div>
          <span class="px-3">{{ cardForm.get('email').value }}</span>
          @if (!isConfirm) {
            <span class="text-danger mx-2">(تایید نشده)</span>
          }
          @if (isConfirm) {
            <span class="text-success mx-2">(تایید شدده)</span>
          }
          @if (!editMode) {
            <button mat-raised-button color="default" (click)="toggleEditMode()">ویرایش</button>
          }
        </div>
        @if (editMode) {
          <div>
            <mat-form-field  class="col-sm-6 col-md-4">
              <mat-label> ایمیل </mat-label>
              <input matInput formControlName="email" class="text-left" minlength="10" />
              @if (cardForm.get('email')?.hasError('required')) {
                <mat-error> ایمیل خود را وارد کنید. </mat-error>
              }
              @if (cardForm.get('email')?.hasError('invalid')) {
                <mat-error> ایمیل وارد شده صحیح نیست </mat-error>
              }
            </mat-form-field>
            <span [hidden]="!codeSent">
              ارسال مجدد کد
              <app-timer #timer></app-timer>
            </span>
            @if (!loading) {
              <button mat-raised-button color="default" [disabled]="codeSent" (click)="sendCode()">
                @if (!codeSent) {
                  <span>دریافت کد تغییر ایمیل </span>
                }
              </button>
            }
          </div>
        }
      </form>
    }
    @if (codeSent) {
      <form [formGroup]="confirmForm" class="mx-4">
        <mat-form-field  class="col-sm-6 col-md-4">
          <mat-label>کد تایید دریافتی </mat-label>
          <input
            matInput
            formControlName="smsActiveCode"
            class="text-left"
            minlength="10"
            numbersOnly
          />
          @if (confirmForm.get('smsActiveCode')?.hasError('required')) {
            <mat-error> کد تایید دریافتی را وارد کنید. </mat-error>
          }
          @if (confirmForm.get('smsActiveCode')?.hasError('invalid')) {
            <mat-error> کد تایید وارد شده صحیح نیست </mat-error>
          }
        </mat-form-field>
        @if (!loading) {
          <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveForm()">
            <span> تایید </span>
            <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
          </button>
        }
      </form>
    }
  </mat-card-content>
</mat-card>
