<section id="tophead" class="container-fluid p-2 grad-bg">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-9 d-lg-block d-none">
        <a routerLink="/home" class="d-flex align-items-center">
          <img
            [src]="baseUrl + '/uploads/Resources/Images/Portal/Logo/Logo.png'"
            class="img-fluid"
          />
        </a>
      </div>
      <!--<div class="col-md-2 text-left">
        <img src="/assets/images/flag.png" class="flag" />
      </div>-->

      <div class="col-md-3 col-6 mr-auto">
        <div class="d-flex flex-column">
          <span class="text-white">
            {{ datetime | jalali: 'امروز: dddd Do MMMM ماه YYYY' }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<nav class="navbar navbar-expand-lg navbar-light bg-light main-nav header-bottomarea">
  <a class="navbar-brand" href="/">
    <!-- <img src="assets/images/home/logo.png" class="brand-logo" /> -->
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <main-tree-menu [menuItems]="menuItems"></main-tree-menu>
    </ul>

    <!--
      <form class="form-inline my-2 my-lg-0">
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>
  -->
    <div id="DivUserLogin">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isAuth">
          <a class="nav-link" (click)="dashboard()" [matTooltip]="user.displayName">
            {{ user.userName }}
          </a>
        </li>
        <li class="nav-item" *ngIf="isAuth">
          <a class="nav-link" (click)="logout()"> خروج </a>
        </li>
        <li class="nav-item dropdown" *ngIf="!isAuth">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >ثبت نام</a
          >

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item font-08 w-100 overflow"
              (click)="registerWithService(type)"
              *ngFor="let type of registerTypes"
              >{{ type.text }}</a
            >
          </div>
        </li>
        <li class="nav-item" *ngIf="!isAuth">
          <a class="nav-link" routerLink="/account/login">ورود به حساب کاربری</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
