.img-fluid {
  max-height: 70px;
}
.main-nav {
  background: #ffffff;
  background-color: #ffffff !important;
  -webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.15);
  z-index: 3;
  position: sticky;
  top: 0;
}
.header-toparea {
  padding: 5px 0;
}
.navbar-brand {
  padding: 0;
}

.brand-logo {
  max-height: 50px;
  max-width: 180px;
  position: relative !important;
}

#DivUserLogin {
  display: flex;
}

.nav-link {
  font-weight: bold;
  color: #444444 !important;

  &:hover,
  &.active {
    color: #3f51b5 !important;
  }
}
.nav-item.active .nav-link {
  color: #3f51b5 !important;
}

::ng-deep {
  .dropdown-menu-right {
    right: auto !important;
    left: 0 !important;
  }
}
