@if (loading) {
  <div class="d-flex my-5 p-5 align-items-center justify-content-center">
    <mat-spinner diameter="50" color="default"></mat-spinner>
  </div>
}
@if (!loading) {
  <form [formGroup]="mainForm">
    <div class="row my-4">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>نام و نام خانوادگی نماینده</mat-label>
        <input matInput formControlName="companyRepresentative" maxlength="100" />
        @if (mainForm.get('companyRepresentative').errors?.required) {
          <mat-error>نام و نام خانوادگی نماینده را وارد کنید</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>کد کارگاه بیمه </mat-label>
        <input matInput formControlName="insuranceNumber" numbersOnly maxlength="20" />
        @if (mainForm.get('insuranceNumber').errors?.required) {
          <mat-error>کد کارگاه بیمه را وارد کنید</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>تعداد پرسنل </mat-label>
        <input matInput formControlName="numberOfEmployees" numbersOnly maxlength="5" />
        @if (mainForm.get('numberOfEmployees').errors?.required) {
          <mat-error>تعداد پرسنل را وارد کنید</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>آدرس صفحه اختصاصی</mat-label>
        <input matInput formControlName="slagUrl" maxlength="40" />
        @if (mainForm.get('slagUrl').errors?.required) {
          <mat-error>آدرس صفحه اختصاصی را وارد کنید</mat-error>
        }
        @if (mainForm.get('slagUrl').errors?.pattern) {
          <mat-error>فقط کاراکتر های انگلیسی بدون فاصله</mat-error>
        }
      </mat-form-field>
      <!--<mat-form-field class="col-sm-12">
                <mat-label>محتوای صفحه اختصاصی</mat-label>
                <input matInput formControlName="content" maxlength="500">
                <mat-error *ngIf="mainForm.get('content').errors?.required">محتوای صفحه اختصاصی را وارد کنید</mat-error>
              </mat-form-field>-->
      <div class="html-editor"></div>
      <div class="col d-flex align-items-center justify-content-end">
        <button mat-raised-button color="default" (click)="save()" [disabled]="isSaving">
          <span>ذخیره</span>
          <mat-spinner color="default" diameter="20" [hidden]="!isSaving"></mat-spinner>
        </button>
      </div>
    </div>
  </form>
}
