<div class="d-flex my-5 p-5 align-items-center justify-content-center" *ngIf="loading">
  <mat-spinner diameter="50" color="default"></mat-spinner>
</div>
<form [formGroup]="mainForm" *ngIf="!loading">
  <div class="row my-4">
    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>نام و نام خانوادگی نماینده</mat-label>
      <input matInput formControlName="companyRepresentative" maxlength="100" />
      <mat-error *ngIf="mainForm.get('companyRepresentative').errors?.required"
        >نام و نام خانوادگی نماینده را وارد کنید</mat-error
      >
    </mat-form-field>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>کد کارگاه بیمه </mat-label>
      <input matInput formControlName="insuranceNumber" numbersOnly maxlength="20" />
      <mat-error *ngIf="mainForm.get('insuranceNumber').errors?.required"
        >کد کارگاه بیمه را وارد کنید</mat-error
      >
    </mat-form-field>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>تعداد پرسنل </mat-label>
      <input matInput formControlName="numberOfEmployees" numbersOnly maxlength="5" />
      <mat-error *ngIf="mainForm.get('numberOfEmployees').errors?.required"
        >تعداد پرسنل را وارد کنید</mat-error
      >
    </mat-form-field>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>آدرس صفحه اختصاصی</mat-label>
      <input matInput formControlName="slagUrl" maxlength="40" />
      <mat-error *ngIf="mainForm.get('slagUrl').errors?.required"
        >آدرس صفحه اختصاصی را وارد کنید</mat-error
      >
      <mat-error *ngIf="mainForm.get('slagUrl').errors?.pattern"
        >فقط کاراکتر های انگلیسی بدون فاصله</mat-error
      >
    </mat-form-field>

    <!--<mat-form-field class="col-sm-12">
    <mat-label>محتوای صفحه اختصاصی</mat-label>
    <input matInput formControlName="content" maxlength="500">
    <mat-error *ngIf="mainForm.get('content').errors?.required">محتوای صفحه اختصاصی را وارد کنید</mat-error>
  </mat-form-field>-->
    <div class="html-editor"></div>

    <div class="col d-flex align-items-center justify-content-end">
      <button mat-raised-button color="default" (click)="save()" [disabled]="isSaving">
        <span>ذخیره</span>
        <mat-spinner color="default" diameter="20" [hidden]="!isSaving"></mat-spinner>
      </button>
    </div>
  </div>
</form>
