.line-height-3 {
  line-height: 3;
}

.img-logo {
  background: #bbbbbb;
  width: 128px;
  display: block;
  height: 128px;
  border: 7px #a0a0a7 solid;
  border-radius: 10px;
  overflow: hidden;
}

.img-fluid,
.img-thumbnail {
  height: 140px;
  width: 100%;

  display: block;
}

#map {
  height: 500px;
  font-family: 'iranSans', 'Arial';
}
