.line-height-3 {
  line-height: 3;
}

.img-logo {
  background: #bbbbbb;
  width: 128px;
  display: block;
  height: 128px;
  border: 7px #a0a0a7 solid;
  border-radius: 10px;
  overflow: hidden;
}

agm-map {
  height: 300px;
  width: 100%;
}

::ng-deep .agm-info-window-content {
  font-family: 'iranSans', 'Arial';
  padding: 5px 25px;
}

.img-fluid,
.img-thumbnail {
  height: 140px;
  width: 100%;

  display: block;
}
