<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">ویرایش وضعیت ثبت احوال</h5>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  @if (!loading) {
    <div class="box-info-dash">
      <div class="row">
        <div class="col-sm-6">
          <span> جنسیت: </span>
          <strong>
            @if (!info.gender) {
              <span> خانم </span>
            }
            @if (info.gender) {
              <span> آقا </span>
            }
          </strong>
        </div>
        <div class="col-sm-6">
          <span> کد ملی: </span><strong>{{ info.nationCode }}</strong>
        </div>
        <div class="col-sm-6">
          <span> نام : </span><strong>{{ info.firstName }}</strong>
        </div>
        <div class="col-sm-6">
          <span> نام خانوادگی: </span><strong>{{ info.lastName }}</strong>
        </div>
        <div class="col-sm-6">
          <span> تاریخ تولد: </span><strong> {{ info.birthDate | luxonFormat }}</strong>
        </div>
        <div class="col-sm-6">
          <span>وضعیت ثبت احوال: </span
          ><strong>{{ info.sabtStatus | enumString: 'sabtStatus' }} </strong>
        </div>
      </div>
    </div>
  }

  @if (loading) {
    <div class="d-flex align-items-center justify-content-center p-5">
      <mat-spinner diameter="50" color="default"></mat-spinner>
    </div>
  }
  @if (!loading) {
    <form [formGroup]="userForm">
      <div class="row">
        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label> وضعیت جدید </mat-label>
          <mat-select formControlName="sabtStatus">
            <mat-option [value]="">انتخاب وضعیت ثبت احوال </mat-option>
            <mat-option [value]="0">عدم تایید</mat-option>
            <mat-option [value]="1"> تایید وضعیت توسط اپراتور</mat-option>
            <mat-option [value]="4">استعلام نشده </mat-option>
          </mat-select>
          @if (userForm.get('sabtStatus')?.hasError('required')) {
            <mat-error> وضعیت را مشخص کنید. </mat-error>
          }
        </mat-form-field>
      </div>
    </form>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <button mat-raised-button color="default" [disabled]="isSaving || loading" (click)="saveInfo()">
    <span>ثبت وضعیت جدید </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
