<div class="container">
  <div class="row preregister m-auto">
    <div
      class="col-12 col-mg-11 col-lg-10 d-flex mx-auto my-3 bg-white h-100 p-0"
    >
      <div class="row">
        <div class="right col-12 col-md-6 col-lg-6 flex-grow-1 p-5">
          <h2 class="text-white font-4">ثبت نام شهروند</h2>
          <h4 class="text-white text-justify">
            در صورتیکه برای بار اول وارد سامانه می شوید با تکمیل این فرم نسبت به
            تکمیل اطلاعات و دریافت نام کاربری و رمز عبور اقدام کنید.
          </h4>
          <h4 class="text-white text-justify">
            چنانچه پیش از این در سامانه ثبت نام و نام کاربری و رمز عبور را
            دریافت کرده اید، با انتخاب گزینه ورود ، وارد سامانه شوید.

            <div class="justify-content-end d-flex border-bottom">
              <button
                mat-button
                routerLink="/account/login"
                [queryParams]="{ serviceId: serviceId }"
                color="accent"
              >
                ورود شهروندان
              </button>
            </div>
          </h4>
          <h4 class="text-white text-justify">
            در صورت فراموش کردن رمز عبور با انتخاب گزینه « فراموشی رمز عبور»
            برای بازیابی آن اقدام کنید.
          </h4>
          <div class="justify-content-end d-flex border-bottom mb-3 pb-1">
            <button
              mat-button
              routerLink="/account/forgot-password"
              color="accent"
            >
              فراموشی رمز عبور
            </button>
          </div>
          <h4 class="text-white text-justify">
            چناچه به هر دلیلی نتوانستید در سامانه ثبت نام یا وارد شوید توضیحات و
            مشکل خود را  با کارشناسان سامانه در ارتباط بگذارید
          </h4>
          <div class="justify-content-end d-flex">
            <button mat-button routerLink="/home/page/تماس_با_کارشناسان" color="accent">
              تماس با کارشناسان 
            </button>
          </div>
        </div>
        <form #ngForm="ngForm"
              (ngSubmit)="submitForm()"
              [formGroup]="form"
              class="col-12 col-md-6 col-lg-6 flex-grow-1 p-5 bg-white">
          <h4 class="text-primary">
            لطفا قبل از ثبت نام نکات مربوط به ثبت نام را مطالعه کنید.
          </h4>
          <hr />

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>ملیت</mat-label>
            <mat-select formControlName="nationality">
              <mat-option *ngFor="let item of nationalityList"
                          [value]="item.key">
                {{ item.text }}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger"
                      *ngIf="form.controls['nationality'].errors && ngForm.submitted">
              <span *ngIf="form.controls['nationality'].errors['required']">
                لطفا ملیت خود را انتخاب کنید
              </span>
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="w-100 pb-0 mb-1" appearance="outline">
            <mat-label *ngIf="isIranian()">کدملی</mat-label>
            <mat-label *ngIf="!isIranian()">شماره گذرنامه</mat-label>
            <input formControlName="nationCode" numbersOnly matInput minlength="10" />
            <mat-hint class="text-danger"
                      *ngIf="form.controls['nationCode'].errors && ngForm.submitted">
              <span *ngIf="form.controls['nationCode'].errors['required']">
                {{
                  isIranian()
                    ? "کد ملی خود را وارد کنید"
                    : "شماره گذرنامه خود را وارد کنید"
                }}
              </span>
              <span *ngIf="form.controls['nationCode'].errors['pattern']">
                {{
                  isIranian()
                    ? "کد ملی باید حداقل 10 کارکتر باشد"
                    : "شماره گذرنامه باید حداقل 10 کارکتر باشد"
                }}
              </span>
            </mat-hint>
            <mat-error *ngIf="form.get('nationCode').errors?.invalid">
              کد ملی وارد شده صحیح نیست
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>شماره موبایل</mat-label>
            <input formControlName="mobileNumber"
                   matInput
                   placeholder="شماره موبایل خود را وارد کنید..." />
            <mat-hint class="text-danger"
                      *ngIf="form.controls['mobileNumber'].errors && ngForm.submitted">
              <span *ngIf="form.controls['mobileNumber'].errors['required']">
                لطفا شماره موبایل خود را وارد کنید
              </span>

              <span *ngIf="form.controls['mobileNumber'].errors['pattern']">
                شماره موبایل صحیح نیست
              </span>
            </mat-hint>
          </mat-form-field>

          <div class="my-3">
            <mat-checkbox color="primary"
                          class="mt-4"
                          formControlName="isAgree">
              آیا
              <a target="_blank" href="/home/page/قوانین_سایت" class="text-primary"> قوانین سایت </a>
              را مطالعه کرده اید؟
            </mat-checkbox>

            <div>
              <mat-hint class="text-danger"
                        *ngIf="form.controls['isAgree'].errors && ngForm.submitted">
                <span *ngIf="form.controls['isAgree'].errors['required']">
                  انتخاب این گزینه ضروری است
                </span>
              </mat-hint>
            </div>
          </div>

          <div class="bot-detect-container">
            <input class="form-control" placeholder="کد امنیتی تصویر را در این قسمت وارد نمائید" id="mainCaptchaUserInput" name="mainCaptchaUserInput"
                   formControlName="userEnteredCaptchaCode" type="text">

            <botdetect-captcha captchaStyleName="mainCaptcha"></botdetect-captcha>

          </div>

          <div class="text-right mt-2">
            <button mat-raised-button color="primary" [disabled]="isSaving">
              ثبت نام
              <mat-spinner diameter="25" [hidden]="!isSaving"></mat-spinner>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
