<div class="content-header">
  <span> گروههای شهروندی </span>
</div>

<mat-card class="custom-card">
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <div class="d-flex align-items-center justify-content-end">
      <button mat-raised-button color="default" routerLink="/admin/add-update-group/0">
        <i class="fa fa-plus mr-2"></i>
        <span>اضافه کردن گروه جدید</span>
      </button>
    </div>

    <form [formGroup]="searchForm">
      <div class="row my-4">
        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>جستجو</mat-label>
          <input matInput formControlName="groupname" maxlength="100" />
        </mat-form-field>

        <div class="col d-flex align-items-center">
          <button mat-raised-button color="default" (click)="applyFilter()">
            <i class="fa fa-search mr-2"></i>
            <span>جستجو</span>
          </button>
        </div>
      </div>
    </form>
    <div class="d-flex align-items-center justify-content-end mb-3">
      <button
        mat-raised-button
        color="default"
        (click)="exporter.exportTable('xlsx', { fileName: 'excel' })"
      >
        <i class="fa fa-file-excel mr-2"></i>
        خروجی اکسل
      </button>
      <button
        mat-icon-button
        color="default"
        (click)="getList()"
        matTooltip="بروز رسانی"
        class="ml-2"
      >
        <i class="fa fa-sync"></i>
      </button>
    </div>

    <div class="datatable-container mat-elevation-z8">
      @if (isLoadingResults) {
        <div class="datatable-loading-shade">
          <mat-spinner color="default"></mat-spinner>
        </div>
      }
      @if (isLoadingResults == false && listCount == 0) {
        <div class="datatable-loading-shade">
          <strong>اطلاعاتی وجود ندارد!</strong>
        </div>
      }

      <div class="datatable-table-container">
        <table
          mat-table
          [dataSource]="dataSource"
          class="datatable-table"
          #exporter="matTableExporter"
          matTableExporter
          [hiddenColumns]="[displayedColumns.length - 1]"
        >
          <ng-container matColumnDef="row">
            <th mat-header-cell *matHeaderCellDef width="40">#</th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>شناسه گروه</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>

          <ng-container matColumnDef="groupName">
            <th mat-header-cell *matHeaderCellDef>گروه</th>
            <td mat-cell *matCellDef="let row">{{ row.groupName }}</td>
          </ng-container>
          <ng-container matColumnDef="parent">
            <th mat-header-cell *matHeaderCellDef>گروه والد</th>
            <td mat-cell *matCellDef="let row">{{ row.parent }}</td>
          </ng-container>
          <ng-container matColumnDef="countCitizen">
            <th mat-header-cell *matHeaderCellDef>تعداد شهروندان</th>
            <td mat-cell *matCellDef="let row">{{ row.countCitizen }}</td>
          </ng-container>

          <ng-container matColumnDef="countQueue">
            <th mat-header-cell *matHeaderCellDef>تعداد صف</th>
            <td mat-cell *matCellDef="let row">{{ row.countQueue }}</td>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef>فعال</th>
            <td mat-cell *matCellDef="let row">
              @if (!row.isActive) {
                <span class="text-danger">خیر</span>
              }
              @if (row.isActive) {
                <span class="text-success">بله</span>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef>تاریخ ثبت</th>
            <td mat-cell *matCellDef="let row">{{ row.creationDate | luxonFormat }}</td>
          </ng-container>

          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef width="40">عملیات</th>
            <td mat-cell *matCellDef="let row">
              @if (row.loading) {
                <mat-spinner diameter="25" color="default"></mat-spinner>
              }
              @if (!row.loading) {
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              }
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/admin/add-update-group/{{ row.id }}">
                  <i class="fa fa-eye mr-2"></i>
                  <span>ویرایش</span>
                </button>

                <button mat-menu-item (click)="manageAttachment(row)">
                  <i class="fa fa-paperclip mr-2"></i>
                  <span> ثبت دسته ایی شهروند</span>
                </button>
                <button mat-menu-item (click)="delete(row)">
                  <i class="fa fa-trash mr-2"></i>
                  <span>حذف</span>
                </button>

                <button mat-menu-item (click)="reviewgroups(row)">
                  <i class="fa fa-sync mr-2"></i>
                  <span>بازبینی گروه</span>
                </button>

                <button mat-menu-item (click)="transfergroups(row)">
                  <i class="fa fa-exchange mr-2"></i>
                  <span>انتقال شهروندان گروه</span>
                </button>

                <button mat-menu-item routerLink="/admin/citizen/citizen-in-group/{{ row.id }}">
                  <i class="fa fa-user mr-2"></i>
                  <span>َشهروندان</span>
                </button>
                <button mat-menu-item routerLink="/admin/citizen/group-queue-citizens-list/{{ row.id }}">
                  <i class="fa fa-user mr-2"></i>
                  <span>َصف شهروندی</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <mat-paginator
        [length]="listCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 50, 100, 250, 500, 1000, 2000]"
        showFirstLastButtons
        (page)="pageEvent($event)"
      ></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
