<div class="content-header">
  <span>پیکربندی پرتال</span>
  <div class="bread-crumbs">
    <div class="bread-crumb-item" routerLink="/admin/dashboard">داشبورد</div>
    <div class="bread-crumb-item active">پیکربندی پرتال</div>
  </div>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="d-flex my-5 p-5 align-items-center justify-content-center">
        <mat-spinner diameter="50" color="primary"></mat-spinner>
      </div>
    }

    @for (item of configList; track item) {
      <div>
        @if (item.isSuccess) {
          <p class="alert alert-success">
            {{ item.message }}
          </p>
        }
        @if (!item.isSuccess) {
          <p class="alert alert-danger">
            {{ item.message }}
          </p>
        }
      </div>
    }
  </mat-card-content>
  <mat-card-footer>
    <div class="d-flex align-items-center justify-content-end p-3">
      <button mat-raised-button color="default" (click)="config()" [disabled]="isSaving || loading">
        @if (isSaving) {
          <span>منتظر بمانید...</span>
        }
        @if (!isSaving) {
          <span>پیکربندی</span>
        }
        <mat-spinner [hidden]="!isSaving" diameter="20" color="primary"></mat-spinner>
      </button>
    </div>
  </mat-card-footer>
</mat-card>
