.list-item {
  flex-direction: column;
  text-align: center;
  padding: 15px 5px;
  min-height: 105px;
  align-items: center;
  justify-content: center;
}
.image-buttons .img-btn {
  flex-direction: column;
  background: #fff;
  width: 140px;
  height: 140px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 20%);
  color: #01348d;
  transition: all 0.5s;
  text-align: center;
}

.image-preview {
  width: 66px;
  height: 66px;
  border-radius: 100%;
}
:root {
  --sunset: #e79652;
  --purple-love: #7859be;
}
.image-buttons {
  flex-wrap: wrap;
  margin: 30px 0;
}
.image-buttons,
.image-buttons .img-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-buttons .img-btn {
  flex-direction: column;
  background: #fff;
  width: 140px;
  height: 140px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  color: #01348d;
  transition: all 0.5s;
  text-align: center;
}
.image-buttons .img-btn i {
  font-size: 48px;
  margin-bottom: 15px;
}
.image-buttons .img-btn img {
  width: 60px;
  max-width: 60px;
  max-height: 60px;
}
.image-buttons .img-btn:hover {
  cursor: pointer;
  background: #ffcc01;
  transform: scale(1.18);
}
.span-status {
  padding: 3px 15px;
  border-radius: 25px;
}
.span-status.blue {
  background: #026aea;
  color: #fff;
}
.span-status.red {
  background: red;
  color: #fff;
}
.list-item {
  flex-direction: column;
  text-align: center;
  padding: 15px 5px;
  min-height: 105px;
  align-items: center;
  justify-content: center;
}

mat-list {
  max-height: 350px;
  overflow: auto;
}
