<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title py-0">
    {{ data.title }}
  </h5>

  <button
    type="button"
    class="close-btn"
    aria-label="Close"
    mat-dialog-close
    mat-icon-button
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content class="text-center">
  <img class="" d-inline-block [src]="baseUrl + data.image" />
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>بستن</button>
</mat-dialog-actions>
