<div class="content-header">
  <span> مدیران سامانه</span>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    <form [formGroup]="searchForm">
      <div class="row my-4">
        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>نام کاربری</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>

        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>از تاریخ</mat-label>
          <input
            matInput
            [matDatepicker]="dpS"
            formControlName="fromDate"
            [max]="searchForm.get('toDate')?.value"
          />
          <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
          <mat-datepicker #dpS></mat-datepicker>
          @if (searchForm.get('fromDate')?.hasError('required')) {
            <mat-error> تاریخ شروع را مشخص کنید. </mat-error>
          }
          @if (
            searchForm.get('fromDate')?.hasError('matDatepickerMin') ||
            searchForm.get('fromDate')?.hasError('matDatepickerMax')
          ) {
            <mat-error> تاریخ شروع نباید از تاریخ پایان بزرگتر باشد! </mat-error>
          }
          @if (searchForm.get('fromDate')?.hasError('matDatepickerParse')) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>تا تاریخ</mat-label>
          <input
            matInput
            [matDatepicker]="dpE"
            formControlName="toDate"
            [min]="searchForm.get('fromDate')?.value"
          />
          <mat-datepicker-toggle matSuffix [for]="dpE"></mat-datepicker-toggle>
          <mat-datepicker #dpE></mat-datepicker>
          @if (searchForm.get('toDate')?.hasError('required')) {
            <mat-error> تاریخ پایان را مشخص کنید. </mat-error>
          }
          @if (
            searchForm.get('toDate')?.hasError('matDatepickerMin') ||
            searchForm.get('toDate')?.hasError('matDatepickerMax')
          ) {
            <mat-error> تاریخ شروع نباید از تاریخ پایان بزرگتر باشد! </mat-error>
          }
          @if (searchForm.get('toDate')?.hasError('matDatepickerParse')) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>

        <div class="col d-flex align-items-center justify-content-end">
          <button mat-raised-button color="default" (click)="applyFilter()">
            <i class="fa fa-search mr-2"></i>
            <span>جستجو</span>
          </button>
        </div>
      </div>
    </form>

    <div class="d-flex align-items-center justify-content-end mb-3">
      <button
        mat-raised-button
        color="default"
        (click)="exporter.exportTable('xlsx', { fileName: 'excel' })"
      >
        <i class="fa fa-file-excel mr-2"></i>
        خروجی اکسل
      </button>
    </div>
    <div class="datatable-container mat-elevation-z8">
      @if (isLoadingResults) {
        <div class="datatable-loading-shade">
          @if (isLoadingResults) {
            <mat-spinner color="default"></mat-spinner>
          }
        </div>
      }
      @if (isLoadingResults == false && listCount == 0) {
        <div class="datatable-loading-shade">
          <strong>اطلاعاتی وجود ندارد!</strong>
        </div>
      }

      <div class="datatable-table-container">
        <table
          mat-table
          [dataSource]="dataSource"
          class="datatable-table"
          #exporter="matTableExporter"
          matTableExporter
          [hiddenColumns]="[displayedColumns.length - 1]"
        >
          <ng-container matColumnDef="row">
            <th mat-header-cell *matHeaderCellDef width="40">#</th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef>نام کاربری</th>
            <td mat-cell *matCellDef="let row">
              {{ row.userName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef>نام و نام خانوادگی</th>
            <td mat-cell *matCellDef="let row">{{ row.displayName }}</td>
          </ng-container>
          <ng-container matColumnDef="emailAddress">
            <th mat-header-cell *matHeaderCellDef>ایمیل</th>
            <td mat-cell *matCellDef="let row">
              {{ row.emailAddress }}
              @if (row.emailVerification == false && row.emailAddress) {
                <div class="text-danger">
                  <small> تائید نشده </small>
                </div>
              }
              @if (row.emailVerification == true && row.emailAddress) {
                <div class="text-success">
                  <small> تائید شده </small>
                </div>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="mobileNumber">
            <th mat-header-cell *matHeaderCellDef>شماره موبایل</th>
            <td mat-cell *matCellDef="let row">
              {{ row.mobileNumber }}
              @if (row.mobileNumberVerification == false && row.emailAddress) {
                <div class="text-danger">
                  <small> تائید نشده </small>
                </div>
              }
              @if (row.mobileNumberVerification == true && row.emailAddress) {
                <div class="text-success">
                  <small> تائید شده </small>
                </div>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="createdOnDate">
            <th mat-header-cell *matHeaderCellDef>تاریخ ثبت نام</th>
            <td mat-cell *matCellDef="let row">{{ row.createdOnDate | luxonFormat }}</td>
          </ng-container>
          <ng-container matColumnDef="lastLoggedIn">
            <th mat-header-cell *matHeaderCellDef>آخرین ورود</th>
            <td mat-cell *matCellDef="let row">{{ row.lastLoggedIn | luxonFormat }}</td>
          </ng-container>
          <ng-container matColumnDef="roles">
            <th mat-header-cell *matHeaderCellDef>نقش کاربر</th>
            <td mat-cell *matCellDef="let row">
              <mat-chip-listbox aria-label="Fish selection">
                @for (item of row.roles; track $index) {
                  <mat-chip>
                    @if (item.toLowerCase() == 'admin') {
                      <span>ادمین</span>
                    }
                    @if (item.toLowerCase() == 'user') {
                      <span>کاربر</span>
                    }
                    @if (item.toLowerCase() == 'company') {
                      <span>شرکت</span>
                    }
                    @if (item.toLowerCase() == 'citizen') {
                      <span>شهروندی</span>
                    }
                    @if (item.toLowerCase() == 'card') {
                      <span>مدیریت کارت</span>
                    }
                    @if (item.toLowerCase() == 'webapiuser') {
                      <span>توسعه دهنده</span>
                    }
                    {{ item }}
                  </mat-chip>
                }
              </mat-chip-listbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="userAccountState">
            <th mat-header-cell *matHeaderCellDef>وضعیت کاربر</th>
            <td mat-cell *matCellDef="let row">
              {{ row.userAccountState | enumString: 'userAccountState' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef width="40">عملیات</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openUpdateUserDialog(row)">
                  <i class="fa fa-edit mr-2"></i>
                  <span>ویرایش اطلاعات کاربری</span>
                </button>

                <button
                  mat-menu-item
                  routerLink="/admin/users/user-group-access-permissions/{{ row.userId }}"
                >
                  <i class="fa fa-folder-tree mr-2"></i>
                  <span> گروههای دسترسی </span>
                </button>

                <button mat-menu-item (click)="openChangePasswordDialog(row)">
                  <i class="fa fa-lock mr-2"></i>
                  <span>تغییر کلمه عبور</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator
        [length]="listCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 50, 100, 250, 500, 1000, 2000]"
        showFirstLastButtons
        (page)="pageEvent($event)"
      ></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
