<div class="container p-md-5 box p-4 mt-4">
  <h3 class="text-center w-100">ثبت نام شرکت</h3>

  <form [formGroup]="registerForm">
    <div class="row">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>عنوان شرکت (فارسی)</mat-label>
        <input
          matInput
          formControlName="companyName"
          autocomplete="doNotAutoComplete"
          maxlength="500"
        />
        @if (registerForm.get('companyName')?.hasError('required')) {
          <mat-error> عنوان شرکت را را وارد کنید. </mat-error>
        }
        @if (registerForm.get('companyName')?.hasError('maxlength')) {
          <mat-error> حداکثر 500 کاراکتر </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>عنوان شرکت (لاتین)</mat-label>
        <input matInput formControlName="englishName" autocomplete="doNotAutoComplete" />
        @if (registerForm.get('englishName')?.hasError('required')) {
          <mat-error> عنوان شرکت را را وارد کنید. </mat-error>
        }
        @if (registerForm.get('englishName')?.hasError('maxlength')) {
          <mat-error> حداکثر 500 کاراکتر </mat-error>
        }
        @if (registerForm.get('englishName')?.hasError('pattern')) {
          <mat-error> فقط کاراکتر های لاتین مجاز است. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label> نام نماینده شرکت</mat-label>
        <input
          matInput
          formControlName="companyRepresentative"
          autocomplete="doNotAutoComplete"
          maxlength="100"
        />
        @if (registerForm.get('companyRepresentative')?.hasError('required')) {
          <mat-error> نام نماینده شرکت را وارد کنید. </mat-error>
        }
        @if (registerForm.get('companyRepresentative')?.hasError('pattern')) {
          <mat-error> فقط از کاراکترهای فارسی استفاده کنید. </mat-error>
        }
        @if (registerForm.get('companyRepresentative')?.hasError('maxlength')) {
          <mat-error> حداکثر 100 کاراکتر </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>سال تاسیس </mat-label>
        <input
          matInput
          formControlName="establishedYear"
          autocomplete="doNotAutoComplete"
          numbersOnly
          maxlength="4"
          minlength="4"
        />
        @if (registerForm.get('establishedYear')?.hasError('required')) {
          <mat-error> سال تاسیس را وارد کنید. </mat-error>
        }
        @if (
          registerForm.get('establishedYear')?.hasError('maxlength') ||
          registerForm.get('establishedYear')?.hasError('minlength')
        ) {
          <mat-error> سال تاسیس را 4 رقمی وارد کنید </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>شماره موبایل</mat-label>
        <input matInput formControlName="mobileNumber" maxlength="11" numbersOnly />
        @if (registerForm.get('mobileNumber')?.hasError('required')) {
          <mat-error> شماره موبایل را وارد کنید. </mat-error>
        }
        @if (registerForm.get('mobileNumber')?.hasError('invalid')) {
          <mat-error> شماره موبایل صحیح نیست. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>کد اقتصادی شرکت</mat-label>
        <input matInput formControlName="txtTinNo" maxlength="20" numbersOnly />
        @if (registerForm.get('txtTinNo')?.hasError('required')) {
          <mat-error> کد اقتصادی شرکت را وارد کنید. </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>شماره ثبت شرکت</mat-label>
        <input matInput formControlName="txtRegNO" maxlength="20" numbersOnly />
        @if (registerForm.get('txtRegNO')?.hasError('required')) {
          <mat-error> شماره ثبت شرکت را وارد کنید. </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>نام کاربری</mat-label>
        <input matInput type="text" formControlName="userName" autocomplete="doNotAutoComplete" />
        @if (registerForm.get('userName')?.hasError('required')) {
          <mat-error> نام کاربری را وارد کنید. </mat-error>
        }
        @if (registerForm.get('userName')?.hasError('pattern')) {
          <mat-error> فقط از کاراکترهای لاتین استفاده کنید </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>کلمه عبور</mat-label>
        <input matInput type="password" formControlName="password" autocomplete="new-password" />
        @if (registerForm.get('password')?.hasError('required')) {
          <mat-error> کلمه عبور را وارد کنید. </mat-error>
        }
        @if (registerForm.get('password')?.hasError('weakPassword')) {
          <mat-error>
            کلمه عبور باید حداقل 6 کاراکتر و شامل حروف لاتین بزرگ، کوچک و علائم خاص باشد.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>تکرار کلمه عبور</mat-label>
        <input matInput type="password" formControlName="confirmPassword" autocomplete="off" />
        @if (registerForm.get('confirmPassword')?.hasError('required')) {
          <mat-error> تکرار کلمه عبور را وارد کنید. </mat-error>
        }
        @if (registerForm.get('confirmPassword')?.hasError('weakPassword')) {
          <mat-error>
            کلمه عبور باید حداقل 6 کاراکتر و شامل حروف لاتین بزرگ، کوچک و علائم خاص باشد.
          </mat-error>
        }
      </mat-form-field>
    </div>

    @if (registerForm.hasError('notSame') && registerForm.get('confirmPassword')?.value) {
      <div>
        <span class="text-danger"> تکرار کلمه عبور صحیح نیست! </span>
      </div>
    }

    <!-- <mat-checkbox formControlName="approveTermsCondition" color="default">قوانین و شرایط سایت را می پذیرم</mat-checkbox> -->

  </form>
  <div class="p-3 d-flex justify-content-end">
    <button class="btn btn btn-teal mb-3 text-white" [disabled]="isSaving" (click)="saveInfo()">
      <span>ذخیره </span>
      <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
    </button>
  </div>
</div>
