<div *ngIf="loadingData" class="d-flex align-items-center justify-content-center">
    <mat-spinner diameter="50" color="default"></mat-spinner>
</div>

<div class="notification-details" *ngIf="!loadingData">
  <div class="d-flex align-items-center justify-content-center">
    <img [src]="baseUrl+notification.imageUrl" *ngIf="notification.imageUrl" class="img-thumbnail" />
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <strong>شماره اطلاعیه: </strong><span> {{notification.notificationNumber}}</span>
    </div>
    <div>
      <i class="fa fa-calendar-day mr-2"></i><span> {{notification.publishDate|jalali}}</span>
    </div>
  </div>

    <div>
      <strong> {{notification.title}}</strong>
    </div>
    <div>
      <small> {{notification.description}}</small>
    </div>

  <div [innerHtml]="notification.body|safeHtml"></div>




  <app-attachments [guid]="notification.attachmentFileGroup"></app-attachments>

</div>
