<div style="display: none" class="container p-md-5 box p-4 mt-4">
  <div class="row justify-content-center mt-30-reverse">
    <div class="col-lg-4 col-md-6 col-12 mt-30">
      <div class="tm-contact-block text-center">
        <span class="tm-contact-icon">
          <i class="flaticon-pin"></i>
        </span>
        <h5>آدرس</h5>
        <p>{{ setting?.addresss }}</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12 mt-30">
      <div class="tm-contact-block text-center">
        <span class="tm-contact-icon">
          <i class="flaticon-phone"></i>
        </span>
        <h5>شماره های تماس</h5>
        <p>{{ setting?.cellNumber }}</p>
        <p>{{ setting?.mobileNumber }}</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12 mt-30">
      <div class="tm-contact-block text-center">
        <span class="tm-contact-icon">
          <i class="flaticon-mail"></i>
        </span>
        <h5>آدرس های الکترونیک</h5>
        <p>ایمیل: {{ setting?.emailAddress }}</p>
        <p>تلگرام: {{ setting?.telegramChannelId }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container p-md-5 box p-4 mt-4">
  <div class="tm-contact-formwrapper">
    <h2>شماره های ارتباط با کارشناسان سامانه کلاس های آموزشی</h2>
    <div
      class="alert alert-info"
      style="color: #000 !important; overflow: auto; margin-top: 20px; margin-bottom: 20px"
    >
      <table border="1" cellpadding="1" cellspacing="1" id="colortable">
        <tbody>
          <tr>
            <td>آدرس</td>
            <td colspan="4">
              نشانی:اصفهان-خیابان 22 بهمن-مجتمع اداری امیر کبیر-سازمان فرهنگی اجتماعی ورزشی شهرداری
            </td>
          </tr>
          <tr>
            <td>تلفن پشتیبانی</td>
            <td>
              <a
                href="tel:03132658559"
                onclick="
                  ga('send', 'event', {
                    eventCategory: 'Contact',
                    eventAction: 'Call',
                    eventLabel: 'Mobile Button',
                  })
                "
              >
                <p class="call-button">03132658559</p>
              </a>
            </td>
            <td>داخلی 451</td>
          </tr>
          <tr>
            <td>آدرس ایمیل و وب سایت</td>
            <td>
              <a target="_blank" href="mailto:it@esfahanfarhang.ir"> it@esfahanfarhang.ir </a>
            </td>
            <td>
              <a href="https://shahrvandedu.ir/" target="_blank"> www.shahrvandedu.ir </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>شماره های ارتباط با کارشناسان سامانه کارت شهروندی</h2>
    <div
      class="alert alert-info"
      style="color: #000 !important; overflow: auto; margin-top: 20px; margin-bottom: 20px"
    >
      <table border="1" cellpadding="1" cellspacing="1" id="colortable">
        <tbody>
          <tr>
            <td>آدرس</td>
            <td colspan="4">
              اصفهان - خیابان حکیم - بازار بزرگ حکیم - ورودی دو - طبقه اول - واحد ۲۰۰
            </td>
          </tr>
          <tr>
            <td>تلفن پشتیبانی</td>
            <td>
              <a
                href="tel:03132120241"
                onclick="
                  ga('send', 'event', {
                    eventCategory: 'Contact',
                    eventAction: 'Call',
                    eventLabel: 'Mobile Button',
                  })
                "
              >
                <p class="call-button">03132120241</p>
              </a>
            </td>
            <td>
              <a
                href="tel:03132120214"
                onclick="
                  ga('send', 'event', {
                    eventCategory: 'Contact',
                    eventAction: 'Call',
                    eventLabel: 'Mobile Button',
                  })
                "
              >
                <p class="call-button">03132120240</p>
              </a>
            </td>
          </tr>
          <tr>
            <td>آدرس ایمیل و وب سایت</td>
            <td>
              <a target="_blank" href="mailto:info@escard.ir"> info@escard.ir </a>
            </td>
            <td>
              <a href="https://escard.ir/" target="_blank"> www.escard.ir </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>شماره های ارتباط با کارشناسان سامانه طرح منزلت</h2>
    <div
      class="alert alert-info"
      style="color: #000 !important; overflow: auto; margin-top: 20px; margin-bottom: 20px"
    >
      <table border="1" cellpadding="1" cellspacing="1" id="colortable">
        <tbody>
          <tr>
            <td>آدرس</td>
            <td colspan="4">اصفهان،چرخاب،بلوار آینه خانه،پل فردوسی،خیابان کمال اسماعیل</td>
          </tr>
          <tr>
            <td>تلفن پشتیبانی</td>
            <td>
              <a
                href="tel:03132213553"
                onclick="
                  ga('send', 'event', {
                    eventCategory: 'Contact',
                    eventAction: 'Call',
                    eventLabel: 'Mobile Button',
                  })
                "
              >
                <p class="call-button">03132213553</p>
              </a>
            </td>
            <td>داخلی 113</td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2>شماره های ارتباط با کارشناسان سامانه رزرواسیون</h2>
    <div
      class="alert alert-info"
      style="color: #000 !important; overflow: auto; margin-top: 20px; margin-bottom: 20px"
    >
      <table border="1" cellpadding="1" cellspacing="1" id="colortable">
        <tbody>
          <tr>
            <td>آدرس</td>
            <td colspan="4">
              نشانی:اصفهان-خیابان 22 بهمن-مجتمع اداری امیر کبیر-سازمان فرهنگی اجتماعی ورزشی شهرداری
            </td>
          </tr>
          <tr>
            <td>تلفن پشتیبانی</td>
            <td>
              <a
                href="tel:03134487753"
                onclick="
                  ga('send', 'event', {
                    eventCategory: 'Contact',
                    eventAction: 'Call',
                    eventLabel: 'Mobile Button',
                  })
                "
              >
                <p class="call-button">03134487753</p>
              </a>
            </td>
            <td>داخلی 315</td>
          </tr>
          <tr>
            <td>آدرس ایمیل و وب سایت</td>
            <td>
              <a target="_blank" href="mailto:info@esfahanfarhang.ir"> info@esfahanfarhang.ir </a>
            </td>
            <td>
              <a href="https://shahrvandticket.ir/" target="_blank"> www.shahrvandticket.ir </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div style="display: none" class="container p-md-5 box p-4 mt-4">
  <div class="tm-contact-formwrapper">
    <h2>
      لطفا جهت پیگیری مشکلات خود ، فرم زیر را به شکل کامل تکمیل نمایید. همکاران ما در سریعترین زمان
      به شما پاسخ خواهند داد .
    </h2>

    @if (loadingData) {
      <div class="d-flex align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    }

    @if (!loadingData) {
      <div class="p-5">
        <form [formGroup]="contactForm">
          <div class="row">
            <mat-form-field  class="col-sm-6 col-md-4">
              <mat-label>نام و نام خانوادگی</mat-label>
              <input matInput type="text" formControlName="name" />
              @if (contactForm.get('name')?.hasError('required')) {
                <mat-error> نام خود را وارد کنید </mat-error>
              }
            </mat-form-field>
            <mat-form-field  class="col-sm-6 col-md-4">
              <mat-label>شماره موبایل</mat-label>
              <input
                matInput
                type="text"
                formControlName="mobileNumber"
                maxlength="11"
                numbersOnly
              />
              @if (contactForm.get('mobileNumber')?.hasError('invalid')) {
                <mat-error> شماره موبایل صحیح نیست! </mat-error>
              }
            </mat-form-field>
            <mat-form-field  class="col-sm-6 col-md-4">
              <mat-label>آدرس ایمیل</mat-label>
              <input matInput type="text" formControlName="email" />
              @if (contactForm.get('email')?.hasError('email')) {
                <mat-error> آدرس ایمیل صحیح نیست! </mat-error>
              }
            </mat-form-field>
            <mat-form-field  class="col-sm-6 col-md-4">
              <mat-label>سازمان</mat-label>
              <mat-select
                formControlName="organizationId"
                (selectionChange)="getUnitsOfOrganization()"
              >
                @for (item of organizationList; track item) {
                  <mat-option [value]="item.key">{{ item.text }} </mat-option>
                }
              </mat-select>
              @if (contactForm.get('organizationId')?.hasError('required')) {
                <mat-error> سازمان را مشخص کنید. </mat-error>
              }
            </mat-form-field>
            <mat-form-field  class="col-sm-6 col-md-4">
              <mat-label>واحد</mat-label>
              <mat-select formControlName="organizationalUnitId">
                @for (item of unitList; track item) {
                  <mat-option [value]="item.key">{{ item.text }} </mat-option>
                }
              </mat-select>
              @if (contactForm.get('organizationalUnitId')?.hasError('required')) {
                <mat-error> واحد را مشخص کنید. </mat-error>
              }
              <mat-spinner matSuffix diameter="20" [hidden]="!loadingUnit"></mat-spinner>
            </mat-form-field>
            <mat-form-field  class="col-sm-12">
              <mat-label>عنوان پیام</mat-label>
              <input matInput formControlName="subject" />
              @if (contactForm.get('subject')?.hasError('required')) {
                <mat-error> عنوان پیام را وارد کنید </mat-error>
              }
              @if (contactForm.get('subject')?.hasError('maxlength')) {
                <mat-error> حداکثر 1000 کاراکتر </mat-error>
              }
            </mat-form-field>
            <mat-form-field  class="col-sm-12">
              <mat-label>متن پیام</mat-label>
              <textarea matInput formControlName="message" rows="5"></textarea>
              @if (contactForm.get('message')?.hasError('required')) {
                <mat-error> متن پیام را وارد کنید </mat-error>
              }
              @if (contactForm.get('message')?.hasError('maxlength')) {
                <mat-error> حداکثر 10،000 کاراکتر </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="d-flex align-items-center justify-content-end">
            <button
              class="btn btn btn-teal mb-3 text-white"
              [disabled]="isSaving"
              (click)="saveInfo()"
            >
              @if (isSaving) {
                <mat-spinner color="default" diameter="20"></mat-spinner>
              }
              <span>ارسال پیام</span>
            </button>
          </div>
        </form>
      </div>
    }
  </div>
</div>
