<mat-card class="custom-card">
  <mat-card-header> لیست کارت های قابل خرید </mat-card-header>
  <mat-card-content>
    <div class="alert alert-info">
      قبل از خرید کارت لطفا
      <a href="/citizen/profile/0/personnel-image"> تصویر پرسنلی </a>
      خود را بارگذاری نمایید .
    </div>

    <div class="alert alert-info">
      <strong> کارت منزلت </strong>
      ویژه افراد تحت پوشش سازمانهای حمایتی و همچنین بازنشستگان و سالمندانی می باشد، که اطلاعات عضویت
      افراد در سامانه شهروندی تایید شده باشد .
    </div>

    <div class="image-buttons">
      @for (item of availableCards; track $index) {
        <div (click)="checkCanOrderCard(item)" class="img-btn">
          <i class="fa fa-cart-arrow-down"></i>
          <span>{{ item.cardType }}</span>
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
