<div class="double-diagonal dark auth-page boxed">
  <!-- Page Wrapper Starts -->
  <div class="wrapper">
    <div class="container-fluid user-auth">
      <div class="row no-gutters">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 part1">
          <a href="/">
            <img class="account-logo" src="images/logo.png" />
          </a>

          <div class="form-container">
            <router-outlet></router-outlet>
          </div>
          <!-- Copyright Text Starts -->
          <p class="text-center copyright-text">
            پشتیبانی فنی:
            <a style="color: #3683a2" target="_blank" href="https://ict.isfahan.ir/"
              ><img src="images/fava-logo.png" style="width: 2rem" />سازمان فناوری
              اطلاعات و ارتباطات شهرداری اصفهان</a
            >
          </p>

          <!-- Copyright Text Ends -->
        </div>
        <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
          <!-- Slider Starts -->
          <div
            id="carouselExampleIndicators"
            class="carousel slide carousel-fade"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item item-1 active">
                <blockquote style="background-color: #173168">
                  <footer><span>Lotfollah Moschee</span>, ESFAHAN</footer>
                </blockquote>
              </div>
              <div class="carousel-item item-2">
                <blockquote style="background-color: #173168">
                  <footer><span>Si-o-Se-Pol</span>, ESFAHAN</footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Wrapper Ends -->
</div>
