<div class="page">
  <div class="container d-flex align-items-center justify-content-center">
    @if (loadingData) {
      <div class="d-flex my-5 p-5 align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    }

    @if (!loadingData) {
      <mat-card class="col-12 col-md-8 col-lg-8 mt-5">
        <mat-card-header class="mx-2">
          @if (service.serviceName) {
            <h4 class="text-primary border-button">
              قوانین و مقررات ثبت نام {{ service.serviceName }}
            </h4>
          }
        </mat-card-header>
        <mat-card-content class="mx-2">
          @if (service.haveTerms) {
            <div [innerHtml]="service.terms"></div>
          }
        </mat-card-content>
        <mat-card-actions class="text-right m-2">
          <button
            mat-raised-button
            color="primary"
            routerLink="/userregister/preregister"
            [queryParams]="{ serviceId: serviceId }"
          >
            ثبت نام
          </button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
</div>
