<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
    <h5 cdkDragHandle class="title" *ngIf="education">ویرایش تحصیلات</h5>
    <h5 cdkDragHandle class="title" *ngIf="!education">ثبت تحصیلات جدید</h5>


    <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
    <form [formGroup]="educationForm">
        <div class="row">
            <mat-form-field class="col-sm-6 col-md-4">
                <mat-label> مقطع تحصیلی</mat-label>
                <mat-select formControlName="grade" [compareWith]="compareFn" (selectionChange)="changeGrade()">
                    <mat-option *ngFor="let item of baseEnums.educationLevel;" [value]="item">
                        {{item.text}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="educationForm.get('grade').errors?.required">
                    مقطع تحصیلی را انتخاب کنید.
                </mat-error>
            </mat-form-field>





            <mat-form-field class="col-sm-6 col-md-4" *ngIf="educationForm.get('grade').value.key >= 0">
                <mat-label>رشته تحصیلی</mat-label>
                <input matInput formControlName="major" [matAutocomplete]="autoMajors" #majorInput #majorTrigger="matAutocompleteTrigger">

                <mat-autocomplete #autoMajors="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredFieldStudies | async" [value]="option">
                        {{option.text}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="educationForm.get('major').errors?.incorrect || educationForm.get('major').errors?.required">
                    رشته تحصیلی را از لیست انتخاب کنید
                </mat-error>
                <mat-spinner matSuffix diameter="20" [hidden]="!loadingFieldStudies"></mat-spinner>
            </mat-form-field>

            <mat-form-field class="col-sm-6 col-md-4" *ngIf="educationForm.get('grade').value.key >= 0">
                <mat-label>نام دانشگاه</mat-label>
                <input matInput formControlName="university" autocomplete="doNotAutoComplete" maxlength="50">
                <mat-error *ngIf="educationForm.get('university').errors?.required">
                    نام دانشگاه را وارد کنید.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-6 col-md-4">
                <mat-label>تاریخ شروع تحصیل</mat-label>
                <input matInput [matDatepicker]="dpS" formControlName="dateOfStart" [max]="educationForm.get('dateOfEnd').value" />
                <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
                <mat-datepicker #dpS></mat-datepicker>
                <mat-error *ngIf="educationForm.get('dateOfStart').errors?.required">
                    تاریخ شروع تحصیل را انتخاب کنید.
                </mat-error>
                <mat-error *ngIf="educationForm.get('dateOfStart').errors?.matDatepickerMin || educationForm.get('dateOfStart').errors?.matDatepickerMax">
                    تاریخ شروع نباید از تاریخ پایان بزرگتر باشد!
                </mat-error>
                <mat-error *ngIf="educationForm.get('dateOfStart').errors?.matDatepickerParse">
                    فرمت تاریخ صحیح نیست
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-6 col-md-4">
                <mat-label>تاریخ پایان تحصیل</mat-label>
                <input matInput [matDatepicker]="dpE" formControlName="dateOfEnd" [min]="educationForm.get('dateOfStart').value" />
                <mat-datepicker-toggle matSuffix [for]="dpE"></mat-datepicker-toggle>
                <mat-datepicker #dpE></mat-datepicker>
                <mat-error *ngIf="educationForm.get('dateOfEnd').errors?.required">
                    تاریخ پایان تحصیل را انتخاب کنید.
                </mat-error>
                <mat-error *ngIf="educationForm.get('dateOfEnd').errors?.matDatepickerMin || educationForm.get('dateOfEnd').errors?.matDatepickerMax">
                    تاریخ شروع نباید از تاریخ پایان بزرگتر باشد!
                </mat-error>
                <mat-error *ngIf="educationForm.get('dateOfEnd').errors?.matDatepickerParse">
                    فرمت تاریخ صحیح نیست
                </mat-error>
            </mat-form-field>



        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>انصراف</button>
    <button mat-raised-button  color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>ذخیره </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
