<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  @if (education) {
    <h5 cdkDragHandle class="title">ویرایش تحصیلات</h5>
  }
  @if (!education) {
    <h5 cdkDragHandle class="title">ثبت تحصیلات جدید</h5>
  }

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="educationForm">
    <div class="row">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label> مقطع تحصیلی</mat-label>
        <mat-select
          formControlName="grade"
          [compareWith]="compareFn"
          (selectionChange)="changeGrade()"
        >
          @for (item of baseEnums.educationLevel; track item) {
            <mat-option [value]="item">
              {{ item.text }}
            </mat-option>
          }
        </mat-select>
        @if (educationForm.get('grade').errors?.required) {
          <mat-error> مقطع تحصیلی را انتخاب کنید. </mat-error>
        }
      </mat-form-field>

      @if (educationForm.get('grade').value.key >= 0) {
        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>رشته تحصیلی</mat-label>
          <input
            matInput
            formControlName="major"
            [matAutocomplete]="autoMajors"
            #majorInput
            #majorTrigger="matAutocompleteTrigger"
          />
          <mat-autocomplete #autoMajors="matAutocomplete" [displayWith]="displayFn">
            @for (option of filteredFieldStudies | async; track option) {
              <mat-option [value]="option">
                {{ option.text }}
              </mat-option>
            }
          </mat-autocomplete>
          @if (
            educationForm.get('major').errors?.incorrect ||
            educationForm.get('major').errors?.required
          ) {
            <mat-error> رشته تحصیلی را از لیست انتخاب کنید </mat-error>
          }
          <mat-spinner matSuffix diameter="20" [hidden]="!loadingFieldStudies"></mat-spinner>
        </mat-form-field>
      }

      @if (educationForm.get('grade').value.key >= 0) {
        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>نام دانشگاه</mat-label>
          <input
            matInput
            formControlName="university"
            autocomplete="doNotAutoComplete"
            maxlength="50"
          />
          @if (educationForm.get('university').errors?.required) {
            <mat-error> نام دانشگاه را وارد کنید. </mat-error>
          }
        </mat-form-field>
      }

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>تاریخ شروع تحصیل</mat-label>
        <input
          matInput
          [matDatepicker]="dpS"
          formControlName="dateOfStart"
          [max]="educationForm.get('dateOfEnd').value"
        />
        <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
        <mat-datepicker #dpS></mat-datepicker>
        @if (educationForm.get('dateOfStart').errors?.required) {
          <mat-error> تاریخ شروع تحصیل را انتخاب کنید. </mat-error>
        }
        @if (
          educationForm.get('dateOfStart').errors?.matDatepickerMin ||
          educationForm.get('dateOfStart').errors?.matDatepickerMax
        ) {
          <mat-error> تاریخ شروع نباید از تاریخ پایان بزرگتر باشد! </mat-error>
        }
        @if (educationForm.get('dateOfStart').errors?.matDatepickerParse) {
          <mat-error> فرمت تاریخ صحیح نیست </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>تاریخ پایان تحصیل</mat-label>
        <input
          matInput
          [matDatepicker]="dpE"
          formControlName="dateOfEnd"
          [min]="educationForm.get('dateOfStart').value"
        />
        <mat-datepicker-toggle matSuffix [for]="dpE"></mat-datepicker-toggle>
        <mat-datepicker #dpE></mat-datepicker>
        @if (educationForm.get('dateOfEnd').errors?.required) {
          <mat-error> تاریخ پایان تحصیل را انتخاب کنید. </mat-error>
        }
        @if (
          educationForm.get('dateOfEnd').errors?.matDatepickerMin ||
          educationForm.get('dateOfEnd').errors?.matDatepickerMax
        ) {
          <mat-error> تاریخ شروع نباید از تاریخ پایان بزرگتر باشد! </mat-error>
        }
        @if (educationForm.get('dateOfEnd').errors?.matDatepickerParse) {
          <mat-error> فرمت تاریخ صحیح نیست </mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>ذخیره </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
