<div class="d-flex my-5 p-5 align-items-center justify-content-center" *ngIf="loading">
  <mat-spinner diameter="50" color="default"></mat-spinner>
</div>

<form [formGroup]="addressForm" *ngIf="!loading">
  <div class="row my-4">
    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>شماره موبایل</mat-label>
      <input matInput formControlName="mobileNumber" numbersOnly maxlength="11" />
      <mat-error *ngIf="addressForm.get('mobileNumber').errors?.required"
        >شماره موبایل را وارد کنید</mat-error
      >
      <mat-error *ngIf="addressForm.get('mobileNumber').errors?.invalid"
        >شماره موبایل صحیح نیست</mat-error
      >
    </mat-form-field>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>شماره موبایل دوم</mat-label>
      <input matInput formControlName="mobileNumber2" numbersOnly maxlength="11" />
      <mat-error *ngIf="addressForm.get('mobileNumber2').errors?.required"
        >شماره موبایل را وارد کنید</mat-error
      >
      <mat-error *ngIf="addressForm.get('mobileNumber2').errors?.invalid"
        >شماره موبایل صحیح نیست</mat-error
      >
    </mat-form-field>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>شماره موبایل سوم</mat-label>
      <input matInput formControlName="mobileNumber3" numbersOnly maxlength="11" />
      <mat-error *ngIf="addressForm.get('mobileNumber3').errors?.required"
        >شماره موبایل را وارد کنید</mat-error
      >
      <mat-error *ngIf="addressForm.get('mobileNumber3').errors?.invalid"
        >شماره موبایل صحیح نیست</mat-error
      >
    </mat-form-field>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>شماره تلفن دفتر</mat-label>
      <input matInput formControlName="cellNumber" numbersOnly maxlength="11" />
      <mat-error *ngIf="addressForm.get('cellNumber').errors?.required"
        >شماره تلفن را وارد کنید</mat-error
      >
      <mat-error *ngIf="addressForm.get('cellNumber').errors?.pattern"
        >شماره تلفن صحیح نیست</mat-error
      >
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>شماره دوم تلفن دفتر</mat-label>
      <input matInput formControlName="cellNumber2" numbersOnly maxlength="11" />
      <mat-error *ngIf="addressForm.get('cellNumber2').errors?.required"
        >شماره تلفن را وارد کنید</mat-error
      >
      <mat-error *ngIf="addressForm.get('cellNumber2').errors?.pattern"
        >شماره تلفن صحیح نیست</mat-error
      >
    </mat-form-field>
    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>شماره سوم تلفن دفتر</mat-label>
      <input matInput formControlName="cellNumber3" numbersOnly maxlength="11" />
      <mat-error *ngIf="addressForm.get('cellNumber3').errors?.required"
        >شماره تلفن را وارد کنید</mat-error
      >
      <mat-error *ngIf="addressForm.get('cellNumber3').errors?.pattern"
        >شماره تلفن صحیح نیست</mat-error
      >
    </mat-form-field>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>شماره پیامک</mat-label>
      <input matInput formControlName="smsNumber" numbersOnly maxlength="20" />
      <mat-error *ngIf="addressForm.get('smsNumber').errors?.required"
        >شماره پیامک را وارد کنید</mat-error
      >
    </mat-form-field>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>شماره فکس</mat-label>
      <input matInput formControlName="fax" numbersOnly maxlength="20" />
      <mat-error *ngIf="addressForm.get('fax').errors?.required">شماره فکس را وارد کنید</mat-error>
    </mat-form-field>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>آدرس وب سایت</mat-label>
      <input matInput formControlName="website" />
      <mat-error *ngIf="addressForm.get('website').errors?.required"
        >آدرس وب سایت را وارد کنید</mat-error
      >
      <mat-error *ngIf="addressForm.get('website').errors?.pattern"
        >فقط کاراکتر های لاتین مجاز است</mat-error
      >
    </mat-form-field>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>ایمیل</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="addressForm.get('email').errors?.required">ایمیل را وارد کنید</mat-error>
      <mat-error *ngIf="addressForm.get('email').errors?.email">ایمیل صحیح نیست</mat-error>
    </mat-form-field>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>آیدی تلگرام</mat-label>
      <input matInput formControlName="telegram" />
      <mat-error *ngIf="addressForm.get('telegram').errors?.required"
        >آیدی تلگرام را وارد کنید</mat-error
      >
    </mat-form-field>

    <input-auto-complete
      formControlName="province"
      [required]="true"
      class="col-sm-6 col-md-4"
      [list]="provinceList"
    ></input-auto-complete>

    <input-auto-complete
      formControlName="city"
      [label]="'شهر'"
      [getByParent]="true"
      [parentId]="addressForm.get('province').value?.key"
      [required]="true"
      class="col-sm-6 col-md-4"
    ></input-auto-complete>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>کد پستی</mat-label>
      <input matInput formControlName="zipCode" numbersOnly maxlength="10" />
      <mat-error *ngIf="addressForm.get('zipCode').errors?.required">کدپستی را وارد کنید</mat-error>
      <mat-error
        *ngIf="
          addressForm.get('zipCode').errors?.maxlength ||
          addressForm.get('zipCode').errors?.minlength
        "
        >کدپستی 10 رقم می باشد</mat-error
      >
    </mat-form-field>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>خیابان</mat-label>
      <input matInput formControlName="street" maxlength="100" />
      <mat-error *ngIf="addressForm.get('street').errors?.required">خیابان را وارد کنید</mat-error>
    </mat-form-field>

    <mat-form-field class="col-sm-6 col-md-4">
      <mat-label>پلاک</mat-label>
      <input matInput formControlName="pelak" numbersOnly maxlength="5" />
      <mat-error *ngIf="addressForm.get('pelak').errors?.required">پلاک را وارد کنید</mat-error>
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <mat-label>آدرس کامل</mat-label>
      <input matInput formControlName="fullAddress" maxlength="500" />
      <mat-error *ngIf="addressForm.get('fullAddress').errors?.required"
        >آدرس کامل را وارد کنید</mat-error
      >
    </mat-form-field>

    <div class="col d-flex align-items-center justify-content-end">
      <button mat-raised-button color="default" (click)="save()" [disabled]="isSaving">
        <span>ذخیره</span>
        <mat-spinner color="default" diameter="20" [hidden]="!isSaving"></mat-spinner>
      </button>
    </div>
  </div>
</form>
