<div class="content-header">
  <span>جستجوی پیشرفته کارت</span>
</div>

<mat-card class="custom-card">
  <mat-card-content>
    <form [formGroup]="searchForm">
      <div class="row my-4">
        <mat-form-field class="col-md-3">
          <mat-label>نام شهروند</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>کد ملی</mat-label>
          <input matInput formControlName="nationCode" />
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>شماره کارت</mat-label>
          <input matInput formControlName="cardNumber" />
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>نوع کارت</mat-label>
          <mat-select formControlName="cardTypeId">
            <mat-option [value]="null">همه</mat-option>
            <mat-option [value]="8">شهروندی</mat-option>
            <mat-option [value]="9">منزلت</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>نوع تحویل</mat-label>
          <mat-select formControlName="deliverType">
            <mat-option [value]="null">همه</mat-option>
            <mat-option [value]="1">پستی</mat-option>
            <mat-option [value]="2">تحویل در مرکز</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>از تاریخ درخواست کارت</mat-label>
          <input
            matInput
            [matDatepicker]="dpS"
            formControlName="fromDate"
            [max]="searchForm.get('toDate')?.value"
          />
          <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
          <mat-datepicker #dpS></mat-datepicker>
          @if (searchForm.get('fromDate')?.hasError('required')) {
            <mat-error> تاریخ درخواست کارت را مشخص کنید. </mat-error>
          }
          @if (
            searchForm.get('fromDate')?.hasError('matDatepickerMin') ||
            searchForm.get('fromDate')?.hasError('matDatepickerMax')
          ) {
            <mat-error> تاریخ درخواست کارت نباید از تاریخ پایان بزرگتر باشد! </mat-error>
          }
          @if (searchForm.get('fromDate')?.hasError('matDatepickerParse')) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>تا تاریخ درخواست </mat-label>
          <input
            matInput
            [matDatepicker]="dpE"
            formControlName="toDate"
            [min]="searchForm.get('fromDate')?.value"
          />
          <mat-datepicker-toggle matSuffix [for]="dpE"></mat-datepicker-toggle>
          <mat-datepicker #dpE></mat-datepicker>
          @if (searchForm.get('toDate')?.hasError('required')) {
            <mat-error> تاریخ پایان را مشخص کنید. </mat-error>
          }
          @if (
            searchForm.get('toDate')?.hasError('matDatepickerMin') ||
            searchForm.get('toDate')?.hasError('matDatepickerMax')
          ) {
            <mat-error> تاریخ شروع نباید از تاریخ پایان بزرگتر باشد! </mat-error>
          }
          @if (searchForm.get('toDate')?.hasError('matDatepickerParse')) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>وضعیت کارت</mat-label>
          <mat-select formControlName="requestStatuse">
            <mat-option [value]="null">همه</mat-option>
            @for (item of baseEnums.requestStatuse; track $index) {
              <mat-option [value]="item.key">
                {{ item.text }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>وضعیت ثبت احوال</mat-label>
          <mat-select formControlName="sabtStatus">
            <mat-option [value]="null">همه</mat-option>
            <mat-option [value]="0">عدم تایید</mat-option>
            <mat-option [value]="1">تایید شده</mat-option>
            <mat-option [value]="2">فوتی</mat-option>
            <mat-option [value]="3">در حال استعلام</mat-option>
            <mat-option [value]="4">استعلام نشده</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>وضعیت تصویر پرسنلی</mat-label>
          <mat-select formControlName="pictureConfirmed">
            <mat-option [value]="null">همه</mat-option>
            <mat-option [value]="0">عدم تایید</mat-option>
            <mat-option [value]="1">تایید شده</mat-option>
            <mat-option [value]="2">در حال بررسی</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label> تخفیف</mat-label>
          <mat-select formControlName="discountGroupId">
            <mat-option [value]="null">همه</mat-option>
            @for (item of baseEnums.discountList; track $index) {
              <mat-option [value]="item.key">
                {{ item.text }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <div class="col d-flex align-items-center justify-content-end">
          <button mat-raised-button color="default" (click)="applyFilter()">
            <i class="fa fa-search mr-2"></i>
            <span>جستجو</span>
          </button>
        </div>
      </div>
    </form>

    <div class="d-flex align-items-center justify-content-end my-2 gap-2">
      <button mat-raised-button color="default" (click)="exportExcel()">
        <i class="fa fa-file-excel mr-2"></i>
        خروجی اکسل
      </button>
    </div>
    <div class="datatable-container mat-elevation-z8">
      @if (isLoadingResults) {
        <div class="datatable-loading-shade">
          @if (isLoadingResults) {
            <mat-spinner color="default"></mat-spinner>
          }
        </div>
      }
      @if (isLoadingResults == false && listCount == 0) {
        <div class="datatable-loading-shade">
          <strong>اطلاعاتی وجود ندارد!</strong>
        </div>
      }

      <div class="datatable-table-container">
        <table
          mat-table
          [dataSource]="dataSource"
          class="datatable-table"
          #exporter="matTableExporter"
          matTableExporter
          [hiddenColumns]="[displayedColumns.length - 1]"
        >
          <ng-container matColumnDef="row">
            <th mat-header-cell *matHeaderCellDef width="40">#</th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="nationCode">
            <th mat-header-cell *matHeaderCellDef>کد ملی</th>
            <td mat-cell *matCellDef="let row">
              <a (click)="openCitizenProfile(row)">
                {{ row.nationCode }}
                <i class="fa fa-eye mr-2"></i>
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="citizen">
            <th mat-header-cell *matHeaderCellDef>نام</th>
            <td mat-cell *matCellDef="let row">
              {{ row.citizen }}
            </td>
          </ng-container>

          <ng-container matColumnDef="cardTitle">
            <th mat-header-cell *matHeaderCellDef>نوع کارت</th>
            <td mat-cell *matCellDef="let row">
              <a (click)="openCardProfile(row)">
                {{ row.cardTitle }}
                <i class="fa fa-eye mr-2"></i>
              </a>
            </td>
          </ng-container>
          <ng-container matColumnDef="cardNumber">
            <th mat-header-cell *matHeaderCellDef>شماره کارت</th>
            <td mat-cell *matCellDef="let row">
              {{ row.cardNumber }}
            </td>
          </ng-container>

          <ng-container matColumnDef="requestDate">
            <th mat-header-cell *matHeaderCellDef>تاریخ درخواست</th>
            <td mat-cell *matCellDef="let row">
              {{ row.requestDate | luxonFormat }}
            </td>
          </ng-container>
          <ng-container matColumnDef="deliverType">
            <th mat-header-cell *matHeaderCellDef>نوع تحویل</th>
            <td mat-cell *matCellDef="let row">
              {{ row.deliverType | enumString: 'cardDeliverType' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="requestStatuse">
            <th mat-header-cell *matHeaderCellDef>وضعیت کارت</th>
            <td mat-cell *matCellDef="let row">
              {{ row.requestStatuse | enumString: 'cardRequestStatus' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="sabtStatus">
            <th mat-header-cell *matHeaderCellDef>وضعیت ثبت احوال</th>
            <td mat-cell *matCellDef="let row">
              {{ row.sabtStatus | enumString: 'sabtStatus' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="personalPicture_Confirmed">
            <th mat-header-cell *matHeaderCellDef>تصویر پرسنلی</th>
            <td mat-cell *matCellDef="let row">
              {{ row.personalPicture_Confirmed | enumString: 'personalPicture' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef width="40">عملیات</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                @if (row.cardNumber) {
                  <button mat-menu-item (click)="openBackCard(row)">
                    <i class="fa fa-podcast mr-2"></i>
                    برگشت کارت
                  </button>
                }
                @if (row.cardNumber) {
                  <button mat-menu-item (click)="openDeliveredCard(row)">
                    <i class="fa fa-podcast mr-2"></i>
                    تحویل کارت
                  </button>
                }
                @if (row.cardNumber) {
                  <button mat-menu-item (click)="openCancellationCard(row)">
                    <i class="fa fa-podcast mr-2"></i>
                    ابطال کارت
                  </button>
                }

                <button mat-menu-item (click)="openCardProfile(row)">
                  <i class="fa fa-eye mr-2"></i>
                  مشاهده اطلاعات کارت
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator
        [length]="listCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 50, 100, 250, 500, 1000, 2000]"
        showFirstLastButtons
        (page)="pageEvent($event)"
      ></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
