<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
    <h5 cdkDragHandle class="title">ویرایش اطلاعات کاربری</h5>


    <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>


    <div class="d-flex align-items-center justify-content-center p-5" *ngIf="loading">
        <mat-spinner diameter="50" color="default"></mat-spinner>
    </div>
    <form [formGroup]="userForm" *ngIf="!loading">



      <div class="row">
        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>نام کاربری</mat-label>
          <input matInput formControlName="userName"  disabled readonly>
          <mat-error *ngIf="userForm.get('userName').errors?.required">
            نام کاربری را وارد کنید.
          </mat-error>
          <mat-error *ngIf="userForm.get('userName').errors?.pattern">
            فقط از حروف لاتین استفاده کنید.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>نام و نام خانوادگی</mat-label>
          <input matInput formControlName="displayName" autocomplete="doNotAutoComplete">
          <mat-error *ngIf="userForm.get('displayName').errors?.required">
            نام و نام خانوادگی را وارد کنید.
          </mat-error>
          <mat-error *ngIf="userForm.get('displayName').errors?.pattern">
            فقط از حروف فارسی استفاده کنید.
          </mat-error>
        </mat-form-field>


        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>شماره موبایل</mat-label>
          <input matInput formControlName="mobileNumber" maxlength="11" numbersOnly>
          <mat-error *ngIf="userForm.get('mobileNumber').errors?.required">
            شماره موبایل را وارد کنید.
          </mat-error>
          <mat-error *ngIf="userForm.get('mobileNumber').errors?.invalid">
            شماره موبایل صحیح نیست.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>آدرس ایمیل</mat-label>
          <input matInput formControlName="emailAddress">

          <mat-error *ngIf="userForm.get('emailAddress').errors?.email">
            ایمیل وارد شده صحیح نیست!
          </mat-error>
        </mat-form-field>

          



        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>وضعیت کاربر</mat-label>
          <mat-select formControlName="userAccountState">
            <mat-option *ngFor="let item of userAccountStateList" [value]="item.key">{{item.text}}</mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('userAccountState').errors?.required">
            وضعیت کاربر را مشخص کنید.
          </mat-error>
        </mat-form-field>

      </div>
 


    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>انصراف</button>
    <button mat-raised-button  color="default" [disabled]="isSaving || loading" (click)="saveInfo()">
    <span>ذخیره </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
