<mat-card class="m-3">
  <mat-card-header class="card-header mt-n3 mx-n3">
    اطلاعات شناسنامه ایی
    (شهروند)
  </mat-card-header>
  <mat-card-content>
    <div class="box-info-dash">
      <div class="row">
        <div *ngIf="info.sabtStatus === 1" class="col-sm-6 alert alert-success m-3">
          اطلاعات شناسنامه ایی شهروند تایید شده است  .
        </div>
        <div *ngIf="info.sabtStatus === 0" class="col-sm-6 alert alert-danger m-3">
          اطلاعات شهروند مورد تایید ثبت احوال قرار نگرفت، لطفا اطلاعات صحیح شهروند را وارد
          کنید
          .
        </div>
      </div>


      <div class="row">
        
        <div class="col-sm-6">
          <span>  جنسیت :  </span>
          <strong *ngIf="info.gender"> آقا</strong>
          <strong *ngIf="!info.gender"> خانم</strong>
        </div>
        <div class="col-sm-6">
          <span>  کد ملی:  </span><strong>{{info.nationCode}}</strong>
        </div>
        <div class="col-sm-6">
          <span> شماره شناسنامه:  </span><strong>{{info.identityId}}</strong>
        </div>
        <div class="col-sm-6">
          <span>نام:  </span><strong>{{info.firstName}}</strong>
        </div>
        <div class="col-sm-6">
          <span> نام خانوادگی:  </span><strong>{{info.lastName}}</strong>
        </div>
        <div class="col-sm-6">
          <span> نام پدر:  </span><strong>{{info.fatherName}}</strong>
        </div>

        <div class="col-sm-6">
          <span>  تاریخ تولد:  </span><strong>{{info.birthDate|jalali}}</strong>
        </div>

        <div class="col-sm-6">
          <span> آخرین ویرایش:  </span><strong>{{info.lastUpdateOnDate|jalali}}</strong>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer >
  
  </mat-card-footer>
</mat-card>
