@if (loadingData) {
  <div class="d-flex align-items-center justify-content-center">
    <mat-spinner diameter="50" color="default"></mat-spinner>
  </div>
}
@if (!loadingData) {
  <div class="jobseeker-details">
    <!--<div class="box-header">
    <h3 class="box-title">اطلاعات فردی</h3>
  </div>-->
    <div class="row d-flex align-items-center box-dash">
      <div class="col-12 mb-3">
        @if (jobseeker.imageUrl) {
          <img class="avatar" [src]="baseUrl + jobseeker.imageUrl" />
        }
        @if (!jobseeker.imageUrl) {
          <img class="avatar" src="assets/images/avatar.png" />
        }
      </div>
      <div class="col-sm-6 my-1">
        <strong> شهروند: </strong>
        <span>{{ jobseeker.firstName }} {{ jobseeker.lastName }}</span>
      </div>
      <div class="col-sm-6 my-1">
        <strong> کد ملی: </strong>
        <span>{{ jobseeker.nationCode }}</span>
      </div>
      <div class="col-sm-6 my-1">
        <strong> وضعیت تاهل: </strong>
        <span>{{ maritalStatus[jobseeker.mariageStatus] }}</span>
      </div>
      <div class="col-sm-6 my-1">
        <strong> نام پدر : </strong>
        <span>{{ jobseeker.fatherName }}</span>
      </div>
      <div class="col-sm-6 my-1">
        <strong> تاریخ تولد: </strong>
        <span>{{ jobseeker.birthDate | jalali }}</span>
      </div>
      <div class="col-sm-6 my-1">
        <strong> شماره همراه: </strong>
        <span>{{ jobseeker.mobile }}</span>
      </div>
      <div class="col-sm-6 my-1">
        <strong> تلفن ثابت: </strong>
        <span>{{ jobseeker.phone }}</span>
      </div>
      <div class="col-sm-6 my-1">
        <strong> کد پستی: </strong>
        <span>{{ jobseeker.postalCode }}</span>
      </div>
      <div class="col-sm-6 my-1">
        <strong> آدرس: </strong>
        <span>{{ jobseeker.fullAddress }}</span>
      </div>
    </div>
  </div>
}
