


    <footer class="rel-footer">
        <!--<div id="footer-content">
            <div class="container">
                <div class="row pt-4 mx-2">
 
                    <div class="col-lg-2 col-sm-6 py-3 order-lg-2  order-3">
                        <h5 class="">پیوندها : </h5>
                        <ul>
                          <li><a routerLink="/home/page/about">درباره ما</a></li>
                          <li><a routerLink="/home/contact-us">تماس با ما</a></li>
                          <li><a routerLink="/home/ticket">پشتیبانی سامانه شهروندی</a></li>
                          <li><a routerLink="/home/ticket-answer">پیگیری درخواست</a></li>
                          <li><a routerLink="/home/news-list">اخبار</a></li>
                          <li><a routerLink="/home/faq">پرسش و پاسخ</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-sm-6 pr-lg-4 py-3 IRANSansWeb_FaNum  order-lg-3  order-2">
                        <h5 class=""> ارتباط با ما : </h5>
                        <p><i class="fas fa-2x fa-map-marker-alt mr-2"></i>آدرس : {{setting?.addresss}}  </p>
                        <p><i class="fas fa-2x fa-phone mr-2"></i>تلفن :  {{setting?.cellNumber}} </p>
                        <p><i class="fas fa-2x fa-mobile-alt mr-2"></i>تلفن همراه :  {{setting?.mobileNumber}} </p>
                        <p><i class="fas fa-2x fa-fax mr-2"></i>نمابر :  {{setting?.faxNumber}} </p>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-sm-4 py-3 order-lg-4 order-4">
                        <h5 class="">
                          نماد اعتماد الکترونیک
                        </h5>
                        <div class="d-flex flex-column">
                            <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=187613&amp;Code=28r3Mtjx0qJN3cbKqG1S"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=187613&amp;Code=28r3Mtjx0qJN3cbKqG1S" alt="" style="cursor:pointer" id="28r3Mtjx0qJN3cbKqG1S"></a>

                        </div>
                    </div>
        <div class="col-lg-3 col-sm-6 col-sm-4 py-3 order-lg-4 order-4">
                        <h5 class="">{{setting?.siteName}}</h5>
                        <div class="">
                            <img [src]="baseUrl + '/uploads/Resources/Images/Portal/Logo/Logo.png'" />
                            {{setting?.footerText}}

                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div id="footer-copyright">
            <div class="container text-center">
                <div class="">
                  <div class="text-white text-center ">
                    تولید، طراحی و پشتیبانی فنی: 
                    <a href="http://ict.isfahan.ir/" class="text-white">

                      سازمان فناوری اطلاعات و ارتباطات شهرداری اصفهان
                    </a>    . &nbsp; &nbsp; 1402 ©


                  </div>
                </div>
            </div>
        </div>
    </footer>






