<div class="content-header">
  <span> گروههای شهروندی واحد سازمانی </span>
  <div class="bread-crumbs">
    <div class="bread-crumb-item" routerLink="/admin/dashboard">داشبورد</div>

    <div class="bread-crumb-item" routerLink="/admin/organization">سازمان</div>

    <div class="bread-crumb-item active">گروههای شهروندی واحد سازمانی</div>
  </div>
</div>

<div class="d-flex my-5 p-5 align-items-center justify-content-center" *ngIf="loading">
  <mat-spinner diameter="50" color="default"></mat-spinner>
</div>

<mat-card class="custom-card">
  <form [formGroup]="form" *ngIf="!loading">
    <div class="row my-4">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label> گروه شهروندی </mat-label>
        <mat-select formControlName="groupId">
          <mat-option [value]="item.key" *ngFor="let item of groupList">
            {{ item.text }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('groupId').errors?.required"> گروه را مشخص کنید</mat-error>
      </mat-form-field>

      <div class="col d-flex align-items-center justify-content-start">
        <button mat-raised-button color="default" (click)="save()" [disabled]="isSaving">
          <span>اضافه کردن</span>
          <mat-spinner color="default" diameter="20" [hidden]="!isSaving"></mat-spinner>
        </button>
      </div>
    </div>
  </form>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="py-4 list-container">
          <div class="list-item" *ngFor="let item of userGroupAccessList">
            <div class="list-content">
              <div class="row">
                <div class="col-md-12">
                  <span> {{ item.group }}</span>
                </div>
              </div>
            </div>

            <div class="menu">
              <button mat-icon-button (click)="delete(item)" *ngIf="!item.loading" matTooltip="حذف">
                <i class="fa fa-trash"></i>
              </button>
              <mat-spinner *ngIf="item.loading" color="default" diameter="25"></mat-spinner>
            </div>
          </div>
        </div>

        <div class="no-any-items" *ngIf="userGroupAccessList.length == 0 && !loading">
          <i class="fa fa-info-circle"></i>
          اطلاعاتی ثبت نشده است
        </div>
        <div class="p-5 d-flex align-items-center justify-content-center" *ngIf="loading">
          <mat-spinner diameter="50" color="default"></mat-spinner>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>

  <mat-card-footer></mat-card-footer>
</mat-card>
