<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">آپلود فایل اکسل</h5>


  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <div class="alert alert-info">
    <p class="text-justify">
      فایل اکسل شما باید دارای ستون های زیر  باشد.

      به ترتیب
      <br />
      <strong class="text-danger">
        [ActivationDate]
      </strong>
      <strong class="text-danger">
        [ExpiredDate]
      </strong>
      <strong class="text-danger">
        [DCNum]
      </strong>
      <strong class="text-danger">
        [CardSerial]
      </strong>
      <strong class="text-danger">
        [NationalCode]
      </strong>
      <strong class="text-danger">
        [Cancellation]
      </strong>
     
    </p>
  </div>


  <app-uploader [btnTitle]="'آپلود فایل اکسل'" [removeAfterUpload]="true"
                (attachmentId)="attachmentId($event)"
                [data]="uploadData"
                [url]="uploadUrl" [autoUpload]="true"
                [accept]="['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet','application/vnd.ms-excel']"></app-uploader>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>بستن</button>

</mat-dialog-actions>
