<div class="content-header">
  <span>خانواده شهروند</span>
</div>

<mat-card class="custom-card">
  <mat-card-content>
    <form [formGroup]="searchForm">
      <div class="row my-4">
        <mat-form-field class="col-md-3">
          <mat-label>نام شهروند</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>کد ملی</mat-label>
          <input matInput formControlName="nationCode" />
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>نسبت خانوادگی</mat-label>
          <mat-select formControlName="familyRelation">
            <mat-option [value]="null">همه</mat-option>
            <mat-option [value]="0">پدر</mat-option>
            <mat-option [value]="1">مادر</mat-option>
            <mat-option [value]="2">همسر</mat-option>
            <mat-option [value]="3">فرزند</mat-option>
            <mat-option [value]="4">برادر</mat-option>
            <mat-option [value]="5">خواهر</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>وضعیت تایید</mat-label>
          <mat-select formControlName="acceptRelative">
            <mat-option [value]="null">همه</mat-option>
            <mat-option [value]="true">تایید شده</mat-option>
            <mat-option [value]="false">عدم تایید</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-3">
          <mat-label>از تاریخ ثبت نام</mat-label>
          <input
            matInput
            [matDatepicker]="dpS"
            formControlName="fromDate"
            [max]="searchForm.get('toDate').value"
          />
          <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
          <mat-datepicker #dpS></mat-datepicker>
          @if (searchForm.get('fromDate')?.hasError('required')) {
            <mat-error> تاریخ شروع را مشخص کنید. </mat-error>
          }
          @if (
            searchForm.get('fromDate')?.hasError('matDatepickerMin') ||
            searchForm.get('fromDate')?.hasError('matDatepickerMax')
          ) {
            <mat-error> تاریخ شروع نباید از تاریخ پایان بزرگتر باشد! </mat-error>
          }
          @if (searchForm.get('fromDate')?.hasError('matDatepickerParse')) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>تا تاریخ ثبت نام</mat-label>
          <input
            matInput
            [matDatepicker]="dpE"
            formControlName="toDate"
            [min]="searchForm.get('fromDate').value"
          />
          <mat-datepicker-toggle matSuffix [for]="dpE"></mat-datepicker-toggle>
          <mat-datepicker #dpE></mat-datepicker>
          @if (searchForm.get('toDate')?.hasError('required')) {
            <mat-error> تاریخ پایان را مشخص کنید. </mat-error>
          }
          @if (
            searchForm.get('toDate')?.hasError('matDatepickerMin') ||
            searchForm.get('toDate')?.hasError('matDatepickerMax')
          ) {
            <mat-error> تاریخ شروع نباید از تاریخ پایان بزرگتر باشد! </mat-error>
          }
          @if (searchForm.get('toDate')?.hasError('matDatepickerParse')) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label> گروه شهروندی</mat-label>
          <mat-select formControlName="groupId">
            <mat-option [value]="null">همه </mat-option>
            @for (item of baseEnums.citizenGroups; track item) {
              <mat-option [value]="item.key">
                {{ item.text }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <div class="col d-flex align-items-center justify-content-end">
          <button mat-raised-button color="default" (click)="applyFilter()">
            <i class="fa fa-search mr-2"></i>
            <span>جستجو</span>
          </button>
        </div>
      </div>
    </form>

    <div class="d-flex align-items-center justify-content-end mb-3">
      <button
        mat-raised-button
        color="default"
        (click)="exporter.exportTable('xlsx', { fileName: 'excel' })"
      >
        <i class="fa fa-file-excel mr-2"></i>
        خروجی اکسل
      </button>
    </div>
    <div class="datatable-container mat-elevation-z8">
      @if (isLoadingResults) {
        <div class="datatable-loading-shade">
          @if (isLoadingResults) {
            <mat-spinner color="default"></mat-spinner>
          }
        </div>
      }
      @if (isLoadingResults == false && listCount == 0) {
        <div class="datatable-loading-shade">
          <strong>اطلاعاتی وجود ندارد!</strong>
        </div>
      }

      <div class="datatable-table-container">
        <table
          mat-table
          [dataSource]="data"
          class="datatable-table"
          #exporter="matTableExporter"
          matTableExporter
          [hiddenColumns]="[displayedColumns.length - 1]"
        >
          <ng-container matColumnDef="row">
            <th mat-header-cell *matHeaderCellDef width="40">#</th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="nationCode">
            <th mat-header-cell *matHeaderCellDef>کد ملی</th>
            <td mat-cell *matCellDef="let row">
              <a routerLink="/admin/citizen-family-details/{{ row.userCode }}">
                {{ row.nationCode }}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="familyNationCode">
            <th mat-header-cell *matHeaderCellDef>کد ملی</th>
            <td mat-cell *matCellDef="let row">
              <a (click)="openfamilyCitizenProfile(row)">
                {{ row.familyNationCode }}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>نام</th>
            <td mat-cell *matCellDef="let row">
              {{ row.firstName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>نام خانوادگی</th>
            <td mat-cell *matCellDef="let row">
              {{ row.lastName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="familyBirthDate">
            <th mat-header-cell *matHeaderCellDef>تاریخ تولد</th>
            <td mat-cell *matCellDef="let row">
              {{ row.familyBirthDate | luxonFormat}}
            </td>
          </ng-container>

          <ng-container matColumnDef="familyGender">
            <th mat-header-cell *matHeaderCellDef>جسنیت</th>
            <td mat-cell *matCellDef="let row">
              @if (row.familyGender) {
                <span> آقا </span>
              }
              @if (!row.familyGender) {
                <span> خانم </span>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="familyFirstName">
            <th mat-header-cell *matHeaderCellDef>نام نسبت</th>
            <td mat-cell *matCellDef="let row">
              {{ row.familyFirstName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="familyLastName">
            <th mat-header-cell *matHeaderCellDef>نام خانوادگی</th>
            <td mat-cell *matCellDef="let row">
              {{ row.familyLastName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="familyRelation">
            <th mat-header-cell *matHeaderCellDef>نسبت</th>
            <td mat-cell *matCellDef="let row">
              {{ row.familyRelation | enumString: 'familyRelationships' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fatherName">
            <th mat-header-cell *matHeaderCellDef>نام پدر</th>
            <td mat-cell *matCellDef="let row">{{ row.fatherName }}</td>
          </ng-container>

          <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef>تاریخ ثبت نام</th>
            <td mat-cell *matCellDef="let row">{{ row.creationDate | luxonFormat}}</td>
          </ng-container>

          <ng-container matColumnDef="sabtStatus">
            <th mat-header-cell *matHeaderCellDef>وضعیت ثبت احوال</th>
            <td mat-cell *matCellDef="let row">{{ row.sabtStatus | enumString: 'sabtStatus' }}</td>
          </ng-container>

          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef width="40">عملیات</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/admin/company-info/{{ row.companyId }}">
                  <i class="fa fa-eye mr-2"></i>
                  <span>مشاهده اطلاعات شهروند</span>
                </button>
                <button mat-menu-item routerLink="/admin/company-profile/{{ row.companyId }}">
                  <i class="fa fa-edit mr-2"></i>
                  <span>ویرایش اطلاعات شهروند</span>
                </button>
                <button mat-menu-item routerLink="/admin/company-personal/{{ row.companyId }}">
                  <i class="fa fa-users mr-2"></i>
                  <span>لیست پرسنل شهروند</span>
                </button>
                <button mat-menu-item routerLink="/admin/componay-users/{{ row.companyId }}">
                  <i class="fa fa-users mr-2"></i>
                  <span>لیست کاربران شهروند</span>
                </button>
                <button mat-menu-item routerLink="/admin/company-water-meter/{{ row.companyId }}">
                  <i class="fa fa-faucet-drip mr-2"></i>
                  <span>کنتورهای آب شهروند</span>
                </button>
                <button mat-menu-item routerLink="/admin/company-unpayed-list/{{ row.companyId }}">
                  <i class="fa fa-money-bill mr-2"></i>
                  <span>قبض های پرداخت نشده</span>
                </button>

                <button mat-menu-item (click)="openCompanyContractDialog(row)">
                  <i class="fa fa-file mr-2"></i>
                  <span>ثبت نام شهروند</span>
                </button>
                <button mat-menu-item (click)="openCompanyChangeStatusDialog(row)">
                  <i class="fa fa-bolt mr-2"></i>
                  <span>تغییر وضعیت شهروند</span>
                </button>
                <button mat-menu-item (click)="delete(row)">
                  <i class="fa fa-trash mr-2"></i>
                  <span>حذف</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator
        [length]="listCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 50, 100, 250, 500, 1000, 2000, 5000]"
        showFirstLastButtons
        (page)="pageEvent($event)"
      ></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
