<div class="content-header">
  <span>مدیریت خانوده شهروند</span>
  <div class="bread-crumbs">
    <div class="bread-crumb-item" routerLink="/admin/dashboard">داشبورد</div>
    <div class="bread-crumb-item" routerLink="/admin/companies">شهروندان ها</div>
    <div class="bread-crumb-item active">مدیریت خانواده شهروند</div>
  </div>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end">
    <button (click)="back()" mat-stroked-button color="default">بازگشت</button>
  </mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="d-flex align-items-center justify-content-center p-5">
        <mat-spinner diameter="35" color="default"></mat-spinner>
      </div>
    }
    @else {
      <div class="p-3">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-4">
            <img class="citizen-image" [src]="baseUrl + citizen.personalPictureUrl" />
          </div>
          <div class="col-12 col-md-8 col-lg-8">
            <div class="row">
              <div class="col-lg-6">
                <img class="user-avatar" [src]="baseUrl + familyPictureUrl" />
              </div>
              <div class="col-12 col-md-6 col-lg-6">
                <span>کدملی : </span>
                <strong>
                  <a (click)="openCitizenProfile(citizen.userCode)">
                    {{ citizen.nationCode }}
                  </a>
                </strong>
              </div>
              <div class="col-12 col-md-6 col-lg-6">
                <span>نام : </span>
                <strong>{{ citizen.firstName }}</strong>
                &nbsp;
                <strong>{{ citizen.lastName }}</strong>
              </div>
              <div class="col-12 col-md-6 col-lg-6">
                <span>نام پدر: </span>
                <strong>{{ citizen.fatherName }}</strong>
              </div>
              <div class="col-12 col-md-6 col-lg-6">
                <span>وضعیت تاهل: </span>
                <strong>{{ citizen.mariageStatus | enumString: 'maritalStatus' }}</strong>
              </div>
              <div class="col-12 col-md-6 col-lg-6">
                <span>تاریخ تولد: </span>
                <strong>{{ citizen.birthDate | luxonFormat}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    }

    <!-- ----------------------------------------------------------------------- -->
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>

<div class="col-12">
  @for (item of familyList; track item) {
    <div class="row my-2 justify-content-center">
      <div class="col-12 col-md-10 col-lg-10">
        <mat-card>
          <mat-card-content>
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                  <b>{{ item.familyCitizen }} </b>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  کد ملی:
                  <a (click)="openCitizenProfile(item.familyUserCode)">
                    {{ item.familyNationCode }}
                  </a>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  نسبت :
                  {{ item.familyRelation | enumString: 'familyRelationships' }}
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  تاریخ تولد : {{ item.familyBirthDate | luxonFormat}}
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  وضعیت تاهل: {{ item.familyMariageStatus | enumString: 'maritalStatus' }}
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <span>تاریخ ثبت نام: </span>
                  <strong>{{ item.creationDate | luxonFormat}}</strong>
                </div>
                <div class="col-md-12">
                  <span>وضعیت تایید: </span>
                  @if (item.confirm) {
                    <strong class="text-success">
                      تایید شده توسط
                      {{ item.confirmerUser }}
                      در تاریخ
                      {{ item.confirmDate | luxonFormat}}
                    </strong>
                  }
                  @if (item.confirm == false) {
                    <strong class="text-danger">
                      عدم تایید توسط
                      {{ item.confirmerUser }}
                      در تاریخ
                      {{ item.confirmDate | luxonFormat}}
                    </strong>
                  }
                  @if (item.confirm == null) {
                    <strong class="text-warning"> بررسی نشده</strong>
                  }
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="d-flex justify-content-end">
            <button mat-raised-button color="default" (click)="toggleConfirmFamily(item, true)">
              تایید<i class="fa fa-check mx-2"></i>
            </button>
            <button mat-raised-button color="warn" (click)="toggleConfirmFamily(item, false)">
              عدم تایید<i class="fa fa-times mx-2"></i>
            </button>
            <button (click)="openRejectFamilyeDialog(item)" mat-raised-button color="accent">
              حذف <i class="fa fa-trash mx-2"></i>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  }
</div>
