<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    <div class="field-set">
      <label class="field-set-title">ثبت بازخورد برای این شهروند</label>
      <form [formGroup]="feedbackfrm">
        <div class="row">
          <mat-form-field class="col-sm-12">
            <mat-label>موضوع بازخورد</mat-label>
            <mat-select formControlName="feedbackId">
              @for (item of groupfeedbackList; track item) {
                <mat-option [value]="item.key">{{ item.text }}</mat-option>
              }
            </mat-select>
            @if (feedbackfrm.get('feedbackId').errors?.required) {
              <mat-error>موضوع بازخورد را انتخاب کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label>متن بازخورد</mat-label>
            <textarea
              rows="5"
              matInput
              formControlName="feedbackDescription"
              maxlength="1000"
            ></textarea>
            @if (feedbackfrm.get('feedbackDescription').errors?.required) {
              <mat-error> متن بازخورد را وارد کنید </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <button
            mat-raised-button
            color="default"
            [disabled]="isSavingfeedback"
            (click)="savefeedback()"
          >
            <mat-spinner [hidden]="!isSavingfeedback" diameter="20" color="default"></mat-spinner>
            <span>ثبت بازخورد</span>
          </button>
        </div>
      </form>
    </div>
    @for (item of listfeedback; track item) {
      <mat-card class="mt-3">
        <div class="card-title d-flex align-items-center justify-content-between">
          <div>
            <strong> توسط {{ item.byUser }} ( {{ item.feedback }} ) </strong>
          </div>
          <div>
            <small> {{ item.onDate | luxonFormat }}</small>
          </div>
        </div>
        <mat-card-content>
          <pre class="text-justify">{{ item.feedbackDescription }}</pre>
        </mat-card-content>
      </mat-card>
    }
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
