@if (loadingData) {
  <div class="d-flex align-items-center justify-content-center">
    <mat-spinner diameter="50" color="default"></mat-spinner>
  </div>
}

@if (!loadingData) {
  <div class="job-details">
    <div class="box-header">
      <div class="d-flex align-items-center justify-content-between">
        <h3 class="box-title">اطلاعات شرکت</h3>
        <div>
          <div>
            <strong class="text-black">تاریخ اعتبار: </strong>
            <span class="text-info">{{ jobOpportunity.expireDate }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <strong> شرکت: </strong>
        <span>{{ jobOpportunity.userCompanyTitle }}</span>
      </div>
      <div class="col-sm-6 col-md-4">
        <strong>مدیر عامل: </strong>
        <span>{{ jobOpportunity.companyMangerName }}</span>
      </div>
      <div class="col-sm-6 col-md-4">
        <strong>سفارش دهنده: </strong>
        <span>{{ jobOpportunity.applicant }}</span>
      </div>
      @if (jobOpportunity.applicantPost) {
        <div class="col-sm-6 col-md-4">
          <strong>سمت سفارش دهنده: </strong>
          <span>{{ jobOpportunity.applicantPost }}</span>
        </div>
      }
      <div class="col-sm-6 col-md-4">
        <strong>شماره تلفن: </strong>
        <span>{{ jobOpportunity.applicantPhoneNumber }}</span>
      </div>
      <div class="col-sm-6 col-md-4">
        <strong>شماره موبایل: </strong>
        <span>{{ jobOpportunity.companyMobileNumber }}</span>
      </div>
      <div class="col-sm-12">
        <strong>توضیحات (زمان، آدرس و شرح مصاحبه): </strong>
        <span>{{ jobOpportunity.employerDescription }}</span>
      </div>
      <div class="col-sm-12">
        <strong>آدرس شرکت: </strong>
        <span>{{ jobOpportunity.companyAddress }}</span>
      </div>
    </div>
    <div class="box-header">
      <h3 class="box-title">اطلاعات فرصت شغلی</h3>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <strong>کد ردیف شغلی: </strong>
        <span>{{ jobOpportunity.jobRowCode }}</span>
      </div>
      <div class="col-sm-6 col-md-4">
        <strong>عنوان شغل: </strong>
        <span>{{ jobOpportunity.jobTitleStr }}</span>
      </div>
      @if (jobOpportunity.workNature) {
        <div class="col-sm-6 col-md-4">
          <strong>ماهیت شغل: </strong>
          <span>{{ jobOpportunity.workNature }}</span>
        </div>
      }
      <div class="col-sm-6 col-md-4">
        <strong>تاریخ اعتبار: </strong>
        <span>{{ jobOpportunity.expireDate }}</span>
      </div>
    </div>
    <div class="box-header with-border">
      <h3 class="box-title">موقعیت مکانی شغل</h3>
    </div>
    <div class="row">
      @if (jobOpportunity?.location?.text) {
        <div class="col-sm-6 col-md-4">
          <strong>شهر محل کار: </strong>
          <span>{{ jobOpportunity.location.text }}</span>
        </div>
      }
      @if (jobOpportunity?.jobArea) {
        <div class="col-sm-6 col-md-4">
          <strong>منطقه: </strong>
          <span>{{ jobOpportunity.jobArea }}</span>
        </div>
      }
      @if (jobOpportunity?.fullAddress) {
        <div class="col-sm-12">
          <strong>آدرس محل کار: </strong>
          <span>{{ jobOpportunity.fullAddress }}</span>
        </div>
      }
    </div>
    @if (jobOpportunity.cites?.length > 0) {
      <strong>شهر ها: </strong>
    }
    <mat-chip-list aria-label="selectedCities">
      @for (item of jobOpportunity.cites; track item) {
        <mat-chip>{{ item }}</mat-chip>
      }
    </mat-chip-list>
    @if (similarJabs?.length > 0) {
      <strong>عناوین شغلی مشابه: </strong>
    }
    <mat-chip-list aria-label="similar jobs">
      @for (item of similarJabs; track item) {
        <mat-chip>{{ item }}</mat-chip>
      }
    </mat-chip-list>
    <div class="box-header">
      <h3 class="box-title">شرایط کارجو</h3>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <strong>جنسیت: </strong>
        @if (jobOpportunity.sex == true) {
          <span>آقا</span>
        }
        @if (jobOpportunity.sex == false) {
          <span>خانم</span>
        }
        @if (jobOpportunity.sex == null) {
          <span>فرقی نمی کند</span>
        }
      </div>
      @if (jobOpportunity.maritalStatus) {
        <div class="col-sm-6 col-md-4">
          <strong>وضعیت تاهل: </strong>
          <span>{{ jobOpportunity.maritalStatus }}</span>
        </div>
      }
      @if (jobOpportunity.workExperienceMin || jobOpportunity.workExperienceMax) {
        <div class="col-sm-6 col-md-4">
          <strong>سابقه کار: </strong>
          <span
            >بین {{ jobOpportunity.workExperienceMin }} تا
            {{ jobOpportunity.workExperienceMax }} ماه</span
          >
        </div>
      }
      <div class="col-sm-6 col-md-4">
        <strong>تعداد نیروی درخواستی: </strong>
        <span>{{ jobOpportunity.number }} نفر</span>
      </div>
      @if (jobOpportunity.militaryTrainingStatus) {
        <div class="col-sm-6 col-md-4">
          <strong>وضعیت پایان خدمت: </strong>
          <span>{{ jobOpportunity.militaryTrainingStatus }}</span>
        </div>
      }
      @if (jobOpportunity.jobGradeTitle) {
        <div class="col-sm-6 col-md-4">
          <strong>مقطع تحصیلی: </strong>
          <span>{{ jobOpportunity.jobGradeTitle }}</span>
        </div>
      }
    </div>
    @if (jobOpportunity.majors?.length > 0) {
      <strong>رشته های تحصیلی: </strong>
    }
    <mat-chip-list aria-label="selectedFieldStudies">
      @for (item of jobOpportunity.majors; track item) {
        <mat-chip>{{ item }}</mat-chip>
      }
    </mat-chip-list>
    @if (jobOpportunity.skills?.length > 0) {
      <strong>مهارت ها: </strong>
    }
    <mat-chip-list aria-label="selectedSkills">
      @for (item of jobOpportunity.skills; track item) {
        <mat-chip>{{ item }}</mat-chip>
      }
    </mat-chip-list>
    <div class="box-header">
      <h3 class="box-title">مزایای شغل</h3>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <strong>زمان کاری: </strong>
        <span>{{ jobOpportunity.workTimeType }}</span>
      </div>
      <div class="col-sm-6 col-md-4">
        <strong>اوقات کاری: </strong>
        <span>{{ jobOpportunity.jobWorkTime }}</span>
      </div>
      <div class="col-sm-6 col-md-4">
        <strong>ساعت کاری در 24 ساعت: </strong>
        <span>{{ jobOpportunity.workTime }} ساعت</span>
      </div>
      <div class="col-sm-6 col-md-4">
        <strong>نوع حقوق: </strong>
        <span>{{ jobOpportunity.salaryRange }}</span>
      </div>
      @if (jobOpportunity.salaryRangeFrom) {
        <div class="col-sm-6 col-md-4">
          <strong>حقوق از: </strong>
          <span>{{ jobOpportunity.salaryRangeFrom }}</span>
        </div>
      }
      @if (jobOpportunity.salaryRangeTo) {
        <div class="col-sm-6 col-md-4">
          <strong>حقوق تا: </strong>
          <span>{{ jobOpportunity.salaryRangeTo }}</span>
        </div>
      }
      @if (jobOpportunity.jobAgeStart) {
        <div class="col-sm-6 col-md-4">
          <strong>حداقل سن: </strong>
          <span>{{ jobOpportunity.jobAgeStart }} سال</span>
        </div>
      }
      @if (jobOpportunity.jobAgeEnd) {
        <div class="col-sm-6 col-md-4">
          <strong>حداکثر سن: </strong>
          <span>{{ jobOpportunity.jobAgeEnd }} سال</span>
        </div>
      }
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <strong>باز نشسته: </strong>
        @if (jobOpportunity.isRetired) {
          <span class="text-success">باشد</span>
        }
        @if (!jobOpportunity.isRetired) {
          <span class="text-danger">نباشد</span>
        }
      </div>
      <div class="col-sm-6 col-md-4">
        <strong>بیمه: </strong>
        @if (jobOpportunity.workInsurance) {
          <span class="text-success">دارد</span>
        }
        @if (!jobOpportunity.workInsurance) {
          <span class="text-danger">ندارد</span>
        }
      </div>
      <div class="col-sm-6 col-md-4">
        <strong>وعده غذایی: </strong>
        @if (jobOpportunity.meal) {
          <span class="text-success">دارد</span>
        }
        @if (!jobOpportunity.meal) {
          <span class="text-danger">ندارد</span>
        }
      </div>
      <div class="col-sm-6 col-md-4">
        <strong>سرویس: </strong>
        @if (jobOpportunity.workService) {
          <span class="text-success">دارد</span>
        }
        @if (!jobOpportunity.workService) {
          <span class="text-danger">ندارد</span>
        }
      </div>
    </div>
    @if (jobOpportunity.workServicePath) {
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <strong>مسیر سرویس: </strong>
          <span>{{ jobOpportunity.workServicePath }}</span>
        </div>
      </div>
    }
    <div class="box-header">
      <h3 class="box-title">سایر اطلاعات</h3>
    </div>
    <div class="">
      <strong>سایر توضیحات: </strong>
      <span>{{ jobOpportunity.note }}</span>
    </div>
  </div>
}
