<div class="content-header">
  <span>پروفایل شرکت </span>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end">
    <button mat-stroked-button color="default" (click)="back()" *ngIf="user.isAdmin">
      <span>بازگشت </span>
    </button>
  </mat-card-header>

  <div class="d-flex my-5 p-5 align-items-center justify-content-center" *ngIf="loading">
    <mat-spinner diameter="50" color="default"></mat-spinner>
  </div>

  <mat-tab-group *ngIf="!loading">
    <mat-tab>
      <ng-template mat-tab-label> اطلاعات اصلی شرکت </ng-template>
      <ng-template matTabContent>
        <div class="p-3">
          <div class="row my-4 line-height-3">
            <div class="col-sm-6 col-md-4" *ngIf="user.isAdmin">
              <span>کدملی مدیر شرکت: </span>
              <strong>{{ companyInfo.managerNationCode }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>نام مدیر شرکت: </span>
              <strong>{{ companyInfo.managerName }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>نام شرکت: </span>
              <strong>{{ companyInfo.companyName }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>نام لاتین شرکت: </span>
              <strong>{{ companyInfo.englishName }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>سال تاسیس: </span>
              <strong>{{ companyInfo.establishedYear }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>شماره اقتصادی شرکت: </span>
              <strong>{{ companyInfo.txtTinNo }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>شماره ثبت: </span>
              <strong>{{ companyInfo.txtRegNO }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>نوع/اتحادیه صنفی: </span>
              <strong>{{ companyInfo.companyOwnerType | enumString: 'companyOwnerType' }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>نوع پروانه فعالیت: </span>
              <strong>{{
                companyInfo.activityLicenseType | enumString: 'activityLicenseType'
              }}</strong>
            </div>

            <div class="col-sm-6 col-md-4" *ngIf="companyInfo.activityLicense">
              <span>نوع مجوز: </span>
              <strong>{{ companyInfo.activityLicense | enumString: 'activityLicense' }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>نوع فعالیت شرکت: </span>
              <strong>{{ companyInfo.fieldOfActivity | enumString: 'fieldOfActivity' }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span> نوع زمین کارگاه: </span>
              <strong>{{ companyInfo.earthCondition | enumString: 'earthCondition' }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>تاریخ ثبت/پروانه کسب/تاسیس: </span>
              <strong>{{ companyInfo.activityLicenseDate | jalali }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>مساحت زمین شرکت: </span>
              <strong>{{ companyInfo.unitArea }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span> مساحت فضای سبز: </span>
              <strong>{{ companyInfo.areaOfGreenSpace }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>مساحت احداث شده: </span>
              <strong>{{ companyInfo.buildingArea }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>مثراژ مجوز احداث: </span>
              <strong>{{ companyInfo.buildingLicenseArea }}</strong>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label> اطلاعات آدرس </ng-template>
      <ng-template matTabContent>
        <div class="p-3">
          <div class="row my-4 line-height-3">
            <div class="col-sm-6 col-md-4" *ngIf="user.isAdmin">
              <span>وضعیت: </span>
              <strong>{{
                companyInfo.userCompanyAccountStatus | enumString: 'userCompanyAccountStatus'
              }}</strong>
            </div>
            <div
              class="col-sm-6 col-md-8"
              *ngIf="user.isAdmin && companyInfo.userCompanyAccountStatus == 2"
            >
              <span>دلیل رد: </span>
              <strong>{{ companyInfo.rejectDesription }}</strong>
            </div>
          </div>
          <div class="row my-4 line-height-3">
            <div class="col-sm-6 col-md-4" *ngIf="user.isAdmin">
              <span>شماره موبایل: </span>
              <strong>{{ companyInfo.mobileNumber }}</strong>
            </div>

            <div class="col-sm-6 col-md-4" *ngIf="companyInfo.mobileNumber2 && user.isAdmin">
              <span>شماره موبایل دوم: </span>
              <strong>{{ companyInfo.mobileNumber2 }}</strong>
            </div>

            <div class="col-sm-6 col-md-4" *ngIf="companyInfo.mobileNumber3 && user.isAdmin">
              <span>شماره موبایل سوم: </span>
              <strong>{{ companyInfo.mobileNumber3 }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>شماره تلفن دفتر: </span>
              <strong>{{ companyInfo.cellNumber }}</strong>
            </div>
            <div class="col-sm-6 col-md-4" *ngIf="companyInfo.cellNumber2">
              <span> شماره دوم تلفن دفتر: </span>
              <strong>{{ companyInfo.cellNumber2 }}</strong>
            </div>
            <div class="col-sm-6 col-md-4" *ngIf="companyInfo.cellNumber3">
              <span>شماره سوم تلفن دفتر: </span>
              <strong>{{ companyInfo.cellNumber3 }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>شماره پیامک: </span>
              <strong>{{ companyInfo.smsNumber }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>شماره فکس: </span>
              <strong>{{ companyInfo.fax }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>آدرس وب سایت: </span>
              <strong>{{ companyInfo.website }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>ایمیل: </span>
              <strong>{{ companyInfo.email }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>آیدی تلگرام: </span>
              <strong>{{ companyInfo.telegram }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>استان: </span>
              <strong>{{ companyInfo.province }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>شهر: </span>
              <strong>{{ companyInfo.city }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>کد پستی: </span>
              <strong>{{ companyInfo.zipCode }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>خیابان: </span>
              <strong>{{ companyInfo.street }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>پلاک: </span>
              <strong>{{ companyInfo.pelak }}</strong>
            </div>

            <div class="col-sm-12">
              <span>آدرس کامل: </span>
              <strong>{{ companyInfo.fullAddress }}</strong>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label> سایر اطلاعات شرکت </ng-template>
      <ng-template matTabContent>
        <div class="p-3">
          <div class="row my-4 line-height-3">
            <div class="col-sm-6 col-md-4">
              <span>نام و نام خانوادگی نماینده: </span>
              <strong>{{ companyInfo.companyRepresentative }}</strong>
            </div>

            <div class="col-sm-6 col-md-4">
              <span>کد کارگاه بیمه: </span>
              <strong>{{ companyInfo.insuranceNumber }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>تعداد پرسنل: </span>
              <strong>{{ companyInfo.numberOfEmployees }}</strong>
            </div>

            <div class="col-sm-12">
              <span>آدرس صفحه اختصاصی: </span>
              <strong>{{ companyInfo.slagUrl }}</strong>
            </div>

            <div class="col-sm-6 col-md-4 lightGallery">
              <strong>تصویر امضای شرکت: </strong>
              <br />
              <a
                href="{{ baseUrl + companyInfo.signatureUrl }}"
                target="_blank"
                *ngIf="companyInfo.signatureUrl"
              >
                <img [src]="baseUrl + companyInfo.signatureUrl" class="img-thumbnail thumb-128" />
              </a>
            </div>
            <div class="col-sm-6 col-md-4 lightGallery">
              <strong>تصویر لوگوی شرکت: </strong>
              <br />
              <a
                href="{{ baseUrl + companyInfo.imageUrl }}"
                target="_blank"
                *ngIf="companyInfo.imageUrl"
              >
                <img [src]="baseUrl + companyInfo.imageUrl" class="img-thumbnail thumb-128" />
              </a>
            </div>
            <div class="col-sm-6 col-md-4 lightGallery">
              <strong>تصویر قرارداد شرکت: </strong>
              <br />
              <a
                href="{{ baseUrl + companyInfo.contractUrl }}"
                target="_blank"
                *ngIf="companyInfo.contractUrl"
              >
                <img [src]="baseUrl + companyInfo.contractUrl" class="img-thumbnail thumb-128" />
              </a>
            </div>

            <div class="html-editor" [innerHtml]="companyInfo.content | safeHtml"></div>
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="user.isAdmin">
      <ng-template mat-tab-label> اطلاعات تکمیلی </ng-template>
      <ng-template matTabContent>
        <div class="p-3">
          <div class="row line-height-3">
            <div class="col-sm-6 col-md-4">
              <span>شماره پرونده: </span>
              <strong>
                {{ companyInfo.fileCode }}
              </strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>کد قرارداد: </span>
              <strong>{{ companyInfo.contractCode }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>تاریخ قراداد: </span>
              <strong>{{ companyInfo.contractOnDate | jalali }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>تاریخ قراداد آب: </span>
              <strong>{{ companyInfo.waterContractOnDate | jalali }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>شناسه واریز قبض آب: </span>
              <strong>{{ companyInfo.waterDepositId }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>کد تفصیلی آب: </span>
              <strong>{{ companyInfo.waterCode }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>شناسه واریزی قبض شارژ: </span>
              <strong>{{ companyInfo.chargeDepositId }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>کد تفصیلی شارژ: </span>
              <strong>{{ companyInfo.chargeCode }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>شارژ معین کد: </span>
              <strong>{{ companyInfo.chargeMoeinCode }}</strong>
            </div>
            <div class="col-sm-6 col-md-4">
              <span>حجم مخازن آب هوایی: </span>
              <strong>{{ companyInfo.volumeAirTanks }}</strong>
            </div>
            <p class="col-sm-12">
              <span> این مشترک دارای واحد تجاری است؟ </span>

              <strong *ngIf="companyInfo.isBusinessUnit" class="text-success"> بله </strong>
              <strong *ngIf="!companyInfo.isBusinessUnit" class="text-success"> خیر </strong>
            </p>
            <p class="col-sm-12">
              <span> این شرکت در حال ساخت می باشد؟ </span>
              <strong *ngIf="companyInfo.isBuildingCompany" class="text-success"> بله </strong>
              <strong *ngIf="!companyInfo.isBuildingCompany" class="text-success"> خیر </strong>
            </p>
            <p class="col-sm-12">
              <span> قبض آب صادر شود؟ </span>
              <strong *ngIf="companyInfo.issueWaterBill" class="text-success"> بله </strong>
              <strong *ngIf="!companyInfo.issueWaterBill" class="text-success"> خیر </strong>
            </p>
            <p class="col-sm-12">
              <span> قبض شارژ صادر شود؟ </span>
              <strong *ngIf="companyInfo.issueChargeBill" class="text-success"> بله </strong>
              <strong *ngIf="!companyInfo.issueChargeBill" class="text-success"> خیر </strong>
            </p>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <mat-card-content> </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
