<div class="content-header">
  <span>پروفایل شرکت </span>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end">
    @if (user.isAdmin) {
      <button mat-stroked-button color="default" (click)="back()">
        <span>بازگشت </span>
      </button>
    }
  </mat-card-header>

  @if (loading) {
    <div class="d-flex my-5 p-5 align-items-center justify-content-center">
      <mat-spinner diameter="50" color="default"></mat-spinner>
    </div>
  }

  @if (!loading) {
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label> اطلاعات اصلی شرکت </ng-template>
        <ng-template matTabContent>
          <div class="p-3">
            <div class="row my-4 line-height-3">
              @if (user.isAdmin) {
                <div class="col-sm-6 col-md-4">
                  <span>کدملی مدیر شرکت: </span>
                  <strong>{{ companyInfo.managerNationCode }}</strong>
                </div>
              }
              <div class="col-sm-6 col-md-4">
                <span>نام مدیر شرکت: </span>
                <strong>{{ companyInfo.managerName }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>نام شرکت: </span>
                <strong>{{ companyInfo.companyName }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>نام لاتین شرکت: </span>
                <strong>{{ companyInfo.englishName }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>سال تاسیس: </span>
                <strong>{{ companyInfo.establishedYear }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>شماره اقتصادی شرکت: </span>
                <strong>{{ companyInfo.txtTinNo }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>شماره ثبت: </span>
                <strong>{{ companyInfo.txtRegNO }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>نوع/اتحادیه صنفی: </span>
                <strong>{{ companyInfo.companyOwnerType | enumString: 'companyOwnerType' }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>نوع پروانه فعالیت: </span>
                <strong>{{
                  companyInfo.activityLicenseType | enumString: 'activityLicenseType'
                }}</strong>
              </div>
              @if (companyInfo.activityLicense) {
                <div class="col-sm-6 col-md-4">
                  <span>نوع مجوز: </span>
                  <strong>{{ companyInfo.activityLicense | enumString: 'activityLicense' }}</strong>
                </div>
              }
              <div class="col-sm-6 col-md-4">
                <span>نوع فعالیت شرکت: </span>
                <strong>{{ companyInfo.fieldOfActivity | enumString: 'fieldOfActivity' }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span> نوع زمین کارگاه: </span>
                <strong>{{ companyInfo.earthCondition | enumString: 'earthCondition' }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>تاریخ ثبت/پروانه کسب/تاسیس: </span>
                <strong>{{ companyInfo.activityLicenseDate | luxonFormat}}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>مساحت زمین شرکت: </span>
                <strong>{{ companyInfo.unitArea }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span> مساحت فضای سبز: </span>
                <strong>{{ companyInfo.areaOfGreenSpace }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>مساحت احداث شده: </span>
                <strong>{{ companyInfo.buildingArea }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>مثراژ مجوز احداث: </span>
                <strong>{{ companyInfo.buildingLicenseArea }}</strong>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label> اطلاعات آدرس </ng-template>
        <ng-template matTabContent>
          <div class="p-3">
            <div class="row my-4 line-height-3">
              @if (user.isAdmin) {
                <div class="col-sm-6 col-md-4">
                  <span>وضعیت: </span>
                  <strong>{{
                    companyInfo.userCompanyAccountStatus | enumString: 'userCompanyAccountStatus'
                  }}</strong>
                </div>
              }
              @if (user.isAdmin && companyInfo.userCompanyAccountStatus == 2) {
                <div class="col-sm-6 col-md-8">
                  <span>دلیل رد: </span>
                  <strong>{{ companyInfo.rejectDesription }}</strong>
                </div>
              }
            </div>
            <div class="row my-4 line-height-3">
              @if (user.isAdmin) {
                <div class="col-sm-6 col-md-4">
                  <span>شماره موبایل: </span>
                  <strong>{{ companyInfo.mobileNumber }}</strong>
                </div>
              }
              @if (companyInfo.mobileNumber2 && user.isAdmin) {
                <div class="col-sm-6 col-md-4">
                  <span>شماره موبایل دوم: </span>
                  <strong>{{ companyInfo.mobileNumber2 }}</strong>
                </div>
              }
              @if (companyInfo.mobileNumber3 && user.isAdmin) {
                <div class="col-sm-6 col-md-4">
                  <span>شماره موبایل سوم: </span>
                  <strong>{{ companyInfo.mobileNumber3 }}</strong>
                </div>
              }
              <div class="col-sm-6 col-md-4">
                <span>شماره تلفن دفتر: </span>
                <strong>{{ companyInfo.cellNumber }}</strong>
              </div>
              @if (companyInfo.cellNumber2) {
                <div class="col-sm-6 col-md-4">
                  <span> شماره دوم تلفن دفتر: </span>
                  <strong>{{ companyInfo.cellNumber2 }}</strong>
                </div>
              }
              @if (companyInfo.cellNumber3) {
                <div class="col-sm-6 col-md-4">
                  <span>شماره سوم تلفن دفتر: </span>
                  <strong>{{ companyInfo.cellNumber3 }}</strong>
                </div>
              }
              <div class="col-sm-6 col-md-4">
                <span>شماره پیامک: </span>
                <strong>{{ companyInfo.smsNumber }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>شماره فکس: </span>
                <strong>{{ companyInfo.fax }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>آدرس وب سایت: </span>
                <strong>{{ companyInfo.website }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>ایمیل: </span>
                <strong>{{ companyInfo.email }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>آیدی تلگرام: </span>
                <strong>{{ companyInfo.telegram }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>استان: </span>
                <strong>{{ companyInfo.province }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>شهر: </span>
                <strong>{{ companyInfo.city }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>کد پستی: </span>
                <strong>{{ companyInfo.zipCode }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>خیابان: </span>
                <strong>{{ companyInfo.street }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>پلاک: </span>
                <strong>{{ companyInfo.pelak }}</strong>
              </div>
              <div class="col-sm-12">
                <span>آدرس کامل: </span>
                <strong>{{ companyInfo.fullAddress }}</strong>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label> سایر اطلاعات شرکت </ng-template>
        <ng-template matTabContent>
          <div class="p-3">
            <div class="row my-4 line-height-3">
              <div class="col-sm-6 col-md-4">
                <span>نام و نام خانوادگی نماینده: </span>
                <strong>{{ companyInfo.companyRepresentative }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>کد کارگاه بیمه: </span>
                <strong>{{ companyInfo.insuranceNumber }}</strong>
              </div>
              <div class="col-sm-6 col-md-4">
                <span>تعداد پرسنل: </span>
                <strong>{{ companyInfo.numberOfEmployees }}</strong>
              </div>
              <div class="col-sm-12">
                <span>آدرس صفحه اختصاصی: </span>
                <strong>{{ companyInfo.slagUrl }}</strong>
              </div>
              <div class="col-sm-6 col-md-4 lightGallery">
                <strong>تصویر امضای شرکت: </strong>
                <br />
                @if (companyInfo.signatureUrl) {
                  <a href="{{ baseUrl + companyInfo.signatureUrl }}" target="_blank">
                    <img
                      [src]="baseUrl + companyInfo.signatureUrl"
                      class="img-thumbnail thumb-128"
                    />
                  </a>
                }
              </div>
              <div class="col-sm-6 col-md-4 lightGallery">
                <strong>تصویر لوگوی شرکت: </strong>
                <br />
                @if (companyInfo.imageUrl) {
                  <a href="{{ baseUrl + companyInfo.imageUrl }}" target="_blank">
                    <img [src]="baseUrl + companyInfo.imageUrl" class="img-thumbnail thumb-128" />
                  </a>
                }
              </div>
              <div class="col-sm-6 col-md-4 lightGallery">
                <strong>تصویر قرارداد شرکت: </strong>
                <br />
                @if (companyInfo.contractUrl) {
                  <a href="{{ baseUrl + companyInfo.contractUrl }}" target="_blank">
                    <img
                      [src]="baseUrl + companyInfo.contractUrl"
                      class="img-thumbnail thumb-128"
                    />
                  </a>
                }
              </div>
              <div class="html-editor" [innerHtml]="companyInfo.content | safeHtml"></div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      @if (user.isAdmin) {
        <mat-tab>
          <ng-template mat-tab-label> اطلاعات تکمیلی </ng-template>
          <ng-template matTabContent>
            <div class="p-3">
              <div class="row line-height-3">
                <div class="col-sm-6 col-md-4">
                  <span>شماره پرونده: </span>
                  <strong>
                    {{ companyInfo.fileCode }}
                  </strong>
                </div>
                <div class="col-sm-6 col-md-4">
                  <span>کد قرارداد: </span>
                  <strong>{{ companyInfo.contractCode }}</strong>
                </div>
                <div class="col-sm-6 col-md-4">
                  <span>تاریخ قراداد: </span>
                  <strong>{{ companyInfo.contractOnDate | luxonFormat}}</strong>
                </div>
                <div class="col-sm-6 col-md-4">
                  <span>تاریخ قراداد آب: </span>
                  <strong>{{ companyInfo.waterContractOnDate | luxonFormat}}</strong>
                </div>
                <div class="col-sm-6 col-md-4">
                  <span>شناسه واریز قبض آب: </span>
                  <strong>{{ companyInfo.waterDepositId }}</strong>
                </div>
                <div class="col-sm-6 col-md-4">
                  <span>کد تفصیلی آب: </span>
                  <strong>{{ companyInfo.waterCode }}</strong>
                </div>
                <div class="col-sm-6 col-md-4">
                  <span>شناسه واریزی قبض شارژ: </span>
                  <strong>{{ companyInfo.chargeDepositId }}</strong>
                </div>
                <div class="col-sm-6 col-md-4">
                  <span>کد تفصیلی شارژ: </span>
                  <strong>{{ companyInfo.chargeCode }}</strong>
                </div>
                <div class="col-sm-6 col-md-4">
                  <span>شارژ معین کد: </span>
                  <strong>{{ companyInfo.chargeMoeinCode }}</strong>
                </div>
                <div class="col-sm-6 col-md-4">
                  <span>حجم مخازن آب هوایی: </span>
                  <strong>{{ companyInfo.volumeAirTanks }}</strong>
                </div>
                <p class="col-sm-12">
                  <span> این مشترک دارای واحد تجاری است؟ </span>
                  @if (companyInfo.isBusinessUnit) {
                    <strong class="text-success"> بله </strong>
                  }
                  @if (!companyInfo.isBusinessUnit) {
                    <strong class="text-success"> خیر </strong>
                  }
                </p>
                <p class="col-sm-12">
                  <span> این شرکت در حال ساخت می باشد؟ </span>
                  @if (companyInfo.isBuildingCompany) {
                    <strong class="text-success"> بله </strong>
                  }
                  @if (!companyInfo.isBuildingCompany) {
                    <strong class="text-success"> خیر </strong>
                  }
                </p>
                <p class="col-sm-12">
                  <span> قبض آب صادر شود؟ </span>
                  @if (companyInfo.issueWaterBill) {
                    <strong class="text-success"> بله </strong>
                  }
                  @if (!companyInfo.issueWaterBill) {
                    <strong class="text-success"> خیر </strong>
                  }
                </p>
                <p class="col-sm-12">
                  <span> قبض شارژ صادر شود؟ </span>
                  @if (companyInfo.issueChargeBill) {
                    <strong class="text-success"> بله </strong>
                  }
                  @if (!companyInfo.issueChargeBill) {
                    <strong class="text-success"> خیر </strong>
                  }
                </p>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      }
    </mat-tab-group>
  }

  <mat-card-content> </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
