<mat-card class="m-3">
  <mat-card-header class="card-header align-items-center mx-n3 mt-n3">
    ارسال مدرک
    {{ baseInfo.title }}
  </mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="p-5 d-flex align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    }
    <div class="row col-md-12">
      <div class="alert alert-warning">
        <strong> مدارک </strong>
        می بایست حتما خوانا باشد.
        <br />

        به درخواست هایی که مدارک آنها ناقص باشد و یا خوانا نباشد ترتیب اثر داده نخواهد شد.
      </div>
    </div>

    <div class="col-md-12">
      <p [innerHTML]="baseInfo.description"></p>
    </div>
    @if (!loading && hasFiles == false) {
      <div class="col-md-12">
        <div class="overflow-auto">
          <app-uploader
            (attachmentId)="getImage($event)"
            [data]="{ groupId: baseInfo.id }"
            [autoUpload]="true"
            [btnTitle]="' انتخاب مدرک'"
            [url]="uploadUrl"
          ></app-uploader>
        </div>
      </div>
    }

    <div class="row col-md-12">
      @if (hasFiles) {
        <div class="d-flex">
          <img
            class="flex-shrink-0 document-thumb object-fit-cover"
            [src]="baseUrl + uploadInfo.upoladFiles.filePath"
          />
          <a
            mat-stroked-button
            class="mx-2 flex-shrink-0"
            [href]="baseUrl + uploadInfo.upoladFiles.filePath"
            target="_blank"
          >
            مشاهده
            <mat-icon>remove_red_eye</mat-icon>
          </a>
          <button
            class="flex-shrink-0"
            (click)="removeDocument()"
            mat-stroked-button
            color="accent"
          >
            حذف مدرک و بارگذاری مجدد
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      }
    </div>
  </mat-card-content>

  <footer class="card-footer">
    <a color="default" href="/citizen/manzelat-plan"
      ><i _ngcontent-lja-c263="" class="fa fa-arrow-right"></i> بازگشت به لیست طرح ها
    </a>
  </footer>
</mat-card>
