<div class="field-set">
  <label class="field-set-title">ثبت فعالیت بر روی تیکت</label>
  <form [formGroup]="frm">
    <div class="row">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>در چه تاریخی </mat-label>
        <input matInput [matDatepicker]="dpicker" formControlName="onDate" />
        <mat-datepicker-toggle matSuffix [for]="dpicker"></mat-datepicker-toggle>
        <mat-datepicker #dpicker></mat-datepicker>
        @if (frm.get('onDate').errors?.required) {
          <mat-error> تاریخ را انتخاب کنید. </mat-error>
        }
        @if (frm.get('onDate').errors?.matDatepickerParse) {
          <mat-error> فرمت تاریخ صحیح نیست </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>چند دقیقه</mat-label>
        <input numbersOnly matInput formControlName="minute" maxlength="3" />
        @if (frm.get('minute').errors?.required) {
          <mat-error> دقیقه را وارد کنید </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-12">
        <mat-label>توضیحات</mat-label>
        <textarea rows="5" matInput formControlName="description" maxlength="1000"></textarea>
        @if (frm.get('description').errors?.required) {
          <mat-error> توضیحات را وارد کنید </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <p>
        <mat-checkbox color="default" formControlName="isSubtractFromContract"
          >جز وظابف من بوده است</mat-checkbox
        >
      </p>
      <button mat-raised-button color="default" [disabled]="isSaving" (click)="save()">
        <mat-spinner [hidden]="!isSaving" diameter="20" color="default"></mat-spinner>
        <span>ذخیره</span>
      </button>
    </div>
  </form>
</div>

@for (item of list; track item) {
  <mat-card class="mt-3">
    <div class="card-title d-flex align-items-center justify-content-between">
      <div>
        @if (item.isSubtractFromContract) {
          <strong class="tag">جز وظابف من بوده است </strong>
        }
        <strong>{{ item.userOwner }}</strong>
      </div>
      <div>
        <small>در تاریخ: {{ item.onDate | luxonFormat: 'yyyy/LL/dd' }} - {{ item.minute }} دقیقه </small>
        <button mat-icon-button (click)="delete(item)">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <mat-card-content>
      <pre class="text-justify">{{ item.description }}</pre>
    </mat-card-content>
  </mat-card>
}
