.card-title {
  margin: -15px -15px 15px;
  background: #222d32;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px 5px 0 0;

  &.light {
    background: #17a2b8;
  }
}



.tag {
  position: relative;
  background: #4f4d4d;
  padding: 0 15px;
  margin: 0 0 0 15px;
  border-radius: 5px;
  color: #fff;

  &:after {
    content: " ";
    position: absolute;
    left: -14px;
    top: 5px;
    border: 7px #4f4d4d solid;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}
