<div class="content-header">
  <span> مدیریت طرح های منزلت </span>
</div>

<mat-card class="m-3">
  <mat-card-header class="card-header">
    <div class="d-flex col align-items-center justify-content-between">مدیریت طرح های منزلت</div>
  </mat-card-header>
  <mat-card-content>
    <div class="p-4 list-container">
      @for (item of userGroupList; track $index) {
        <div class="list-item">
          <div class="list-content">
            <div class="row">
              <div class="col-sm-12">
                @if (item.gender == false) {
                  <strong>
                    <i class="text-success fa fa-female" aria-hidden="true"></i>
                  </strong>
                }
                <strong> طرح : </strong><span> {{ item.title }}</span>
                @if (item.isActive == false) {
                  <strong class="text-danger"> (غیرفعال) </strong>
                }
              </div>
            </div>
          </div>
          <div class="menu">
            @if (!item.loading) {
              <a
                mat-icon-button
                href="/admin/update-manzalat-form/{{ item.id }}"
                matTooltip="ویرایش"
              >
                <i class="fa fa-edit"></i>
              </a>
            }
            @if (item.loading) {
              <mat-spinner color="default" diameter="25"></mat-spinner>
            }
          </div>
        </div>
      }
    </div>

    @if (userGroupList.length == 0 && !loading) {
      <div class="no-any-items">
        <i class="fa fa-info-circle"></i>
        اطلاعاتی ثبت نشده است
      </div>
    }
    @if (loading) {
      <div class="p-5 d-flex align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    }
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
