

<div class="content-header">
  <span>
    مدیریت طرح های منزلت

  </span>

</div>

<mat-card class="m-3">
  <mat-card-header class="card-header">
    <div class="d-flex col align-items-center justify-content-between">
      مدیریت طرح های منزلت
    </div>
  </mat-card-header>
  <mat-card-content>

    <div class="p-4 list-container">
      <div class="list-item" *ngFor="let item of userGroupList">
        <div class="list-content" (click)="openAddUserDialog(item)">
          <div class="row">
            <div class="col-sm-12">
              <strong  *ngIf="item.gender==false" >
                <i class="text-success fa fa-female" aria-hidden="true"></i>
              </strong>
              
              <strong> طرح : </strong><span> {{item.title}}</span>

              <strong class="text-danger" *ngIf="item.isActive==false">
                (غیرفعال)
              </strong>

            </div>
          </div>
        </div>

        <div class="menu">
          <a mat-icon-button href="/admin/update-manzalat-form/{{item.id}}" *ngIf="!item.loading" matTooltip="ویرایش">
            <i class="fa fa-edit"></i>
          </a>
          

         

          <mat-spinner *ngIf="item.loading" color="default" diameter="25"></mat-spinner>
        </div>
      </div>
    </div>

    <div class="no-any-items" *ngIf="userGroupList.length==0 && !loading">
      <i class="fa fa-info-circle"></i>
      اطلاعاتی ثبت نشده است
    </div>
    <div class="p-5 d-flex align-items-center justify-content-center" *ngIf="loading">
      <mat-spinner diameter="50" color="default"></mat-spinner>
    </div>

  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>


