<ul class="tree-menu">
  @for (item of menuItems; track item) {
    <li>
      <div class="menu-item" (click)="openMenuDialog(item)">
        <i class="{{ item.iconFile }}"></i>
        <span>{{ item.menuName }}</span>
        <div class="spacer"></div>
        <button mat-icon-button (click)="delete(item, $event)" matTooltip="حذف">
          <i class="fa fa-trash"></i>
        </button>
      </div>
      @if (item.children.length > 0) {
        <adm-tree-menu [menuItems]="item.children"></adm-tree-menu>
      }
    </li>
  }
</ul>
