<h3 class="title mt-4">
  <strong> پیوست:</strong>
  @if (attachments.length == 0 && !loadingData) {
    <strong class="text-danger"> ندارد </strong>
  }
</h3>
@if (loadingData) {
  <div class="d-flex align-items-center justify-content-center p-3">
    <mat-spinner diamter="25" color="default"></mat-spinner>
  </div>
}

<div class="attachment-container">
  @for (item of attachments; track $index) {
    <div class="img-thumbnail">
      <div class="img-container" [class.lightGallery]="item.isImage">
        <a href="{{ baseUrl + item.filePath }}" target="_blank">
          @if (item.isImage) {
            <img [src]="baseUrl + item.filePath" />
          }
          @if (!item.isImage) {
            <span class="f-s-42">{{ item.extension }}</span>
          }
        </a>
      </div>
      <div class="file-date">
        <i class="fa fa-calendar mr-2"></i>
        <span> {{ item.attachedOn | luxonFormat }}</span>
      </div>
      <div class="file-name">
        <small> {{ item.fileName }}</small>
      </div>
      <div class="file-size">
        <small> {{ item.size / 1024 | number }}Kb </small>
      </div>
      <div class="caption">
        <small> {{ item.caption }}</small>
      </div>
    </div>
  }
</div>
