<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">ثبت کاربر جدید</h5>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="userForm">
    <div class="row">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>نام و نام خانوادگی</mat-label>
        <input matInput formControlName="displayName" autocomplete="doNotAutoComplete" />
        @if (userForm.get('displayName').errors?.required) {
          <mat-error> نام و نام خانوادگی را وارد کنید. </mat-error>
        }
        @if (userForm.get('displayName').errors?.pattern) {
          <mat-error> فقط از حروف فارسی استفاده کنید. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>شماره موبایل</mat-label>
        <input matInput formControlName="mobile" maxlength="11" numbersOnly />
        @if (userForm.get('mobile').errors?.required) {
          <mat-error> شماره موبایل را وارد کنید. </mat-error>
        }
        @if (userForm.get('mobile').errors?.invalid) {
          <mat-error> شماره موبایل صحیح نیست. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>آدرس ایمیل</mat-label>
        <input matInput formControlName="email" />

        @if (userForm.get('email').errors?.email) {
          <mat-error> ایمیل وارد شده صحیح نیست! </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>سازمان</mat-label>
        <mat-select formControlName="organization" (selectionChange)="getUnitsOfOrganization()">
          @for (item of organizationList; track item) {
            <mat-option [value]="item">{{ item.text }}</mat-option>
          }
        </mat-select>
        @if (userForm.get('organization').errors?.required) {
          <mat-error> سازمان را مشخص کنید. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>واحد</mat-label>
        <mat-select formControlName="organizationalUnit">
          @for (item of unitList; track item) {
            <mat-option [value]="item">{{ item.text }}</mat-option>
          }
        </mat-select>
        @if (userForm.get('organizationalUnit').errors?.required) {
          <mat-error> واحد را مشخص کنید. </mat-error>
        }
        <mat-spinner matSuffix diameter="20" [hidden]="!loadingUnit"></mat-spinner>
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>نوع کاربر</mat-label>
        <mat-select formControlName="isGuardRole">
          <mat-option [value]="false">کاربر ادمین</mat-option>
          <mat-option [value]="true">کاربر کارت</mat-option>
        </mat-select>
        @if (userForm.get('isGuardRole').errors?.required) {
          <mat-error> نوع کاربر را مشخص کنید. </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>نام کاربری</mat-label>
        <input matInput formControlName="username" />
        @if (userForm.get('username').errors?.required) {
          <mat-error> نام کاربری را وارد کنید. </mat-error>
        }
        @if (userForm.get('username').errors?.pattern) {
          <mat-error> فقط از حروف لاتین استفاده کنید. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>کلمه عبور</mat-label>
        <input matInput type="password" formControlName="password" autocomplete="new-password" />
        @if (userForm.get('password').errors?.required) {
          <mat-error> کلمه عبور را وارد کنید. </mat-error>
        }
        @if (userForm.get('password').errors?.weakPassword) {
          <mat-error>
            کلمه عبور باید حداقل 6 کاراکتر و شامل حروف لاتین بزرگ، کوچک و علائم خاص باشد.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>تکرار کلمه عبور</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        @if (userForm.get('confirmPassword').errors?.required) {
          <mat-error> تکرار کلمه عبور را وارد کنید. </mat-error>
        }
        @if (userForm.get('confirmPassword').errors?.weakPassword) {
          <mat-error>
            کلمه عبور باید حداقل 6 کاراکتر و شامل حروف لاتین بزرگ، کوچک و علائم خاص باشد.
          </mat-error>
        }
      </mat-form-field>
    </div>

    @if (userForm.hasError('notSame') && userForm.get('confirmPassword').value) {
      <div>
        <span class="text-danger"> تکرار کلمه عبور صحیح نیست! </span>
      </div>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>ذخیره </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
