<div class="content-header">
  <span> تنظیمات سامانه </span>
</div>

<mat-card class="custom-card">
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="d-flex align-items-center justify-content-center p-5 my-5">
        <mat-spinner color="default"></mat-spinner>
      </div>
    }
    @if (!loading) {
      <form [formGroup]="settingForm" class="p-4">
        <!--**************************************************************************************-->
        <p class="section-title">
          <strong>تنظیمات اصلی</strong>
        </p>
        <div class="row">
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label> آدرس سایت</mat-label>
            <input type="text" matInput formControlName="siteUrl" />
            @if (settingForm.get('siteUrl').errors?.required) {
              <mat-error> آدرس سایت را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label> عنوان سایت </mat-label>
            <input type="text" matInput formControlName="siteName" />
            @if (settingForm.get('siteName').errors?.required) {
              <mat-error> عنوان سایت را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>نام کامل سایت </mat-label>
            <input type="text" matInput formControlName="fullSiteName" />
            @if (settingForm.get('fullSiteName').errors?.required) {
              <mat-error> نام کامل سایت را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label> کلمات کلیدی سایت </mat-label>
            <input
              type="text"
              matInput
              formControlName="siteKeywords"
              placeholder="با کاما از یکدیگر جدا کنید"
            />
            @if (settingForm.get('siteKeywords').errors?.required) {
              <mat-error> کلمات کلیدی سایت را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label> توضیحات سایت </mat-label>
            <textarea
              rows="3"
              maxlength="1000"
              matInput
              formControlName="siteDescription"
            ></textarea>
            @if (settingForm.get('siteDescription').errors?.required) {
              <mat-error> توضیحات سایت را وارد کنید. </mat-error>
            }
          </mat-form-field>
        </div>
        <!--**************************************************************************************-->
        <p class="section-title">
          <strong>تنظیمات ایمیل</strong>
        </p>
        <div class="row">
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>سرور ایمیل</mat-label>
            <input type="text" matInput formControlName="mailServerUrl" />
            @if (settingForm.get('mailServerUrl').errors?.required) {
              <mat-error> سرور ایمیل را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>شماره پورت</mat-label>
            <input type="text" matInput formControlName="mailServerPort" numbersOnly />
            @if (settingForm.get('mailServerPort').errors?.required) {
              <mat-error> شماره پورت را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>نام کاربری </mat-label>
            <input type="text" matInput formControlName="mailServerUserName" />
            @if (settingForm.get('mailServerUserName').errors?.required) {
              <mat-error> نام کاربری را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>کلمه عبور</mat-label>
            <input type="text" matInput formControlName="mailServerPassword" />
            @if (settingForm.get('mailServerPassword').errors?.required) {
              <mat-error> کلمه عبور را وارد کنید. </mat-error>
            }
          </mat-form-field>
        </div>
        <!--**************************************************************************************-->
        <p class="section-title">
          <strong>تنظیمات تماس با ما</strong>
        </p>
        <div class="row">
          <mat-form-field class="col-sm-6 col-md-6">
            <mat-label>شماره تلفن ثابت </mat-label>
            <input
              type="text"
              matInput
              formControlName="cellNumber"
              placeholder="با کاما از یکدیگر جدا کنید"
            />
            @if (settingForm.get('cellNumber').errors?.required) {
              <mat-error> شماره تلفن ثابت را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-6">
            <mat-label>شماره تلفن همراه </mat-label>
            <input
              type="text"
              matInput
              formControlName="mobileNumber"
              placeholder="با کاما از یکدیگر جدا کنید"
            />
            @if (settingForm.get('mobileNumber').errors?.required) {
              <mat-error> شماره تلفن همراه را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label>آدرس </mat-label>
            <textarea matInput formControlName="addresss" rows="3"></textarea>
            @if (settingForm.get('addresss').errors?.required) {
              <mat-error> آدرس را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>آیدی تلگرام </mat-label>
            <input type="text" matInput formControlName="telegramChannelId" />
            @if (settingForm.get('telegramChannelId').errors?.required) {
              <mat-error> آیدی تلگرام را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label> شماره ارسال پیامک</mat-label>
            <input type="text" matInput formControlName="smsNumber" />
            @if (settingForm.get('smsNumber').errors?.required) {
              <mat-error> شماره ارسال پیامک را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>شماره فکس </mat-label>
            <input type="text" matInput formControlName="faxNumber" />
            @if (settingForm.get('faxNumber').errors?.required) {
              <mat-error> شماره فکس را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>آدرس ایمیل </mat-label>
            <input type="text" matInput formControlName="emailAddress" />
            @if (settingForm.get('emailAddress').errors?.required) {
              <mat-error> آدرس ایمیل را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label>متن فوتر سایت </mat-label>
            <textarea rows="3" maxlength="1000" matInput formControlName="footerText"></textarea>
            @if (settingForm.get('footerText').errors?.required) {
              <mat-error> متن فوتر سایت را وارد کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label>ساعات فعالیت </mat-label>
            <input type="text" matInput formControlName="businessHours" />
            @if (settingForm.get('businessHours').errors?.required) {
              <mat-error> ساعات فعالیت را وارد کنید. </mat-error>
            }
          </mat-form-field>
        </div>
        <p class="section-title">
          <strong>سایر تنظیمات</strong>
        </p>
        <div class="row">
          <mat-form-field class="col-md-3">
            <mat-label> شناسه استان اصفهان</mat-label>
            <input
              type="text"
              matInput
              formControlName="isfahanProvinceId"
              numbersOnly
              maxlength="20"
            />
            @if (settingForm.get('isfahanProvinceId').errors?.required) {
              <mat-error> شناسه استان اصفهان </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label> شناسه شهر اصفهان</mat-label>
            <input
              type="text"
              matInput
              formControlName="isfahanCityId"
              numbersOnly
              maxlength="20"
            />
            @if (settingForm.get('isfahanCityId').errors?.required) {
              <mat-error> شناسه شهر اصفهان </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label> تعداد مناطق شهر اصفهان</mat-label>
            <input type="text" matInput formControlName="regionCount" numbersOnly maxlength="20" />
            @if (settingForm.get('regionCount').errors?.required) {
              <mat-error> تعداد مناطق شهر اصفهان </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label> شناسه گروه منزلت</mat-label>
            <input
              type="text"
              matInput
              formControlName="manzalatGroupId"
              numbersOnly
              maxlength="4"
            />
            @if (settingForm.get('manzalatGroupId').errors?.required) {
              <mat-error> شناسه گروه منزلت </mat-error>
            }
          </mat-form-field>
          <p>
            <mat-checkbox
              color="default"
              formControlName="onlineAuthenticationAfterUpdateCitizenInfo"
            >
              آیا احراز هویت آنلاین بعد از ویرایش اطلاعات شهروند انجام شود ؟
            </mat-checkbox>
          </p>
          <br />
          <p>
            <mat-checkbox color="default" formControlName="onlineAuthentication">
              سرویس احراز هویت فعال باشد؟
            </mat-checkbox>
          </p>
        </div>
      </form>
    }
  </mat-card-content>
  <mat-card-footer>
    <div class="d-flex align-items-center justify-content-end p-4">
      <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveSetting()">
        <span> ذخیره اطلاعات</span>
        @if (isSaving) {
          <mat-spinner diameter="20"></mat-spinner>
        }
      </button>
    </div>
  </mat-card-footer>
</mat-card>
