<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [formControl]="ngControl.control"
    [matAutocomplete]="autoComplete"
    #trigger="matAutocompleteTrigger"
    [required]="required"
    autocomplete="doNotAutoComplete"
  />
  <mat-autocomplete
    #autoComplete="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="onChange()"
  >
    @if (List.length == 0 && !loading) {
      <mat-option disabled> موردی وجود ندارد! </mat-option>
    }
    @for (option of filteredList | async; track option) {
      <mat-option [value]="option">
        {{ option.text }}
      </mat-option>
    }
  </mat-autocomplete>
  @if (ngControl.hasError('incorrect') || ngControl.hasError('required')) {
    <mat-error> {{ label }} مورد نظر را از لیست انتخاب کنید </mat-error>
  }
  <mat-spinner matSuffix diameter="20" [hidden]="!loading"></mat-spinner>
  @if (ngControl.control.value) {
    <i (click)="clearItem(trigger, autoComplete)" matSuffix class="fa fa-times pointer"></i>
  }
</mat-form-field>
