<div class="content-header">
  <span>لیست دسترسی</span>
  <div class="bread-crumbs">
    <div class="bread-crumb-item" routerLink="/citizen/dashboard">داشبورد</div>
    <a class="bread-crumb-item" routerLink="/citizen/citizen-refund-status">
      لیست دسترسی
    </a>
    <a class="bread-crumb-item" routerLink="/citizen/refundAccess-details/{{refundId}}">
      جزئیات دسترسی
    </a>
    <div class="bread-crumb-item active">
      بررسی استرداد
    </div>
  </div>
</div>


<mat-card class="m-3">
  <mat-card-header class="card-header mx-n3 mt-n3">اطلاعات مربوط برگشت هزینه</mat-card-header>
  <mat-card-content>
    <div class="col-12 align-items-center p-5 justify-content-center">
      <div class="row">
        <div class="col-md-12">
          
        </div>
      </div>
      
    </div>
  </mat-card-content>
  <mat-card-footer class="p-3 d-flex justify-content-between">
    

   
  </mat-card-footer>
</mat-card>













