<ul class="tree-permission">
  @for (item of permissionItems | keyvalue; track $index) {
    <li>
      <mat-checkbox
        [checked]="allComplete(item)"
        [indeterminate]="someComplete(item)"
        (change)="setAll(item, $event.checked)"
      >
        {{ item.key }}
      </mat-checkbox>
      <ul class="tree-permission">
        @for (child of item.value; track child) {
          <li>
            <mat-checkbox
              [(ngModel)]="child.selected"
              color="default"
              (ngModelChange)="updateAllComplete(item)"
            >
              {{ child.text }}
            </mat-checkbox>
          </li>
        }
      </ul>
    </li>
  }
</ul>
