<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">ویرایش استرداد</h5>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <div class="box-info-dash">
    <div class="row">
      <div class="col-sm-6">
        <span> شهروند : </span><strong>{{ info.ownerName }}</strong>
      </div>
      <div class="col-sm-6">
        <span> کد ملی: </span><strong>{{ info.ownerNationCode }}</strong>
      </div>
      <div class="col-sm-6">
        <span>شماره موبایل: </span><strong>{{ info.ownerMobileNumber }}</strong>
      </div>
      <div class="col-sm-6">
        <span> شماره کارت استرداد: </span><strong>{{ info.refundCardNumber }}</strong>
      </div>
    </div>
  </div>

  <form [formGroup]="frm">
    <div class="row">
      <mat-form-field class="col-md-4">
        <mat-label>شناسه سفارش</mat-label>
        <input matInput formControlName="orderId" numbersOnly maxlength="20" />
        @if (frm.get('orderId')?.hasError('required')) {
          <mat-error> شناسه سفارش را وارد کنید. </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>شناسه پرداخت</mat-label>
        <input matInput formControlName="transactionCode" numbersOnly maxlength="20" />
        @if (frm.get('transactionCode')?.hasError('required')) {
          <mat-error> شناسه پرداخت را وارد کنید. </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label> مبلغ تراکنش</mat-label>
        <input matInput formControlName="refundAmount" numbersOnly maxlength="10" />
        @if (frm.get('refundAmount')?.hasError('required')) {
          <mat-error> مبلغ تراکنش را وارد کنید. </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>مبلغ استرداد </mat-label>
        <input matInput formControlName="totalRefundAmount" numbersOnly maxlength="10" />
        @if (frm.get('totalRefundAmount')?.hasError('required')) {
          <mat-error> مبلغ استرداد را وارد کنید. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-md-4">
        <mat-label>شماره کارت استرداد</mat-label>
        <input matInput formControlName="refundCardNumber" maxlength="50" />
        @if (frm.get('refundCardNumber')?.hasError('required')) {
          <mat-error> شماره کارت استرداد را وارد کنید. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-6">
        <mat-label>توضیحات</mat-label>
        <input matInput formControlName="description" maxlength="200" />
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-6">
        <mat-label>سایر توضیحات</mat-label>
        <input matInput formControlName="otherDescription" maxlength="200" />
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-6">
        <mat-label> توضیحات مدیریت</mat-label>
        <input matInput formControlName="adminDescription" maxlength="200" />
      </mat-form-field>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <p>
        <mat-checkbox color="default" formControlName="isClosed">دسترسی استرداد</mat-checkbox>
      </p>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>ذخیره </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
