<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title py-0">
    لیست پیام های ارسال شده به شهروند {{ citizen.firstName }} {{ citizen.lastName }}
    {{ citizen.nationCode }}
  </h5>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content class="text-center">
  @if (!data?.length) {
    <div>هیچ پیامی موجود نیست</div>
  }
  @if (data?.length) {
    <div>
      @for (item of data; track $index) {
        <div>
          <div>{{ item.messageText }}</div>
          <div>{{ item.sendOnDate | luxonFormat }}</div>
        </div>
      }
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>بستن</button>
</mat-dialog-actions>
