<div class="content-header">
  <span>مدیریت منو</span>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end">
    <button mat-raised-button color="default" (click)="openMenuDialog('')">
      <i class="fa fa-plus mr-2"></i>
      <span>اضافه کردن منو جدید</span>
    </button>
  </mat-card-header>
  <mat-card-content>
    @if (isLoadingResults) {
      <div class="d-flex align-items-center justify-content-center py-5">
        @if (isLoadingResults) {
          <mat-spinner color="default"></mat-spinner>
        }
      </div>
    }
    @if (isLoadingResults == false && data.length == 0) {
      <div class="d-flex align-items-center justify-content-center py-5">
        <strong>اطلاعاتی وجود ندارد!</strong>
      </div>
    }

    <adm-tree-menu [menuItems]="data" (onUpdate)="getList()"></adm-tree-menu>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
