<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  @if (!isUpdate) {
    <h5 cdkDragHandle class="title">تعریف دوره جدید</h5>
  }
  @if (isUpdate) {
    <h5 cdkDragHandle class="title">ویرایش دوره</h5>
  }

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  @if (loadingData) {
    <div class="d-flex align-items-center justify-content-center p-5">
      <mat-spinner diameter="50" color="default"></mat-spinner>
    </div>
  }

  @if (!loadingData) {
    <form [formGroup]="frm">
      <div class="row">
        <mat-form-field class="col-md-3">
          <mat-label>تابعیت</mat-label>
          <mat-select formControlName="nationality">
            <mat-option [value]="null"> همه </mat-option>
            <mat-option [value]="0"> ایرانی </mat-option>
            <mat-option [value]="1">غیرایرانی </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>نوع کارت</mat-label>
          <mat-select formControlName="cardTypeId">
            <mat-option [value]="8"> شهروندی </mat-option>
            <mat-option [value]="9">منزلت </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>نوع تحویل</mat-label>
          <mat-select formControlName="deliverType">
            <mat-option [value]="null"> همه </mat-option>
            <mat-option [value]="1"> پستی </mat-option>
            <mat-option [value]="2">تحویل در مرکز </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>شهر </mat-label>
          <mat-select formControlName="deliverType">
            <mat-option [value]="null"> همه </mat-option>
            <mat-option [value]="true"> داخل شهر اصفهان </mat-option>
            <mat-option [value]="false"> خارج از شهر اصفهان </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field  class="col-md-6">
          <mat-label>تاریخ درخواست کارت از</mat-label>
          <input matInput [matDatepicker]="sdpicker" formControlName="startDate" />
          <mat-datepicker-toggle matSuffix [for]="sdpicker"></mat-datepicker-toggle>
          <mat-datepicker #sdpicker></mat-datepicker>
          @if (frm.get('startDate')?.hasError('required')) {
            <mat-error> تاریخ درخواست کارت را انتخاب کنید. </mat-error>
          }
          @if (frm.get('startDate')?.hasError('matDatepickerParse')) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>
        <mat-form-field  class="col-md-6">
          <mat-label>تاریخ پایان درخواست</mat-label>
          <input matInput [matDatepicker]="edpicker" formControlName="endDate" />
          <mat-datepicker-toggle matSuffix [for]="edpicker"></mat-datepicker-toggle>
          <mat-datepicker #edpicker></mat-datepicker>
          @if (frm.get('endDate')?.hasError('required')) {
            <mat-error> تاریخ پایان درخواست را انتخاب کنید. </mat-error>
          }
          @if (frm.get('endDate')?.hasError('matDatepickerParse')) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field  class="col-sm-12">
          <mat-label> گروههای شهروندی</mat-label>
          <mat-chip-listbox #skillChipList>
            @for (item of selectedGroups; track item) {
              <mat-chip
                [selectable]="true"
                [removable]="true"
                (removed)="removeAutoChip(selectedGroups, item)"
              >
                {{ item.text }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            }
            <input
              matInput
              formControlName="groupIds"
              [matAutocomplete]="autoSkills"
              [matChipInputFor]="skillChipList"
              #skillInput
              #skillTrigger="matAutocompleteTrigger"
            />
          </mat-chip-listbox>
          <mat-autocomplete
            #autoSkills="matAutocomplete"
            [displayWith]="displayFn"
            (optionSelected)="
              selectedAutoChip(selectedGroups, 'services', skillInput, $event, skillTrigger)
            "
          >
            @for (option of filteredServices | async; track option) {
              <mat-option [value]="option">
                {{ option.text }}
              </mat-option>
            }
          </mat-autocomplete>
          @if (frm.get('groupIds').errors?.incorrect || frm.get('groupIds')?.hasError('required')) {
            <mat-error> خدمات دوره را از لیست انتخاب کنید </mat-error>
          }
          <mat-spinner matSuffix diameter="20" [hidden]="!loadingServices"></mat-spinner>
        </mat-form-field>
      </div>
    </form>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>

  @if (!loadingData) {
    <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
      <span>ذخیره </span>
      <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
    </button>
  }
</mat-dialog-actions>
