<div class="content-header">
  <span> تکمیل فرم طرح منزلت</span>

</div>
 
 
<form #ngForm="ngForm" [formGroup]="theForm" class="col-12 col-md-6 p-4">


  <mat-card class="m-3" *ngIf="id==0">
    <mat-card-header class="card-header mx-n3 mt-n3">اطلاعات مربوط به جانبازی</mat-card-header>
    <mat-card-content>
      <div class="p-5 d-flex align-items-center justify-content-center"
           *ngIf="loading">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>

      <div class="row" *ngIf="!loading">

        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Janbazan_JesmiHarekati_NoWheelChair">
            جسمی حرکتی غير ويلچري
          </mat-checkbox>

          <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label></mat-label>
            <mat-select [disabled]="
                !theForm.controls['chk_Janbazan_JesmiHarekati_NoWheelChair']
                  .value
              "
                        formControlName="typ_Janbazan_JesmiHarekati_NoWheelChair">
              <mat-option *ngFor="let type of baseEnums.typ_JesmiHarekati_WheelChair"
                          [value]="type.key">
                {{ type.text }}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger"
                      *ngIf="
                theForm.controls['typ_Janbazan_JesmiHarekati_NoWheelChair']
                  .errors && ngForm.submitted
              ">
              <span *ngIf="
                  theForm.controls['typ_Janbazan_JesmiHarekati_NoWheelChair']
                    .errors['required']
                ">
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Janbazan_JesmiHarekati_WheelChair">
            جسمی حرکتی ويلچري
          </mat-checkbox>
          <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label></mat-label>
            <mat-select [disabled]="
                !theForm.controls['chk_Janbazan_JesmiHarekati_WheelChair'].value
              "
                        formControlName="typ_Janbazan_JesmiHarekati_WheelChair">
              <mat-option *ngFor="let type of baseEnums.typ_JesmiHarekati_WheelChair"
                          [value]="type.key">
                {{ type.text }}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger"
                      *ngIf="
                theForm.controls['typ_Janbazan_JesmiHarekati_WheelChair']
                  .errors && ngForm.submitted
              ">
              <span *ngIf="
                  theForm.controls['typ_Janbazan_JesmiHarekati_WheelChair']
                    .errors['required']
                ">
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Janbazan_Zehni">
            معلولين ذهنی
          </mat-checkbox>
          <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label></mat-label>
            <mat-select [disabled]="!theForm.controls['chk_Janbazan_Zehni'].value"
                        formControlName="typ_Janbazan_Zehni">
              <mat-option *ngFor="let type of baseEnums.typ_Zehni"
                          [value]="type.key">
                {{ type.text }}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger"
                      *ngIf="
                theForm.controls['typ_Janbazan_Zehni'].errors &&
                ngForm.submitted
              ">
              <span *ngIf="
                  theForm.controls['typ_Janbazan_Zehni'].errors['required']
                ">
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Janbazan_AsabRavan">
            اعصاب و روان
          </mat-checkbox>
          <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label></mat-label>
            <mat-select [disabled]="!theForm.controls['chk_Janbazan_AsabRavan'].value"
                        formControlName="typ_Janbazan_AsabRavan">
              <mat-option *ngFor="let type of baseEnums.typ_AsabRavan"
                          [value]="type.key">
                {{ type.text }}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger"
                      *ngIf="
                theForm.controls['typ_Janbazan_AsabRavan'].errors &&
                ngForm.submitted
              ">
              <span *ngIf="
                  theForm.controls['typ_Janbazan_AsabRavan'].errors['required']
                ">
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Janbazan_Binaei">
            بینایی
          </mat-checkbox>
          <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label></mat-label>
            <mat-select [disabled]="!theForm.controls['chk_Janbazan_Binaei'].value"
                        formControlName="typ_Janbazan_Binaei">
              <mat-option *ngFor="let type of baseEnums.typ_Binaei"
                          [value]="type.key">
                {{ type.text }}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger"
                      *ngIf="
                theForm.controls['typ_Janbazan_Binaei'].errors &&
                ngForm.submitted
              ">
              <span *ngIf="
                  theForm.controls['typ_Janbazan_Binaei'].errors['required']
                ">
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Janbazan_Shenavaei">
            شنوایی
          </mat-checkbox>
          <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label></mat-label>
            <mat-select [disabled]="!theForm.controls['chk_Janbazan_Shenavaei'].value"
                        formControlName="typ_Janbazan_Shenavaei">
              <mat-option *ngFor="let type of baseEnums.typ_Shenavaei"
                          [value]="type.key">
                {{ type.text }}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger"
                      *ngIf="
                theForm.controls['typ_Janbazan_Shenavaei'].errors &&
                ngForm.submitted
              ">
              <span *ngIf="
                  theForm.controls['typ_Janbazan_Shenavaei'].errors['required']
                ">
              </span>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Janbazan_Sayer">
            سایر
          </mat-checkbox>
        </div>



      </div>
    </mat-card-content>
    <mat-card-footer class="p-3 d-flex justify-content-between">

      <a color="default" href="/citizen/manzelat-plan">
        <i class="fa fa-arrow-right"></i>
        بازگشت به لیست طرح ها
      </a>

      <button mat-raised-button
              color="default"
              *ngIf="!loading"
              [disabled]="isSaving"
              (click)="saveForm()">
        <span>تایید عضویت </span>
        <mat-spinner diameter="20"
                     color="default"
                     [hidden]="!isSaving"></mat-spinner>
      </button>
    </mat-card-footer>
  </mat-card>
  <mat-card *ngIf="id==1" class="m-3">
    <mat-card-header class="card-header mx-n3 mt-n3">اطلاعات مربوط به معلولیت</mat-card-header>
    <mat-card-content>
      <div class="p-5 d-flex align-items-center justify-content-center"
           *ngIf="loading">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>

      <div class="row" *ngIf="!loading">
        <div class="col-md-6">

        </div>


        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Maloulin_JesmiHarekati_NoWheelChair">
            جسمی حرکتی غير ويلچري
          </mat-checkbox>

          <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label></mat-label>
            <mat-select [disabled]="
                !theForm.controls['chk_Maloulin_JesmiHarekati_NoWheelChair']
                  .value
              "
                        formControlName="typ_Maloulin_JesmiHarekati_NoWheelChair">
              <mat-option *ngFor="let type of baseEnums.typ_JesmiHarekati_WheelChair"
                          [value]="type.key">
                {{ type.text }}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger"
                      *ngIf="
                theForm.controls['typ_Maloulin_JesmiHarekati_NoWheelChair']
                  .errors && ngForm.submitted
              ">
              <span *ngIf="
                  theForm.controls['typ_Maloulin_JesmiHarekati_NoWheelChair']
                    .errors['required']
                ">
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Maloulin_JesmiHarekati_WheelChair">
            جسمی حرکتی ويلچري
          </mat-checkbox>
          <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label></mat-label>
            <mat-select [disabled]="
                !theForm.controls['chk_Maloulin_JesmiHarekati_WheelChair'].value
              "
                        formControlName="typ_Maloulin_JesmiHarekati_WheelChair">
              <mat-option *ngFor="let type of baseEnums.typ_JesmiHarekati_WheelChair"
                          [value]="type.key">
                {{ type.text }}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger"
                      *ngIf="
                theForm.controls['typ_Maloulin_JesmiHarekati_WheelChair']
                  .errors && ngForm.submitted
              ">
              <span *ngIf="
                  theForm.controls['typ_Maloulin_JesmiHarekati_WheelChair']
                    .errors['required']
                ">
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Maloulin_Zehni">
            معلولين ذهنی
          </mat-checkbox>
          <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label></mat-label>
            <mat-select [disabled]="!theForm.controls['chk_Maloulin_Zehni'].value"
                        formControlName="typ_Maloulin_Zehni">
              <mat-option *ngFor="let type of baseEnums.typ_Zehni"
                          [value]="type.key">
                {{ type.text }}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger"
                      *ngIf="
                theForm.controls['typ_Maloulin_Zehni'].errors &&
                ngForm.submitted
              ">
              <span *ngIf="
                  theForm.controls['typ_Maloulin_Zehni'].errors['required']
                ">
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Maloulin_AsabRavan">
            اعصاب و روان
          </mat-checkbox>
          <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label></mat-label>
            <mat-select [disabled]="!theForm.controls['chk_Maloulin_AsabRavan'].value"
                        formControlName="typ_Maloulin_AsabRavan">
              <mat-option *ngFor="let type of baseEnums.typ_AsabRavan"
                          [value]="type.key">
                {{ type.text }}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger"
                      *ngIf="
                theForm.controls['typ_Maloulin_AsabRavan'].errors &&
                ngForm.submitted
              ">
              <span *ngIf="
                  theForm.controls['typ_Maloulin_AsabRavan'].errors['required']
                ">
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Maloulin_Binaei">
            بینایی
          </mat-checkbox>
          <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label></mat-label>
            <mat-select [disabled]="!theForm.controls['chk_Maloulin_Binaei'].value"
                        formControlName="typ_Maloulin_Binaei">
              <mat-option *ngFor="let type of baseEnums.typ_Binaei"
                          [value]="type.key">
                {{ type.text }}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger"
                      *ngIf="
                theForm.controls['typ_Maloulin_Binaei'].errors &&
                ngForm.submitted
              ">
              <span *ngIf="
                  theForm.controls['typ_Maloulin_Binaei'].errors['required']
                ">
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Maloulin_Shenavaei">
            شنوایی
          </mat-checkbox>
          <mat-form-field class="col-12 col-md-6" appearance="outline">
            <mat-label></mat-label>
            <mat-select [disabled]="!theForm.controls['chk_Maloulin_Shenavaei'].value"
                        formControlName="typ_Maloulin_Shenavaei">
              <mat-option *ngFor="let type of baseEnums.typ_Shenavaei"
                          [value]="type.key">
                {{ type.text }}
              </mat-option>
            </mat-select>
            <mat-hint class="text-danger"
                      *ngIf="
                theForm.controls['typ_Maloulin_Shenavaei'].errors &&
                ngForm.submitted
              ">
              <span *ngIf="
                  theForm.controls['typ_Maloulin_Shenavaei'].errors['required']
                ">
              </span>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="row align-items-center">
          <mat-checkbox color="primary"
                        class="col-12 col-md-6"
                        formControlName="chk_Maloulin_Sayer">
            سایر
          </mat-checkbox>
        </div>



      </div>
    </mat-card-content>
    <mat-card-footer class="p-3 d-flex justify-content-between">

      <a color="default" href="/citizen/manzelat-plan">
        <i class="fa fa-arrow-right"></i>
        بازگشت به لیست طرح ها
      </a>

      <button mat-raised-button
              color="default"
              *ngIf="!loading"
              [disabled]="isSaving"
              (click)="saveForm()">
        <span>تایید عضویت </span>
        <mat-spinner diameter="20"
                     color="default"
                     [hidden]="!isSaving"></mat-spinner>
      </button>
    </mat-card-footer>

  </mat-card>
  <mat-card *ngIf="id==2" class="m-3">
    <mat-card-header class="card-header mx-n3 mt-n3">اطلاعات مربوط به سرپرستی</mat-card-header>
    <mat-card-content>
      <div class="row align-items-center">
        <mat-form-field class="col-12 col-md-6 mt-2 mr-2">
          <mat-label> نوع سرپرستی </mat-label>
          <mat-select formControlName="typ_ZananSarparast">
            <mat-option *ngFor="let type of baseEnums.typ_ZananSarparast"
                        [value]="type.key">
              {{ type.text }}
            </mat-option>
          </mat-select>
          <mat-hint class="text-danger"
                    *ngIf="
              theForm.controls['typ_ZananSarparast'].errors && ngForm.submitted
            ">
            <span *ngIf="theForm.controls['typ_ZananSarparast'].errors['required']">
            </span>
          </mat-hint>
        </mat-form-field>
      </div>



    </mat-card-content>
    <mat-card-footer class="p-3 d-flex justify-content-between">
      <a color="default" href="/citizen/manzelat-plan">
        <i class="fa fa-arrow-right"></i>
        بازگشت به لیست طرح ها
      </a>

      <button mat-raised-button
              color="default"
              *ngIf="!loading"
              [disabled]="isSaving"
              (click)="saveForm()">
        <span>ثبت نام </span>
        <mat-spinner diameter="20"
                     color="default"
                     [hidden]="!isSaving"></mat-spinner>
      </button>
    </mat-card-footer>
  </mat-card>
  <mat-card *ngIf="id==3" class="m-3">
    <mat-card-header class="card-header align-items-center mx-n3 mt-n3">
      اطلاعات مربوط به بازنشستگی
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-footer class="p-3 d-flex justify-content-between">
      <a color="default" href="/citizen/manzelat-plan">
        <i class="fa fa-arrow-right"></i>
        بازگشت به لیست طرح ها
      </a>

      <button mat-raised-button
              color="default"
              *ngIf="!loading"
              [disabled]="isSaving"
              (click)="saveForm()">
        <span>تایید عضویت </span>
        <mat-spinner diameter="20"
                     color="default"
                     [hidden]="!isSaving"></mat-spinner>
      </button>
    </mat-card-footer>
  </mat-card>
  <mat-card *ngIf="id==4" class="m-3">
    <mat-card-header class="card-header mx-n3 mt-n3">اطلاعات مربوط به سالمندی</mat-card-header>
    <mat-card-content>
      <div class="col-12 align-items-center p-5 justify-content-center">
        <div class="row">

        </div>

      </div>
    </mat-card-content>
    <mat-card-footer class="p-3 d-flex justify-content-between">
      <a color="default" href="/citizen/manzelat-plan">
        <i class="fa fa-arrow-right"></i>
        بازگشت به لیست طرح ها
      </a>

      <button mat-raised-button
              color="default"
              *ngIf="!loading"
              [disabled]="isSaving"
              (click)="saveForm()">
        <span>تایید عضویت </span>
        <mat-spinner diameter="20"
                     color="default"
                     [hidden]="!isSaving"></mat-spinner>
      </button>
    </mat-card-footer>
  </mat-card>
  <mat-card *ngIf="id==5" class="m-3">
    <mat-card-header class="card-header mx-n3 mt-n3">اطلاعات مربوط طرح منزلت ویژه بیماران خاص</mat-card-header>
    <mat-card-content>
      <div class="row align-items-center">
        <mat-form-field class="col-12 col-md-6 mt-2 mr-2">
          <mat-label> نوع بیماری خاص را انتخاب کنید </mat-label>
          <mat-select formControlName="typ_SpecialDiseases">
            <mat-option *ngFor="let type of baseEnums.typ_SpecialDiseases"
                        [value]="type.key">
              {{ type.text }}
            </mat-option>
          </mat-select>

        </mat-form-field>
      </div>



    </mat-card-content>
    <mat-card-footer class="p-3 d-flex justify-content-between">
      <a color="default" href="/citizen/manzelat-plan">
        <i class="fa fa-arrow-right"></i>
        بازگشت به لیست طرح ها
      </a>

      <button mat-raised-button
              color="default"
              *ngIf="!loading"
              [disabled]="isSaving"
              (click)="saveForm()">
        <span>ثبت نام </span>
        <mat-spinner diameter="20"
                     color="default"
                     [hidden]="!isSaving"></mat-spinner>
      </button>
    </mat-card-footer>
  </mat-card>
  <mat-card *ngIf="id==6" class="m-3">
    <mat-card-header class="card-header mx-n3 mt-n3">
      عضویت در طرح منزلت ویژه مادران دارای فرزند سوم از سال 1400 به بعد

    </mat-card-header>
    <mat-card-content>


    </mat-card-content>
    <mat-card-footer class="p-3 d-flex justify-content-between">
      <a color="default" href="/citizen/manzelat-plan">
        <i class="fa fa-arrow-right"></i>
        بازگشت به لیست طرح ها
      </a>

      <button mat-raised-button
              color="default"
              *ngIf="!loading"
              [disabled]="isSaving"
              (click)="saveForm()">
        <span>
          تایید عضویت و ارسال مدارک
        </span>
        <mat-spinner diameter="20"
                     color="default"
                     [hidden]="!isSaving"></mat-spinner>
      </button>
    </mat-card-footer>
  </mat-card>
  <mat-card *ngIf="id==7" class="m-3">
    <mat-card-header class="card-header mx-n3 mt-n3">
      عضویت در طرح منزلت ویژه

      دانش آموزان تحت پوشش کمیته امداد امام خمینی (ره) و یا سازمان بهزیستی با ارائه معرفی نامه
    </mat-card-header>
    <mat-card-content>


    </mat-card-content>
    <mat-card-footer class="p-3 d-flex justify-content-between">
      <a color="default" href="/citizen/manzelat-plan">
        <i class="fa fa-arrow-right"></i>
        بازگشت به لیست طرح ها
      </a>

      <button mat-raised-button
              color="default"
              *ngIf="!loading"
              [disabled]="isSaving"
              (click)="saveForm()">
        <span>
          تایید عضویت و ارسال مدارک
        </span>
        <mat-spinner diameter="20"
                     color="default"
                     [hidden]="!isSaving"></mat-spinner>
      </button>
    </mat-card-footer>
  </mat-card>




  <mat-card *ngIf="id==10" class="m-3">
    <mat-card-header class="card-header mx-n3 mt-n3">
      عضویت در طرح منزلت ویژه

      - خانواده جانبازان بالای 25 درصد(همسر و فرزند)

    </mat-card-header>
    <mat-card-content>


    </mat-card-content>
    <mat-card-footer class="p-3 d-flex justify-content-between">
      <a color="default" href="/citizen/manzelat-plan">
        <i class="fa fa-arrow-right"></i>
        بازگشت به لیست طرح ها
      </a>

      <button mat-raised-button
              color="default"
              *ngIf="!loading"
              [disabled]="isSaving"
              (click)="saveForm()">
        <span>
          تایید عضویت و ارسال مدارک
        </span>
        <mat-spinner diameter="20"
                     color="default"
                     [hidden]="!isSaving"></mat-spinner>
      </button>
    </mat-card-footer>
  </mat-card>


  <mat-card *ngIf="id==15" class="m-3">
    <mat-card-header class="card-header mx-n3 mt-n3">
      عضویت در طرح منزلت ویژه

      - خانواده شهدا(پدر-مادر-همسر-فرزند)

    </mat-card-header>
    <mat-card-content>


    </mat-card-content>
    <mat-card-footer class="p-3 d-flex justify-content-between">
      <a color="default" href="/citizen/manzelat-plan">
        <i class="fa fa-arrow-right"></i>
        بازگشت به لیست طرح ها
      </a>

      <button mat-raised-button
              color="default"
              *ngIf="!loading"
              [disabled]="isSaving"
              (click)="saveForm()">
        <span>
          تایید عضویت و ارسال مدارک
        </span>
        <mat-spinner diameter="20"
                     color="default"
                     [hidden]="!isSaving"></mat-spinner>
      </button>
    </mat-card-footer>
  </mat-card>






</form>
