<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title my-0">خرید کارت {{ cardDetails?.cardType }}</h5>
  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  @if (loading) {
    <mat-spinner diameter="30" color="default"></mat-spinner>
  }

  @if (!loading) {
    <mat-horizontal-stepper
      #stepper
      linear="true"
      class="container bg-transparent align-items-start"
    >
      <mat-step label=" اطلاعات کارت ">
        <div><b>عنوان کارت</b>: {{ cardDetails?.cardType }}</div>
        <div><b>توضیحات کارت</b>: {{ cardDetails?.buyCardDescription }}</div>
        <div Class="d-flex justify-content-end">
          <button matStepperNext mat-raised-button color="default">ادامه خرید</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="addressForm" label="ادرس تحویل کارت">
        <form #ngForm="ngForm" [formGroup]="addressForm">
          <div class="row">
            <mat-form-field class="col-12 col-md-6 m-0">
              <mat-label>نوع آدرس</mat-label>
              <mat-select value="2" formControlName="addressType">
                <mat-option [value]="2"> آدرس منزل </mat-option>
                <mat-option [value]="1"> آدرس محل کار </mat-option>
              </mat-select>
              @if (addressForm.controls['addressType'].errors && ngForm.submitted) {
                <mat-hint class="text-danger">
                  @if (addressForm.controls['addressType'].errors['required']) {
                    <span> </span>
                  }
                </mat-hint>
              }
            </mat-form-field>
            <div class="col-12 col-md-12 col-lg-6">
              <mat-form-field class="w-100">
                <mat-label>شماره تلفن ثابت</mat-label>
                <input formControlName="phoneNumber" numbersOnly matInput />
                @if (addressForm.controls['phoneNumber'].errors && ngForm.submitted) {
                  <mat-hint class="text-danger">
                    @if (addressForm.controls['phoneNumber'].errors['required']) {
                      <span> تلفن ثابت خود را وارد کنید </span>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
              <mat-form-field class="w-100">
                <mat-label>استان</mat-label>
                <mat-select [disabled]="true" value="400" formControlName="stateId">
                  <mat-option value="400"> اصفهان </mat-option>
                </mat-select>
                @if (addressForm.controls['stateId'].errors && ngForm.submitted) {
                  <mat-hint class="text-danger">
                    @if (addressForm.controls['stateId'].errors['required']) {
                      <span> استان خود را انتخاب کنید </span>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
              <mat-form-field value="400" class="w-100">
                <mat-label>شهر </mat-label>
                <mat-select [disabled]="true" formControlName="cityId">
                  <mat-option value="403"> اصفهان </mat-option>
                </mat-select>
                @if (addressForm.controls['cityId'].errors && ngForm.submitted) {
                  <mat-hint class="text-danger">
                    @if (addressForm.controls['cityId'].errors['required']) {
                      <span> شهر خود را انتخاب کنید </span>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
              <mat-form-field class="w-100">
                <mat-label>منطقه</mat-label>
                <input formControlName="region" numbersOnly matInput />
                @if (addressForm.controls['region'].errors && ngForm.submitted) {
                  <mat-hint class="text-danger">
                    @if (addressForm.controls['region'].errors['required']) {
                      <span> منطقه خود را انتخاب کنید </span>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
              <mat-form-field class="w-100">
                <mat-label>خیابان</mat-label>
                <input formControlName="street" matInput />
                @if (addressForm.controls['street'].errors && ngForm.submitted) {
                  <mat-hint class="text-danger">
                    @if (addressForm.controls['street'].errors['required']) {
                      <span> خیابان خود را انتخاب کنید </span>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
              <mat-form-field class="w-100">
                <mat-label>کوچه</mat-label>
                <input formControlName="alley" matInput />
                @if (addressForm.controls['alley'].errors && ngForm.submitted) {
                  <mat-hint class="text-danger">
                    @if (addressForm.controls['alley']?.hasError('required')) {
                      <span> کوچه محل سکونت خود را انتخاب کنید </span>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
              <mat-form-field class="w-100">
                <mat-label>پلاک</mat-label>
                <input formControlName="plaque" matInput />
                @if (addressForm.controls['plaque'].errors && ngForm.submitted) {
                  <mat-hint class="text-danger">
                    @if (addressForm.controls['plaque'].errors['required']) {
                      <span> پلاک محل سکونت خود را انتخاب کنید </span>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
              <mat-form-field class="w-100">
                <mat-label>کد پستی </mat-label>
                <input
                  formControlName="postalCode"
                  numbersOnly
                  matInput
                  placeholder="کد پستی  خود را وارد کنید"
                />
                @if (addressForm.controls['postalCode'].errors && ngForm.submitted) {
                  <mat-hint class="text-danger">
                    @if (addressForm.controls['postalCode'].errors['required']) {
                      <span> کد پستی خود را وارد کنید </span>
                    }
                  </mat-hint>
                }
              </mat-form-field>
            </div>
          </div>
        </form>
        <div class="row justify-content-end">
          <button mat-raised-button (click)="submitAddress(stepper)" color="default">
            تایید و ادامه خرید
          </button>
        </div>
      </mat-step>
      <mat-step label="ادرس تحویل کارت">
        <div class="m-3">
          <p class="text-primary">
            شهروند گرامی: کارت شما از طریق پست به آدرس
            {{ addressForm.controls['addressType'].value === 2 ? 'منزل' : 'محل کار' }}
            شما به نشانی اصفهان خیابان
            {{ addressForm.controls['addressType'].value }}
            {{
              addressForm.controls['alley'].value
                ? 'کوچه ' + addressForm.controls['alley'].value + '،'
                : ''
            }}
            {{
              addressForm.controls['plaque'].value
                ? 'پلاک ' + addressForm.controls['plaque'].value + '،'
                : ''
            }}
            {{
              addressForm.controls['postalCode'].value
                ? 'کد پستی ' + addressForm.controls['postalCode'].value
                : ''
            }}
            ارسال خواهد شد.
          </p>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>قیمت کارت</th>
                  <th>تخفیف</th>
                  <th>جمع کل</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <table class="table">
              <thead>
                <tr>
                  <th>هزینه ارسال</th>
                  <th>تخفیف</th>
                  <th>جمع کل</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-end">
            <button mat-raised-button color="default">
              تایید نهایی و پرداخت از طریق درگاه بانکی
            </button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <!-- <button
  mat-raised-button
  color="default"
  [disabled]="isSaving"
  (click)="next(stepper)"
  >
  <span>ادامه خرید </span>
  <mat-spinner
    diameter="20"
    color="default"
    [hidden]="!isSaving"
  ></mat-spinner>
</button> -->
</mat-dialog-actions>
