<div class="content-header">
  <span>سازمان ها</span>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    <div class="field-set" *ngIf="showAddOrUpdatePanel">
      <label class="field-set-title" *ngIf="!frm.get('id').value">ایجاد سازمان جدید</label>
      <label class="field-set-title" *ngIf="frm.get('id').value">ویرایش سازمان</label>
      <form [formGroup]="frm">
        <div class="row">
          <mat-form-field class="col-sm-6 col-md-6">
            <mat-label>نام سازمان</mat-label>
            <input matInput formControlName="organizationName" maxlength="50" />
            <mat-error *ngIf="frm.get('organizationName').errors?.required">
              نام سازمان را وارد کنید.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-6">
            <mat-label>توضیحات</mat-label>
            <input matInput formControlName="description" maxlength="200" />
          </mat-form-field>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <mat-form-field class="col-sm-6 col-md-6">
            <mat-label>ترتیب نمایش</mat-label>
            <input matInput formControlName="indexOrder" maxlength="3" numbersOnly />
            <mat-error *ngIf="frm.get('indexOrder').errors?.required">
              ترتیب نمایش را وارد کنید.
            </mat-error>
          </mat-form-field>
          <p>
            <mat-checkbox color="default" formControlName="isActive">فعال</mat-checkbox>
          </p>
          <p>
            <mat-checkbox color="default" formControlName="cardDistributionCenters">
              توزیع کارت
            </mat-checkbox>
          </p>
          <p>
            <mat-checkbox color="default" formControlName="supportCenters"> پشتیبانی </mat-checkbox>
          </p>

          <button mat-raised-button color="default" [disabled]="isSaving" (click)="save()">
            <mat-spinner [hidden]="!isSaving" diameter="20" color="default"></mat-spinner>
            <span>ذخیره</span>
          </button>

          <button
            mat-raised-button
            color="mat-button-wrapper"
            (click)="showAddOrUpdatePanel = fale"
          >
            <span> انصرف </span>
          </button>
        </div>
      </form>
    </div>
    <div class="d-flex align-items-center justify-content-end" *ngIf="!showAddOrUpdatePanel">
      <button mat-raised-button color="default" (click)="showAddOrUpdatePanel = true">
        <span>ثبت سازمان جدید</span>
      </button>
    </div>

    <form [formGroup]="searchForm">
      <div class="row">
        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>جستجو</mat-label>
          <input matInput formControlName="query" maxlength="100" />
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end mb-4">
        <button mat-raised-button color="default" (click)="applyFilter()">
          <i class="fa fa-search"></i>
          جستجو
        </button>
      </div>
    </form>
    <div class="d-flex align-items-center justify-content-end mb-3">
      <button
        mat-raised-button
        color="default"
        (click)="exporter.exportTable('xlsx', { fileName: 'excel' })"
      >
        <i class="fa fa-file-excel mr-2"></i>
        خروجی اکسل
      </button>
    </div>
    <div class="datatable-container mat-elevation-z8">
      <div class="datatable-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults" color="default"></mat-spinner>
      </div>
      <div class="datatable-loading-shade" *ngIf="isLoadingResults == false && listCount == 0">
        <strong>اطلاعاتی وجود ندارد!</strong>
      </div>

      <div class="datatable-table-container">
        <table
          mat-table
          [dataSource]="data"
          class="datatable-table"
          #exporter="matTableExporter"
          matTableExporter
          [hiddenColumns]="[displayedColumns.length - 1]"
        >
          <ng-container matColumnDef="row">
            <th mat-header-cell *matHeaderCellDef width="40">#</th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="organizationName">
            <th mat-header-cell *matHeaderCellDef>نام سازمان</th>
            <td mat-cell *matCellDef="let row">
              {{ row.organizationName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>توضیحات</th>
            <td mat-cell *matCellDef="let row">{{ row.description }}</td>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef>وضعیت</th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.isActive" class="text-success">فعال</span>
              <span *ngIf="!row.isActive" class="text-danger">غیر فعال</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="cardDistributionCenters">
            <th mat-header-cell *matHeaderCellDef>توزیع کارت</th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.cardDistributionCenters" class="text-success">بله</span>
              <span *ngIf="!row.cardDistributionCenters" class="text-danger">خیر </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="supportCenters">
            <th mat-header-cell *matHeaderCellDef>پشتیبانی</th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="row.supportCenters" class="text-success">بله</span>
              <span *ngIf="!row.supportCenters" class="text-danger">خیر </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef width="40">عملیات</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="update(row)">
                  <i class="fa fa-edit mr-2"></i>
                  <span>ویرایش سازمان</span>
                </button>

                <button mat-menu-item (click)="delete(row)">
                  <i class="fa fa-trash mr-2"></i>
                  <span>حذف سازمان</span>
                </button>

                <button mat-menu-item routerLink="/admin/units/{{ row.id }}">
                  <i class="fa fa-list mr-2"></i>
                  <span>واحد های سازمان</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator
        [length]="listCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 50, 100, 250, 500, 1000, 2000]"
        showFirstLastButtons
        (page)="pageEvent($event)"
      ></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
