<div class="content-header">
  <span> لیست صف های توزیع کارت</span>
  <div class="bread-crumbs">
    <div class="bread-crumb-item" routerLink="/card/dashboard">داشبورد</div>
    <div class="bread-crumb-item" routerLink="/card/card-distribute-course-list">
      دوره های توزیع کارت
    </div>
    <div class="bread-crumb-item active">لیست صف های توزیع کارت</div>
  </div>
</div>

<mat-card class="custom-card">
  <mat-card-content>
    <div class="d-flex align-items-center justify-content-end pb-4">
      <button mat-raised-button color="default" (click)="openAddCardQueueDialog('')">
        <span> صف جدید</span>
      </button>
    </div>

    <form [formGroup]="searchForm">
      <div class="row my-4">
        <mat-form-field class="col-md-3">
          <mat-label>نام صف</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <div class="col d-flex align-items-center justify-content-end">
          <button mat-raised-button color="default" (click)="applyFilter()">
            <i class="fa fa-search mr-2"></i>
            <span>جستجو</span>
          </button>
        </div>
      </div>
    </form>

    <div class="d-flex align-items-center justify-content-end mb-3">
      <button
        mat-raised-button
        color="default"
        (click)="exporter.exportTable('xlsx', { fileName: 'excel' })"
      >
        <i class="fa fa-file-excel mr-2"></i>
        خروجی اکسل
      </button>
    </div>
    <div class="datatable-container mat-elevation-z8">
      <div class="datatable-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults" color="default"></mat-spinner>
      </div>
      <div class="datatable-loading-shade" *ngIf="isLoadingResults == false && listCount == 0">
        <strong>اطلاعاتی وجود ندارد!</strong>
      </div>

      <div class="datatable-table-container">
        <table
          mat-table
          [dataSource]="data"
          class="datatable-table"
          #exporter="matTableExporter"
          matTableExporter
          [hiddenColumns]="[displayedColumns.length - 1]"
        >
          <ng-container matColumnDef="row">
            <th mat-header-cell *matHeaderCellDef width="40">#</th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>صف</th>
            <td mat-cell *matCellDef="let row">
              <strong style="color:{{ row.defaultColor }}">
                {{ row.name }}
              </strong>
            </td>
          </ng-container>

          <ng-container matColumnDef="cardTypeId">
            <th mat-header-cell *matHeaderCellDef>نوع کارت</th>
            <td mat-cell *matCellDef="let row">
              <strong *ngIf="row.cardTypeId == 8"> شهروندی </strong>
              <strong *ngIf="row.cardTypeId == 9"> منزلت </strong>
            </td>
          </ng-container>

          <ng-container matColumnDef="queueInputType">
            <th mat-header-cell *matHeaderCellDef>نوع تحویل</th>
            <td mat-cell *matCellDef="let row">
              <strong *ngIf="row.queueInputType == 0"> پستی </strong>
              <strong *ngIf="row.queueInputType == 1"> تحویل در مرکز </strong>
              <strong *ngIf="row.queueInputType == 2"> موقت </strong>
            </td>
          </ng-container>

          <ng-container matColumnDef="indexOrder">
            <th mat-header-cell *matHeaderCellDef>اولویت</th>
            <td mat-cell *matCellDef="let row">
              {{ row.indexOrder }}
            </td>
          </ng-container>

          <ng-container matColumnDef="onDate">
            <th mat-header-cell *matHeaderCellDef>تاریخ ایجاد</th>
            <td mat-cell *matCellDef="let row">
              {{ row.onDate | jalali }}
            </td>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef>وضعیت</th>
            <td mat-cell *matCellDef="let row">
              <strong *ngIf="row.isActive"> فعال </strong>
              <strong *ngIf="!row.isActive"> آرشیو </strong>
            </td>
          </ng-container>

          <ng-container matColumnDef="isLock">
            <th mat-header-cell *matHeaderCellDef>وضعیت دسترسی</th>
            <td mat-cell *matCellDef="let row">
              <strong class="text-danger" *ngIf="row.isLock"> قفل </strong>
              <strong class="text-info" *ngIf="!row.isLock"> باز </strong>
            </td>
          </ng-container>

          <ng-container matColumnDef="cardCount">
            <th mat-header-cell *matHeaderCellDef>تعداد کارت</th>
            <td mat-cell *matCellDef="let row">
              {{ row.cardCount }}
            </td>
          </ng-container>

          <ng-container matColumnDef="groups">
            <th mat-header-cell *matHeaderCellDef>گروههای شهروندی</th>
            <td mat-cell *matCellDef="let row">
              <span *ngFor="let item of row.allGroups">
                {{ item }}
                <strong> | </strong>
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef width="40">عملیات</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openAddCardQueueDialog(row)">
                  <i class="fa fa-pencil mr-2"></i>
                  ویرایش
                </button>
                <button mat-menu-item routerLink="/card/citizen-card-in-queue/{{ row.id }}">
                  <i class="fa fa-money-bill mr-2"></i>
                  <span> لیست کارتها</span>
                </button>

                <button mat-menu-item (click)="delete(row)">
                  <i class="text-danger fa fa-trash mr-2"></i>
                  <span class="text-danger">حذف </span>
                </button>
                <button mat-menu-item (click)="cardDeliveryQueueOperator(row)">
                  <i class="fa fa-pencil mr-2"></i>
                  ارسال صف به پست/مرکز تحویل
                </button>
                <a
                  mat-menu-item
                  href="{{ printUrl }}?queueId={{ row.guidId }}&printType=1"
                  target="_blank"
                >
                  <i class="fa fa-print"></i>
                  فرمت چاپ طرح منزلت
                </a>
                <a
                  mat-menu-item
                  href="{{ printUrl }}?queueId={{ row.guidId }}&printType=2"
                  target="_blank"
                >
                  <i class="fa fa-print"></i>
                  فرمت چاپ کارت شهروندی
                </a>
                <a
                  mat-menu-item
                  href="{{ printUrl }}?queueId={{ row.guidId }}&printType=3"
                  target="_blank"
                >
                  <i class="fa fa-print"></i>
                  فرمت تحویل لیست به پست
                </a>
                <a
                  mat-menu-item
                  href="{{ printUrl }}?queueId={{ row.guidId }}&printType=4"
                  target="_blank"
                >
                  <i class="fa fa-print"></i>
                  فرمت تحویل لیست به مرکز
                </a>
                <a
                  mat-menu-item
                  href="{{ printUrl }}?queueId={{ row.guidId }}&printType=5"
                  target="_blank"
                >
                  <i class="fa fa-print"></i>
                  فرمت تحویل پست به شهروند
                </a>
                <a
                  mat-menu-item
                  href="{{ printUrl }}?queueId={{ row.guidId }}&printType=6"
                  target="_blank"
                >
                  <i class="fa fa-print"></i>
                  فرمت لیست بارکد
                </a>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator
        [length]="listCount"
        [pageSize]="2000"
        [pageSizeOptions]="[2000, 5000, 10000]"
        showFirstLastButtons
        (page)="pageEvent($event)"
      ></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
