<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">ارسال تیکت</h5>
  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  @if (loadingData) {
    <div class="d-flex align-items-center justify-content-center">
      <mat-spinner diameter="50" color="default"></mat-spinner>
    </div>
  }
  @if (!loadingData) {
    <div class="ticket-details">
      <form [formGroup]="ticketForm">
        <div class="row">
          <div class="col-sm-12">
            <p class="text-info">لطفا موضوع پیام خود را مشخص کنید.</p>
          </div>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>سازمان</mat-label>
            <mat-select
              formControlName="organizationId"
              (selectionChange)="getUnitsOfOrganization()"
            >
              @for (item of organizationList; track item) {
                <mat-option [value]="item.key">{{ item.text }}</mat-option>
              }
            </mat-select>
            @if (ticketForm.get('organizationId').errors?.required) {
              <mat-error> سازمان را مشخص کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>واحد</mat-label>
            <mat-select
              formControlName="organizationalUnitId"
              (selectionChange)="getTicketSubjects()"
            >
              @for (item of unitList; track item) {
                <mat-option [value]="item.key">{{ item.text }}</mat-option>
              }
            </mat-select>
            @if (ticketForm.get('organizationalUnitId').errors?.required) {
              <mat-error> واحد را مشخص کنید. </mat-error>
            }
            <mat-spinner matSuffix diameter="20" [hidden]="!loadingUnit"></mat-spinner>
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label>عنوان پیام</mat-label>
            <input matInput formControlName="subject" />
            @if (ticketForm.get('subject').errors?.required) {
              <mat-error> عنوان پیام را وارد کنید </mat-error>
            }
            @if (ticketForm.get('subject').errors?.maxlength) {
              <mat-error> حداکثر 1000 کاراکتر </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <mat-label>متن پیام</mat-label>
            <textarea matInput formControlName="ticketMessage" rows="5"></textarea>
            @if (ticketForm.get('ticketMessage').errors?.required) {
              <mat-error> متن پیام را وارد کنید </mat-error>
            }
            @if (ticketForm.get('ticketMessage').errors?.maxlength) {
              <mat-error> حداکثر 10،000 کاراکتر </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>اولویت پیام</mat-label>
            <mat-select formControlName="priority">
              @for (item of periorityList; track item) {
                <mat-option [value]="item.key">{{ item.text }}</mat-option>
              }
            </mat-select>
            @if (ticketForm.get('priority').errors?.required) {
              <mat-error> اولویت پیام را مشخص کنید. </mat-error>
            }
          </mat-form-field>
        </div>
      </form>
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>بستن</button>
  <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
    @if (isSaving) {
      <mat-spinner color="default" diameter="20"></mat-spinner>
    }
    <span>ذخیره</span>
  </button>
</mat-dialog-actions>
