<section class="container mt-4 text-center" *ngIf="managerList.length>0">
  <h5 class="IRANSansWeb_Medium  bt-color">
    اعضای هیات مدیره
    </h5>
   
  <div class="d-flex align-items-center justify-content-center py-3" *ngIf="loadingManagers">
    <mat-spinner *ngIf="loadingManagers" color="default"></mat-spinner>
  </div>


  <div id="owl-Service2" class="owl-carousel">
    <div class="card mx-1" *ngFor="let item of managerList">
      <div class="card-body">
        <a class="d-flex align-items-center text-center justify-content-center ">
          <img class="rounded-circle" [src]="baseUrl + item.imageUrl" alt="">
        </a>
        <h6>
          {{(item.namePrefix|enumString:'namePrefix') + ' ' + item.firstName + ' ' + item.lastName}}
          
        </h6>
      
        <p>{{item.userCompany}}</p>
        <p> {{item.organizationalPosition}}</p>
        <a class="btn btn-grad px-5 text-white mt-3 rad25" routerLink="/home/personal/{{item.id}}">مشاهده بیوگرافی...</a>

       </div>
    </div>

  </div>
 
</section> 
