<mat-card class="custom-card">
  <mat-card-header> لیست کارت های خریداری شده </mat-card-header>
  <mat-card-content>
    <div class="alert alert-info">
      در صورتیکه آدرس تحویل کارت شما تغییر کرده است از این قسمت آدرس جدید تحویل کارت را وارد نمایید
      .
    </div>

    @if (loading) {
      <div class="d-flex align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    }

    @if (cards && cards.length == 0) {
      <strong class="my-3 mx-3"> کارتی خریداری نشده است! </strong>
    }

    <table mat-table [dataSource]="cards">
      <ng-container matColumnDef="requestDate">
        <th mat-header-cell *matHeaderCellDef>تاریخ درخواست</th>
        <td mat-cell *matCellDef="let element">
          {{ element.requestDate | luxonFormat}}
        </td>
      </ng-container>

      <ng-container matColumnDef="requestStatuse">
        <th mat-header-cell *matHeaderCellDef>وضعیت درخواست</th>
        <td mat-cell *matCellDef="let element">
          {{ element.requestStatuse | enumString: 'cardRequestStatus' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="cardNumber">
        <th mat-header-cell *matHeaderCellDef>شماره کارت</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cardNumber }}
        </td>
      </ng-container>
      <ng-container matColumnDef="cardTitle">
        <th mat-header-cell *matHeaderCellDef>عنوان کارت</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cardTitle }}
        </td>
      </ng-container>
      <ng-container matColumnDef="deliveredOnDate">
        <th mat-header-cell *matHeaderCellDef>تاریخ تحویل</th>
        <td mat-cell *matCellDef="let element">
          {{ element.deliveredOnDate | luxonFormat}}
        </td>
      </ng-container>

      <ng-container matColumnDef="deliverType">
        <th mat-header-cell *matHeaderCellDef>نوع تحویل</th>
        <td mat-cell *matCellDef="let element">
          {{ element.deliverType === 1 ? 'تحویل پستی' : 'تحویل در مرکز' }}

          :
          {{ element.deliveringAddress }}

          @if (element.deliverType === 1) {
            <span class="text-info">
              <a (click)="openCardAddress(element)">
                <span> ویرایش آدرس تحویل کارت </span>
              </a>
            </span>
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
