<div class="content-header">
  <span>مشاهده جزئیات استرداد</span>
  <div class="bread-crumbs">
    <div class="bread-crumb-item" routerLink="/admin/dashboard">داشبورد</div>
    <div class="bread-crumb-item" routerLink="/admin/refund-file-list">لیست فایل استرداد</div>
    <div class="bread-crumb-item active">جزئیات</div>
  </div>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    @if (showAddPanel) {
      <div class="field-set">
        <label class="field-set-title">ایجاد دسترسی </label>
        <form [formGroup]="frm">
          <div class="row">
            <mat-form-field class="col-md-4">
              <mat-label>شماره نامه</mat-label>
              <input matInput formControlName="letterNumber" numbersOnly maxlength="10" />
              @if (frm.get('letterNumber')?.hasError('required')) {
                <mat-error> شماره نامه را وارد کنید. </mat-error>
              }
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>نام واحد</mat-label>
              <input matInput formControlName="unitName" maxlength="50" />
              @if (frm.get('unitName')?.hasError('required')) {
                <mat-error> نام واحد را وارد کنید. </mat-error>
              }
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>نام کلاس</mat-label>
              <input matInput formControlName="className" maxlength="50" />
              @if (frm.get('className')?.hasError('required')) {
                <mat-error> نام کلاس را وارد کنید. </mat-error>
              }
            </mat-form-field>
            <input-refund-users class="col-sm-4" formControlName="citizenId"> </input-refund-users>
            <mat-form-field class="col-sm-6 col-md-6">
              <mat-label>توضیحات</mat-label>
              <input matInput formControlName="description" maxlength="200" />
            </mat-form-field>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <p>
              <mat-checkbox color="default" formControlName="citizenAccess"
                >دسترسی شهروند</mat-checkbox
              >
            </p>
            <button mat-raised-button color="default" [disabled]="isSaving" (click)="save()">
              <mat-spinner [hidden]="!isSaving" diameter="20" color="default"></mat-spinner>
              <span>ذخیره</span>
            </button>
            <button mat-raised-button color="mat-button-wrapper" (click)="showAddPanel = fale">
              <span> انصرف </span>
            </button>
          </div>
        </form>
      </div>
    }

    <form [formGroup]="searchForm">
      <div class="row my-4">
        <mat-form-field  class="col-sm-6 col-md-4">
          <mat-label>جستجو</mat-label>
          <input matInput formControlName="title" maxlength="100" />
        </mat-form-field>

        <div class="col d-flex align-items-center justify-content-end">
          <button
            class="btn btn-lg btn-default"
            mat-raised-button
            color="default"
            (click)="applyFilter()"
          >
            <i class="fa fa-search mr-2"></i>
            <span>جستجو</span>
          </button>
        </div>
      </div>
    </form>
    <div class="d-flex align-items-center justify-content-end mb-3">
      <button
        class="btn btn-lg btn-info"
        mat-raised-button
        color="default"
        (click)="getCardNumber()"
      >
        <i class="fa fa-bolt mr-2"></i>
        <span>استعلام شماره کارت</span>
      </button>
      <button
        class="btn btn-lg btn-success"
        mat-raised-button
        color="default"
        (click)="showAddPanel = true"
      >
        <i class="fa fa-bolt mr-2"></i>
        <span> ایجاد دسترسی </span>
      </button>

      <button
        class="btn btn-lg btn-secondary"
        mat-raised-button
        color="default"
        (click)="exporter.exportTable('xlsx', { fileName: 'excel' })"
      >
        <i class="fa fa-file-excel mr-2"></i>
        خروجی اکسل
      </button>
    </div>
    <div class="d-flex align-items-center justify-content-end p-3">
      <button mat-icon-button color="default" (click)="getList()" matTooltip="بروز رسانی">
        <i class="fa fa-sync"></i>
      </button>
    </div>
    <div class="datatable-container mat-elevation-z8">
      @if (isLoadingResults) {
        <div class="datatable-loading-shade">
          <mat-spinner color="default"></mat-spinner>
        </div>
      }
      @if (isLoadingResults == false && listCount == 0) {
        <div class="datatable-loading-shade">
          <strong>اطلاعاتی وجود ندارد!</strong>
        </div>
      }

      <div class="datatable-table-container">
        <table
          mat-table
          [dataSource]="data"
          class="datatable-table"
          #exporter="matTableExporter"
          matTableExporter
        >
          <ng-container matColumnDef="row">
            <th mat-header-cell *matHeaderCellDef width="40">#</th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="citizen">
            <th mat-header-cell *matHeaderCellDef>شهروند</th>
            <td mat-cell *matCellDef="let row">
              <a (click)="openCitizenProfile(row)">
                {{ row.citizen }}
              </a>
            </td>
          </ng-container>
          <ng-container matColumnDef="nationalCode">
            <th mat-header-cell *matHeaderCellDef>کد ملی</th>
            <td mat-cell *matCellDef="let row">{{ row.nationalCode }}</td>
          </ng-container>

          <ng-container matColumnDef="orderId">
            <th mat-header-cell *matHeaderCellDef>شناسه سفارش</th>
            <td mat-cell *matCellDef="let row">{{ row.orderId }}</td>
          </ng-container>

          <ng-container matColumnDef="saleReferenceId">
            <th mat-header-cell *matHeaderCellDef>شماره پیگیری</th>
            <td mat-cell *matCellDef="let row">{{ row.saleReferenceId }}</td>
          </ng-container>

          <ng-container matColumnDef="refundAmount">
            <th mat-header-cell *matHeaderCellDef>مبلغ استرداد</th>
            <td mat-cell *matCellDef="let row">{{ row.refundAmount }}</td>
          </ng-container>

          <ng-container matColumnDef="totalRefundAmount">
            <th mat-header-cell *matHeaderCellDef>مبلغ کل</th>
            <td mat-cell *matCellDef="let row">{{ row.totalRefundAmount }}</td>
          </ng-container>

          <ng-container matColumnDef="refundCardNumber">
            <th mat-header-cell *matHeaderCellDef>شماره کارت</th>
            <td mat-cell *matCellDef="let row">{{ row.refundCardNumber }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <mat-paginator
        [length]="listCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 50, 100, 250, 500, 1000]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
