@if (loading) {
  <div class="d-flex my-5 p-5 align-items-center justify-content-center">
    <mat-spinner diameter="50" color="default"></mat-spinner>
  </div>
}
<div class="row">
  <div class="col-sm-6">
    <app-uploader
      (attachmentId)="getSignature($event)"
      [autoUpload]="true"
      [data]="data"
      [btnTitle]="'انتخاب تصویر مهر و امضا'"
      [url]="signatureUrl"
    ></app-uploader>

    @if (imageSignatureUrl) {
      <img [src]="baseUrl + imageSignatureUrl" class="img-thumbnail thumb-128" />
    }
  </div>
</div>
