<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  @if (!isUpdate) {
    <h5 cdkDragHandle class="title">تعریف صف جدید</h5>
  }
  @if (isUpdate) {
    <h5 cdkDragHandle class="title">ویرایش صف</h5>
  }

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  @if (loadingData) {
    <div class="d-flex align-items-center justify-content-center p-5">
      <mat-spinner diameter="50" color="default"></mat-spinner>
    </div>
  }

  @if (!loadingData) {
    <form [formGroup]="frm">
      <div class="row">
        <mat-form-field  class="col-sm-6 col-md-4">
          <mat-label> عنوان صف </mat-label>
          <input type="text" matInput formControlName="name" maxlength="40" />
          @if (frm.get('name')?.hasError('required')) {
            <mat-error> عنوان صف را وارد نمایید </mat-error>
          }
        </mat-form-field>
        <mat-form-field  class="col-md-3">
          <mat-label>اولویت صف</mat-label>
          <input
            matInput
            formControlName="indexOrder"
            autocomplete="doNotAutoComplete"
            numbersOnly
          />
          @if (frm.get('indexOrder')?.hasError('required')) {
            <mat-error> اولویت صف را وارد کنید. </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>نوع کارت</mat-label>
          <mat-select formControlName="cardTypeId">
            <mat-option [value]="null">-----</mat-option>
            <mat-option [value]="8">شهروندی</mat-option>
            <mat-option [value]="9">منزلت</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>رنگ دسته بندی</mat-label>
          <input matInput type="color" formControlName="defaultColor" maxlength="40" />
          @if (frm.get('defaultColor')?.hasError('required')) {
            <mat-error> رنگ پیش فرض را وارد نمایید </mat-error>
          }
        </mat-form-field>
        <mat-form-field  class="col-sm-6 col-md-4">
          <mat-label> توضیحات </mat-label>
          <input type="text" matInput formControlName="description" maxlength="400" />
          @if (frm.get('description')?.hasError('required')) {
            <mat-error> توضیحات را وارد نمایید </mat-error>
          }
        </mat-form-field>
      </div>
      <p>
        <mat-checkbox formControlName="isLock"> قفل است ؟ </mat-checkbox>
      </p>
      <div class="row">
        <mat-form-field  class="col-sm-12">
          <mat-label>گروههای شهروندی</mat-label>
          <!-- todo:chips -->

          <!-- <mat-chip-listbox #skillChipList>
            @for (item of selectedServices; track item) {
              <mat-chip
                [selectable]="true"
                [removable]="true"
                (removed)="removeAutoChip(selectedServices, item)"
              >
                {{ item.text }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            }
            <input
              matInput
              formControlName="groups"
              [matAutocomplete]="autoSkills"
              [matChipInputFor]="skillChipList"
              #skillInput
              #skillTrigger="matAutocompleteTrigger"
            />
          </mat-chip-listbox>
          <mat-autocomplete
            #autoSkills="matAutocomplete"
            [displayWith]="displayFn"
            (optionSelected)="
              selectedAutoChip(selectedServices, 'groups', skillInput, $event, skillTrigger)
            "
          >
            @for (option of filteredServices | async; track option) {
              <mat-option [value]="option">
                {{ option.text }}
              </mat-option>
            }
          </mat-autocomplete> -->
          @if (frm.get('groups')?.hasError('incorrect') || frm.get('groups')?.hasError('required')) {
            <mat-error> گروههای شهروندی را از لیست انتخاب کنید </mat-error>
          }
          <mat-spinner matSuffix diameter="20" [hidden]="!loadingServices"></mat-spinner>
        </mat-form-field>
      </div>
    </form>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>

  @if (!loadingData) {
    <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
      <span>ذخیره </span>
      <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
    </button>
  }
</mat-dialog-actions>
