.show-in-print{
    display:none;
}
@page {
  size: A4;
  margin: 0;
}
@media print{
   
  .fixed-toolbar,
  .sidenav,
  #clouds,
  .content-header {
    display: none !important;
  }
  .custom-card {
    border: none !important;

    .mat-card-header {
      display: none !important;
    }
  }
  .dashboard-content{
      margin:0 !important;
  }
  .print {
    display: block;
  }


    .show-in-print{
        display:block;
    }
}
