<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
    <h5 cdkDragHandle class="title" > ویرایش آدرس محل تحویل کارت  </h5>
    

    <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>

  <div class="box-info-dash">
    <div class="alert alert-info">
      در صورتیکه آدرس محل سکونت شما تغییر کرده است از  
      <a href="/citizen/profile/0/contact">
        این قسمت
      </a>
  
      اطلاعات آدرس محل سکونت و دریافت کارت خود را تغییر دهید
      .

    </div>
  </div>


  <form [formGroup]="homeForm">
    <div class="row">
      <mat-form-field class="col-sm-4 col-md-3">
        <mat-label> شماره تلفن ثابت</mat-label>
        <input type="text" matInput maxlength="8" numbersOnly formControlName="phone" />
        <mat-error *ngIf="homeForm.get('phone').errors?.required">
          شماره تلفن ثابت را وارد کنید.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-4 col-md-3">
        <mat-label> شهر محل سکونت</mat-label>
        <mat-select formControlName="cityId">
          <mat-option *ngFor="let item of isfahanCities"
                      [value]="item.key">
            {{ item.text }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="homeForm.get('cityId').errors?.required">
          شهر محل سکونت را وارد کنید.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-4 col-md-3">
        <mat-label> منطقه</mat-label>
        <input type="text" matInput numbersOnly maxlength="2" formControlName="region" />
        <mat-error *ngIf="homeForm.get('region').errors?.required">
          منطقه محل سکونت خود را وارد کنید.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-4 col-md-3">
        <mat-label> خیابان</mat-label>
        <input type="text" matInput formControlName="street" />
        <mat-error *ngIf="homeForm.get('street').errors?.required">
          خیابان محل سکونت خود را وارد کنید.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-4 col-md-3">
        <mat-label> کوچه</mat-label>
        <input type="text" matInput formControlName="alley" />
        <mat-error *ngIf="homeForm.get('alley').errors?.required">
          کوچه محل سکونت خود را وارد کنید.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-4 col-md-3">
        <mat-label> پلاک</mat-label>
        <input type="text" numbersOnly matInput formControlName="plaque" />
        <mat-error *ngIf="homeForm.get('plaque').errors?.required">
          پلاک محل سکونت خود را وارد کنید.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-sm-4 col-md-3">
        <mat-label> کد پستی</mat-label>
        <input type="text" numbersOnly matInput formControlName="postalCode" />
        <mat-error *ngIf="homeForm.get('postalCode').errors?.required">
          کد پستی  خود را وارد کنید.
        </mat-error>
      </mat-form-field>


    </div>
    
  </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>انصراف</button>
    <button mat-raised-button  color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>ذخیره </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
