@if (loading) {
  <div class="d-flex my-5 p-5 align-items-center justify-content-center">
    <mat-spinner diameter="50" color="default"></mat-spinner>
  </div>
}

@if (!loading) {
  <form [formGroup]="form">
    <div class="row my-4">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label> فعالیت </mat-label>
        <mat-select formControlName="activityId">
          @for (item of activityList; track item) {
            <mat-option [value]="item.key">
              {{ item.text }}
            </mat-option>
          }
        </mat-select>
        @if (form.get('activityId')?.hasError('required')) {
          <mat-error> فعالیت شرکت را مشخص کنید</mat-error>
        }
      </mat-form-field>
      <div class="col d-flex align-items-center justify-content-start">
        <button mat-raised-button color="default" (click)="save()" [disabled]="isSaving">
          <span>اضافه کردن</span>
          <mat-spinner color="default" diameter="20" [hidden]="!isSaving"></mat-spinner>
        </button>
      </div>
    </div>
  </form>
}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="py-4 list-container">
        @for (item of companyActivityList; track item) {
          <div class="list-item">
            <div class="list-content">
              <div class="row">
                <div class="col-sm-6">
                  <span> {{ item.activity }}</span>
                </div>
              </div>
            </div>
            <div class="menu">
              @if (!item.loading) {
                <button mat-icon-button (click)="delete(item)" matTooltip="حذف">
                  <i class="fa fa-trash"></i>
                </button>
              }
              @if (item.loading) {
                <mat-spinner color="default" diameter="25"></mat-spinner>
              }
            </div>
          </div>
        }
      </div>

      @if (companyActivityList.length == 0 && !loading) {
        <div class="no-any-items">
          <i class="fa fa-info-circle"></i>
          اطلاعاتی ثبت نشده است
        </div>
      }
      @if (loading) {
        <div class="p-5 d-flex align-items-center justify-content-center">
          <mat-spinner diameter="50" color="default"></mat-spinner>
        </div>
      }
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
