<div class="content-header">
  @if (!isUpdate) {
    <span>ثبت گروه شهروندی جدید</span>
  }
  @if (isUpdate) {
    <span>ویرایش گروه شهروندی</span>
  }
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="d-flex my-5 p-5 align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    }

    @if (!loading) {
      <form [formGroup]="groupForm">
        <div class="row">
          <mat-form-field class="col-sm-6">
            <mat-label>عنوان گروه</mat-label>
            <input matInput formControlName="groupName" type="text" maxlength="500" />
            @if (groupForm.get('groupName').errors?.required) {
              <mat-error>عنوان گروه را وارد کنید.</mat-error>
            }
            @if (groupForm.get('groupName').errors?.maxlength) {
              <mat-error>حداکثر 500 کاراکتر</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6">
            <mat-label> گروه والد (اختیاری) </mat-label>
            <mat-select formControlName="parentId" [compareWith]="compareFn">
              <mat-option [value]="">ریشه اصلی</mat-option>
              @for (item of parentGroups; track item) {
                <mat-option [value]="item.key">{{ item.text }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-2">
            <mat-label>حداکثر اعضا</mat-label>
            <input matInput formControlName="maxMembers" type="text" numbersOnly />
            @if (groupForm.get('maxMembers').errors?.required) {
              <mat-error>حداکثر اعضا را وارد کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-2">
            <mat-label>کد گروه</mat-label>
            <input matInput formControlName="code" type="text" maxlength="500" />
            @if (groupForm.get('code').errors?.required) {
              <mat-error>کد گروه را وارد کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-2">
            <mat-label>سن شهروند از </mat-label>
            <input matInput formControlName="law_AgeFrom" type="text" numbersOnly />
            @if (groupForm.get('law_AgeFrom').errors?.required) {
              <mat-error>سن شهروند را وارد کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-2">
            <mat-label>تا </mat-label>
            <input matInput formControlName="law_AgeTo" type="text" numbersOnly />
            @if (groupForm.get('law_AgeTo').errors?.required) {
              <mat-error>سن شهروند را وارد کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label> تاریخ انقضاء</mat-label>
            <input matInput [matDatepicker]="dpS" formControlName="expireDate" />
            <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
            <mat-datepicker #dpS></mat-datepicker>
            @if (groupForm.get('expireDate').errors?.required) {
              <mat-error> تاریخ انقضاء را مشخص کنید. </mat-error>
            }
            @if (groupForm.get('expireDate').errors?.matDatepickerParse) {
              <mat-error> فرمت تاریخ صحیح نیست </mat-error>
            }
          </mat-form-field>
        </div>
        <p>
          <mat-checkbox color="default" formControlName="showToAddCitizen">
            نمایش برای شهروندان جهت عضویت
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="default" formControlName="law_Gender">
            تفکیک براساس جنسیت
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="default" formControlName="showToMembers">
            نمایش برای کاربران عضو
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="default" formControlName="specialRules"> قوانین ویژه </mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="default" formControlName="autoAddMembers">
            اضافه کردن اتوماتیک
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="default" formControlName="municipalPersonnelGroup">
            گروه مرتبط شهرداری
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="default" formControlName="canBuyFreeCard">
            امکان صدور کارت رایگان
          </mat-checkbox>
        </p>
        <p>
          <mat-checkbox color="default" formControlName="isActive">فعال/غیرفعال</mat-checkbox>
        </p>
      </form>
    }
  </mat-card-content>
  <mat-card-footer>
    <div class="d-flex align-items-center justify-content-end p-3">
      @if (!loading) {
        <button mat-raised-button color="default" (click)="save()" [disabled]="isSaving">
          @if (isSaving) {
            <span>منتظر بمانید...</span>
          }
          @if (!isSaving) {
            <span>ذخیره</span>
          }
          <mat-spinner [hidden]="!isSaving" diameter="20" color="default"></mat-spinner>
        </button>
      }
    </div>
  </mat-card-footer>
</mat-card>
