<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  @if (!isUpdate) {
    <h5 cdkDragHandle class="title">تعریف تخفیف جدید</h5>
  }
  @if (isUpdate) {
    <h5 cdkDragHandle class="title">ویرایش تخفیف</h5>
  }

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  @if (loadingData) {
    <div class="d-flex align-items-center justify-content-center p-5">
      <mat-spinner diameter="50" color="default"></mat-spinner>
    </div>
  }

  @if (!loadingData) {
    <form [formGroup]="frm">
      <div class="row">
        <mat-form-field class="col-md-3">
          <mat-label> عنوان تخفیف </mat-label>
          <input type="text" matInput formControlName="discountTitle" maxlength="40" />
          @if (frm.get('discountTitle')?.hasError('required')) {
            <mat-error> عنوان تخفیف را وارد نمایید </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>تاریخ شروع تخفیف</mat-label>
          <input matInput [matDatepicker]="sdpicker" formControlName="startDate" />
          <mat-datepicker-toggle matSuffix [for]="sdpicker"></mat-datepicker-toggle>
          <mat-datepicker #sdpicker></mat-datepicker>
          @if (frm.get('startDate')?.hasError('required')) {
            <mat-error> تاریخ شروع تخفیف را انتخاب کنید. </mat-error>
          }
          @if (frm.get('startDate')?.hasError('matDatepickerParse')) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>تاریخ پایان تخفیف</mat-label>
          <input matInput [matDatepicker]="edpicker" formControlName="endDate" />
          <mat-datepicker-toggle matSuffix [for]="edpicker"></mat-datepicker-toggle>
          <mat-datepicker #edpicker></mat-datepicker>
          @if (frm.get('endDate')?.hasError('required')) {
            <mat-error> تاریخ پایان تخفیف را انتخاب کنید. </mat-error>
          }
          @if (frm.get('endDate')?.hasError('matDatepickerParse')) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label> توضیحات تخفیف </mat-label>
          <input type="text" matInput formControlName="description" maxlength="200" />
          @if (frm.get('description')?.hasError('required')) {
            <mat-error> توضیحات تخفیف را وارد نمایید </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-3">
          <mat-label>درصد تخفیف</mat-label>
          <input
            matInput
            formControlName="discountPercent"
            autocomplete="doNotAutoComplete"
            decimalOnly
            maxlength="3"
          />
          @if (frm.get('discountPercent')?.hasError('required')) {
            <mat-error> درصد تخفیف را وارد کنید. </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="col-md-3">
          <mat-label>درصد تخفیف ارسال پستی</mat-label>
          <input
            matInput
            formControlName="postalPercentInCity"
            autocomplete="doNotAutoComplete"
            decimalOnly
            maxlength="3"
          />
          @if (frm.get('postalPercentInCity')?.hasError('required')) {
            <mat-error> درصد تخفیف ارسال پستی را وارد کنید. </mat-error>
          }
        </mat-form-field>
      </div>
      <p>
        <mat-checkbox formControlName="discountIsActive"> تخفیف فعال است ؟ </mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="postDeliveryPossibility"> امکان ارسال پستی ؟ </mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="centerDeliveryPossibility">
          امکان ارسال به مرکز تحویل ؟
        </mat-checkbox>
      </p>
      <div class="row">
        <mat-form-field class="col-sm-12">
          <mat-label>گروههای تخفیف</mat-label>
          <mat-chip-grid #skillChipList>
            @for (item of selectedGroups; track $index) {
              <mat-chip-row [removable]="true" (removed)="removeAutoChip(selectedGroups, item)">
                {{ item.text }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip-row>
            }
            <input
              matInput
              formControlName="groups"
              [matAutocomplete]="autoSkills"
              [matChipInputFor]="skillChipList"
              #skillInput
              #skillTrigger="matAutocompleteTrigger"
            />
          </mat-chip-grid>
          <mat-autocomplete
            #autoSkills="matAutocomplete"
            [displayWith]="displayFn"
            (optionSelected)="
              selectedAutoChip(selectedGroups, 'groups', skillInput, $event, skillTrigger)
            "
          >
            @for (option of filteredGroups | async; track option) {
              <mat-option [value]="option">
                {{ option.text }}
              </mat-option>
            }
          </mat-autocomplete>
          @if (
            frm.get('groups')?.hasError('incorrect') || frm.get('groups')?.hasError('required')
          ) {
            <mat-error> گروههای تخفیف را از لیست انتخاب کنید </mat-error>
          }
          <mat-spinner matSuffix diameter="20" [hidden]="!loadingGroups"></mat-spinner>
        </mat-form-field>
      </div>
    </form>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>

  @if (!loadingData) {
    <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
      <span>ذخیره </span>
      <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
    </button>
  }
</mat-dialog-actions>
