<div class="content-header">
  <span>تراکنش های مالی</span>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    <div class="d-flex align-items-center justify-content-end"></div>

    <form [formGroup]="searchForm">
      <div class="row">
        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>شماره پیگیری</mat-label>
          <input matInput formControlName="orderId" maxlength="100" />
        </mat-form-field>
        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>شناسه بانکی</mat-label>
          <input matInput formControlName="referenceId" maxlength="100" />
        </mat-form-field>

        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>از تاریخ</mat-label>
          <input
            matInput
            [matDatepicker]="dpS"
            formControlName="fromDate"
            [max]="searchForm.get('toDate').value"
          />
          <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
          <mat-datepicker #dpS></mat-datepicker>
          @if (searchForm.get('fromDate').errors?.required) {
            <mat-error> تاریخ شروع را مشخص کنید. </mat-error>
          }
          @if (
            searchForm.get('fromDate').errors?.matDatepickerMin ||
            searchForm.get('fromDate').errors?.matDatepickerMax
          ) {
            <mat-error> تاریخ شروع نباید از تاریخ پایان بزرگتر باشد! </mat-error>
          }
          @if (searchForm.get('fromDate').errors?.matDatepickerParse) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>تا تاریخ</mat-label>
          <input
            matInput
            [matDatepicker]="dpE"
            formControlName="toDate"
            [min]="searchForm.get('fromDate').value"
          />
          <mat-datepicker-toggle matSuffix [for]="dpE"></mat-datepicker-toggle>
          <mat-datepicker #dpE></mat-datepicker>
          @if (searchForm.get('toDate').errors?.required) {
            <mat-error> تاریخ پایان را مشخص کنید. </mat-error>
          }
          @if (
            searchForm.get('toDate').errors?.matDatepickerMin ||
            searchForm.get('toDate').errors?.matDatepickerMax
          ) {
            <mat-error> تاریخ شروع نباید از تاریخ پایان بزرگتر باشد! </mat-error>
          }
          @if (searchForm.get('toDate').errors?.matDatepickerParse) {
            <mat-error> فرمت تاریخ صحیح نیست </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>وضعیت تراکنش</mat-label>
          <mat-select formControlName="transactionState">
            <mat-option [value]="null">همه</mat-option>
            @for (item of transactionStateList; track item) {
              <mat-option [value]="item.key">{{ item.text }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>عنوان تراکنش</mat-label>
          <mat-select formControlName="transactionFor">
            <mat-option [value]="null">همه</mat-option>
            @for (item of transactionForList; track item) {
              <mat-option [value]="item.key">{{ item.text }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end mb-4">
        <button mat-raised-button color="default" (click)="applyFilter()">
          <i class="fa fa-search"></i>
          جستجو
        </button>
      </div>
    </form>

    <div class="d-flex align-items-center justify-content-end mb-3">
      <button
        mat-raised-button
        color="default"
        (click)="exporter.exportTable('xlsx', { fileName: 'excel' })"
      >
        <i class="fa fa-file-excel mr-2"></i>
        خروجی اکسل
      </button>
    </div>
    <div class="datatable-container mat-elevation-z8">
      @if (isLoadingResults) {
        <div class="datatable-loading-shade">
          @if (isLoadingResults) {
            <mat-spinner color="default"></mat-spinner>
          }
        </div>
      }
      @if (isLoadingResults == false && listCount == 0) {
        <div class="datatable-loading-shade">
          <strong>اطلاعاتی وجود ندارد!</strong>
        </div>
      }

      <div class="datatable-table-container">
        <table
          mat-table
          [dataSource]="data"
          class="datatable-table"
          #exporter="matTableExporter"
          matTableExporter
          [hiddenColumns]="[displayedColumns.length - 1]"
        >
          <ng-container matColumnDef="row">
            <th mat-header-cell *matHeaderCellDef width="40">#</th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="orderId">
            <th mat-header-cell *matHeaderCellDef>شماره پیگیری</th>
            <td mat-cell *matCellDef="let row">
              {{ row.orderId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="transactionBankReferenceId">
            <th mat-header-cell *matHeaderCellDef>شناسه بانکی</th>
            <td mat-cell *matCellDef="let row">
              {{ row.transactionBankReferenceId }}
            </td>
          </ng-container>

          <ng-container matColumnDef="amountTransaction">
            <th mat-header-cell *matHeaderCellDef>مبلغ</th>
            <td mat-cell *matCellDef="let row">
              {{ row.amountTransaction | number }}
            </td>
          </ng-container>

          <ng-container matColumnDef="transactionOnDate">
            <th mat-header-cell *matHeaderCellDef>تاریخ تراکنش</th>
            <td mat-cell *matCellDef="let row">
              {{ row.transactionOnDate | jalali }}
            </td>
          </ng-container>

          <ng-container matColumnDef="transactionState">
            <th mat-header-cell *matHeaderCellDef>وضعیت تراکنش</th>
            <td mat-cell *matCellDef="let row">
              {{ row.transactionState | enumString: 'transactionState' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="transactionFor">
            <th mat-header-cell *matHeaderCellDef>عنوان تراکنش</th>
            <td mat-cell *matCellDef="let row">
              {{ row.transactionFor | enumString: 'transactionFor' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="acceptationTransactionOnDate">
            <th mat-header-cell *matHeaderCellDef>تاریخ تایید تراکنش</th>
            <td mat-cell *matCellDef="let row">
              {{ row.acceptationTransactionOnDate | jalali }}
            </td>
          </ng-container>

          <ng-container matColumnDef="transactionBy">
            <th mat-header-cell *matHeaderCellDef>کاربر</th>
            <td mat-cell *matCellDef="let row">
              {{ row.transactionBy }}
            </td>
          </ng-container>

          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef width="40">عملیات</th>
            <td mat-cell *matCellDef="let row">
              @if (row.loading) {
                <mat-spinner diameter="25" color="default"></mat-spinner>
              }
              @if (!row.loading) {
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              }
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/company/transaction-details/{{ row.id }}">
                  <i class="fa fa-eye mr-2"></i>
                  مشاهده جزئیات
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator
        [length]="listCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 50, 100, 250, 500, 1000, 2000]"
        showFirstLastButtons
        (page)="pageEvent($event)"
      ></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
