<ul class="accordion accordion--animated">
  <ng-container *ngFor="let item of menuItems">

    <li class="accordion__item" *ngIf="checkPermission(item)">
      <a [routerLink]="[item.url]" [routerLinkActive]="'active'" *ngIf="item.url" (click)="stopPagination($event)">
        <label class="accordion__label">
          <i class="{{item.icon}}" *ngIf="item.icon"></i>
          <span>{{item.name}}</span>
        </label>
      </a>


      <a *ngIf="!item.url" (click)="toggle(item,$event)">
        <label class="accordion__label" for="{{item.id}}">
          <i class="{{item.icon}}" *ngIf="item.icon"></i>

          <span>{{item.name}}</span>
        </label>

        <span class="has-child" *ngIf="item.children">
          <i class="fa fa-chevron-left" *ngIf="!item.isOpen"></i>
          <i class="fa fa-chevron-down" *ngIf="item.isOpen"></i>
        </span>

        <ul *ngIf="item.children" class="accordion__sub" [class.open]="item.isOpen">
          <menu-dynamic [menu]="item.children"></menu-dynamic>
        </ul>
      </a>



    </li>

  </ng-container>

</ul>
