<div class="tm-breadcrumb-area tm-padding-section text-center" data-overlay="1" data-bgimage="assets/theme/images/bg/bg-breadcrumb.jpg">
  <div class="container">
    <div class="tm-breadcrumb">
      <h2 class="tm-breadcrumb-title">صفحه مورد نظر وجود ندارد!</h2>
      <ul>
        <li><a routerLink="/home">صفحه اصلی</a></li>
        <li>404</li>
      </ul>
    </div>
  </div>
</div>



<main class="main-content">

  <!-- 404 Area -->
  <div class="tm-section page-not-found-area tm-padding-section bg-white">
    <div class="container">
      <div class="tm-pnf">
         
        <h4>صفحه مورد نظر شما وجود ندارد و یا حذف شده است.</h4>
        <a routerLink="/account/login" class="tm-button">برو به صفحه ورود به سامانه </a>
        <strong>|</strong>
        <a routerLink="/userregister/preregister?serviceId=0" class="tm-button">برو به صفحه ثبت نام در سامانه </a>
        <strong>|</strong>
      </div>
    </div>
  </div>
  <!--// 404 Area -->

</main>

