<mat-card class="m-3">
    <mat-card-header class="card-header">اطلاعات فردی</mat-card-header>
    <mat-card-content>
        <div class="p-5 d-flex align-items-center justify-content-center" *ngIf="loading">
            <mat-spinner diameter="50" color="default"></mat-spinner>
        </div>

        <form [formGroup]="personalForm" *ngIf="!loading" class="p-4">

            <div class="custom-alert">
                تاریخ آخرین ویرایش اطلاعات: {{lastModifiedOnDate|jalali}}
            </div>
            <div class="row">
                <mat-form-field class="col-sm-6 col-md-4">
                    <mat-label>کد ملی (نام کاربری)</mat-label>
                    <input matInput formControlName="nationalCode" readonly disabled maxlength="10" numbersOnly>
                    <mat-error *ngIf="personalForm.get('nationalCode').errors?.required">
                        کد ملی خود را وارد کنید.
                    </mat-error>
                    <mat-error *ngIf="personalForm.get('nationalCode').errors?.invalid">
                        کد ملی وارد شده صحیح نیست
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-sm-6 col-md-4">
                    <mat-label>نام</mat-label>
                    <input matInput formControlName="firstName" autocomplete="doNotAutoComplete">
                    <mat-error *ngIf="personalForm.get('firstName').errors?.required">
                        نام را وارد کنید.
                    </mat-error>
                    <mat-error *ngIf="personalForm.get('firstName').errors?.pattern">
                        فقط از حروف فارسی استفاده کنید.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-sm-6 col-md-4">
                    <mat-label> نام خانوادگی</mat-label>
                    <input matInput formControlName="lastName" autocomplete="doNotAutoComplete">
                    <mat-error *ngIf="personalForm.get('lastName').errors?.required">
                        نام خانوادگی را وارد کنید.
                    </mat-error>
                    <mat-error *ngIf="personalForm.get('lastName').errors?.pattern">
                        فقط از حروف فارسی استفاده کنید.
                    </mat-error>
                </mat-form-field>




                <mat-form-field class="col-sm-6 col-md-4">
                    <mat-label>نام پدر </mat-label>
                    <input matInput formControlName="fatherName" autocomplete="doNotAutoComplete">
                    <mat-error *ngIf="personalForm.get('fatherName').errors?.required">
                        نام پدر را وارد کنید.
                    </mat-error>
                    <mat-error *ngIf="personalForm.get('fatherName').errors?.pattern">
                        فقط از حروف فارسی استفاده کنید.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-sm-6 col-md-4">
                    <mat-label>جنسیت</mat-label>
                    <mat-select formControlName="gender" (selectionChange)="changeGender()">
                        <mat-option [value]="true">آقا هستم</mat-option>
                        <mat-option [value]="false">خانم هستم</mat-option>
                    </mat-select>
                    <mat-error *ngIf="personalForm.get('gender').errors?.required">
                        جنسیت را مشخص کنید.
                    </mat-error>
                </mat-form-field>



                <mat-form-field class="col-sm-6 col-md-4">
                    <mat-label>تاریخ تولد</mat-label>
                    <input matInput [matDatepicker]="dpicker" formControlName="birthDate" />
                    <mat-datepicker-toggle matSuffix [for]="dpicker"></mat-datepicker-toggle>
                    <mat-datepicker #dpicker></mat-datepicker>
                    <mat-error *ngIf="personalForm.get('birthDate').errors?.required">
                        تاریخ تولد را انتخاب کنید.
                    </mat-error>
                    <mat-error *ngIf="personalForm.get('birthDate').errors?.matDatepickerParse">
                        فرمت تاریخ صحیح نیست
                    </mat-error>
                </mat-form-field>


                <mat-form-field class="col-sm-6 col-md-4">
                    <mat-label>شماره موبایل</mat-label>
                    <input matInput formControlName="mobile" maxlength="11" numbersOnly>
                    <mat-error *ngIf="personalForm.get('mobile').errors?.required">
                        شماره موبایل را وارد کنید.
                    </mat-error>
                    <mat-error *ngIf="personalForm.get('mobile').errors?.invalid">
                        شماره موبایل صحیح نیست.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-sm-6 col-md-4">
                    <mat-label>شماره تلفن</mat-label>
                    <input matInput formControlName="phoneNumber" maxlength="11" numbersOnly>
                    <mat-error *ngIf="personalForm.get('phoneNumber').errors?.required">
                        شماره تلفن را وارد کنید.
                    </mat-error>
                    <mat-error *ngIf="personalForm.get('phoneNumber').errors?.pattern">
                        شماره تلفن صحیح نیست.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-sm-6 col-md-4">
                    <mat-label>آدرس ایمیل</mat-label>
                    <input matInput formControlName="email">

                    <mat-error *ngIf="personalForm.get('email').errors?.email">
                        ایمیل وارد شده صحیح نیست!
                    </mat-error>
                </mat-form-field>



                <mat-form-field class="col-sm-6 col-md-4">
                    <mat-label>وضعیت تاهل </mat-label>
                    <mat-select formControlName="marital">
                        <mat-option *ngFor="let item of baseEnums.maritalStatus" [value]="item.key">{{item.text}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="personalForm.get('marital').errors?.required">
                        وضعیت تاهل را وارد کنید.
                    </mat-error>
                </mat-form-field>

            </div>


            <div class="row">

                <mat-form-field class="col-sm-6 col-md-4">
                    <mat-label>شهر</mat-label>
                    <input matInput formControlName="state" [matAutocomplete]="autoState" #stateInput #stateTrigger="matAutocompleteTrigger">
                    <mat-autocomplete #autoState="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredState | async" [value]="option" class="auto-complete-two-level">
                            <span>استان: </span> <strong>{{option.parentText}} </strong><br />
                            <span>شهرستان: </span> <strong>{{option.text}} </strong>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="personalForm.get('state').errors?.incorrect || personalForm.get('state').errors?.required">
                        شهر مورد نظر را از لیست انتخاب کنید
                    </mat-error>
                    <mat-spinner matSuffix diameter="20" [hidden]="!loadingState"></mat-spinner>
                </mat-form-field>
                <mat-form-field class="col-sm-6 col-md-8">
                    <mat-label>آدرس</mat-label>
                    <input matInput formControlName="fullAddress">
                </mat-form-field>
            </div>

        </form>
    </mat-card-content>
    <mat-card-footer class="p-3 d-flex justify-content-end">
        <button mat-raised-button color="default" *ngIf="!loading" [disabled]="isSaving" (click)="savePersonalInfo()">
            <span>ذخیره </span>
            <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
        </button>
    </mat-card-footer>

</mat-card>
