<mat-card class="m-3">
  <mat-card-header class="card-header">اطلاعات فردی</mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="p-5 d-flex align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    }

    @if (!loading) {
      <form [formGroup]="personalForm" class="p-4">
        <div class="custom-alert">
          تاریخ آخرین ویرایش اطلاعات: {{ lastModifiedOnDate | jalali }}
        </div>
        <div class="row">
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>کد ملی (نام کاربری)</mat-label>
            <input
              matInput
              formControlName="nationalCode"
              readonly
              disabled
              maxlength="10"
              numbersOnly
            />
            @if (personalForm.get('nationalCode').errors?.required) {
              <mat-error> کد ملی خود را وارد کنید. </mat-error>
            }
            @if (personalForm.get('nationalCode').errors?.invalid) {
              <mat-error> کد ملی وارد شده صحیح نیست </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>نام</mat-label>
            <input matInput formControlName="firstName" autocomplete="doNotAutoComplete" />
            @if (personalForm.get('firstName').errors?.required) {
              <mat-error> نام را وارد کنید. </mat-error>
            }
            @if (personalForm.get('firstName').errors?.pattern) {
              <mat-error> فقط از حروف فارسی استفاده کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label> نام خانوادگی</mat-label>
            <input matInput formControlName="lastName" autocomplete="doNotAutoComplete" />
            @if (personalForm.get('lastName').errors?.required) {
              <mat-error> نام خانوادگی را وارد کنید. </mat-error>
            }
            @if (personalForm.get('lastName').errors?.pattern) {
              <mat-error> فقط از حروف فارسی استفاده کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>نام پدر </mat-label>
            <input matInput formControlName="fatherName" autocomplete="doNotAutoComplete" />
            @if (personalForm.get('fatherName').errors?.required) {
              <mat-error> نام پدر را وارد کنید. </mat-error>
            }
            @if (personalForm.get('fatherName').errors?.pattern) {
              <mat-error> فقط از حروف فارسی استفاده کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>جنسیت</mat-label>
            <mat-select formControlName="gender" (selectionChange)="changeGender()">
              <mat-option [value]="true">آقا هستم</mat-option>
              <mat-option [value]="false">خانم هستم</mat-option>
            </mat-select>
            @if (personalForm.get('gender').errors?.required) {
              <mat-error> جنسیت را مشخص کنید. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>تاریخ تولد</mat-label>
            <input matInput [matDatepicker]="dpicker" formControlName="birthDate" />
            <mat-datepicker-toggle matSuffix [for]="dpicker"></mat-datepicker-toggle>
            <mat-datepicker #dpicker></mat-datepicker>
            @if (personalForm.get('birthDate').errors?.required) {
              <mat-error> تاریخ تولد را انتخاب کنید. </mat-error>
            }
            @if (personalForm.get('birthDate').errors?.matDatepickerParse) {
              <mat-error> فرمت تاریخ صحیح نیست </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>شماره موبایل</mat-label>
            <input matInput formControlName="mobile" maxlength="11" numbersOnly />
            @if (personalForm.get('mobile').errors?.required) {
              <mat-error> شماره موبایل را وارد کنید. </mat-error>
            }
            @if (personalForm.get('mobile').errors?.invalid) {
              <mat-error> شماره موبایل صحیح نیست. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>شماره تلفن</mat-label>
            <input matInput formControlName="phoneNumber" maxlength="11" numbersOnly />
            @if (personalForm.get('phoneNumber').errors?.required) {
              <mat-error> شماره تلفن را وارد کنید. </mat-error>
            }
            @if (personalForm.get('phoneNumber').errors?.pattern) {
              <mat-error> شماره تلفن صحیح نیست. </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>آدرس ایمیل</mat-label>
            <input matInput formControlName="email" />
            @if (personalForm.get('email').errors?.email) {
              <mat-error> ایمیل وارد شده صحیح نیست! </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>وضعیت تاهل </mat-label>
            <mat-select formControlName="marital">
              @for (item of baseEnums.maritalStatus; track item) {
                <mat-option [value]="item.key">{{ item.text }} </mat-option>
              }
            </mat-select>
            @if (personalForm.get('marital').errors?.required) {
              <mat-error> وضعیت تاهل را وارد کنید. </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>شهر</mat-label>
            <input
              matInput
              formControlName="state"
              [matAutocomplete]="autoState"
              #stateInput
              #stateTrigger="matAutocompleteTrigger"
            />
            <mat-autocomplete #autoState="matAutocomplete" [displayWith]="displayFn">
              @for (option of filteredState | async; track option) {
                <mat-option [value]="option" class="auto-complete-two-level">
                  <span>استان: </span> <strong>{{ option.parentText }} </strong><br />
                  <span>شهرستان: </span> <strong>{{ option.text }} </strong>
                </mat-option>
              }
            </mat-autocomplete>
            @if (
              personalForm.get('state').errors?.incorrect ||
              personalForm.get('state').errors?.required
            ) {
              <mat-error> شهر مورد نظر را از لیست انتخاب کنید </mat-error>
            }
            <mat-spinner matSuffix diameter="20" [hidden]="!loadingState"></mat-spinner>
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-8">
            <mat-label>آدرس</mat-label>
            <input matInput formControlName="fullAddress" />
          </mat-form-field>
        </div>
      </form>
    }
  </mat-card-content>
  <mat-card-footer class="p-3 d-flex justify-content-end">
    @if (!loading) {
      <button mat-raised-button color="default" [disabled]="isSaving" (click)="savePersonalInfo()">
        <span>ذخیره </span>
        <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
      </button>
    }
  </mat-card-footer>
</mat-card>
