<mat-card class="m-3">
  <mat-card-header class="card-header mt-n3 mx-n3">تصویر پرسنلی شما</mat-card-header>
  <mat-card-content>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <img src="/images/portrait_allow.jpg" />
      </div>

      <div class="col-md-6">
        <mat-list>
          <mat-list-item>اسکن عکس پرسنلی شما باید: با فرمت jpg یا jpeg باشد.</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> حداکثر حجم قابل قبول تصویر 200 کیلو بایت می باشد . </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> بصورت عمودی باشد به نحوی که ارتفاع آن بیشتر از عرض باشد. </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            رزولوشن 300 (حداقل عرض) در 400 (حداقل ارتفاع) پیکسل داشته باشد.
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            عکس ۴*۳ یا ۴*۶ که در سال جاری گرفته شده و تمام رخ رنگی با زمینه سفید باشد.
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            حاشیه های زاید عکس باید حذف گردد و عکس باید واضح مشخص و فاقد مهر منگنه و لکه باشد.
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>عکس خواهران با حجاب و صورت کامل آنان مشخص باشد</mat-list-item>
        </mat-list>
      </div>

      <div class="col-md-12">
        <div class="overflow-auto">
          <app-uploader
            (attachmentId)="getImage($event)"
            [autoUpload]="true"
            [btnTitle]="'انتخاب تصویر پرسنلی'"
            [url]="uploadUrl"
          ></app-uploader>
        </div>
      </div>
      <div class="col-sm-9 col-md-6 text-center mt-3">
        <!--<button mat-raised-button color="primary" (click)="openUploadDialog()">
        انتخاب تصویر
      </button>-->

        <div class="p-3 d-flex align-items-center justify-content-center">
          <div class="image-box">
            @if (loading) {
              <mat-spinner diameter="50" color="default"></mat-spinner>
            }
            @if (imageUrl) {
              <img [src]="baseUrl + imageUrl" class="w-100 h-100 object-cover" />
            }
            @if (personalPicture_Confirmed !== null) {
              <span
                [ngClass]="{
                  'text-white bg-danger': personalPicture_Confirmed === 0,
                  'text-white bg-success': personalPicture_Confirmed === 1,
                  'text-white bg-warninr': personalPicture_Confirmed === 2,
                }"
              >
                {{ imageStates[personalPicture_Confirmed] }}
              </span>
            }
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
