<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">ویرایش اطلاعات دسترسی استرداد</h5>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <div class="box-info-dash">
    <div class="row">
      <div class="col-sm-6">
        <span>دسترسی برای : </span><strong>{{ info.accessByCitizen }}</strong>
      </div>
      <div class="col-sm-6">
        <span>شماره نامه: </span><strong>{{ info.letterNumber }}</strong>
      </div>
      <div class="col-sm-6">
        <span>کلاس: </span><strong>{{ info.className }}</strong>
      </div>
      <div class="col-sm-6">
        <span>تاریخ دسترسی: </span><strong>{{ info.onDate | luxonFormat }}</strong>
      </div>
    </div>
  </div>

  <form [formGroup]="frm">
    <div class="row">
      <mat-form-field class="col-md-4">
        <mat-label>شماره نامه</mat-label>
        <input matInput formControlName="letterNumber" numbersOnly maxlength="10" />
        @if (frm.get('letterNumber')?.hasError('required')) {
          <mat-error> شماره نامه را وارد کنید. </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>نام واحد</mat-label>
        <input matInput formControlName="unitName" maxlength="50" />
        @if (frm.get('unitName')?.hasError('required')) {
          <mat-error> نام واحد را وارد کنید. </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>نام کلاس</mat-label>
        <input matInput formControlName="className" maxlength="50" />
        @if (frm.get('className')?.hasError('required')) {
          <mat-error> نام کلاس را وارد کنید. </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-md-4">
        <mat-label>کد ملی مسئول استرداد</mat-label>
        <input matInput formControlName="nationalCode" numbersOnly maxlength="10" />
        @if (frm.get('nationalCode')?.hasError('required')) {
          <mat-error> کد ملی را وارد کنید. </mat-error>
        }
        @if (frm.get('nationalCode')?.hasError('invalid')) {
          <mat-error> کد ملی وارد شده صحیح نیست </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-6">
        <mat-label>توضیحات</mat-label>
        <input matInput formControlName="description" maxlength="200" />
      </mat-form-field>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <p>
        <mat-checkbox color="default" formControlName="citizenAccess">دسترسی شهروند</mat-checkbox>
      </p>

      <p>
        <mat-checkbox color="default" formControlName="isClosed">بستن درخواست</mat-checkbox>
      </p>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>ذخیره </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
