<!-- Breadcrumb Area -->
<!-- <div class="tm-breadcrumb-area tm-padding-section text-center" data-overlay="1" data-bgimage="theme/images/bg/bg-breadcrumb.jpg">
<div class="container">
  <div class="tm-breadcrumb">
    <h2 class="tm-breadcrumb-title">جزئیات خبر</h2>
    <ul>
      <li><a routerLink="/home">صفحه اصلی</a></li>
      <li><a routerLink="/home/news-list">اخبار</a></li>
      <li>جزئیات </li>
    </ul>
  </div>
</div>
</div> -->
<!--// Breadcrumb Area -->
<!-- Main Content -->

<main class="main-content">
  <!-- Blogs Area -->
  <div class="">
    <div class="container p-md-5 box p-4 mt-4">
      <nav aria-label="breadcrumb ">
        <ol class="breadcrumb mb-0 rad25">
          <li class="breadcrumb-item"><a routerLink="/home">صفحه اصلی</a></li>
          <li class="breadcrumb-item"><a routerLink="/home/news-list">اخبار</a></li>
          <li class="breadcrumb-item active" aria-current="page">جزئیات خبر</li>
        </ol>
      </nav>

      <div class="row mt-3">
        <div class="col-lg-8 col-12">
          @if (loadingData) {
            <div class="d-flex align-items-center justify-content-center py-5">
              <mat-spinner color="default"></mat-spinner>
            </div>
          }
          @if (loadingData == false && !news) {
            <div class="d-flex align-items-center justify-content-center py-5">
              <strong>اطلاعاتی وجود ندارد!</strong>
            </div>
          }

          <div class="tm-blog tm-blog-details sticky-sidebar">
            @if (!loadingData && news) {
              <div>
                <div class="tm-blog-image">
                  <a>
                    @if (news?.imageUrl) {
                      <img [src]="baseUrl + news?.imageUrl" alt="{{ news?.title }}" />
                    }
                    @if (!news?.imageUrl) {
                      <img src="/images/news-default.jpg" alt="{{ news?.title }}" />
                    }
                  </a>
                </div>
                <div class="tm-blog-content">
                  <div class="tm-blog-meta">
                    <span
                      ><i class="fa fa-calendar-o"></i
                      >{{ news?.onDate | luxonFormat: 'dddd DD MMMM YYYY' }}</span
                    >
                  </div>
                  <h3>{{ news?.title }}</h3>
                  <blockquote>
                    <p>
                      {{ news?.description }}
                    </p>
                  </blockquote>
                  <div [innerHtml]="news?.body | safeHtml"></div>
                  <app-attachments [guid]="news?.attachmentFileGroup ?? ''"></app-attachments>
                </div>
                <div class="tm-blog-tags">
                  <span class="tm-blog-tags-title">
                    <i class="fa fa-tags"></i>
                  </span>
                  <ul>
                    @for (item of tags; track $index) {
                      <li>
                        <a>{{ item }}</a>
                      </li>
                    }
                  </ul>
                </div>
              </div>
            }

            <!--<div class="tm-blog-pagination tm-pagination">
              <ul>
                <li>
                  <a href="blog-details.html">Previous Post</a>
                </li>
                <li>
                  <a href="blog-details.html">Next Post</a>
                </li>
              </ul>
            </div>-->
            <!-- tm-blog Comments -->
            <div class="tm-blog-comments mt-50">
              <h5 class="small-title">نظرات کاربران ({{ comments.length }})</h5>

              <div class="tm-comment-wrapper">
                <!-- Comment Single -->
                @for (item of comments; track $index) {
                  <div class="tm-comment">
                    <div class="tm-comment-thumb">
                      <img src="theme/images/authors/author-image-1.jpg" alt="author image" />
                    </div>
                    <div class="tm-comment-content">
                      <h6 class="tm-comment-authorname">{{ item.fullName }}</h6>
                      <!--<span class="tm-comment-date">Wednesday, October 17, 2018 at 4:00PM.</span>-->
                      <!--<a class="tm-comment-replybutton">
                      <i class="fa fa-reply-all"></i>
                      {{item.emailAddress}}
                    </a>-->
                      <p>
                        {{ item.commentMessage }}
                      </p>
                    </div>
                  </div>
                }
                <!--// Comment Single -->
              </div>
            </div>
            <!--// tm-blog Comments -->
            <!-- tm-blog Commentbox -->
            <div class="tm-blog-commentbox mt-50">
              <h5 class="small-title">ارسال نظر</h5>
              <form [formGroup]="frm" class="tm-commentbox">
                <div class="tm-commentbox-singlefield">
                  <p>آدرس ایمیل شما منتشر نخواهد شد.</p>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <label for="tm-comment-namefield">نام و نام خانوادگی</label>
                    <input
                      type="text"
                      id="tm-comment-namefield"
                      formControlName="fullName"
                      class="form-control"
                    />
                    @if (
                      frm.get('fullName')?.hasError('required') && frm.get('fullName')?.touched
                    ) {
                      <span class="text-danger">نام خود را وارد کنید.</span>
                    }
                  </div>
                  <div class="col-sm-6">
                    <label for="tm-comment-email">آدرس ایمیل</label>
                    <input
                      type="email"
                      id="tm-comment-email"
                      formControlName="emailAddress"
                      class="form-control"
                    />
                    @if (
                      frm.get('emailAddress')?.hasError('required') &&
                      frm.get('emailAddress')?.touched
                    ) {
                      <span class="text-danger">ایمیل خود را وارد کنید.</span>
                    }
                    @if (
                      frm.get('emailAddress')?.hasError('email') && frm.get('emailAddress')?.touched
                    ) {
                      <span class="text-danger">ایمیل وارد شده صحیح نیست.</span>
                    }
                  </div>
                  <!--<div class="tm-commentbox-singlefield w-33">
                      <label for="tm-comment-website">Website</label>
                      <input type="text" id="tm-comment-website">
                    </div>-->
                  <div class="tm-commentbox-singlefield col-sm-12">
                    <label for="tm-comment-textbox">متن نظر</label>
                    <textarea
                      class="form-control"
                      name="tm-comment-textbox"
                      formControlName="commentMessage"
                      id="tm-comment-textbox"
                      cols="30"
                      rows="7"
                    ></textarea>
                    @if (
                      frm.get('commentMessage')?.hasError('required') &&
                      frm.get('commentMessage')?.touched
                    ) {
                      <span class="text-danger">پیام خود را وارد کنید.</span>
                    }
                  </div>
                </div>

                <div class="tm-commentbox-singlefield">
                  @if (!sendingComment) {
                    <button type="submit" class="btn btn-warning" (click)="sendComment()">
                      ارسال نظر <b></b>
                    </button>
                  }
                  @if (sendingComment) {
                    <mat-spinner color="default" diameter="25"></mat-spinner>
                  }
                </div>
              </form>
            </div>
            <!--// tm-blog Commentbox -->
          </div>
        </div>
        <div class="col-lg-4 col-12" id="category">
          <div class="mb-2 box p-3">
            <h6 class="IRANSansWeb_Medium bt-color bg-light py-2 px-3 mb-3 rad25">آخرین اخبار</h6>
            @if (loadingLastNews) {
              <div class="d-flex align-items-center justify-content-center py-5">
                <mat-spinner color="default"></mat-spinner>
              </div>
            }

            <ul class="prof">
              @for (item of lastNewsList; track $index) {
                <li routerLink="/home/news-details/{{ item.id }}">
                  <a routerLink="/home/news-details/{{ item.id }}">
                    <i class="far fa-file-alt text-info ml-1"></i>
                    {{ item.title }}
                  </a>
                  <!-- <span> {{item.onDate|jalali}}</span> -->
                </li>
              }
            </ul>
          </div>
          <!-- ---------------------------------------------- -->
          <div class="mb-2 box p-3">
            <h6 class="IRANSansWeb_Medium bt-color bg-light py-2 px-3 mb-3 rad25">
              خبرهای پر بازدید
            </h6>
            @if (loadingVisited) {
              <div class="d-flex align-items-center justify-content-center py-5">
                <mat-spinner color="default"></mat-spinner>
              </div>
            }

            <ul class="prof">
              @for (item of mostVisitedList; track $index) {
                <li routerLink="/home/news-details/{{ item.id }}">
                  <a routerLink="/home/news-details/{{ item.id }}">
                    <i class="far fa-file-alt text-info ml-1"></i>
                    {{ item.title }}
                  </a>
                  <!-- <span> {{item.onDate|jalali}}</span> -->
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--// Blogs Area -->
</main>

<!--// Main Content -->
