<div class="content-header">
  @if (isUpdate) {
    <span>ویرایش پرسنل</span>
  }
  @if (!isUpdate) {
    <span>ثبت پرسنل جدید</span>
  }
</div>

<mat-card class="custom-card">
  <form [formGroup]="userForm">
    <div class="row">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>کد پرسنلی</mat-label>
        <input
          matInput
          formControlName="personelCode"
          autocomplete="doNotAutoComplete"
          maxlength="20"
        />
        @if (userForm.get('personelCode').errors?.required) {
          <mat-error> کد پرسنلی را وارد کنید. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>پیشوند</mat-label>
        <mat-select formControlName="namePrefix">
          @for (item of namePrefixList; track item) {
            <mat-option [value]="item.key">{{ item.text }}</mat-option>
          }
        </mat-select>
        @if (userForm.get('namePrefix').errors?.required) {
          <mat-error> پیشوند را مشخص کنید. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>نام</mat-label>
        <input matInput formControlName="firstName" autocomplete="doNotAutoComplete" />
        @if (userForm.get('firstName').errors?.required) {
          <mat-error> نام را وارد کنید. </mat-error>
        }
        @if (userForm.get('firstName').errors?.pattern) {
          <mat-error> فقط از حروف فارسی استفاده کنید. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>نام خانوادگی</mat-label>
        <input matInput formControlName="lastName" autocomplete="doNotAutoComplete" />
        @if (userForm.get('lastName').errors?.required) {
          <mat-error> نام خانوادگی را وارد کنید. </mat-error>
        }
        @if (userForm.get('lastName').errors?.pattern) {
          <mat-error> فقط از حروف فارسی استفاده کنید. </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>نام پدر</mat-label>
        <input matInput formControlName="fatherName" autocomplete="doNotAutoComplete" />
        @if (userForm.get('fatherName').errors?.required) {
          <mat-error> نام پدر را وارد کنید. </mat-error>
        }
        @if (userForm.get('fatherName').errors?.pattern) {
          <mat-error> فقط از حروف فارسی استفاده کنید. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>کد ملی</mat-label>
        <input matInput formControlName="nationCode" autocomplete="doNotAutoComplete" />
        @if (userForm.get('nationCode').errors?.required) {
          <mat-error> کد ملی را وارد کنید. </mat-error>
        }
        @if (userForm.get('nationCode').errors?.invalid) {
          <mat-error> کد ملی صحیح نیست </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>شماره موبایل</mat-label>
        <input matInput formControlName="mobileNumber" maxlength="11" numbersOnly />
        @if (userForm.get('mobileNumber').errors?.required) {
          <mat-error> شماره موبایل را وارد کنید. </mat-error>
        }
        @if (userForm.get('mobileNumber').errors?.invalid) {
          <mat-error> شماره موبایل صحیح نیست. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>شماره تلفن ثابت</mat-label>
        <input matInput formControlName="cellNumber" maxlength="11" numbersOnly />
        @if (userForm.get('cellNumber').errors?.required) {
          <mat-error> شماره تلفن ثابت را وارد کنید. </mat-error>
        }
        @if (userForm.get('cellNumber').errors?.pattern) {
          <mat-error> شماره تلفن ثابت صحیح نیست. </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>آدرس ایمیل</mat-label>
        <input matInput formControlName="email" />
        @if (userForm.get('email').errors?.required) {
          <mat-error> آدرس ایمیل را وارد کنید. </mat-error>
        }
        @if (userForm.get('email').errors?.email) {
          <mat-error> ایمیل وارد شده صحیح نیست! </mat-error>
        }
      </mat-form-field>

      <input-auto-complete
        formControlName="province"
        [label]="'استان'"
        [required]="true"
        class="col-sm-6 col-md-4"
        [list]="provinceList"
      ></input-auto-complete>

      <input-auto-complete
        formControlName="city"
        [label]="'شهر'"
        [getByParent]="true"
        [parentId]="userForm.get('province').value?.key"
        [required]="true"
        class="col-sm-6 col-md-4"
      ></input-auto-complete>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>کد پستی</mat-label>
        <input matInput formControlName="zipCode" maxlength="10" />
        @if (userForm.get('zipCode').errors?.required) {
          <mat-error> کد پستی را وارد کنید. </mat-error>
        }
        @if (
          userForm.get('zipCode').errors?.maxlength || userForm.get('zipCode').errors?.minlength
        ) {
          <mat-error> کد پستی ده رقم می باشد </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>خیابان </mat-label>
        <input matInput formControlName="street" maxlength="100" />
        @if (userForm.get('street').errors?.required) {
          <mat-error> خیابان را وارد کنید. </mat-error>
        }
        @if (userForm.get('street').errors?.maxlength) {
          <mat-error> حداکثر 100 کاراکتر </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label> شماره پلاک</mat-label>
        <input matInput formControlName="pelak" maxlength="100" />
        @if (userForm.get('pelak').errors?.required) {
          <mat-error> شماره پلاک را وارد کنید. </mat-error>
        }
        @if (userForm.get('pelak').errors?.maxlength) {
          <mat-error> حداکثر 100 کاراکتر </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label> ادامه آدرس </mat-label>
        <input matInput formControlName="fullAddress" maxlength="1000" />
        @if (userForm.get('fullAddress').errors?.required) {
          <mat-error> ادامه آدرس را وارد کنید. </mat-error>
        }
        @if (userForm.get('fullAddress').errors?.maxlength) {
          <mat-error> حداکثر 1000 کاراکتر </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label> دفتر</mat-label>
        <input matInput formControlName="office" maxlength="100" />
        @if (userForm.get('office').errors?.required) {
          <mat-error> دفتر را وارد کنید. </mat-error>
        }
        @if (userForm.get('office').errors?.maxlength) {
          <mat-error> حداکثر 100 کاراکتر </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>شماره تلفن دفتر</mat-label>
        <input matInput formControlName="officePhoneNumber" maxlength="11" numbersOnly />
        @if (userForm.get('officePhoneNumber').errors?.required) {
          <mat-error> شماره تلفن دفتر را وارد کنید. </mat-error>
        }
        @if (userForm.get('officePhoneNumber').errors?.pattern) {
          <mat-error> شماره تلفن دفتر صحیح نیست. </mat-error>
        }
      </mat-form-field>

      <!--<input-company  formControlName="userCompanyId"
  [required]="true" class="col-sm-6 col-md-4" ></input-company>-->

      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>سمت</mat-label>
        <mat-select formControlName="organizationalPositionId">
          @for (item of organizationalPositionList; track item) {
            <mat-option [value]="item.key">{{ item.text }}</mat-option>
          }
        </mat-select>
        @if (userForm.get('organizationalPositionId').errors?.required) {
          <mat-error> سمت را مشخص کنید. </mat-error>
        }
      </mat-form-field>
    </div>

    <app-uploader
      (attachmentId)="getAttachmentId($event)"
      [autoUpload]="true"
      [btnTitle]="'انتخاب تصویر'"
    ></app-uploader>

    @if (imageUrl) {
      <img [src]="baseUrl + imageUrl" class="img-thumbnail thumb-128" />
    }

    <p>
      <mat-checkbox color="default" formControlName="isManagementMembers">
        آیا کاربر عضو هیئت مدیره می باشد؟
      </mat-checkbox>
    </p>

    <p>
      <mat-checkbox
        color="default"
        formControlName="hasSpecificDisease"
        (change)="changeHasSpecificDisease()"
      >
        آیا دارای بیماری خاصی است؟
      </mat-checkbox>
    </p>

    @if (userForm.get('hasSpecificDisease').value == true) {
      <mat-form-field class="col-sm-12">
        <mat-label> شرح بیماری </mat-label>
        <input matInput formControlName="descriptionDisease" maxlength="1000" />
        @if (userForm.get('descriptionDisease').errors?.required) {
          <mat-error> شرح بیماری را وارد کنید. </mat-error>
        }
        @if (userForm.get('descriptionDisease').errors?.maxlength) {
          <mat-error> حداکثر 1000 کاراکتر </mat-error>
        }
      </mat-form-field>
    }

    <strong>بیوگرافی:</strong>
    <div class="html-editor"></div>

    <div class="d-flex align-items-center justify-content-end">
      <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
        <span>ذخیره </span>
        <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
      </button>
    </div>
  </form>
</mat-card>
