@if (loading) {
  <div class="d-flex my-5 p-5 align-items-center justify-content-center">
    <mat-spinner diameter="50" color="default"></mat-spinner>
  </div>
} @else {
  <form [formGroup]="form">
    <div class="row my-4">
      <input-auto-complete
        formControlName="provinceCityOfBirth"
        [required]="true"
        class="col-sm-6 col-md-4"
        [list]="provinceList"
      ></input-auto-complete>
      <input-auto-complete
        formControlName="cityOfBirth"
        [label]="'شهر محل تولد'"
        [getByParent]="true"
        [parentId]="form.get('provinceCityOfBirth')?.value?.key"
        [required]="true"
        class="col-sm-6 col-md-4"
      ></input-auto-complete>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>بخش /روستا/دهستان محل تولد</mat-label>
        <input matInput formControlName="villageOfBirth" maxlength="30" />
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>بخش محل تولد</mat-label>
        <input matInput formControlName="birthCitySection" maxlength="30" />
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>دین</mat-label>
        <mat-select formControlName="religion">
          @for (item of baseEnums.religion; track $index) {
            <mat-option [value]="item.key">
              {{ item.text }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>تاریخ ازدواج</mat-label>
        <input matInput [matDatepicker]="dpicker_dateOfMarriage" formControlName="dateOfMarriage" />
        <mat-datepicker-toggle matSuffix [for]="dpicker_dateOfMarriage"></mat-datepicker-toggle>
        <mat-datepicker #dpicker_dateOfMarriage></mat-datepicker>
        @if (form.get('dateOfMarriage')?.hasError('required')) {
          <mat-error> تاریخ ازدواج شهروند را انتخاب کنید. </mat-error>
        }
        @if (form.get('dateOfMarriage')?.hasError('matDatepickerParse')) {
          <mat-error> فرمت تاریخ صحیح نیست </mat-error>
        }
      </mat-form-field>
      <mat-divider [inset]="true" class="mb-2"></mat-divider>
      <!-------------------------------mariage--------------------------------->
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>شماره شناسنامه</mat-label>
        <input matInput formControlName="shCode" maxlength="11" />
        @if (form.get('shCode')?.hasError('required')) {
          <mat-error> شماره شناسنامه را وارد کنید.</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>سریال شناسنامه شهروند</mat-label>
        <input matInput formControlName="shSerial" maxlength="9" />
        @if (form.get('shSerial')?.hasError('required')) {
          <mat-error>سریال شناسنامه شهروند را وارد کنید</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>تاریخ صدور شناسنامه</mat-label>
        <input matInput [matDatepicker]="dpicker" formControlName="shDate" />
        <mat-datepicker-toggle matSuffix [for]="dpicker"></mat-datepicker-toggle>
        <mat-datepicker #dpicker></mat-datepicker>
        @if (form.get('shDate')?.hasError('required')) {
          <mat-error> تاریخ صدور شناسنامه را انتخاب کنید. </mat-error>
        }
        @if (form.get('shDate')?.hasError('matDatepickerParse')) {
          <mat-error> فرمت تاریخ صحیح نیست </mat-error>
        }
      </mat-form-field>
      <input-auto-complete
        formControlName="provinceShCity"
        [required]="true"
        class="col-sm-6 col-md-4"
        [list]="provinceList"
      ></input-auto-complete>
      <input-auto-complete
        formControlName="shCity"
        [label]="'شهر محل صدور شناسنامه'"
        [getByParent]="true"
        [parentId]="form.get('provinceShCity')?.value?.key"
        [required]="true"
        class="col-sm-6 col-md-4"
      ></input-auto-complete>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>بخش صدور شناسنامه</mat-label>
        <input matInput formControlName="shCitySection" maxlength="15" />
        @if (form.get('shCitySection')?.hasError('required')) {
          <mat-error>بخش صدور شناسنامه را وارد کنید</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>ملاحظات شناسنامه </mat-label>
        <input matInput formControlName="shNote" maxlength="30" />
        @if (form.get('shNote')?.hasError('required')) {
          <mat-error>ملاحظات شناسنامه، در صورتی وجود ملاحظات وارد نمایید</mat-error>
        }
      </mat-form-field>
      <!-------------------------------Soldier--------------------------------->
      <mat-divider [inset]="true" class="mb-2"></mat-divider>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>وضعیت خدمت سربازی</mat-label>
        <mat-select formControlName="militaryStatus">
          @for (item of baseEnums.soldierState; track $index) {
            <mat-option [value]="item.key">
              {{ item.text }}
            </mat-option>
          }
        </mat-select>
        @if (form.get('militaryStatus')?.hasError('required')) {
          <mat-error> وضعیت خدمت سربازی شهروند را مشخص کنید. </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>تاریخ پایان خدمت</mat-label>
        <input matInput [matDatepicker]="dpicker_endOfMilitary" formControlName="endOfMilitary" />
        <mat-datepicker-toggle matSuffix [for]="dpicker_endOfMilitary"></mat-datepicker-toggle>
        <mat-datepicker #dpicker_endOfMilitary></mat-datepicker>
        @if (form.get('endOfMilitary')?.hasError('required')) {
          <mat-error> تاریخ پایان خدمت شهروند را انتخاب کنید. </mat-error>
        }
        @if (form.get('endOfMilitary')?.hasError('matDatepickerParse')) {
          <mat-error> فرمت تاریخ صحیح نیست </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>پایه تحصیلی</mat-label>
        <input matInput formControlName="baseEducation" maxlength="15" />
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>معدل </mat-label>
        <input matInput formControlName="academicGrade" />
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label> نام دانشگاه محل تحصیل /دریافت مدرک</mat-label>
        <input matInput formControlName="universityName" maxlength="30" />
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>تاریخ پایان تحصیل</mat-label>
        <input matInput [matDatepicker]="dpicker_endOfEducation" formControlName="endOfEducation" />
        <mat-datepicker-toggle matSuffix [for]="dpicker_endOfEducation"></mat-datepicker-toggle>
        <mat-datepicker #dpicker_endOfEducation></mat-datepicker>
        @if (form.get('endOfEducation')?.hasError('required')) {
          <mat-error> تاریخ پایان تحصیل خود را انتخاب کنید. </mat-error>
        }
        @if (form.get('endOfEducation')?.hasError('matDatepickerParse')) {
          <mat-error> فرمت تاریخ صحیح نیست </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-12">
        <mat-label> توضیحات اضافه مربوط به مدرک تحصیلی</mat-label>
        <input matInput formControlName="academicNote" />
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label> کد پرسنلی</mat-label>
        <input matInput formControlName="personnelCode" numbersOnly maxlength="14" />
        @if (form.get('personnelCode')?.hasError('required')) {
          <mat-error>کدپرسنلی خود را وارد کنید</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label> شماره بیمه</mat-label>
        <input matInput formControlName="insuranceNumber" />
      </mat-form-field>
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>تاریخ استخدام</mat-label>
        <input
          matInput
          [matDatepicker]="dpicker_dateOfEmployeement"
          formControlName="dateOfEmployeement"
        />
        <mat-datepicker-toggle matSuffix [for]="dpicker_dateOfEmployeement"></mat-datepicker-toggle>
        <mat-datepicker #dpicker_dateOfEmployeement></mat-datepicker>
        @if (form.get('dateOfEmployeement')?.hasError('required')) {
          <mat-error> تاریخ استخدام خود را انتخاب کنید. </mat-error>
        }
        @if (form.get('dateOfEmployeement')?.hasError('matDatepickerParse')) {
          <mat-error> فرمت تاریخ صحیح نیست </mat-error>
        }
      </mat-form-field>
      <div class="col d-flex align-items-center justify-content-end">
        <button mat-raised-button color="default" (click)="save()" [disabled]="isSaving">
          <span>ذخیره</span>
          <mat-spinner color="default" diameter="20" [hidden]="!isSaving"></mat-spinner>
        </button>
      </div>
    </div>
  </form>
}
