<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">تغییر وضعیت شرکت</h5>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>وضعیت </mat-label>
        <mat-select formControlName="userCompanyAccountStatus" (selectionChange)="changeStatus()">
          @for (item of userCompanyAccountStatus; track item) {
            <mat-option [value]="item.key">{{ item.text }}</mat-option>
          }
        </mat-select>
        @if (form.get('userCompanyAccountStatus')?.hasError('required')) {
          <mat-error> وضعیت را مشخص کنید. </mat-error>
        }
      </mat-form-field>

      @if (form.get('userCompanyAccountStatus')?.value == 2) {
        <mat-form-field class="col-sm-12">
          <mat-label>دلیل رد</mat-label>
          <input matInput formControlName="rejectDesription" autocomplete="doNotAutoComplete" />
          @if (form.get('rejectDesription')?.hasError('required')) {
            <mat-error> دلیل رد را وارد کنید. </mat-error>
          }
        </mat-form-field>
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>ذخیره </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
