<div class="content-header">
  <span> تنظیمات مالی </span>
  <div class="bread-crumbs">
    <div class="bread-crumb-item" routerLink="/admin/dashboard">پنل مدیریت</div>
    <div class="bread-crumb-item">امور مالی</div>
    <div class="bread-crumb-item active">تنطیمات مالی</div>
  </div>
</div>

<mat-card class="custom-card">
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <div class="d-flex align-items-center justify-content-center p-5 my-5" *ngIf="loading">
      <mat-spinner color="default"></mat-spinner>
    </div>
    <form [formGroup]="settingForm" class="p-4" *ngIf="!loading">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info">
            <strong> تنظیمات درگاه پرداخت اینترنتی بانک ملت </strong>
          </div>
        </div>

        <mat-form-field appearance="outline" class="col-sm-6 col-md-4">
          <mat-label>شناسه مشتری (شناسه واریز بانکی) </mat-label>
          <input type="text" matInput formControlName="bankCustomerId" numbersOnly maxlength="20" />
          <mat-error *ngIf="settingForm.get('bankCustomerId').errors?.required">
            شناسه مشتری (شناسه واریز بانکی)را وارد نمایید
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-sm-6 col-md-4">
          <mat-label> شماره ترمینال </mat-label>
          <input type="text" matInput formControlName="bankTerminalId" numbersOnly maxlength="20" />
          <mat-error *ngIf="settingForm.get('bankTerminalId').errors?.required">
            شماره ترمینال را وارد نمایید
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-sm-6 col-md-4">
          <mat-label> روش پرداخت بانکی </mat-label>
          <input
            type="text"
            matInput
            formControlName="bankPaymentMethod"
            numbersOnly
            maxlength="20"
          />
          <mat-error *ngIf="settingForm.get('bankPaymentMethod').errors?.required">
            روش پرداخت بانکی را وارد نمایید
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-sm-6 col-md-4">
          <mat-label> نام کاربری درگاه </mat-label>
          <input type="text" matInput formControlName="bankUserName" maxlength="20" />
          <mat-error *ngIf="settingForm.get('bankUserName').errors?.required">
            نام کاربری درگاه را وارد نمایید
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-sm-6 col-md-4">
          <mat-label> کلمه عبور درگاه </mat-label>
          <input type="text" matInput formControlName="bankPassword" maxlength="20" />
          <mat-error *ngIf="settingForm.get('bankPassword').errors?.required">
            کلمه عبور درگاه را وارد نمایید
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-sm-6 col-md-4">
          <mat-label> مسیر برگشت درگاه </mat-label>
          <input type="text" matInput formControlName="callBackUrl" maxlength="2000" />
          <mat-error *ngIf="settingForm.get('callBackUrl').errors?.required">
            مسیر برگشت درگاه را وارد نمایید
          </mat-error>
        </mat-form-field>
        <div class="col-md-12">
          <div class="alert alert-info">تنظیمات سرویس برگشت هزینه</div>
        </div>

        <mat-form-field appearance="outline" class="col-sm-6 col-md-4">
          <mat-label> شماره ترمینال سرویس برگشت </mat-label>
          <input
            type="text"
            matInput
            formControlName="refundTerminalId"
            numbersOnly
            maxlength="20"
          />
          <mat-error *ngIf="settingForm.get('refundTerminalId').errors?.required">
            شماره ترمینال را وارد نمایید
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-sm-6 col-md-4">
          <mat-label> نام کاربری سرویس برگشت </mat-label>
          <input type="text" matInput formControlName="refundUserName" maxlength="20" />
          <mat-error *ngIf="settingForm.get('refundUserName').errors?.required">
            نام کاربری سرویس برگشت را وارد نمایید
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-sm-6 col-md-4">
          <mat-label> کلمه عبور سرویس برگشت </mat-label>
          <input type="text" matInput formControlName="refundPassword" maxlength="20" />
          <mat-error *ngIf="settingForm.get('refundPassword').errors?.required">
            کلمه عبور سرویس برگشت را وارد نمایید
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-sm-6 col-md-4">
          <mat-label> مبلغ کسر برگشت </mat-label>
          <input
            type="text"
            matInput
            formControlName="refundAmountDeficit"
            numbersOnly
            maxlength="20"
          />
          <mat-error *ngIf="settingForm.get('refundAmountDeficit').errors?.required">
            مبلغ کسر برگشت را وارد نمایید
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-sm-6 col-md-4">
          <mat-label> توضیحات غیرفعال بودن سرویس برگشت هزینه </mat-label>
          <input
            type="text"
            matInput
            formControlName="refundDeActiveDescription"
            maxlength="2000"
          />
          <mat-error *ngIf="settingForm.get('refundDeActiveDescription').errors?.required">
            توضیحات را وارد نمایید
          </mat-error>
        </mat-form-field>
        <p>
          <mat-checkbox color="default" formControlName="refundIsActive"
            >فعال/غیرفعال سرویس برگشت
          </mat-checkbox>
        </p>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <div class="d-flex align-items-center justify-content-end p-4">
      <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveSetting()">
        <span> ذخیره اطلاعات</span>
        <mat-spinner diameter="20" *ngIf="isSaving"></mat-spinner>
      </button>
    </div>
  </mat-card-footer>
</mat-card>
