<div class="content-header">
  <span>مدیریت شهروند</span>
  <div class="bread-crumbs">
    <div class="bread-crumb-item" routerLink="/admin/dashboard">داشبورد</div>
    <div class="bread-crumb-item" routerLink="/admin/search-citizen">شهروندان ها</div>
    <div class="bread-crumb-item active">مدیریت شهروند</div>
  </div>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end">
    <button (click)="back()" mat-stroked-button color="default">بازگشت</button>
  </mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="d-flex align-items-center justify-content-center p-5">
        <mat-spinner diameter="35" color="default"></mat-spinner>
      </div>
    }
    @if (!loading) {
      <div class="p-3">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <span>کدملی : </span>
            <strong>{{ info?.nationCode }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>نام : </span>
            <strong>{{ info?.firstName }}</strong>
            &nbsp;
            <strong>{{ info?.lastName }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>نام پدر: </span>
            <strong>{{ info?.fatherName }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span> ثبت نام از طریق خدمت : </span>
            <strong>{{ info?.registerByService }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>وضعیت تاهل: </span>
            <strong>{{ info?.mariageStatus | enumString: 'mariageStatus' }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>تاریخ تولد: </span>
            <strong>{{ info?.birthDate | luxonFormat }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>شماره موبایل: </span>
            <strong>{{ info?.mobileNumber }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>سطج تحصبلات: </span>
            <strong>{{ info?.educationLevel | enumString: 'educationLevel' }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>گروه تحصیلی: </span>
            <strong>{{ info?.educationGroup }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>وضعیت تحصیلی: </span>
            <strong>
              {{ info?.educationStatues | enumString: 'educationStatues' }}
            </strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>رشته تحصیلی: </span>
            <strong>{{ info?.educationField }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>گروه شغلی: </span>
            <strong>{{ info?.jobGroup }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>عنوان شغل: </span>
            <strong>{{ info?.jobTitle }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>آدرس ایمیل: </span>
            <strong>{{ info?.eMail }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>تاریخ ثبت نام: </span>
            <strong>{{ info?.creationDate | luxonFormat }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>وضعیت ثبت احوال: </span>
            <strong>{{ info?.sabtStatus | enumString: 'sabtStatus' }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>وضعیت تصویر پرسنلی: </span>
            <strong>{{ info?.personalPicture_Confirmed | enumString: 'personalPicture' }}</strong>
          </div>
          <div class="col-sm-6 col-md-4">
            <span>آخرین برورسانی اطلاعات: </span>
            <strong>{{ info?.lastUpdateOnDate | luxonFormat }}</strong>
          </div>
        </div>
      </div>
    }

    <!-- ----------------------------------------------------------------------- -->

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label> دسترسی </ng-template>
        <ng-template matTabContent>
          <div class="p-3 d-flex">
            <div class="image-buttons">
              <div class="img-btn" routerLink="/admin/edit-profile/{{ citizenId }}">
                <i class="fa fa-pencil"></i>
                <span>ویرایش شهروند</span>
              </div>
            </div>
            <div class="image-buttons">
              <div class="img-btn" routerLink="/admin/citizen-family-details/{{ citizenId }}">
                <i class="fa fa-money-bill"></i>
                <span>خانواده شهروند</span>
              </div>
            </div>
            <div class="image-buttons">
              <div class="img-btn" routerLink="/admin/manage-citizen-groups/{{ citizenId }}">
                <i class="fa fa-money-bill"></i>
                <span>گروههای شهروند</span>
              </div>
            </div>

            <div class="image-buttons">
              <div class="img-btn" (click)="openCitizenEditMobileNumber(citizenId)">
                <i class="fa fa-mobile"></i>
                <span>ویرایش موبایل</span>
              </div>
            </div>

            <div class="image-buttons">
              <div class="img-btn" (click)="openChangePasswordDialog(info)">
                <i class="fa fa-lock"></i>
                <span>ویرایش کلمه عبور</span>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>

      <!-- ----------------------------------------------------------------------- -->
      <!-- todo:check -->
      <!-- <mat-tab>
        <ng-template mat-tab-label> پیامک های ارسال شده </ng-template>
        <ng-template matTabContent>
          <adm-citizen-sms-list></adm-citizen-sms-list>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label> تراکنش های مالی </ng-template>
        <ng-template matTabContent>
          <adm-citizen-transaction-list></adm-citizen-transaction-list>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label> گروههای عضو </ng-template>
        <ng-template matTabContent>
          <adm-groupCitizens-list></adm-groupCitizens-list>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label> بازخورد های شهروند </ng-template>
        <ng-template matTabContent>
          <adm-citizen-feed-back-list></adm-citizen-feed-back-list>
        </ng-template>
      </mat-tab> -->
      <mat-tab>
        <ng-template mat-tab-label> آخرین رویدادهای شهروند </ng-template>
        <ng-template matTabContent>
          <app-citizen-event-list></app-citizen-event-list>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
