<div class="content-header">
    <span>جستجوی شهروند</span>

</div>


<mat-card class="custom-card">
    
  <mat-card-content>
    <form [formGroup]="searchForm">
      <div class="row my-4">


        <mat-form-field class="col-md-3">
          <mat-label>کد ملی</mat-label>
          <input matInput formControlName="nationCode">
        </mat-form-field>

        <!--<mat-form-field class="col-md-3">
          <mat-label> تاریخ تولد</mat-label>
          <input matInput [matDatepicker]="dpS" formControlName="birthDate">
          <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
          <mat-datepicker #dpS></mat-datepicker>
          <mat-error *ngIf="searchForm.get('birthDate').errors?.required">
            تاریخ تولد را مشخص کنید.
          </mat-error>
          <mat-error *ngIf="searchForm.get('birthDate').errors?.matDatepickerParse">
            فرمت تاریخ صحیح نیست
          </mat-error>
        </mat-form-field>-->


        <div class="col d-flex align-items-center justify-content-end">
          <button mat-raised-button color="default" (click)="getinfo()">
            <i class="fa fa-search mr-2"></i>
            <span>جستجو</span>
          </button>
        </div>
      </div>
    </form>


    <div class="p-3" *ngIf="!loading">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
          <img style="width:100px;height:100px;" class="citizen-image"
               [src]="baseUrl + citizen.personalPictureUrl" />
        </div>

        <div class="col-12 col-md-8 col-lg-8">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
              <span>کدملی : </span>
              <a class="text-info" target="_blank" href="/card/show-citizen/{{citizen.userCode}}"  >
                {{ citizen.nationCode  }}
                <i class="fa fa-eye mr-2"></i>
              </a>

            </div>

            <div class="col-12 col-md-6 col-lg-6">
              <span>نام : </span>
              <strong>{{ citizen.firstName }}</strong>
              &nbsp;
              <strong>{{ citizen.lastName }}</strong>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
              <span>نام پدر: </span>
              <strong>{{ citizen.fatherName }}</strong>
            </div>



            <div class="col-12 col-md-6 col-lg-6">
              <span>تاریخ تولد: </span>
              <strong>{{ citizen.birthDate | jalali }}</strong>
               
            </div>

            <div class="col-12 col-md-6 col-lg-6">
              <span>شماره موبایل: </span>
              <a class="text-info" (click)="openCitizenEditMobileNumber(citizen.userCode)">
                <strong>{{ citizen.mobileNumber }}</strong>
                <i class="fa fa-pencil text-info mr-2"></i>
              </a> 
           
            </div>

      
            <div class="col-12 col-md-6 col-lg-6">
              <span>وضعیت ثبت احوال: </span> 
              <a class="text-info" (click)="openUpdateCitizenSabtState(citizen.userCode)">
                {{ citizen.sabtStatus | enumString: "sabtStatus" }}
                <i class="fa fa-pencil text-info mr-2"></i>
              </a>


              


            </div>

             


          </div>
        </div>
      </div>
    </div>



  </mat-card-content>
    <mat-card-footer></mat-card-footer>
</mat-card>
