@if (ticket) {
  <div>
    <div class="d-flex align-items-center justify-content-between pb-3">
      <strong>کد رهگیری: {{ ticket?.code }}</strong>
      <strong>{{ ticket?.createdOn | luxonFormat }}</strong>
    </div>
    <h4 class="py-2">{{ ticket.subject }}</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>اولویت</th>
          <th>وضعیت</th>
          <th>واحد</th>
          <th>شماره موبایل</th>
          <th>حل شده</th>
          @if (currentUser?.isAdmin) {
            <th>ارسال کننده</th>
          }
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ ticket?.priority }}</td>
          <td>{{ ticket?.ticketStatus }}</td>
          <td>{{ ticket?.organizationalUnit?.text }}</td>
          <td>{{ ticket?.mobileNumber }}</td>
          <td>
            @if (ticket.isSolved) {
              <span>بله</span>
            }
            @if (!ticket.isSolved) {
              <span>خیر</span>
            }
          </td>
          @if (currentUser?.isAdmin) {
            <td>
              <a (click)="openCitizenProfile(ticket?.ownerId)">
                {{ ticket?.ownerUserName }}
              </a>
            </td>
          }
        </tr>
      </tbody>
    </table>
    <!-- ----------------------------------------------------------------------------------- -->
    <div class="d-flex flex-row justify-content-end">
      @if (ticket.colsedById === null) {
        <button mat-raised-button color="accent" (click)="closeTicket(true)" class="mr-1">
          <i class="fa fa-times mr-2"></i>
          <span>بستن تیکت</span>
        </button>
      }
      <button mat-raised-button color="default" (click)="getTicketInfo()" class="mr-1">
        <i class="fa fa-sync mr-2"></i>
        <span>بروزرسانی</span>
      </button>
      <button mat-raised-button color="default" (click)="back()">
        <i class="fa fa-arrow-left mr-2"></i>
        <span>بازگشت</span>
      </button>
    </div>
    <!-- ----------------------------------------------------------------------------------- -->
    <div class="field-set">
      <label class="field-set-title">ارسال پاسخ</label>
      @if (ticket?.colsedById !== null) {
        <div>
          <h5 class="text-danger text-bold p-4">تیکت بسته شده است!</h5>
          @if (ticket.colsedById === currentUser?.userId) {
            <button mat-raised-button (click)="closeTicket(false)" color="default">
              باز کردن مجدد تیکت
            </button>
          }
        </div>
      }
      @if (ticket?.colsedById === null) {
        <form [formGroup]="answerForm" class="">
          <label>متن پیام:</label>
          <textarea class="form-control mr-2" formControlName="responseText"></textarea>
          <div class="d-flex justify-content-between mt-2">
            <div>
              @if (currentUser?.isAdmin) {
                <mat-checkbox color="default" formControlName="sendSms"> ارسال پیامک </mat-checkbox>
              }
              @if (currentUser?.isAdmin) {
                <mat-checkbox color="default" formControlName="review"> در حال بررسی </mat-checkbox>
              }
              @if (!currentUser?.isAdmin) {
                <mat-checkbox color="default" formControlName="resolved"> مشکل حل شد </mat-checkbox>
              }
            </div>
            <div>
              <button
                mat-raised-button
                color="default"
                [disabled]="isSending"
                (click)="sendAnswer()"
              >
                <mat-spinner color="default" diameter="25" [hidden]="!isSending"></mat-spinner>
                <span>ارسال</span>
              </button>
            </div>
          </div>
          <app-uploader
            (attachmentId)="getAttachmentId($event)"
            [autoUpload]="true"
            [btnTitle]="'انتخاب پیوست'"
            [url]="uploadUrl"
            [data]="uploadData"
          ></app-uploader>
        </form>
      }
    </div>
    <!-- ----------------------------------------------------------------------------------- -->
  </div>
}
@if (loading) {
  <div class="p-5 d-flex align-items-center justify-content-center">
    @if (loading) {
      <mat-spinner color="default"></mat-spinner>
    }
  </div>
}
@if (loading == false && resultsLength == 0) {
  <div class="p-5 d-flex align-items-center justify-content-center">
    <strong>اطلاعاتی وجود ندارد!</strong>
  </div>
}

@for (item of ticket?.responseTickets; track $index) {
  <mat-card class="mt-3">
    <div
      class="card-title d-flex align-items-center justify-content-between"
      [class.light]="item.ownerId == currentUser?.userId"
    >
      <strong>{{ item.ownerDisplayName }}</strong>
      <small> {{ item.responseTextOnDate | luxonFormat }}</small>
    </div>
    <mat-card-content>
      <pre class="text-justify">{{ item.responseText }}</pre>
      <app-attachments [guid]="item?.attachmentGuid"></app-attachments>
    </mat-card-content>
  </mat-card>
}
