<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">
    <span *ngIf="user.isCompany">آپلود لوگو</span>
    <span *ngIf="!user.isCompany"> تصویر پروفایل </span>
  </h5>
  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <div class="row" style="height: 100%">
    <div class="col-sm-2">
      <label class="upload-button mx-2">
        انتخاب تصویر
        <input type="file" (change)="fileChangeEvent($event)" />
      </label>
      <div class="text-center" *ngIf="croppedImage">تصویر:</div>
      <img [src]="croppedImage" class="img" />
      <div *ngIf="croppedImage">
        <button
          mat-fab
          color="default"
          aria-label="چرخش به راست"
          alt="چرخش به راست"
          (click)="rotateRight()"
        >
          <i class="fa fa-undo fa-flip-horizontal"></i>
        </button>

        <button
          mat-fab
          color="default"
          aria-label="چرخش به چپ"
          alt="چرخش به چپ"
          (click)="rotateLeft()"
        >
          <i class="fa fa-undo"></i>
        </button>
      </div>
    </div>
    <div class="col-sm-10" style="height: 100%">
      <div class="loading-shade" *ngIf="loading">
        <mat-spinner color="default"></mat-spinner>
      </div>
      <image-cropper
        [imageBase64]="imageBase64"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="3 / 4"
        format="png"
        class="text-center image-cropper"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
        [canvasRotation]="canvasRotation"
        [roundCropper]="false"
      ></image-cropper>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>بستن</button>
  <button mat-raised-button color="default" (click)="save()" [disabled]="saving">
    <mat-spinner diameter="20" color="default" [hidden]="!saving"></mat-spinner>
    <span>ذخیره</span>
  </button>
</mat-dialog-actions>
