.upload-button {
  background-color: #039ac2;
  color: #fff;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 3px;

  input[type='file'] {
    display: none;
  }
}

.img {
  border: 2px #039ac2 solid;
}

::ng-deep .custom-dialog .mat-dialog-content {
  flex: auto;
  max-height: 100%;
  padding: 15px;
}
::ng-deep app-upload-avatar-dialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
::ng-deep .image-cropper > div {
  text-align: center;
}
