<div class="content-header">
  <span>موضوع های تیکت</span>
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    @if (showAddOrUpdatePanel) {
      <div class="field-set">
        @if (!frm.get('id').value) {
          <label class="field-set-title">ایجاد موضوع تیکت جدید</label>
        }
        @if (frm.get('id').value) {
          <label class="field-set-title">ویرایش موضوع تیکت</label>
        }
        <form [formGroup]="frm">
          <div class="row">
            <mat-form-field class="col-sm-6 col-md-4">
              <mat-label>سازمان</mat-label>
              <mat-select
                formControlName="organizationId"
                (selectionChange)="getUnitsOfOrganization()"
              >
                @for (item of organizationList; track item) {
                  <mat-option [value]="item.key">{{ item.text }}</mat-option>
                }
              </mat-select>
              <mat-spinner
                diameter="20"
                color="default"
                [hidden]="!loadingData"
                matSuffix
              ></mat-spinner>
              @if (frm.get('organizationId').errors?.required) {
                <mat-error> سازمان را مشخص کنید. </mat-error>
              }
            </mat-form-field>
            <mat-form-field class="col-sm-6 col-md-4">
              <mat-label>واحد</mat-label>
              <mat-select formControlName="organizationalUnitId">
                @for (item of unitList; track item) {
                  <mat-option [value]="item.key">{{ item.text }}</mat-option>
                }
              </mat-select>
              @if (frm.get('organizationalUnitId').errors?.required) {
                <mat-error> واحد را مشخص کنید. </mat-error>
              }
              <mat-spinner
                matSuffix
                diameter="20"
                color="default"
                [hidden]="!loadingUnit"
              ></mat-spinner>
            </mat-form-field>
            <mat-form-field class="col-sm-6 col-md-4">
              <mat-label>عنوان</mat-label>
              <input matInput formControlName="title" maxlength="50" />
              @if (frm.get('title').errors?.required) {
                <mat-error> عنوان را وارد کنید. </mat-error>
              }
            </mat-form-field>
            <p class="col-sm-6 col-md-6 d-flex align-items-center">
              <mat-checkbox color="default" formControlName="isActive">فعال</mat-checkbox>
            </p>
            <div class="html-editor" style="width: 95%"></div>
          </div>
          <div class="d-flex align-items-center justify-content-end">
            <button mat-raised-button color="default" [disabled]="isSaving" (click)="save()">
              <mat-spinner [hidden]="!isSaving" diameter="20" color="default"></mat-spinner>
              <span>ذخیره</span>
            </button>
          </div>
        </form>
      </div>
    }
    @if (!showAddOrUpdatePanel) {
      <div class="d-flex align-items-center justify-content-end">
        <button mat-raised-button color="default" (click)="addnewSubject()">
          <span>ثبت موضوع تیکت جدید</span>
        </button>
      </div>
    }

    <form [formGroup]="searchForm">
      <div class="row">
        <mat-form-field class="col-sm-6 col-md-4">
          <mat-label>جستجو</mat-label>
          <input matInput formControlName="query" maxlength="100" />
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-end mb-4">
        <button mat-raised-button color="default" (click)="applyFilter()">
          <i class="fa fa-search"></i>
          جستجو
        </button>
      </div>
    </form>
    <div class="d-flex align-items-center justify-content-end mb-3">
      <button
        mat-raised-button
        color="default"
        (click)="exporter.exportTable('xlsx', { fileName: 'excel' })"
      >
        <i class="fa fa-file-excel mr-2"></i>
        خروجی اکسل
      </button>
    </div>
    <div class="datatable-container mat-elevation-z8">
      @if (isLoadingResults) {
        <div class="datatable-loading-shade">
          @if (isLoadingResults) {
            <mat-spinner color="default"></mat-spinner>
          }
        </div>
      }
      @if (isLoadingResults == false && listCount == 0) {
        <div class="datatable-loading-shade">
          <strong>اطلاعاتی وجود ندارد!</strong>
        </div>
      }

      <div class="datatable-table-container">
        <table
          mat-table
          [dataSource]="data"
          class="datatable-table"
          #exporter="matTableExporter"
          matTableExporter
          [hiddenColumns]="[displayedColumns.length - 1]"
        >
          <ng-container matColumnDef="row">
            <th mat-header-cell *matHeaderCellDef width="40">#</th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="organizationalUnit">
            <th mat-header-cell *matHeaderCellDef>واحد</th>
            <td mat-cell *matCellDef="let row">
              {{ row.organizationalUnit }}
            </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>عنوان</th>
            <td mat-cell *matCellDef="let row">
              {{ row.title }}
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>توضیحات</th>
            <td mat-cell *matCellDef="let row">
              {{ row.textDescription }}
            </td>
          </ng-container>
          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef>وضعیت</th>
            <td mat-cell *matCellDef="let row">
              @if (!row.isActive) {
                <span class="text-danger">غیر فعال</span>
              }
              @if (row.isActive) {
                <span class="text-success">فعال</span>
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef width="40">عملیات</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="update(row)">
                  <i class="fa fa-edit mr-2"></i>
                  <span>ویرایش موضوع تیکت</span>
                </button>

                <button mat-menu-item (click)="delete(row)">
                  <i class="fa fa-trash mr-2"></i>
                  <span>حذف موضوع تیکت</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator
        [length]="listCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 50, 100, 250, 500, 1000, 2000]"
        showFirstLastButtons
        (page)="pageEvent($event)"
      ></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
