<div class="content-header">
  @if (!isUpdate) {
    <span>ثبت کارت جدید</span>
  }
  @if (isUpdate) {
    <span>ویرایش کارت</span>
  }
</div>

<mat-card class="custom-card">
  <mat-card-header class="d-flex align-items-center justify-content-end"> </mat-card-header>
  <mat-card-content>
    @if (loading) {
      <div class="d-flex my-5 p-5 align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    }

    @if (!loading) {
      <form [formGroup]="storeForm">
        <div class="row">
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>هزینه کارت</mat-label>
            <input matInput formControlName="cardCost" type="text" numbersOnly />
            @if (storeForm.get('cardCost').errors?.required) {
              <mat-error>هزینه کارت را وارد کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>هزینه کارت المثنی</mat-label>
            <input matInput formControlName="doubleCardCost" type="text" numbersOnly />
            @if (storeForm.get('doubleCardCost').errors?.required) {
              <mat-error>هزینه کارت را وارد کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>هزینه پستی</mat-label>
            <input matInput formControlName="postalCostInCity" type="text" numbersOnly />
            @if (storeForm.get('postalCostInCity').errors?.required) {
              <mat-error>هزینه پستی را وارد کنید.</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>درصد مالیات</mat-label>
            <input
              matInput
              formControlName="vatForCardCost"
              type="text"
              maxlength="3"
              numbersOnly
            />
            @if (storeForm.get('vatForCardCost').errors?.required) {
              <mat-error>درصد مالیات را وارد کنید.</mat-error>
            }
            @if (
              storeForm.get('vatForCardCost').errors?.max ||
              storeForm.get('vatForCardCost').errors?.min
            ) {
              <mat-error>بین 0 تا 100</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-4">
            <mat-label>درصد مالیات هزینه پستی</mat-label>
            <input matInput formControlName="vatForPost" type="text" maxlength="3" numbersOnly />
            @if (storeForm.get('vatForPost').errors?.required) {
              <mat-error>درصد مالیات هزینه پستی را وارد کنید.</mat-error>
            }
            @if (
              storeForm.get('vatForPost').errors?.max || storeForm.get('vatForPost').errors?.min
            ) {
              <mat-error>بین 0 تا 100</mat-error>
            }
          </mat-form-field>
        </div>
        <p>
          <mat-checkbox color="default" formControlName="cardIsActive">فعال/غیرفعال</mat-checkbox>
        </p>
        <p>توضیحات خرید کارت را در این قسمت وارد نمایید</p>
        <html-editor formControlName="buyCardDescription"></html-editor>
      </form>
    }
  </mat-card-content>
  <mat-card-footer>
    <div class="d-flex align-items-center justify-content-end p-3">
      @if (!loading) {
        <button mat-raised-button color="default" (click)="save()" [disabled]="isSaving">
          @if (isSaving) {
            <span>منتظر بمانید...</span>
          }
          @if (!isSaving) {
            <span>ذخیره</span>
          }
          <mat-spinner [hidden]="!isSaving" diameter="20" color="default"></mat-spinner>
        </button>
      }
    </div>
  </mat-card-footer>
</mat-card>
