<div class="content-header">
  <span> تخفیفات کارت </span>
</div>

<mat-card class="custom-card">
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <div class="d-flex align-items-center justify-content-end">
      <button mat-raised-button color="default" (click)="openDialog('')">
        <span>تعریف تخفیف جدید</span>
      </button>
    </div>

    <form [formGroup]="searchForm"></form>
    <div class="d-flex align-items-center justify-content-end mb-3">
      <button
        mat-raised-button
        color="default"
        (click)="exporter.exportTable('xlsx', { fileName: 'excel' })"
      >
        <i class="fa fa-file-excel mr-2"></i>
        خروجی اکسل
      </button>
      <button
        mat-icon-button
        color="default"
        (click)="getList()"
        matTooltip="بروز رسانی"
        class="ml-2"
      >
        <i class="fa fa-sync"></i>
      </button>
    </div>

    <div class="datatable-container mat-elevation-z8">
      @if (isLoadingResults) {
        <div class="datatable-loading-shade">
          <mat-spinner color="default"></mat-spinner>
        </div>
      }
      @if (isLoadingResults == false && listCount == 0) {
        <div class="datatable-loading-shade">
          <strong>اطلاعاتی وجود ندارد!</strong>
        </div>
      }

      <div class="datatable-table-container">
        <table
          mat-table
          [dataSource]="data"
          class="datatable-table"
          #exporter="matTableExporter"
          matTableExporter
          [hiddenColumns]="[displayedColumns.length - 1]"
        >
          <ng-container matColumnDef="row">
            <th mat-header-cell *matHeaderCellDef width="40">#</th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ paginator.pageIndex * paginator.pageSize + i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="cardType">
            <th mat-header-cell *matHeaderCellDef>نوع کارت</th>
            <td mat-cell *matCellDef="let row">{{ row.cardType }}</td>
          </ng-container>
          <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef>تاریخ تعریف</th>
            <td mat-cell *matCellDef="let row">{{ row.creationDate | luxonFormat}}</td>
          </ng-container>
          <ng-container matColumnDef="discountIsActive">
            <th mat-header-cell *matHeaderCellDef>فعال</th>
            <td mat-cell *matCellDef="let row">
              @if (!row.discountIsActive) {
                <span class="text-danger">خیر</span>
              }
              @if (row.discountIsActive) {
                <span class="text-success">بله</span>
              }
            </td>
          </ng-container>
          <ng-container matColumnDef="byUser">
            <th mat-header-cell *matHeaderCellDef>توسط</th>
            <td mat-cell *matCellDef="let row">{{ row.byUser }}</td>
          </ng-container>
          <ng-container matColumnDef="discountTitle">
            <th mat-header-cell *matHeaderCellDef>عنوان</th>
            <td mat-cell *matCellDef="let row">{{ row.discountTitle }}</td>
          </ng-container>

          <ng-container matColumnDef="discountPercent">
            <th mat-header-cell *matHeaderCellDef>درصد تخفیف</th>
            <td mat-cell *matCellDef="let row">{{ row.discountPercent }}%</td>
          </ng-container>
          <ng-container matColumnDef="postalPercentInCity">
            <th mat-header-cell *matHeaderCellDef>تخفیف پستی</th>
            <td mat-cell *matCellDef="let row">{{ row.postalPercentInCity }}%</td>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef>شروع</th>
            <td mat-cell *matCellDef="let row">{{ row.startDate | luxonFormat}}</td>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef>پایان</th>
            <td mat-cell *matCellDef="let row">{{ row.endDate | luxonFormat}}</td>
          </ng-container>

          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef width="40">عملیات</th>
            <td mat-cell *matCellDef="let row">
              @if (!row.loading) {
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              }
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog(row)">
                  <i class="text-info fa fa-edit mr-2"></i>
                  <span class="text-info">ویرایش</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <mat-paginator
        [length]="listCount"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 50, 100, 250, 500, 1000, 2000]"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
