<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">ابطال کارت</h5>

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content>
  <div class="box-info-dash">
    <div class="row">
      <div class="col-sm-6">
        <span> کارت : </span><strong>{{ info.cardTitle }}</strong>
      </div>
      <div class="col-sm-6">
        <span>شهروند: </span><strong>{{ info.citizen }}</strong>
      </div>
      <div class="col-sm-6">
        <span>شماره کارت: </span><strong>{{ info.cardNumber }}</strong>
      </div>
      <div class="col-sm-6">
        <span> تاریخ درخواست کارت : </span
        ><strong>{{ info.requestDate | jalali: 'HH:mm YYYY/MM/DD' }}</strong>
      </div>
    </div>
  </div>

  <form [formGroup]="frm">
    <div class="row">
      <mat-form-field class="col-sm-6 col-md-4">
        <mat-label>دلیل ابطال کارت</mat-label>
        <mat-select formControlName="cardCancellationItemId">
          <mat-option [value]="'item.key'" *ngFor="let item of baseInfo.cardCancellationItem">
            {{ item.text }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="frm.get('cardCancellationItemId').errors?.required"
          >دلیل ابطال کارت را مشخص کنید</mat-error
        >
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>تاریخ ابطال کارت</mat-label>
        <input
          matInput
          [matDatepicker]="dpS"
          formControlName="cardCancellationOnDate"
          [max]="frm.get('cardCancellationOnDate').value"
        />
        <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
        <mat-datepicker #dpS></mat-datepicker>
        <mat-error *ngIf="frm.get('cardCancellationOnDate').errors?.required">
          تاریخ ابطال کارت را انتخاب کنید.
        </mat-error>

        <mat-error *ngIf="frm.get('cardCancellationOnDate').errors?.matDatepickerParse">
          فرمت تاریخ صحیح نیست
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <mat-label>توضیحات ابطال کارت</mat-label>
        <input matInput formControlName="description" maxlength="200" />
      </mat-form-field>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <p>
        <mat-checkbox color="default" formControlName="SendSms"
          >پیامک ابطال به شهروند ارسال شود ؟</mat-checkbox
        >
      </p>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>انصراف</button>
  <button mat-raised-button color="default" [disabled]="isSaving" (click)="saveInfo()">
    <span>تایید برگشت کارت </span>
    <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
  </button>
</mat-dialog-actions>
