<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" mat-dialog-title>
  <h5 cdkDragHandle class="title">پروفایل شهروند</h5>
  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-dialog-content style="min-height: 88vh">
  <app-view-citizen-profile [userCode]="userCode"></app-view-citizen-profile>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>بستن</button>
</mat-dialog-actions>
