<div
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  mat-dialog-title
  class="d-flex justify-content-between align-items-center"
>
  @if (family) {
    <h5 cdkDragHandle class="title py-0">ویرایش عضو خانواده</h5>
  }
  @if (!family) {
    <h5 cdkDragHandle class="title py-0">ثبت عضو خانواده جدید</h5>
  }

  <button type="button" class="close-btn" aria-label="Close" mat-dialog-close mat-icon-button>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
@if (!family) {
  <div>
    <mat-dialog-content>
      <mat-horizontal-stepper
        #stepper
        linear="true"
        class="container bg-transparent align-items-start"
      >
        <mat-step [stepControl]="firstFormGroup" label=" کد ملی">
          <form [formGroup]="firstFormGroup">
            <mat-form-field class="col-sm-6 col-md-4">
              <mat-label>کد ملی عضو خانواده</mat-label>
              <input matInput formControlName="nationCode" minlength="10" numbersOnly />
              @if (firstFormGroup.get('nationCode')?.hasError('required')) {
                <mat-error> کد ملی عضو خانواده را وارد کنید </mat-error>
              }
              @if (firstFormGroup.get('nationCode')?.hasError('invalid')) {
                <mat-error> کد ملی وارد شده صحیح نیست </mat-error>
              }
            </mat-form-field>
          </form>
          <div class="row justify-content-end text-right mt-2">
            <button
              mat-raised-button
              color="primary"
              (click)="checkNationCode(stepper)"
              [disabled]="isSaving"
            >
              <mat-spinner diameter="25" [hidden]="!isSaving"></mat-spinner>
              ادامه
            </button>
          </div>
        </mat-step>
        @if (!familyIsRegister) {
          <mat-step [stepControl]="familyForm" label="ثبت اطلاعات عضو خانواده">
            <ng-template [ngTemplateOutlet]="familyDetailForm"></ng-template>
            <div class="text-right mt-2">
              <button mat-raised-button color="primary" (click)="saveFamilyDetails()">
                ثبت عضو خانواده
              </button>
            </div>
          </mat-step>
        }
        @if (familyIsRegister) {
          <mat-step [stepControl]="familyForm" label="ثبت اطلاعات عضو خانواده">
            <form [formGroup]="familyForm">
              <div class="row">
                <mat-form-field disabled class="col-12 col-sm-6 col-md-4 col-lg-4">
                  <mat-label>کد ملی</mat-label>
                  <input [disabled]="true" formControlName="nationCode" matInput />
                </mat-form-field>
                <mat-form-field class="col-12 col-sm-6 col-md-4 col-lg-4">
                  <mat-label>تاریخ تولد </mat-label>
                  <input matInput [matDatepicker]="dpS" formControlName="birthDate" />
                  <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
                  <mat-datepicker #dpS></mat-datepicker>
                  @if (familyForm.get('birthDate')?.hasError('required')) {
                    <mat-error> تاریخ تولد عضو خانواده را انتخاب کنید. </mat-error>
                  }
                  @if (familyForm.get('birthDate')?.hasError('matDatepickerParse')) {
                    <mat-error> فرمت تاریخ صحیح نیست </mat-error>
                  }
                </mat-form-field>
                <mat-form-field class="col-12 col-sm-6 col-md-4 col-lg-4">
                  <mat-label>چه نسبتی با شما دارد</mat-label>
                  <mat-select formControlName="familyRelation">
                    @for (item of baseEnums.familyRelationships; track $index) {
                      <mat-option [value]="item.key">
                        {{ item.text }}
                      </mat-option>
                    }
                  </mat-select>
                  @if (familyForm.controls['familyRelation'].errors) {
                    <mat-hint class="text-danger">
                      @if (familyForm.controls['familyRelation'].errors['required']) {
                        <span> نسبت عضو خانواده را انتخاب کنید </span>
                      }
                    </mat-hint>
                  }
                </mat-form-field>
              </div>
              <div class="text-right mt-2">
                <button
                  mat-raised-button
                  color="primary"
                  [disabled]="isSaving"
                  (click)="registerFamily(stepper)"
                >
                  ثبت عضو خانواده
                  <mat-spinner diameter="20" color="default" [hidden]="!isSaving"></mat-spinner>
                </button>
              </div>
            </form>
          </mat-step>
        }
      </mat-horizontal-stepper>
    </mat-dialog-content>
    <mat-dialog-actions class="justify-content-end">
      <button mat-raised-button mat-dialog-close>انصراف</button>
    </mat-dialog-actions>
  </div>
}
@if (family) {
  <div>
    <mat-dialog-content>
      @if (loading) {
        <div class="d-flex justify-content-center">
          <mat-spinner diameter="40"></mat-spinner>
        </div>
      }
      @if (!loading) {
        <ng-template [ngTemplateOutlet]="familyDetailForm"></ng-template>
      }
    </mat-dialog-content>
    <mat-dialog-actions class="justify-content-end">
      <button mat-raised-button mat-dialog-close>انصراف</button>
      @if (!loading) {
        <div class="text-right mx-2">
          <button mat-raised-button color="primary" (click)="saveFamilyDetails()">
            ذخیره
          </button>
        </div>
      }
    </mat-dialog-actions>
  </div>
}

<ng-template #familyDetailForm>
  <form #ngForm1="ngForm" [formGroup]="registerForm" class="flex-grow-1 px-5 pb-5 pt-3">
    @if (!family) {
      <div>
        <h4 class="text-primary">نام و نام کاربری برای این عضو جدید، کد ملی می باشد..</h4>
        <hr />
      </div>
    }

    <div class="row">
      <mat-form-field class="col-6">
        <mat-label>چه نسبتی با شما دارد</mat-label>
        <mat-select formControlName="familyRelation">
          @for (item of baseEnums.familyRelationships; track $index) {
            <mat-option [value]="item.key">
              {{ item.text }}
            </mat-option>
          }
        </mat-select>
        @if (registerForm.controls['familyRelation'].errors && ngForm1.submitted) {
          <mat-hint class="text-danger">
            @if (registerForm.controls['familyRelation'].errors['required']) {
              <span> وضعیت تاهل عضو خانواده را انتخاب کنید </span>
            }
          </mat-hint>
        }
      </mat-form-field>

      <mat-form-field class="col-6">
        <mat-label>کد ملی</mat-label>
        <input [disabled]="true" formControlName="nationCode" matInput />
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>نام</mat-label>
          <input formControlName="firstName" matInput />
          @if (registerForm.controls['firstName'].errors && ngForm1.submitted) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['firstName'].errors['required']) {
                <span> نام عضو خانواده را وارد کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>نام خانوادگی</mat-label>
          <input formControlName="lastName" matInput />
          @if (registerForm.controls['lastName'].errors && ngForm1.submitted) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['lastName'].errors['required']) {
                <span> نام خانوادگی عضو خانواده را وارد کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>نام پدر</mat-label>
          <input formControlName="fatherName" matInput />
          @if (registerForm.controls['fatherName'].errors && ngForm1.submitted) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['fatherName'].errors['required']) {
                <span> نام پدر عضو خانواده را وارد کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label> تاریخ تولد</mat-label>
          <input matInput [matDatepicker]="dpS" formControlName="birthDate" />
          <mat-datepicker-toggle matSuffix [for]="dpS"></mat-datepicker-toggle>
          <mat-datepicker #dpS></mat-datepicker>

          @if (registerForm.controls['birthDate'].errors && ngForm1.submitted) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['birthDate'].errors['required']) {
                <span> تاریخ تولد عضو خانواده را وارد کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>
    </div>
    <div class="row align-items-center">
      @if (!registerForm.controls['gender'].disabled) {
        <div class="col-6">
          <mat-form-field class="w-100" class="w-100">
            <mat-label>جنسیت</mat-label>
            <mat-select formControlName="gender">
              <mat-option [value]="true"> آقا </mat-option>
              <mat-option [value]="false"> خانم </mat-option>
            </mat-select>
            @if (registerForm.controls['gender'].errors && ngForm1.submitted) {
              <mat-error> جنسیت عضو خانواده را انتخاب کنید </mat-error>
            }
          </mat-form-field>
        </div>
      }
      @if (!registerForm.controls['mariageStatus'].disabled) {
        <div class="col-6">
          <mat-form-field class="w-100" class="w-100">
            <mat-label>وضعیت تاهل</mat-label>
            <mat-select formControlName="mariageStatus">
              @for (item of baseEnums.maritalStatus; track $index) {
                <mat-option [value]="item.key">
                  {{ item.text }}
                </mat-option>
              }
            </mat-select>
            @if (registerForm.controls['mariageStatus'].errors && ngForm1.submitted) {
              <mat-hint class="text-danger">
                @if (registerForm.controls['mariageStatus'].errors['required']) {
                  <span> وضعیت تاهل عضو خانواده را انتخاب کنید </span>
                }
              </mat-hint>
            }
          </mat-form-field>
        </div>
      }
    </div>

    <div class="row">
      <div class="col-12 col-md-12 col-lg-4">
        <mat-form-field class="w-100 mt-3">
          <mat-label>شهر محل سکونت</mat-label>
          <mat-select formControlName="cityId">
            @for (item of isfahanCities; track $index) {
              <mat-option [value]="item.key">
                {{ item.text }}
              </mat-option>
            }
          </mat-select>
          @if (registerForm.controls['cityId'].errors ) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['cityId'].errors['required']) {
                <span> شهر محل سکونت عضو خانواده را انتخاب کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>

      <div class="col-12 col-md-12 col-lg-4">
        <mat-form-field class="w-100 mt-3">
          <mat-label>منطقه</mat-label>
          <input numbersOnly formControlName="region" matInput />
          @if (registerForm.controls['region'].errors ) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['region'].errors['required']) {
                <span> منطقه محل سکونت عضو خانواده را انتخاب کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>

      <div class="col-12 col-md-12 col-lg-4">
        <mat-form-field class="w-100 mt-3">
          <mat-label>خیابان</mat-label>
          <input formControlName="street" matInput />
          @if (registerForm.controls['street'].errors ) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['street'].errors['required']) {
                <span> خیابان محل سکونت عضو خانواده را انتخاب کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>

      <div class="col-12 col-md-12 col-lg-4">
        <mat-form-field class="w-100 mt-3">
          <mat-label>کوچه</mat-label>
          <input formControlName="alley" matInput />
          @if (registerForm.controls['alley'].errors ) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['alley'].errors['required']) {
                <span> کوچه محل سکونت عضو خانواده را انتخاب کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>

      <div class="col-12 col-md-12 col-lg-4">
        <mat-form-field class="w-100 mt-3">
          <mat-label>پلاک</mat-label>
          <input numbersOnly formControlName="plaque" matInput />
          @if (registerForm.controls['plaque'].errors ) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['plaque'].errors['required']) {
                <span> پلاک محل سکونت عضو خانواده را انتخاب کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>

      <div class="col-12 col-md-12 col-lg-4">
        <mat-form-field class="w-100 mt-3">
          <mat-label>کد پستی </mat-label>
          <input
            formControlName="postalCode"
            matInput
            numbersOnly
            placeholder="کد پستی  عضو خانواده را وارد کنید"
          />
          @if (registerForm.controls['postalCode'].errors ) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['postalCode'].errors['required']) {
                <span> کد پستی عضو خانواده را وارد کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <mat-form-field class="w-100">
          <mat-label>آدرس ایمیل</mat-label>
          <input
            formControlName="eMail"
            matInput
            type="email"
            placeholder="آدرس ایمیل عضو خانواده را وارد کنید"
          />
          @if (registerForm.controls['eMail'].errors && ngForm1.submitted) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['eMail'].errors['required']) {
                <span> ایمیل عضو خانواده را وارد کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="w-100">
          <mat-label>شماره موبایل</mat-label>
          <input matInput formControlName="mobile" maxlength="11" numbersOnly />
          @if (registerForm.get('mobile')?.hasError('required')) {
            <mat-error> شماره موبایل را وارد کنید. </mat-error>
          }
          @if (registerForm.get('mobile')?.hasError('invalid')) {
            <mat-error> شماره موبایل صحیح نیست. </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="w-100">
          <mat-label>شماره تلفن ثابت</mat-label>
          <input numbersOnly formControlName="phone" matInput />
          @if (registerForm.controls['phone'].errors && ngForm1.submitted) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['phone'].errors['required']) {
                <span> تلفن ثابت عضو خانواده را وارد کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12 col-lg-4">
        <mat-form-field class="w-100 mt-3">
          <mat-label>وضعیت تحصیل</mat-label>
          <mat-select formControlName="educationStatues">
            @for (item of baseEnums.educationStatues; track $index) {
              <mat-option [value]="item.key">
                {{ item.text }}
              </mat-option>
            }
          </mat-select>
          @if (registerForm.controls['educationStatues'].errors ) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['educationStatues'].errors['required']) {
                <span> وضعیت تحصیل خود را انتخاب کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>

      @if (+registerForm.controls['educationStatues'].value !== 3) {
        <div class="col-12 col-md-12 col-lg-4">
          <mat-form-field class="w-100 mt-3">
            <mat-label>گروه تحصیلی</mat-label>
            <mat-select formControlName="educationGroup">
              @for (item of baseEnums.educationGroups; track $index) {
                <mat-option [value]="item.key">
                  {{ item.text }}
                </mat-option>
              }
            </mat-select>
            @if (registerForm.controls['educationStatues'].errors ) {
              <mat-hint class="text-danger">
                @if (registerForm.controls['educationStatues'].errors['required']) {
                  <span> گروه تحصیلی خود را انتخاب کنید </span>
                }
              </mat-hint>
            }
          </mat-form-field>
        </div>
      }

      @if (+registerForm.controls['educationStatues'].value !== 3) {
        <div class="col-12 col-md-12 col-lg-4">
          <mat-form-field class="w-100 mt-3">
            <mat-label>سطح تحصیلات</mat-label>
            <mat-select formControlName="educationLevel">
              @for (item of baseEnums.educationLevel; track $index) {
                <mat-option [value]="item.key">
                  {{ item.text }}
                </mat-option>
              }
            </mat-select>
            @if (registerForm.controls['educationLevel'].errors ) {
              <mat-hint class="text-danger">
                @if (registerForm.controls['educationLevel'].errors['required']) {
                  <span> سطح تحصیلات خود را انتخاب کنید </span>
                }
              </mat-hint>
            }
          </mat-form-field>
        </div>
      }

      @if (+registerForm.controls['educationStatues'].value !== 3) {
        <div class="col-12 col-md-12 col-lg-4">
          <mat-form-field class="w-100 mt-3">
            <mat-label>رشته تحصیلی</mat-label>
            <input formControlName="educationTitle" matInput placeholder="رشته تحصیلی (اختیاری)" />
            @if (registerForm.controls['educationTitle'].errors ) {
              <mat-hint class="text-danger">
                @if (registerForm.controls['educationTitle'].errors['required']) {
                  <span> رشته تحصیلی خود را وارد کنید </span>
                }
              </mat-hint>
            }
          </mat-form-field>
        </div>
      }
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>وضعیت شغل</mat-label>
          <mat-select formControlName="jobGroup">
            @for (item of baseEnums.jobGroup; track $index) {
              <mat-option [value]="item.key">
                {{ item.text }}
              </mat-option>
            }
          </mat-select>
          @if (registerForm.controls['jobGroup'].errors ) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['jobGroup'].errors['required']) {
                <span> وضعیت شغل عضو خانواده را انتخاب کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>عنوان شغل</mat-label>
          <input formControlName="jobTitle" matInput placeholder="عنوان شغل (اختیاری)" />
          @if (registerForm.controls['jobTitle'].errors ) {
            <mat-hint class="text-danger">
              @if (registerForm.controls['jobTitle'].errors['required']) {
                <span> عنوان شغل عضو خانواده را وارد کنید </span>
              }
            </mat-hint>
          }
        </mat-form-field>
      </div>
    </div>
  </form>
</ng-template>
