<div class="license-plate">
  <div class="input">
    <input
      [(ngModel)]="s4"
      (change)="changeNum()"
      name="is4"
      numbersOnly
      maxlength="2"
      autocomplete="no-autocomplete"
      [attr.readonly]="disabled"
      [disabled]="disabled"
    />
  </div>
  <div class="input">
    <input
      [(ngModel)]="s3"
      (change)="changeNum()"
      name="is3"
      numbersOnly
      maxlength="3"
      autocomplete="no-autocomplete"
      [attr.readonly]="disabled"
      [disabled]="disabled"
    />
  </div>

  <div class="input sss">
    <mat-select
      [(ngModel)]="s2"
      (selectionChange)="changeNum()"
      name="is2"
      [attr.readonly]="disabled"
      [disabled]="disabled"
    >
      @for (item of letters; track item) {
        <mat-option [value]="item">{{ item }}</mat-option>
      }
    </mat-select>
  </div>

  <div class="input">
    <input
      [(ngModel)]="s1"
      (change)="changeNum()"
      name="is1"
      numbersOnly
      maxlength="2"
      autocomplete="no-autocomplete"
      [attr.readonly]="disabled"
      [disabled]="disabled"
    />
  </div>
</div>

<input type="hidden" [formControl]="myControl" [required]="required" dir="ltr" />
@if (myControl?.hasError('required') && !disabled) {
  <small class="text-danger"> شماره پلاک خودرو را وارد کنید </small>
}
