<mat-card class="m-3">
  <mat-card-header class="card-header">
    <div class="d-flex col align-items-center justify-content-between">
      تحصیلات
      <button mat-raised-button color="default" (click)="openEducationDialog('')">
        <i class="fa fa-plus mr-2"></i>
        ثبت تحصیلات جدید
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="p-4 list-container">
      @for (item of educationList; track item) {
        <div class="list-item">
          <div class="list-content" (click)="openEducationDialog(item)">
            <div class="row">
              <div class="col-sm-6">
                <strong>مقطع تحصیلی: </strong><span> {{ item.grade }}</span>
              </div>
              @if (item.major) {
                <div class="col-sm-6">
                  <strong>رشته تحصیلی: </strong><span> {{ item.major }}</span>
                </div>
              }
              @if (item.dateOfStart) {
                <div class="col-sm-6">
                  <strong>تاریخ شروع تحصیل: </strong><span> {{ item.dateOfStart | luxonFormat}}</span>
                </div>
              }
              @if (item.dateOfEnd) {
                <div class="col-sm-6">
                  <strong>تاریخ پایان تحصیل: </strong><span> {{ item.dateOfEnd | luxonFormat}}</span>
                </div>
              }
              @if (item.university) {
                <div class="col-sm-6">
                  <strong>دانشگاه: </strong><span> {{ item.university }}</span>
                </div>
              }
            </div>
          </div>
          <div class="menu">
            @if (!item.loading) {
              <button mat-icon-button (click)="openEducationDialog(item)" matTooltip="ویرایش">
                <i class="fa fa-edit"></i>
              </button>
            }
            @if (!item.loading) {
              <button mat-icon-button (click)="deleteEducation(item)" matTooltip="حذف">
                <i class="fa fa-trash"></i>
              </button>
            }
            @if (item.loading) {
              <mat-spinner color="default" diameter="25"></mat-spinner>
            }
          </div>
        </div>
      }
    </div>

    @if (educationList.length == 0 && !loading) {
      <div class="no-any-items">
        <i class="fa fa-info-circle"></i>
        اطلاعاتی ثبت نشده است
      </div>
    }
    @if (loading) {
      <div class="p-5 d-flex align-items-center justify-content-center">
        <mat-spinner diameter="50" color="default"></mat-spinner>
      </div>
    }
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
