<!-- Breadcrumb Area -->
<div
  class="tm-breadcrumb-area tm-padding-section text-center"
  data-overlay="1"
  data-bgimage="assets/theme/images/bg/bg-breadcrumb.jpg"
>
  <div class="container">
    <div class="tm-breadcrumb">
      <h2 class="tm-breadcrumb-title">ارسال تیکت</h2>
      <ul>
        <li><a routerLink="/home">صفحه اصلی</a></li>
        <li>تیکت</li>
      </ul>
    </div>
  </div>
</div>

<main class="main-content">
  <div class="tm-section blogs-area bg-white tm-padding-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="pt-3">
            <div class="content">
              <div class="alert alert-info">
                آیا دارای حساب کاربری می باشید ؟
                <br />
                <strong>
                  در صورتیکه دارای حساب کاربری هستید ابتدا وارد حساب کاربری خود شوید و سپس از طریق
                  پنل خود درخواست خود را پیگیری نمایید .
                </strong>
              </div>
              <h5 class="my-5 text-center">کد رهگیری خود را برای مشاهده تیکت وارد کنید</h5>
              <div class="row no-gutters">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>کد رهگیری</label>
                    <input
                      class="form-control"
                      type="text"
                      maxlenght="20"
                      [(ngModel)]="trackingCode"
                    />
                  </div>
                  <div class="d-flex justify-content-end">
                    <button
                      mat-raised-button
                      color="default"
                      [disabled]="searching"
                      (click)="searchTrackingCode()"
                    >
                      @if (searching) {
                        <mat-spinner color="default" diameter="20"></mat-spinner>
                      }
                      <span>جستجو</span>
                    </button>
                  </div>
                </div>
                <div class="col-sm-4"></div>
              </div>

              @if (ticketAnswer) {
                <div>
                  <p>
                    <strong>موضوع: </strong> <span>{{ ticketAnswer.subject }}</span>
                  </p>
                  <p>
                    <strong>متن پیام: </strong> <span>{{ ticketAnswer.ticketMessage }}</span>
                  </p>
                  @if (ticketAnswer.responseTextOnDate) {
                    <p>
                      <strong>تاریخ ثبت پاسخ: </strong>
                      <span>
                        {{
                          ticketAnswer.responseTextOnDate
                            | jalali
                              : 'YYYY/MM/DD ساعت
                        HH:mm'
                        }}
                      </span>
                    </p>
                  }
                  <p>
                    <strong>پاسخ: </strong> <span>{{ ticketAnswer.responseText }}</span>
                  </p>
                </div>
              }

              <br />
              <br />
              <br />
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
