@if (loading) {
  <div class="m-4">
    <mat-spinner diameter="50" color="default"></mat-spinner>
  </div>
}
@if (hasRegister) {
  <mat-card class="m-3">
    <mat-card-header class="card-header align-items-center mx-n3 mt-n3">
      وضعیت ثبت نام در طرح منزلت
    </mat-card-header>
    <mat-card-content>
      @if (loading) {
        <div class="p-5 d-flex align-items-center justify-content-center">
          <mat-spinner diameter="50" color="default"></mat-spinner>
        </div>
      }
      @if (formStatuse == 1) {
        <div class="row col-md-12">
          <div class="row col-md-12 alert alert-success">
            ثبت نام شما در طرح منزلت مورد تایید قرار گرفته است . در صورتیکه
            <a routerLink="/citizen/citizen-card"> کارت منزلت </a>
            را خریداری نکرده اید از این قسمت برای خرید کارت اقدام نمائید
            <a routerLink="/citizen/citizen-card"> خرید کارت منزلت </a>
          </div>
        </div>
      }
      @if (formStatuse == 0) {
        <div class="row col-md-12">
          <div class="row col-md-12 alert alert-info">
            وضعیت ثبت نام شما در طرح منزلت در دست بررسی می باشد . بعد از بررسی پیامک اطلاع رسانی به
            شماره همراه شما ارسال می شود
          </div>
        </div>
      }
    </mat-card-content>
  </mat-card>
}
@if (!hasRegister) {
  <mat-card class="m-3">
    <mat-card-header class="card-header align-items-center mx-n3 mt-n3">
      لیست طرح های قابل ثبت نام
    </mat-card-header>
    <mat-card-content>
      @if (loading) {
        <div class="p-5 d-flex align-items-center justify-content-center">
          <mat-spinner diameter="50" color="default"></mat-spinner>
        </div>
      }
      @if (hasAddress) {
        <div class="row">
          <div class="alert alert-warning">
            <a href="https://www.aparat.com/v/7WRUs" target="_blank">
              فیلم آموزش نحوه ثبت نام در طرح منزلت
            </a>
            <br />
            <a
              href="https://profile.isfahan.ir/home/page/%D8%AE%D8%AF%D9%85%D8%A7%D8%AA_%D9%81%D8%B1%D9%87%D9%86%DA%AF%DB%8C_%D9%88%D8%B1%D8%B2%D8%B4%DB%8C_%DA%A9%D8%A7%D8%B1%D8%AA_%D9%85%D9%86%D8%B2%D9%84%D8%AA"
              target="_blank"
            >
              مشاهده خدمات فرهنگی و ورزشی کارت منزلت شهروندی
            </a>
          </div>
        </div>
      }
      @if (!hasAddress) {
        <div class="row">
          <div class="alert alert-warning">
            <strong> تکمیل آدرس محل سکونت </strong>
            شهروند گرامی
            <br />
            برای ثبت نام در فرم منزلت ابتدا آدرس محل سکونت خود را از قسمت زیر تکمیل نمایید
            <br />
            <a routerLink="/citizen/profile/0/contact"> تکمیل آدرس محل سکونت </a>
          </div>
        </div>
      }
      @if (hasAddress) {
        <div class="row">
          <div class="alert alert-warning">
            <strong> ارسال مدارک </strong>
            اجباری می باشد.
            <br />
            به درخواست هایی که مدارک آنها ناقص باشد و یا خوانا نباشد ترتیب اثر داده نخواهد شد.
          </div>
        </div>
      }
      @if (hasAddress) {
        <div class="overflow-auto">
          @if (!loading) {
            <table class="w-100 table-layout-fixed" mat-table [dataSource]="manzelatForms">
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>عنوان طرح</th>
                <td mat-cell *matCellDef="let element">
                  <div class="my-4">{{ element.title }}</div>
                </td>
              </ng-container>
              <ng-container matColumnDef="registerForm">
                <th mat-header-cell *matHeaderCellDef>تکمیل فرم</th>
                <td mat-cell *matCellDef="let element">
                  @if (element.formResult !== true) {
                    <a routerLink="/citizen/manzelat-plan-item/{{ element.id }}">
                      {{ element.citizenIsRegisterThisForm ? 'ویرایش درخواست' : 'ثبت درخواست' }}
                    </a>
                  }
                </td>
              </ng-container>
              <ng-container matColumnDef="uploadFile">
                <th mat-header-cell *matHeaderCellDef>ارسال مدارک</th>
                <td mat-cell *matCellDef="let element">
                  @if (element.citizenIsRegisterThisForm) {
                    <a routerLink="/citizen/upload-manzalat-form/{{ element.id }}"> ارسال مدرک </a>
                  }
                </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>وضعیت درخواست</th>
                <td mat-cell *matCellDef="let element">
                  @if (element.formResult == 1) {
                    <label class="text-success"> تایید درخواست </label>
                  }
                  @if (element.formResult == 2) {
                    <label class="text-danger"> عدم تایید درخواست </label>
                  }
                  @if (element.formResult == 0) {
                    <label class="text-info"> در حال بررسی </label>
                  }
                </td>
              </ng-container>
              <ng-container matColumnDef="help">
                <th mat-header-cell *matHeaderCellDef>راهنما</th>
                <td mat-cell *matCellDef="let element">
                  <a href="https://www.aparat.com/v/7WRUs" target="_blank"> مشاهده </a>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          }
        </div>
      }
    </mat-card-content>
  </mat-card>
}
